<ion-view title="12 Lead" id="page155">
  <ion-content padding="true" class="has-header">
    <h3 id="12Lead-heading385" style="color:#000000;text-align:center;">Precordial Lead Placement</h3>
    <div>
      <img src="img/oPk0rMrTmKd3OpdZi0UP_hqdefault.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 56px;"></div>
    <div>
      <img src="img/zwdK50hzQbedPfwd5k2C_2000px-Contiguous_leads.svg.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>