<ion-view title="Behavioral Emergencies" id="page25">
  <ion-content padding="true" class="has-header">
    <ion-list id="behavioralEmergencies-list124">
      <ion-item class="item-icon-left" id="behavioralEmergencies-list-item238" ui-sref="tabsController.protocol801EmergencyCareToTheSuicidalPatient()">
        <i class="icon ion-ios-paper-outline"></i>801 - Emergency Care to the Suicidal Patient</ion-item>
      <ion-item class="item-icon-left" id="behavioralEmergencies-list-item239" ui-sref="tabsController.protocol802BehavioralDisorders()">
        <i class="icon ion-ios-paper-outline"></i>802 - Behavioral Disorders</ion-item>
      <ion-item class="item-icon-left" id="behavioralEmergencies-list-item240" ui-sref="tabsController.protocol803RestraintsPhysicalViolentPatientChemicalSedation()">
        <i class="icon ion-ios-paper-outline"></i>803 - Restraints (Physical) Violent Patient/Chemical Sedation</ion-item>
    </ion-list>
  </ion-content>
</ion-view>