<ion-view title="Cardiac Arrest" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="cardiacArrest-list99">
      <ion-item class="item-icon-left" id="cardiacArrest-list-item119" ui-sref="tabsController.protocol100LVAD()">
        <i class="icon ion-ios-paper-outline"></i>100 - Left Ventricular Assist Device</ion-item>
      <ion-item class="item-icon-left" id="cardiacArrest-list-item121" ui-sref="tabsController.protocol101MedicalCardiacArrestInitialCare()">
        <i class="icon ion-ios-paper-outline"></i>101 - Medical Cardiac Arrest - Initial Care</ion-item>
      <ion-item class="item-icon-left" id="cardiacArrest-list-item122" ui-sref="tabsController.protocol102VentricularFibrillationPulselessVentricularTachycardia()">
        <i class="icon ion-ios-paper-outline"></i>102 - Ventricular Fibrillation / Pulseless Ventricular Tachycardia</ion-item>
      <ion-item class="item-icon-left" id="cardiacArrest-list-item123" ui-sref="tabsController.protocol103AsystoleAndPulselessElectricalActivity()">
        <i class="icon ion-ios-paper-outline"></i>103 - Asystole and Pulseless Electrical Activity</ion-item>
      <ion-item class="item-icon-left" id="cardiacArrest-list-item127" ui-sref="tabsController.protocol104TraumaticCardiacArrest()">
        <i class="icon ion-ios-paper-outline"></i>104 - Traumatic Cardiac Arrest</ion-item>
      <ion-item class="item-icon-left" id="cardiacArrest-list-item151" ui-sref="tabsController.protocol105HypothermicCardiacArrest()">
        <i class="icon ion-ios-paper-outline"></i>105 - Hypothermic Cardiac Arrest</ion-item>
      <ion-item class="item-icon-left" id="cardiacArrest-list-item152" ui-sref="tabsController.protocol106CeasingResuscitativeEfforts()">
        <i class="icon ion-ios-paper-outline"></i>106 - Ceasing Resuscitative Efforts</ion-item>
    </ion-list>
  </ion-content>
</ion-view>