<ion-view title="Cardiac (Rate Problems)" id="page20">
  <ion-content padding="true" class="has-header">
    <ion-list id="cardiacRateProblems-list119">
      <ion-item class="item-icon-left" id="cardiacRateProblems-list-item153" ui-sref="tabsController.protocol200CardiacMonitoring12Lead()">
        <i class="icon ion-ios-paper-outline"></i>200 - Cardiac Monitoring - 12 Lead</ion-item>
      <ion-item class="item-icon-left" id="cardiacRateProblems-list-item154" ui-sref="tabsController.protocol201Bradycardia()">
        <i class="icon ion-ios-paper-outline"></i>201 - Bradycardia</ion-item>
      <ion-item class="item-icon-left" id="cardiacRateProblems-list-item155" ui-sref="tabsController.protocol202Tachycardia()">
        <i class="icon ion-ios-paper-outline"></i>202 - Tachycardia</ion-item>
    </ion-list>
  </ion-content>
</ion-view>