<ion-view title="Category" id="page2">
  <ion-content padding="true" style="background: url(img/23F5A9A9) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="category-list1">
      <ion-item class="item-thumbnail-left" id="category-list-item1" ui-sref="tabsController.cardiacArrest()">
        <img src="img/5dIMvYN5QJSa62ezbobe_images.png">
        <h2>Cardiac Arrest</h2>
        <p>Protocols 100-106</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="category-list-item2" ui-sref="tabsController.cardiacRateProblems()">
        <img src="img/AOihvip1R3g0v0jipWXX_images-2.png">
        <h2>Cardiac (Rate Problems)</h2>
        <p>Protocols 200-202</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="category-list-item3" ui-sref="tabsController.medicalEmergencies()">
        <img src="img/kcmg0Ga6TSexSOZXlqPV_039427-high-resolution-dark-blue-denim-jeans-icon-transport-travel-transportation-ambulance.png">
        <h2>Medical Emergencies</h2>
        <p>Protocols 300-319</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="category-list-item4" ui-sref="tabsController.respiratoryEmergencies()">
        <img src="img/Md2Bw4QxQxKrym1YQo7P_lungs.png">
        <h2>Respiratory Emergencies</h2>
        <p>Protocols 400-404</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="category-list-item5" ui-sref="tabsController.trauma()">
        <img src="img/cGKdf63xQ7Kz1rX7GWmv_37267-200.png">
        <h2>Trauma</h2>
        <p>Protocols 500-513</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="category-list-item6" ui-sref="tabsController.obstetricsGynocology()">
        <img src="img/he38CzofSSusZM212ZP4_unnamed.png">
        <h2>OB/GYN</h2>
        <p>Protocols 600-610</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="category-list-item7" ui-sref="tabsController.pediatrics()">
        <img src="img/nLY1UhvPSRG5FusjRblU_Icons8-Windows-8-Baby.ico">
        <h2>Pediatrics</h2>
        <p>Protocols 700-727</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="category-list-item9" ui-sref="tabsController.behavioralEmergencies()">
        <img src="img/aF99waGTRb6xZ5rh7RIy_images-3.png">
        <h2>Behavioral Emergencies</h2>
        <p>Protocols 800-802</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="category-list-item8" ui-sref="tabsController.proceduralProtocols()">
        <img src="img/pZWklEYTQgGg8zyTLa0z_registrationicon.png">
        <h2>Procedural Protocols</h2>
        <p>Protocols 900-917</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>