<ion-view title="Information" id="page18">
  <ion-content padding="true" class="has-header">
    <h4 id="information-heading79" style="color:#000000;font-weight:600;">About</h4>
    <div id="information-markdown66" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This applications was designed for CCEMS and it's sole purpose is to provide fast access to the CCEMS protocols to CCEMS staff. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <h4 id="information-heading80" style="color:#000000;font-weight:600;">Legend</h4>
    <div id="information-markdown67" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">Blue text indicates the most recent changes made to that specific protocol.</p>
    </div>
    <div id="information-markdown68" class="show-list-numbers-and-dots">
      <p style="color:#04B431;">Green text indicates the changes made to that specific protocol, 2 updates past. Changes which were blue in the last update, will be green on the current update.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <h4 id="information-heading81" style="color:#000000;font-weight:600;">Contact</h4>
    <div id="information-markdown69" class="show-list-numbers-and-dots">
      <p style="color:#000000;">If you have any questions about the app, or simply want to provide feedback, please contact Diego and/or Matt at the links below.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-list id="information-list102">
      <ion-item class="item-icon-right" id="information-list-item120" href="mailto:Diego.Carta@loganutah.org">Contact Diego @ Logan Fire
        <i class="icon ion-email"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="information-list-item294" href="mailto:Matt.Hale@me.com">Contact Matt via E-mail
        <i class="icon ion-email"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>