<ion-view title="Medications" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="medications-markdown24" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#F65A47;font-size:16px;">
        <strong>Drugs in red are Paramedic only drugs</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <ion-list id="medications-list17">
      <ion-item class="item-icon-left" id="medications-list-item42" ui-sref="tabsController.protocol1000ActivatedCharcoal()">
        <i class="icon ion-ios-medical-outline"></i>Activated Charcoal</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list18">
      <ion-item class="item-icon-left assertive" id="medications-list-item43" ui-sref="tabsController.protocol1001Adenosine()">
        <i class="icon ion-ios-medical-outline"></i>Adenosine</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list19">
      <ion-item class="item-icon-left dark" id="medications-list-item44" ui-sref="tabsController.protocol1002Albuterol()">
        <i class="icon ion-ios-medical-outline"></i>Albuterol</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list20">
      <ion-item class="item-icon-left" id="medications-list-item45" ui-sref="tabsController.protocol1003Amiodarone()">
        <i class="icon ion-ios-medical-outline"></i>Amiodarone</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list21">
      <ion-item class="item-icon-left" id="medications-list-item46" ui-sref="tabsController.protocol1004Aspirin()">
        <i class="icon ion-ios-medical-outline"></i>Aspirin</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list22">
      <ion-item class="item-icon-left" id="medications-list-item47" ui-sref="tabsController.protocol1005Atropine()">
        <i class="icon ion-ios-medical-outline"></i>Atropine</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list23">
      <ion-item class="item-icon-left" id="medications-list-item48" ui-sref="tabsController.protocol1006Atrovent()">
        <i class="icon ion-ios-medical-outline"></i>Atrovent</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list13">
      <ion-item class="item-icon-left" id="medications-list-item37" ui-sref="tabsController.protocol1007Benadryl()">
        <i class="icon ion-ios-medical-outline"></i>Benadryl</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list25">
      <ion-item class="item-icon-left" id="medications-list-item50" ui-sref="tabsController.protocol1008Dextrose()">
        <i class="icon ion-ios-medical-outline"></i>Dextrose D50</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list26">
      <ion-item class="item-icon-left" id="medications-list-item51" ui-sref="tabsController.protocol1009Epinephrine()">
        <i class="icon ion-ios-medical-outline"></i>Epinephrine</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list28">
      <ion-item class="item-icon-left" id="medications-list-item53" ui-sref="tabsController.protocol1011Fentanyl()">
        <i class="icon ion-ios-medical-outline"></i>Fentanyl</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list29">
      <ion-item class="item-icon-left" id="medications-list-item54" ui-sref="tabsController.protocol1012Glucagon()">
        <i class="icon ion-ios-medical-outline"></i>Glucagon</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list24">
      <ion-item class="item-icon-left assertive" id="medications-list-item49" ui-sref="tabsController.protocol1013Haldol()">
        <i class="icon ion-ios-medical-outline"></i>Haldol</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list15">
      <ion-item class="item-icon-left assertive" id="medications-list-item40" ui-sref="tabsController.protocol1014Lasix()">
        <i class="icon ion-ios-medical-outline"></i>Lasix</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list14">
      <ion-item class="item-icon-left" id="medications-list-item38" ui-sref="tabsController.protocol1015Lidocaine()">
        <i class="icon ion-ios-medical-outline"></i>Lidocaine</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list16">
      <ion-item class="item-icon-left assertive" id="medications-list-item41" ui-sref="tabsController.protocol1016MagSulfate()">
        <i class="icon ion-ios-medical-outline"></i>Magnesium Sulfate</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list30">
      <ion-item class="item-icon-left" id="medications-list-item55" ui-sref="tabsController.protocol1017Morphine()">
        <i class="icon ion-ios-medical-outline"></i>Morphine</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="medications-list39">
      <ion-item class="item-icon-left" id="medications-list-item16" ui-sref="tabsController.protocol1018Naloxone()">
        <i class="icon ion-ios-medical-outline"></i>Narcan</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="medications-list40">
      <ion-item class="item-icon-left" id="medications-list-item17" ui-sref="tabsController.protocol1019Nitroglycerin()">
        <i class="icon ion-ios-medical-outline"></i>Nitro</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="medications-list41">
      <ion-item class="item-icon-left assertive" id="medications-list-item18" ui-sref="tabsController.protocol1020Phenergan()">
        <i class="icon ion-ios-medical-outline"></i>Phenergan</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="medications-list42">
      <ion-item class="item-icon-left assertive" id="medications-list-item19" ui-sref="tabsController.protocol1021Pitocin()">
        <i class="icon ion-ios-medical-outline"></i>Pitocin</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="medications-list213">
      <ion-item class="item-icon-left" id="medications-list-item52" ui-sref="tabsController.protocol1010SodiumBicarbonate()">
        <i class="icon ion-ios-medical-outline"></i>Sodium Bicarbonate</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medications-list43">
      <ion-item class="item-icon-left" id="medications-list-item20" ui-sref="tabsController.protocol1022Tylenol()">
        <i class="icon ion-ios-medical-outline"></i>Tylenol</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="medications-list44">
      <ion-item class="item-icon-left assertive" id="medications-list-item21" ui-sref="tabsController.protocol1023Valium()">
        <i class="icon ion-ios-medical-outline"></i>Valium</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="medications-list45">
      <ion-item class="item-icon-left" id="medications-list-item22" ui-sref="tabsController.protocol1024Versed()">
        <i class="icon ion-ios-medical-outline"></i>Versed</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="medications-list46">
      <ion-item class="item-icon-left" id="medications-list-item23" ui-sref="tabsController.protocol1025Zofran()">
        <i class="icon ion-ios-medical-outline"></i>Zofran</ion-item>
    </ion-list>
    <div class="spacer" style="width: 748px; height: 31px;"></div>
  </ion-content>
</ion-view>