<ion-view title="Medical Emergencies" id="page21">
  <ion-content padding="true" class="has-header">
    <ion-list id="medicalEmergencies-list120">
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item160" ui-sref="tabsController.protocol300ChestPain()">
        <i class="icon ion-ios-paper-outline"></i>300 - Chest Pain (Acute Coronary Syndrome)</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item161" ui-sref="tabsController.protocol301Shock()">
        <i class="icon ion-ios-paper-outline"></i>301 - Shock</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item162" ui-sref="tabsController.protocol302HypovolemicShock()">
        <i class="icon ion-ios-paper-outline"></i>302 - Hypovolemic Shock</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item163" ui-sref="tabsController.protocol303CardiogenicShock()">
        <i class="icon ion-ios-paper-outline"></i>303 - Cardiogenic Shock</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item164" ui-sref="tabsController.protocol304VascularShockAndObstructiveShock()">
        <i class="icon ion-ios-paper-outline"></i>304 - Vascular/Obstructive Shock</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item165" ui-sref="tabsController.protocol305HypertensiveEmergency()">
        <i class="icon ion-ios-paper-outline"></i>305 - Hypertensive Emergency</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item166" ui-sref="tabsController.protocol306AlteredLevelOfConsciousness()">
        <i class="icon ion-ios-paper-outline"></i>306 - Altered Level of Consciousness</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item167" ui-sref="tabsController.protocol307SuspectedCVATIAStroke()">
        <i class="icon ion-ios-paper-outline"></i>307 - Suspected CVA/TIA (stroke)</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item168" ui-sref="tabsController.protocol308Seizure()">
        <i class="icon ion-ios-paper-outline"></i>308 - Seizures</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item169" ui-sref="tabsController.protocol309Syncope()">
        <i class="icon ion-ios-paper-outline"></i>309 - Syncope</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item170" ui-sref="tabsController.protocol310AllergicReactionAnaphylaxis()">
        <i class="icon ion-ios-paper-outline"></i>310 - Allergic Reaction/Anaphylaxis</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item171" ui-sref="tabsController.protocol311ToxicSubstanceExposureOverdose()">
        <i class="icon ion-ios-paper-outline"></i>311 - Toxic (OD) Substance exposure</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item172" ui-sref="tabsController.protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure()">
        <i class="icon ion-ios-paper-outline"></i>312 - Toxic (CO, smoke) Substance Exposure, Closed space fire</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item173" ui-sref="tabsController.protocol313ToxicExposureCyanide()">
        <i class="icon ion-ios-paper-outline"></i>313 - Toxic Exposure Cyanide</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item174" ui-sref="tabsController.protocol314ToxicExposureHydrofluoricAcid()">
        <i class="icon ion-ios-paper-outline"></i>314 - Toxic Exposure (Hydrofluoric Acid)</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item175" ui-sref="tabsController.protocol315OrganophosphatesNerveAgents()">
        <i class="icon ion-ios-paper-outline"></i>315 - Organophosphate poisoning</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item176" ui-sref="tabsController.protocol316TemperatureAndEnvironmentalEmergencies()">
        <i class="icon ion-ios-paper-outline"></i>316 - Temperature and environmental emergencies </ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item177" ui-sref="tabsController.protocol317ImmunocompromisedPatients()">
        <i class="icon ion-ios-paper-outline"></i>317 - Immunocompromised Patients</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item178" ui-sref="tabsController.protocol318SnakeBites()">
        <i class="icon ion-ios-paper-outline"></i>318 - Snake Bites</ion-item>
      <ion-item class="item-icon-left" id="medicalEmergencies-list-item192" ui-sref="tabsController.protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia()">
        <i class="icon ion-ios-paper-outline"></i>319- Glucose Emergencies Hypo/Hyperglycemia</ion-item>
    </ion-list>
  </ion-content>
</ion-view>