<ion-view title="Obstetrics Gynocology" id="page23">
  <ion-content padding="true" class="has-header">
    <ion-list id="obstetricsGynocology-list122">
      <ion-item class="item-icon-left" id="obstetricsGynocology-list-item199" ui-sref="tabsController.protocol600ObstetricEmergencies()">
        <i class="icon ion-ios-paper-outline"></i>600 - Obstetric Emergencies</ion-item>
      <ion-item class="item-icon-left" id="obstetricsGynocology-list-item200" ui-sref="tabsController.protocol601LaborPains()">
        <i class="icon ion-ios-paper-outline"></i>601 - Labor Pains</ion-item>
      <ion-item class="item-icon-left" id="obstetricsGynocology-list-item201" ui-sref="tabsController.protocol602FullTermImminentDeliveryNewbornResuscitation()">
        <i class="icon ion-ios-paper-outline"></i>602 - Full Term Imminent Delivery Newborn Resuscitation</ion-item>
      <ion-item class="item-icon-left" id="obstetricsGynocology-list-item202" ui-sref="tabsController.protocol603FullTermNonImminentDeliverySeizure()">
        <i class="icon ion-ios-paper-outline"></i>603 - Full Term Non-Imminent Delivery Seizure</ion-item>
      <ion-item class="item-icon-left" id="obstetricsGynocology-list-item203" ui-sref="tabsController.protocol604PretermLabor()">
        <i class="icon ion-ios-paper-outline"></i>604 - Pre-Term Labor</ion-item>
      <ion-item class="item-icon-left" id="obstetricsGynocology-list-item204" ui-sref="tabsController.protocol605MalPresentation()">
        <i class="icon ion-ios-paper-outline"></i>605 - Mal-Presentation</ion-item>
      <ion-item class="item-icon-left" id="obstetricsGynocology-list-item205" ui-sref="tabsController.protocol606MeconiumAspiration()">
        <i class="icon ion-ios-paper-outline"></i>606 - Meconium Aspiration</ion-item>
      <ion-item class="item-icon-left" id="obstetricsGynocology-list-item206" ui-sref="tabsController.protocol607VaginalHemorrhage()">
        <i class="icon ion-ios-paper-outline"></i>607 - Vaginal Hemorrhage</ion-item>
      <ion-item class="item-icon-left" id="obstetricsGynocology-list-item207" ui-sref="tabsController.protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia()">
        <i class="icon ion-ios-paper-outline"></i>608 - Hypertensive Emergencies
        <span class="item-note">Pre-eclampsia and Eclampsia</span>
      </ion-item>
      <ion-item class="item-icon-left" id="obstetricsGynocology-list-item208" ui-sref="tabsController.protocol609BleedingAbdominalPainDuringPregnancy()">
        <i class="icon ion-ios-paper-outline"></i>609 - Bleeding/Abdominal Pain During Pregnancy</ion-item>
      <ion-item class="item-icon-left" id="obstetricsGynocology-list-item209" ui-sref="tabsController.protocol610ProlapsedUmbilicalCord()">
        <i class="icon ion-ios-paper-outline"></i>610 - Prolapsed Umbilical Cord</ion-item>
    </ion-list>
  </ion-content>
</ion-view>