<ion-view title="Pediatrics" id="page24">
  <ion-content padding="true" class="has-header">
    <ion-list id="pediatrics-list123">
      <ion-item class="item-icon-left" id="pediatrics-list-item218" ui-sref="tabsController.protocol700PediatricAssessment()">
        <i class="icon ion-ios-paper-outline"></i>700 - Pediatric Assessment</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item219" ui-sref="tabsController.protocol701PediatricAirwayObstruction()">
        <i class="icon ion-ios-paper-outline"></i>701 - Pediatric Airway Obstruction</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item220" ui-sref="tabsController.protocol702PediatricRespiratoryDistress()">
        <i class="icon ion-ios-paper-outline"></i>702 - Respiratory Distress</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item221" ui-sref="tabsController.protocol703PediatricRespiratoryFailure()">
        <i class="icon ion-ios-paper-outline"></i>703 - Pediatric Respiratory Failure</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item158" ui-sref="tabsController.protocol704PediatricAnaphylaxis()">
        <i class="icon ion-ios-paper-outline"></i>704 - Pediatric Anaphylaxis</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item222" ui-sref="tabsController.protocol705PediatricCardiopulmonaryResuscitation()">
        <i class="icon ion-ios-paper-outline"></i>705 - Pediatric Cardiopulmonary Resuscitation</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item223" ui-sref="tabsController.protocol706PediatricAsystoleAndPulselessElectricalActivityPEA()">
        <i class="icon ion-ios-paper-outline"></i>706 - Pediatric Asystole Pulseless Electrical Activity (PEA)</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item224" ui-sref="tabsController.protocol707PediatricVentricularFibrillation()">
        <i class="icon ion-ios-paper-outline"></i>707 - Ventricular Fibrillation</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item225" ui-sref="tabsController.protocol708PEDIATRICCARDIACARRHYTHMIAS()">
        <i class="icon ion-ios-paper-outline"></i>708 - Cardiac Arrythmias</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item226" ui-sref="tabsController.protocol709PediatricBradyarrhythmias()">
        <i class="icon ion-ios-paper-outline"></i>709 - Bradyarrythmias</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item227" ui-sref="tabsController.protocol710PediatricSupraventricularTachycardia()">
        <i class="icon ion-ios-paper-outline"></i>710 - Supraventricular Tachycardia</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item228" ui-sref="tabsController.protocol711PediatricVentricularTachycardia()">
        <i class="icon ion-ios-paper-outline"></i>711 - Ventricular Tachycardia</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item229" ui-sref="tabsController.protocol712PediatricShockGeneralGuidelines()">
        <i class="icon ion-ios-paper-outline"></i>712 - Shock - General Guidelines</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item230" ui-sref="tabsController.protocol713PediatricAlteredLevelOfConciousness()">
        <i class="icon ion-ios-paper-outline"></i>713 - Altered Level of Consciousness</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item231" ui-sref="tabsController.protocol714PediatricSeizure()">
        <i class="icon ion-ios-paper-outline"></i>714 - Seizure</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item232" ui-sref="tabsController.protocol715PediatricSyncope()">
        <i class="icon ion-ios-paper-outline"></i>715 - Syncope</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item233" ui-sref="tabsController.protocol716PediatricFeverControl()">
        <i class="icon ion-ios-paper-outline"></i>716 - Pediatric Fever Control</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item234" ui-sref="tabsController.protocol717PediatricMajorOrMultiSystemTrauma()">
        <i class="icon ion-ios-paper-outline"></i>717 - Major or Multi System Trauma</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item235" ui-sref="tabsController.protocol718PediatricHeadTrauma()">
        <i class="icon ion-ios-paper-outline"></i>718 - Head Trauma</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item236" ui-sref="tabsController.protocol719PediatricSpinalCordInjury()">
        <i class="icon ion-ios-paper-outline"></i>719 - Spinal Cord Injury</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item159" ui-sref="tabsController.protocol720PediatricFlailChest()">
        <i class="icon ion-ios-paper-outline"></i>720 - Flail Chest</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item179" ui-sref="tabsController.protocol721PediatricSuckingChestWound()">
        <i class="icon ion-ios-paper-outline"></i>721 - Sucking Chest Wound</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item185" ui-sref="tabsController.protocol722PediatricCardiacTamponadeSuspected()">
        <i class="icon ion-ios-paper-outline"></i>722 - Cardiac Tamponade (Suspected)</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item186" ui-sref="tabsController.protocol723PediatricFracturesDislocations()">
        <i class="icon ion-ios-paper-outline"></i>723 - Fracture/Dislocations</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item187" ui-sref="tabsController.protocol724PediatricAmputationsCrushInjuries()">
        <i class="icon ion-ios-paper-outline"></i>724 - Amputations</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item188" ui-sref="tabsController.protocol725PediatricThermalElectricalBurns()">
        <i class="icon ion-ios-paper-outline"></i>725 - Thermal/Electrical Burns</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item189" ui-sref="tabsController.protocol726PediatricSuspectedChildAbuseAndNeglect()">
        <i class="icon ion-ios-paper-outline"></i>726 - Suspected Child Abuse and Neglect</ion-item>
      <ion-item class="item-icon-left" id="pediatrics-list-item190" ui-sref="tabsController.protocol727ChildrenWithSpecialHealthcareNeeds()">
        <i class="icon ion-ios-paper-outline"></i>727 - Children with Special Healthcare Needs</ion-item>
    </ion-list>
  </ion-content>
</ion-view>