<ion-view title="Procedural Protocols" id="page26">
  <ion-content padding="true" class="has-header">
    <ion-list id="proceduralProtocols-list125">
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item256" ui-sref="tabsController.protocol900FamilyCenteredCare()">
        <i class="icon ion-ios-paper-outline"></i>900 - Family Centered Care</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item257" ui-sref="tabsController.protocol901AtSceneRelease()">
        <i class="icon ion-ios-paper-outline"></i>901 - At Scene Release</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item258" ui-sref="tabsController.protocol902DeathDeterminationAndPronouncementProcess()">
        <i class="icon ion-ios-paper-outline"></i>902 - Death Determination and Pronouncement</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item259" ui-sref="tabsController.protocol903ControlledMedications()">
        <i class="icon ion-ios-paper-outline"></i>903 - Controlled Medication</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item260" ui-sref="tabsController.protocol904CancellingOrDowngradingRespondingParamedics()">
        <i class="icon ion-ios-paper-outline"></i>904 - Cancelling or Downgrading Responding Paramedics</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item261" ui-sref="tabsController.protocol905AAmbulanceDestination()">
        <i class="icon ion-ios-paper-outline"></i>905A - CCEMS Trauma Destination Protocol</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item262" ui-sref="tabsController.protocol905BDestinationProtocolForNonTraumaPatients()">
        <i class="icon ion-ios-paper-outline"></i>905B - Destination Protocol for Non-Trauma Patients</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item263" ui-sref="tabsController.protocol905CDestinationProtocolForNonTraumaPatients()">
        <i class="icon ion-ios-paper-outline"></i>905C - Request for Destination Variance</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item264" ui-sref="tabsController.protocol906Nubian()">
        <i class="icon ion-ios-paper-outline"></i>906 - Nubain</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item265" ui-sref="tabsController.protocol907AdministrationOfNitroglycerin()">
        <i class="icon ion-ios-paper-outline"></i>907 - Administration of Nitroglycerin</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item266" ui-sref="tabsController.protocol908AdministrationOfAspirin()">
        <i class="icon ion-ios-paper-outline"></i>908 - Administration of Aspirin</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item267" ui-sref="tabsController.protocol909AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer()">
        <i class="icon ion-ios-paper-outline"></i>909 - Administration of Prescribed Metered Dose Inhaler or Small Volume Nebulizer</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item268" ui-sref="tabsController.protocol910AdministrationOfEpinephrineByAutoInjector()">
        <i class="icon ion-ios-paper-outline"></i>910 - Administration of Epinephrine by Auto-Injector</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item269" ui-sref="tabsController.protocol911AdministrationOfOralGlucose()">
        <i class="icon ion-ios-paper-outline"></i>911 - Administration of Oral Glucose</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item270" ui-sref="tabsController.protocol912InterfacilityTransportMedications()">
        <i class="icon ion-ios-paper-outline"></i>912 - Interfacility Transport - Medications</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item271" ui-sref="tabsController.protocol913FamilyCenteredCare()">
        <i class="icon ion-ios-paper-outline"></i>913 - Family Centered Care</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item272" ui-sref="tabsController.protocol914Ebola()">
        <i class="icon ion-ios-paper-outline"></i>914 - Ebola</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item273" ui-sref="tabsController.protocol915NeedleDecompressionProcedure()">
        <i class="icon ion-ios-paper-outline"></i>915 - Needle Decompression Procedure</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item274" ui-sref="tabsController.protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle()">
        <i class="icon ion-ios-paper-outline"></i>916 - Intraosseous Vascular Access "EZ IO"</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item191" ui-sref="tabsController.protocol917SuckingChestWoun()">
        <i class="icon ion-ios-paper-outline"></i>917 - Sucking Chest Wound</ion-item>
    </ion-list>
  </ion-content>
</ion-view>