<ion-view title="Protocol 1022 - Tylenol" id="page49">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1022Tylenol-heading226" style="color:#000000;text-align:center;">Tylenol Elixir</h1>
    <h5 id="protocol1022Tylenol-heading227" style="color:#000000;text-align:center;">Children's Acetaminophen</h5>
    <h5 id="protocol1022Tylenol-heading228" style="color:#000000;text-align:center;">Approved for Advanced CCEMS Units Only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1022Tylenol-heading229" style="color:#000000;text-align:center;">Protocol 1022</h3>
    <div id="protocol1022Tylenol-markdown390" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1022Tylenol-markdown391" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_716">716</a>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1022Tylenol-heading230" style="color:#000000;text-align:center;">Antipyretic </h4>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1022Tylenol-list192">
      <div class="item item-body" id="protocol1022Tylenol-list-item-container134">
        <div id="protocol1022Tylenol-markdown392" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Acetaminophen - 160mg / 5mL</strong>
          </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1022Tylenol-list193">
      <div class="item item-body" id="protocol1022Tylenol-list-item-container135">
        <div id="protocol1022Tylenol-markdown393" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
          </p>

          <p style="color:#000000;">A Temperature of 101 Degrees (39.0 C) Must be Documented Prior to Administering any Fever Control Medication. If the Patient is Awake and Able to Maintain Their Airway Without Assistance Then the Following Steps May be Instituted. </p>

          <p style="color:#000000;">
            <strong>1.</strong> Remove Extra Clothing - Keep in T-Shirt / Diaper.
            <br>
            <strong>2.</strong> Prevent Overheating by Not Wrapping in Blankets.
            <br>
            <strong>3.</strong> Provide Fever Control Medications Appropriate to Age.
            <br>
            <strong>4.</strong> Advanced EMTs Shall Contact On-Line Medical Control Prior to Administration of Any Medication. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h3 id="protocol1022Tylenol-heading231" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1022Tylenol-markdown397" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>DOSAGE / ADMINISTRATION: USUAL DOSE IS 15MG/KG</strong>
      </p>

      <p style="color:#000000;">
        <strong>1.</strong> Child's Tylenol Shall be Given if it Has Not Been Administered Within the
        <strong>Last 4 Hours</strong>.
        <br>(Children's Tylenol Normal Dosing is q 4 hours). </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;         margin-left:auto; 
            margin-right:auto;
        }
      </style>


      <table>
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Children's Tylenol Elixir (Acetaminophen - 160 mg/5mL) Usual Dose is 15mg/kg</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <b>Age/Approximate Weight</b>
            </td>
            <td>
              <b>Dose</b>
            </td>
          </tr>
          <tr>
            <td>0-3 Months (&lt;13lb/6kg)</td>
            <td>1/4 Teaspoon (1.25mL)</td>
          </tr>
          <tr>
            <td>3-9 Months (13-20lb/7.9kg)</td>
            <td>1/2 Teaspoon (2.5mL)</td>
          </tr>
          <tr>
            <td>10-24 Months (21-26lb/10-11kg)</td>
            <td>3/4 Teaspoon (3.75mL)</td>
          </tr>
          <tr>
            <td>2-3 Years (27-35 lbs/12-15kg)</td>
            <td>1 Teaspoon (5mL)</td>
          </tr>
          <tr>
            <td>4-5 Years (36-43lbs/16-19kg)</td>
            <td>1 1/2 Teaspoons (7.5mL)</td>
          </tr>
          <tr>
            <td>6-8 Years (44-62lbs/20-28kg)</td>
            <td>2 Teaspoons (10mL)</td>
          </tr>
          <tr>
            <td>9-10 Years (63-79lbs/29-35kg)</td>
            <td>2 1/2 Teaspoons (12.5mL)</td>
          </tr>
          <tr>
            <td>11 Years (80-89 lbs/36-40kg)</td>
            <td>3 Teaspoons (15mL)</td>
          </tr>
          <tr>
            <td>12 Years and Up (90lbs/&gt;40kg)</td>
            <td>3-4 Teaspoons (15-20mL)</td>
          </tr>
        </tbody>
      </table>







    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1022Tylenol-markdown398" class="show-list-numbers-and-dots"></div>
    <div id="protocol1022Tylenol-button-bar27" class="button-bar"></div>
    <div id="protocol1022Tylenol-button-bar28" class="button-bar"></div>
    <h5 id="protocol1022Tylenol-heading232" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1022Tylenol-heading233" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>