<ion-view title="Protocol 200 - Cardiac Monitoring - 12 Lead" id="page34">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol200CardiacMonitoring12Lead-heading120" style="color:#000000;text-align:center;">Cardiac Monitoring - 12 Lead</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol200CardiacMonitoring12Lead-container8">
      <div id="protocol200CardiacMonitoring12Lead-markdown122" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol200CardiacMonitoring12Lead-markdown139" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT/PARAMEDIC</strong>
      </p>

      <p style="color:#000000;">
        <strong>INDICATIONS:</strong>
      </p>

      <p style="color:#000000;">12 Lead ECG (If available) on the following patients</p>

      <ol>
        <li>Pain in chest or upper abdomen </li>
        <li>Cardiac dysrhythmia- palpitations, irregular heartbeat, or other complaints of possible cardiac origin</li>
        <li>Syncope or near syncope</li>
        <li>Acute general weakness</li>
        <li>Acute dyspnea or shortness of breath</li>
        <li>Post arrest if spontaneous circulation returns</li>
        <li>Concern for ACS presentation </li>
        <li>Patients with pulse &lt; 60 or &gt; 100</li>
        <li>Hypotension.</li>
      </ol>
    </div>
    <div id="protocol200CardiacMonitoring12Lead-markdown140" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol200CardiacMonitoring12Lead-markdown141" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Acquire and transmit EKG</strong>
      </p>

      <ol>
        <li>All ECGs suggestive of acute MI should be immediately transmitted to a STEMI/PCI Receiving Center</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol200CardiacMonitoring12Lead-markdown151" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PROTOCOL:</strong>
      </p>

      <ol>
        <li>All patients with above indications shall have continuous cardiac monitoring from time of arrival on scene until transfer to E.D. staff. </li>
        <li>EKG strips should accompany patient and note:
          <ol>
            <li>Arrival at patient </li>
            <li>Response to each intervention if there are changes in the patient's' clinical status. </li>
            <li>Arrival at hospital or completion of patient encounter. </li>
          </ol>
        </li>
        <li>Describe all rhythms to command physician. </li>
        <li>Obtain 12 lead ECG as appropriate and transmit to OLMC when able.</li>
      </ol>
    </div>
    <div id="protocol200CardiacMonitoring12Lead-markdown165" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol200CardiacMonitoring12Lead-heading121" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol200CardiacMonitoring12Lead-markdown191" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>