<ion-view title="Protocol 1017 - Morphine" id="page44">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1017Morphine-heading134" style="color:#000000;text-align:center;">Morphine</h1>
    <h5 id="protocol1017Morphine-heading135" style="color:#000000;text-align:center;">Approved for Rescue/Ambulance use only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1017Morphine-heading144" style="color:#000000;text-align:center;">Protocol 1017</h3>
    <div id="protocol1017Morphine-markdown284" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1017Morphine-markdown286" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_305">305</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_402">402</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_509">509</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1017Morphine-heading145" style="color:#000000;text-align:center;">Narcotic Analgesic</h4>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1017Morphine-list132">
      <div class="item item-body" id="protocol1017Morphine-list-item-container108">
        <div id="protocol1017Morphine-markdown295" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> CNS Depressant Causing Sedation and Analgesia.
            <br>
            <strong>2.</strong> Causes Mild-Moderate Vasodilation.
            <br>
            <strong>3.</strong> Decreases Myocardial Oxygen Demand. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1017Morphine-list134">
      <div class="item item-body" id="protocol1017Morphine-list-item-container109">
        <div id="protocol1017Morphine-markdown305" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Relief of Pain Associated with ACS (Follows
            <a href="#/Tabs_Controller/Protocol_1019">Nitroglycerin</a> if Vital Signs are Stable).
            <br>
            <strong>2.</strong> Acute Pulmonary Edema Associate with CHF.
            <br>
            <strong>3.</strong> Isolated Orthopedic Injury without Head Injury.
            <br>
            <strong>4.</strong> Thermal Injury if no Hypotension.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1017Morphine-list139">
      <div class="item item-body" id="protocol1017Morphine-list-item-container111">
        <div id="protocol1017Morphine-markdown316" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Allergy to any Narcotic.
            <br>
            <strong>2.</strong> Abdominal Injury.
            <br>
            <strong>3.</strong> Head Injury or any Signs of Increased Intracranial Pressure.
            <br>
            <strong>4.</strong> Asthma or COPD.
            <br>
            <strong>5.</strong> Altered LOC.
            <br>
            <strong>6.</strong> Ingestion of any Depressant (ETOH, Narcotic, Antidepressant).
            <br>
            <strong>7.</strong> Respiratory Depression (Rate &lt;12 and/or Saturation &lt;90%).
            <br>
            <strong>8.</strong> Pulse &lt;60 and/or Systolic BP &lt; 100. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1017Morphine-list140">
      <div class="item item-body" id="protocol1017Morphine-list-item-container112">
        <div id="protocol1017Morphine-markdown318" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Hypotension - Tachycardia.
            <br>
            <strong>2.</strong> Respiratory Arrest/Depression.
            <br>
            <strong>3.</strong> Nausea/Vomiting. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <ion-list id="protocol1017Morphine-list147">
      <div class="item item-body" id="protocol1017Morphine-list-item-container113">
        <div id="protocol1017Morphine-markdown340" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Considerations</strong>
            <br>
            <strong>1.</strong> May be Given a Higher Dose SQ with Medical Control Approval if Unable to Establish IV Access.
            <br>
            <strong>2.</strong> If Hypotension Occurs - Bolus with 250-500 mL of NS. Repeat if Necessary.
            <br>
            <strong>3.</strong> If Hypoventilation Occurs - Give Oxygen and Administer 0.4mg of
            <a href="#/Tabs_Controller/Protocol_1018">Naloxone</a> IV and Titrate Until Respirations Improve. </p>
        </div>
      </div>
    </ion-list>
    <h3 id="protocol1017Morphine-heading154" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1017Morphine-markdown350" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Adult Dose</strong>
      </p>

      <p style="color:#000000;">
        <strong>1. Hypertensive Crisis:</strong> 2mg IV Every 5-10 Minutes to Max Dose 10mg.
        <br>
        <strong>2. Acute Pulmonary Edema:</strong> 2-5mg IV May Repeat x1 to Max Dose 10mg.
        <br>
        <strong>3. Pain Control (Medical Control Option):</strong> 2-4mg IV Every 10 Minutes to Max Dose 10mg. </p>

      <p style="color:#000000;">
        <strong>Peds Dose</strong>
      </p>

      <p style="color:#000000;">
        <strong>0.1mg / kg </strong> Up to Max Dose of 4mg. </p>
    </div>
    <h5 id="protocol1017Morphine-heading170" style="color:#000000;text-align:center;">Contact Medical Control for Additional Doses!</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1017Morphine-markdown354" class="show-list-numbers-and-dots"></div>
    <div id="protocol1017Morphine-button-bar17" class="button-bar"></div>
    <div id="protocol1017Morphine-button-bar18" class="button-bar"></div>
    <h5 id="protocol1017Morphine-heading190" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1017Morphine-heading195" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>