<ion-view title="Protocol 1001 - Adenosine" id="page13">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1001Adenosine-heading33" style="color:#000000;text-align:center;">Adenosine</h1>
    <h5 id="protocol1001Adenosine-heading34" style="color:#FF0000;text-align:center;">Approved for PARAMEDICS ONLY</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1001Adenosine-heading35" style="color:#000000;text-align:center;">Protocol 1001</h3>
    <div id="protocol1001Adenosine-markdown34" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1001Adenosine-heading36" style="color:#000000;text-align:center;">Class: ANTIARRHYTHMIC</h4>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1001Adenosine-markdown1995" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_202">202</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_710">710</a>
      </p>

      <p style="color:#000000;">. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1001Adenosine-list62">
      <div class="item item-body" id="protocol1001Adenosine-list-item-container24">
        <div id="protocol1001Adenosine-markdown35" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Slows conduction through the AV node
            <br>
            <strong>2.</strong> Can restore NSR in patients with
            <strong>SVT</strong>
            <br>
            <strong>3.</strong> Rapid onset with a duration of 1-2 minutes</p>

          <p style="color:#000000;"> </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1001Adenosine-list63">
      <div class="item item-body" id="protocol1001Adenosine-list-item-container25">
        <div id="protocol1001Adenosine-markdown36" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Hemodynamically stable Paroxysmal Supraventricular Tachycardia (SVT)
            <br>
            <strong>2.</strong> Tachycardia associated with Wolff-Parkinson-White Syndrome</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1001Adenosine-list64">
      <div class="item item-body" id="protocol1001Adenosine-list-item-container26">
        <div id="protocol1001Adenosine-markdown37" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Hypersensitivity
            <br>
            <strong>2.</strong> 2nd or 3rd degree heart block
            <br>
            <strong>3.</strong> Sick Sinus Syndrome
            <br>
            <strong>4.</strong> Atrial Flutter or Atrial Fibrillation</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1001Adenosine-list65">
      <div class="item item-body" id="protocol1001Adenosine-list-item-container27">
        <div id="protocol1001Adenosine-markdown38" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Apprehension
            <br>
            <strong>2.</strong> Chest Pain
            <br>
            <strong>3.</strong> Hypotension
            <br>
            <strong>4.</strong> Bronchospasm</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1001Adenosine-heading38" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <h5 id="protocol1001Adenosine-heading41" style="color:#FF0000;text-align:center;">MEDICAL CONTROL MUST BE CONTACTED PRIOR TO ADMINISTRATIONS</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1001Adenosine-markdown41" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Each dose of Adenosine must be injected into the IV port closest to the patient's core. Each dose is to be followed by a 20-30 mL flush and the patient's arm should be raised to aid absorption </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1001Adenosine-list66">
      <div class="item item-body" id="protocol1001Adenosine-list-item-container28">
        <div id="protocol1001Adenosine-markdown39" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>1. Adults</strong> 6mg administered rapid IVP with 20-30 mL Bolus of NS at the same time
            <br>
            <strong>a.</strong> If no conversion in 5 minutes, repeat dose @ 12 mg x1
            <br>
            <strong>b.</strong> Treat recurrence SVT with
            <strong>ADENOSINE</strong> 12mg x1
            <br>
            <strong>c.</strong> 3 doses total </p>

          <p style="color:#000000;">
            <strong>2. PEDS:</strong> 0.1 mg/kg rapid IVP x1 dose (max dose of 6mg)
            <br>
            <strong>a.</strong> If no conversion in 5 minutes repeat dose at 0.2 mg/kg (max dose of 12mg x1)
            <br>
            <strong>b.</strong> Treat recurrence SVT with
            <strong>ADENOSINE</strong> 0.2 mg/kg (max dose 12mg) x1
            <br>
            <strong>c.</strong> 3 doses total </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h5 id="protocol1001Adenosine-heading39" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1001Adenosine-heading40" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>