<ion-view title="Protocol 905-A - Ambulance Destination" id="page129">
  <ion-content padding="true" class="has-header">
    <div id="protocol905AAmbulanceDestination-container86">
      <div id="protocol905AAmbulanceDestination-markdown1674" class="show-list-numbers-and-dots"></div>
    </div>
    <div>
      <a style="display:block;" href-inappbrowser="https://asirobots.sharefile.com/d-sf192994f7e34508b">
        <img src="img/65lgB4D6QfO0a1Lb1cXW_Protocol905ACCEMSTraumaDestinationprotocolv1final11-15-2010.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div id="protocol905AAmbulanceDestination-markdown1677" class="show-list-numbers-and-dots"></div>
    <div id="protocol905AAmbulanceDestination-markdown1678" class="show-list-numbers-and-dots"></div>
    <div id="protocol905AAmbulanceDestination-markdown1679" class="show-list-numbers-and-dots"></div>
    <div id="protocol905AAmbulanceDestination-markdown1680" class="show-list-numbers-and-dots"></div>
    <div>
      <a style="display:block;" href-inappbrowser="https://asirobots.sharefile.com/d-sf192994f7e34508b">
        <img src="img/wcVk5hshReqTzV2DsidA_Protocol905ACCEMSTraumaDestinationprotocolv1final11-15-2010.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" href-inappbrowser="https://asirobots.sharefile.com/d-sf192994f7e34508b">
        <img src="img/f2gWehcqT2AULu9W5yGg_Protocol905ACCEMSTraumaDestinationprotocolv1final11-15-2010.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" href-inappbrowser="https://asirobots.sharefile.com/d-sf192994f7e34508b">
        <img src="img/zxXdfgrnQe27eFwm782h_Protocol905ACCEMSTraumaDestinationprotocolv1final11-15-2010.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>