<ion-view title="Protocol 404 - Supraglottic Airway - The King Airway" id="page76">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol404SupraglotticAirwayTheKingAirway-heading407" style="color:#000000;text-align:center;">Supraglottic Airway</h3>
    <h4 id="protocol404SupraglotticAirwayTheKingAirway-heading432" style="color:#000000;text-align:center;">The King Airway</h4>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown849" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol404SupraglotticAirwayTheKingAirway-heading431" style="color:#000000;text-align:center;">CCEMS Advanced EMT/Paramedi Only</h4>
    <div id="protocol404SupraglotticAirwayTheKingAirway-container34">
      <div id="protocol404SupraglotticAirwayTheKingAirway-markdown755" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown848" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>This is a standing order for CCEMS Personnel only</strong>
      </p>
    </div>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown770" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol404SupraglotticAirwayTheKingAirway-heading408" style="color:#000000;">DEVICE</h4>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown771" class="show-list-numbers-and-dots">
      <ol>
        <li>The King LTS-D airway is 100% latex free. </li>
        <li>Provided sterile for single use. </li>
        <li>Ability to pass a nasogastric tube in the posterior opening. </li>
        <li>Device is unlikely to enter the trachea. </li>
        <li>Proximal cuff inflates at the base of the tongue-isolates laryngopharynx. </li>
        <li>Distal cuff inflates in the esophagus and isolates it from the laryngopharynx. </li>
      </ol>
    </div>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown798" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown800" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol404SupraglotticAirwayTheKingAirway-heading413" style="color:#000000;">INDICATION</h4>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown804" class="show-list-numbers-and-dots">
      <ol>
        <li>Cardiac arrest from any cause. </li>
        <li>Respiratory arrest with no gag reflex. </li>
        <li>Unconscious patient with inadequate respiration and no gag reflex. </li>
        <li>Difficult or inability to insert endotracheal tube. </li>
      </ol>
    </div>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown805" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown806" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown807" class="show-list-numbers-and-dots"></div>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown808" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol404SupraglotticAirwayTheKingAirway-heading417" style="color:#000000;">CONTRAINDICATIONS</h4>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown809" class="show-list-numbers-and-dots">
      <ol>
        <li>Patient has an active gag reflex. </li>
        <li>Patient has known esophageal disease. </li>
        <li>History of ingested caustic substance. </li>
        <li>Patient has a foreign body obstruction of the larynx or trachea. </li>
        <li>Paramedics are within close proximity to the scene. </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown810" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol404SupraglotticAirwayTheKingAirway-heading418" style="color:#000000;">PRECAUTIONS</h4>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown811" class="show-list-numbers-and-dots">
      <ol>
        <li>The King is not 100% effective in protecting the airway from regurgitation/aspiration. </li>
        <li>Intubation of the trachea must be ruled out as a potential complication of insertion. </li>
        <li>High airway presure may cause gastric distention. </li>
        <li>Lubricate on the
          <strong>posterior</strong> surface of the device so that ventilation ports are not blocked. </li>
        <li>Never delay or interrupt CPR to insert the airway. </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown812" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <h4 id="protocol404SupraglotticAirwayTheKingAirway-heading419" style="color:#000000;">Procedure of insertion of the King</h4>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown813" class="show-list-numbers-and-dots">
      <ol>
        <li>Take appropriate BSI precautions. </li>
        <li>Examine and clear/suction the airway as needed to ensure it is clear. </li>
        <li>Insert an OPA and begin BVM ventilations to pre-oxygenate the patient for at least 2 minutes. </li>
        <li>Determine and select appropriate airway for size of patient:</li>
      </ol>
    </div>
    <div>
      <img src="img/t6BSJ3sRRaX9iE7sFwwE_ScreenShot2018-03-14at5.06.40PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown850" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Extra air may be needed in the case of an air leak - follow recommendations on the device package</strong>
      </p>

      <ol>
        <li>Check cuffs for proper inflation/deflation (remove all air from cuffs prior to insertion). </li>
        <li>Apply water-soluble lubricant to the beveled tip and posterior aspects of the tube, be sure not to place lube in or near the ventilator openings. </li>
        <li>Position the head ideally in the sniffing position, but place in the neutral position if suspected c-spine injury. </li>
        <li>Hold the tube in the dominant hand and with the non-dominant hand grasp the patients tonge and jaw with gloved hand and displace forward or use jaw thrust if c-spine is a concern. </li>
        <li>Gently insert the tube rotated laterally 45-90 degrees so that the blue orientation line is touching the corner of the mouth. Introduce the tip of the tube into the mouth and advance it behind the base of the tongue.
          <strong>NEVER FORCE THE TUBE INTO POSITION</strong> - Important that the tip of the device be maintained at the midline to assure that the distal tip is properly placed in the hypo-pharynx/upper esophagus.</li>
        <li>Advance the tip of the tube behind the base of the tongue while rotating back to the midline so that the blue orientation line face the patient's chin. </li>
        <li>Without exerting excessive force, advance the airway until the base of the connecor aligns with teeth or gums. </li>
        <li>Inflate cuffs with the minimum volume necessary to seal the airway</li>
        <li>
          <p style="color:#000000;">Typical inflation volumes:</p>
          <ul>
            <li>
              <p style="color:#000000;">Size 3 - 45mL to 60mL</p>
            </li>
            <li>Size 4 - 60mL to 80mL</li>
            <li>Size 5 - 70mL to 90mL</li>
          </ul>
        </li>
        <li>Attach the BVM and begin gently bagging the patient to assess ventilation while simultaneously withdrawing the tube until ventilation is easy and free flowing. </li>
        <li>Confirm placement by auscultation of breath sounds, absence of sounds over the epigastrium and chest rise and fall. </li>
        <li>Additional air if necessary to stop an air leak. </li>
        <li>Secure device with a tube tamer. </li>
        <li>Ventilate with 100% oxygen, with a delivery of 8-10 breaths a minute. If CPR is in progress, deliver each breath over 1 second while chest compressions are delivered at a rate of 100/minute. Do not attempt to synchronize the breaths and compressions.
          </li>
        <li>Frequently reassess breath sounds and tube placement. </li>
        <li>If gastric distention is present insert a #16-18 french NG tube through the posterior port of the KING and attach to suction. </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown815" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="protocol404SupraglotticAirwayTheKingAirway-heading420" style="color:#000000;">Removal of the King</h4>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown816" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The King should not be removed unless the patient is not being ventilated or the airway was improperly inserted or there is the return of protective reflexes (gag). </p>

      <ol>
        <li>Have suction readily available before beginning removal of the device. </li>
        <li>Suction above cuffs in the oral airway if necessary. </li>
        <li>Fully deflate cuffs before removal of the device. </li>
        <li>Position the patient on his/her side if able. </li>
        <li>Gently remove the device and suction as needed-anticipate the patient will vomit. </li>
        <li>Insert and OPA/NPA as needed. </li>
        <li>Continue to ventilate the patient with a BVM and oxygen (15L/Min) as needed - do not hyperventilate. </li>
      </ol>
    </div>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown823" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol404SupraglotticAirwayTheKingAirway-heading421" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol404SupraglotticAirwayTheKingAirway-markdown824" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>