<ion-view title="Protocol 101 - Medical Cardiac Arrest - Initial Care" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol101MedicalCardiacArrestInitialCare-heading58" style="color:#000000;text-align:center;">Medical Cardiac Arrest - Initial Care</h1>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol101MedicalCardiacArrestInitialCare-container2">
      <div id="protocol101MedicalCardiacArrestInitialCare-markdown76" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown77" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ALL CARDIAC ARREST VICTIMS SHOULD HAVE:</strong>
      </p>

      <ol>
        <li>CPR-Push hard and fast (100 - 120 compressions/minute).</li>
        <li>Ensure full chest recoil.</li>
        <li>Minimize interruptions in chest compressions.</li>
        <li>1 cycle of CPR: 30 compressions/2 ventilations; 5 cycles=2 minutes.</li>
        <li>Avoid hyperventilation, 1 breath every 5-6 seconds (8-10 a minute)</li>
        <li>Secure airway and confirm placement, suction as needed</li>
        <li>After advanced airway is placed, give continuous chest compressions without pauses. </li>
        <li>Check rhythm every 2 minutes</li>
        <li>Elevate arm, give fluid bolus when administering a drug during a full arrest</li>
        <li>Always search for a reversible cause</li>
        <li>Follow current ACLS and PALS guidelines</li>
      </ol>
    </div>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown79" class="show-list-numbers-and-dots"></div>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown92" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown80" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Exclusions</strong>
      </p>

      <ol>
        <li>Patients fitting strict DOA
          <a href="#/Tabs_Controller/tab1/Protocol_902">Protocol 902: DEATH DETERMINATION AND PRONOUNCEMENT PROCESS</a>.</li>
        <li>Arrest associated with major trauma - use
          <a href="#/Tabs_Controller/Trauma">Protocol 500: Trauma Series</a>.</li>
        <li>Arrest associated with hypothermia - use
          <a href="#/Tabs_Controller/tab1/Protocol_105">Protocol 105: HYPOTHERMIC CARDIAC ARREST</a>.</li>
        <li>Children &lt; 50kg- use
          <a href="#/Tabs_Controller/Pediatrics">Pediatric Protocols</a>.</li>
      </ol>
    </div>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown93" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown81" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EMT</strong>
      </p>

      <p style="color:#000000;">BCLS PRIMARY SURVEY:</p>

      <ol>
        <li>
          <strong>Airway</strong>- Open airway with noninvasive techniques (head tilt-chin lift or jaw thrust without head extension if trauma is suspected) May use OPA or NPA and suction as needed.</li>
        <li>
          <strong>Breathing-</strong> Look, listen, and feel for adequate breathing. Begin BVM respirations. Do not hyperventilate or over-inflate. Use airway adjunct as indicated (OPA/NPA). Ventilate at a rate of 1 breath every 5-6 seconds.</li>
        <li>
          <strong>Circulation-</strong> Check for a carotid pulse for at least 5 seconds but not more than 10 seconds. Provide high quality CPR at a rate of 30:2 ( 100 compressions per minute) while attaching AED. Give 5 cycles before attempting to shock. Push
          hard, push fast and release completely, and minimize interruptions in compressions.</li>
        <li>
          <strong>Defibrillation:</strong> Provide shocks as indicated. Follow each shock immediately with CPR, beginning with chest compression for 2 minutes or 5 cycles. Check rhythm every 5 cycles; continue until ALS providers take over or patient regains
          a pulse.</li>
      </ol>
    </div>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown90" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown82" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT</strong>
      </p>

      <ol>
        <li>
          <strong>Airway-</strong> Maintain airway patency with use of OPA or NPA if not in use suction if needed, insert appropriate size "King" airway and confirm placement.</li>
        <li>
          <strong>Breathing-</strong> Ensure supplemental oxygen is being used. Assess adequacy of oxygenation and ventilation by: Observing chest rise, auscultation, oxygen saturation, and capnography.</li>
        <li>
          <strong>Circulation-</strong> Obtain IV/IO access. Give fluids if needed. Monitor for arrhythmias or cardiac arrest rhythms (VF, VT, PEA, and Asystole.) Give appropriate drugs to manage rhythm (
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> ,
          <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a>,
          <a href="#/Tabs_Controller/Protocol_1003">Amiodarone</a>,
          <a href="#/Tabs_Controller/Protocol_1005">Atropine</a>) following current American Heart ACLS-PALS guidelines. Per ACLS guidelines drug therapy begins after the 2nd shock.</li>
        <li>
          <strong>Defibrillation-</strong> Provide shocks as indicated, follow each shock with CPR for 5 cycles.</li>
      </ol>
    </div>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown91" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown83" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT/PARAMEDIC</strong>
      </p>

      <ol>
        <li>Supportive care of airway, vascular access and fluid therapy </li>
        <li>LVADs are preload dependent and a fluid bolus may improve perfusion</li>
        <li>ACLS medications as indicated</li>
      </ol>
    </div>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown89" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown85" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PARAMEDIC</strong>
      </p>

      <ol>
        <li>
          <strong>Airway-</strong> Ensure airway is patent, suction as needed. Intubate when appropriate if an advanced airway has not been placed.</li>
        <li>
          <strong>Breathing-</strong> Confirm proper placement of advanced airway by:
          <ol>
            <li>Physical Examination</li>
            <li>Capnography</li>
            <li>Use of esophageal detector device</li>
            <li>Auscultation</li>
            <li>Secure the device to prevent dislodgement</li>
          </ol>
        </li>
        <li>
          <strong>Circulation-</strong> Obtain IV/IO access if not already done.
          <ol>
            <li>Monitor arrhythmias or cardiac arrest rhythms.</li>
            <li>Give appropriate drugs (
              <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>,
              <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> or
              <a href="#/Tabs_Controller/Protocol_1003">Amiodarone</a>,
              <a href="#/Tabs_Controller/Protocol_1005">Atropine</a>,
              <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a>, and
              <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a>) to manage rhythms and blood pressure.</li>
            <li>Per ACLS guidelines drug therapy begins after the 2nd shock.</li>
          </ol>
        </li>
        <li>
          <strong>Defibrillation-</strong> Provide shocks as indicated, follow each shock with CPR for 5 cycles.</li>
        <li>
          <strong>Differential Diagnosis-</strong> Search for/find and treat reversible causes of the arrest.
          <strong>See Hs &amp; Ts Table Below</strong>
        </li>
        <li>
          <strong>Defibrillation-</strong> Provide shocks as indicated, follow each shock with CPR for 5 cycles.</li>
      </ol>
    </div>
    <div></div>
    <div class="spacer" style="height: 15px;"></div>
    <div>



      <style>
        table, th, td {
            border: 0px solid black;
            margin-left:auto; 
            margin-right:auto;
        }
      </style>


      <table>
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>H- Hypovolemia</td>
            <td>T- Tablets</td>
          </tr>
          <tr>
            <td>H- Hypoxia</td>
            <td>T- Tamponade, cardiac</td>
          </tr>
          <tr>
            <td>H- Hydrogen ion (acidosis)</td>
            <td>T- Tension pneumothorax</td>
          </tr>
          <tr>
            <td>H- Hyperkalemia</td>
            <td>T- Thrombosis, heart (acute MI)</td>
          </tr>
          <tr>
            <td>H- Hypothermia</td>
            <td>T- Thrombosis, pulmonary (PE)</td>
          </tr>
          <tr>
            <td>H-Hypoglycemia</td>
            <td>T- Trauma</td>
          </tr>
        </tbody>
      </table>





    </div>
    <h5 id="protocol101MedicalCardiacArrestInitialCare-heading83" style="color:#000000;font-weight:600;">Note: ** Hypovolemia and hypoxia are the 2 most common and easily reversible causes of PEA.</h5>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown101" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown110" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option- must call prior to administration If "ROSC" and hypotension refractory to fluid bolus</strong>
      </p>

      <ol>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 2-10 mcg/min start at 2 mcg/min.</strong> Titrate systolic BP until it reaches 90-100 mmHg. Mix Epinephrine
          <strong>2 mg 1:1000 in 1000 ml NS which yields 0.002 mg/ml</strong>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>



      <style>
        table, th, td {
            border: 2px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>



    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h5 id="protocol101MedicalCardiacArrestInitialCare-heading101" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol101MedicalCardiacArrestInitialCare-markdown84" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>