<ion-view title="Protocol 705 - Pediatric Cardiopulmonary Resuscitation" id="page108">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol705PediatricCardiopulmonaryResuscitation-heading600" style="color:#000000;text-align:center;">PEDIATRIC ANAPHYLAXIS</h3>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-container65">
      <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1184" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1280" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol705PediatricCardiopulmonaryResuscitation-heading647" style="color:#000000;">NOTE:</h4>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1372" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Most cardiac arrests in children are the result of respiratory arrests, and therfore, the first priority of care should be the establishment of adequate ventilation.</p>

      <p style="color:#000000;">Follow current ACLS and PALS guidelines as needed.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol705PediatricCardiopulmonaryResuscitation-heading624" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1281" class="show-list-numbers-and-dots">
      <ol>
        <li>Apnea, unresponsiveness and pulselessness.</li>
        <li>Use
          <strong>adult</strong> Protocols for children &gt;
          <strong>50 kg or 100lbs</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1312" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1345" class="show-list-numbers-and-dots"></div>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1347" class="show-list-numbers-and-dots"></div>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1348" class="show-list-numbers-and-dots"></div>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1362" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol705PediatricCardiopulmonaryResuscitation-heading639" style="color:#000000;">EMT</h4>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1363" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Assess for presence of absence of a pulse.</li>
        <li>Determine probable rhythm - ventricular fibrillation or pulseless ventricular tachycardia.</li>
        <li>AED is only to be used &gt; 1 year of age. Use a pediatric system, if available, for ages 1 to 8 years old.</li>
        <li>Assess blood glucose level.</li>
        <li>BEGIN BLS- Follow current American Heart Guidelines.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1364" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol705PediatricCardiopulmonaryResuscitation-heading640" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1365" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>Ensure above is complete</strong>.</li>
        <li>Quickly determine ECG rhythm. For specific arrhythmia management, see appropriate management Protocols:
          <br>a.
          <a href="#/Tabs_Controller/tab1/Protocol_706">Protocol 706: Pediatric Asystole and Pulseless Electrical Activity (PEA)</a>.
          <br>b.
          <a href="#/Tabs_Controller/tab1/Protocol_707">Protocol 707: Pediatric Ventricular Fibrillation</a>.
          <br>c.
          <a href="#/Tabs_Controller/tab1/Protocol_711">Protocol 711: Pediatric Ventricular Tachycardia</a>.</li>
        <li>Assess and manage the airway.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>Establish IV/IO access.</li>
        <li>Consider underlying causes and treat when possible:
          <br>a.
          <strong>H's</strong> - Hypovolemia, Hypoxia, Hydrogen ion (Acidosis), Hyper/hypokalemia, Hypothermia, Hypoglycemia.
          <br>b.
          <strong>T's</strong> - Toxins (overdose), Tamponade (Cardiac), Tension Pneumothorax, Thrombosis (ACS of Pulmonary), Trauma.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1366" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol705PediatricCardiopulmonaryResuscitation-heading645" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1367" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>
          <strong>INTUBATION</strong> - Consider orotracheal intubation using an endotracheal tube when indicated.</li>
        <li>Document
          <strong>TWO</strong> confirmation methods to verify endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophageal Intubation Detector).</li>
        <li>
          <strong>No nasotracheal intubation</strong>.</li>
        <li>Continue apprpriate American Heary PALS Algorithms.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1368" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol705PediatricCardiopulmonaryResuscitation-heading646" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol705PediatricCardiopulmonaryResuscitation-markdown1371" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>