<ion-view title="Protocol 905-C - Destination Protocol for Non-Trauma Patients" id="page131">
  <ion-content padding="true" class="has-header">
    <div id="protocol905CDestinationProtocolForNonTraumaPatients-container88">
      <div id="protocol905CDestinationProtocolForNonTraumaPatients-markdown1643" class="show-list-numbers-and-dots"></div>
    </div>
    <div>
      <a style="display:block;" href-inappbrowser="https://asirobots.sharefile.com/d-sc8b7c743ac64d44a">
        <img src="img/V87xf67KRFWqOBQQ82w5_Protocol905CRequestfordestinationvariance11-15-2010.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div id="protocol905CDestinationProtocolForNonTraumaPatients-markdown1644" class="show-list-numbers-and-dots"></div>
    <div id="protocol905CDestinationProtocolForNonTraumaPatients-markdown1645" class="show-list-numbers-and-dots"></div>
    <div id="protocol905CDestinationProtocolForNonTraumaPatients-markdown1646" class="show-list-numbers-and-dots"></div>
    <div id="protocol905CDestinationProtocolForNonTraumaPatients-markdown1648" class="show-list-numbers-and-dots"></div>
  </ion-content>
</ion-view>