<ion-view title="Protocol 725 - Pediatric Thermal-Electrical Burns" id="page145">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol725PediatricThermalElectricalBurns-heading803" style="color:#000000;text-align:center;">PEDIATRIC THERMAL-ELECTRICAL BURNS</h3>
    <div id="protocol725PediatricThermalElectricalBurns-container103">
      <div id="protocol725PediatricThermalElectricalBurns-markdown1837" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1856" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol725PediatricThermalElectricalBurns-heading804" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1857" class="show-list-numbers-and-dots">
      <ol>
        <li>Patients with suspected inhalation injuries.</li>
        <li>Patients with partial thickness of thermal burns of more than
          <strong>10%</strong> of body surface area.</li>
        <li>Patients will full thickness burns of more than
          <strong>2%</strong> body surface area.</li>
        <li>Burns to the face, hands, feet and perineum.</li>
        <li>Electrical Burns are frequently more serious then they appear.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol725PediatricThermalElectricalBurns-heading805" style="color:#000000;">ALL PROVIDERS:</h4>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1858" class="show-list-numbers-and-dots">
      <ol>
        <li>Scene and patient management.</li>
        <li>Focused history and physical exam.</li>
        <li>Assess ABC's for evidence of apnea, airway reflex comrpomise, or difficulty in ventilatory effort.</li>
        <li>Assess medical conditions, burns, or traumatic injuries that have the potential to compromise the airway.</li>
        <li>Full set of Vital Signs including blood glucose.</li>
        <li>Thermal Burns:
          <ul>
            <li>Stop the burning process. </li>
            <li>Do not pull material out of the wound but cut clothing around it. </li>
            <li>Remove all burning or smoldering clothing including jewelry. </li>
            <li>Safely evacuate patient from electrical source. </li>
            <li>Do not touch the patient until you are sure that the electrical source is disconnected. </li>
          </ul>
        </li>
        <li>When multiple patients are struck simultaneously by lightning or a high voltage source, those in respiratory and/or cardiac arrest should be given the highest priority of care, even those who appear dead on initial evaluation.</li>
        <li>Identifying the source as AC or DC voltage with the amperage will be helpful in the treatment.</li>
        <li>Burn patients are
          <strong>TRAUMA</strong> patients. Care for traumatic injuries should precede care for the burn.</li>
        <li>Potential CO and/or Cyanide exposure (closed space smoke exposure) should receive
          <strong>100%</strong> oxygen by NRB.</li>
        <li>Prevent hypothermia due to heat loss from the burns.</li>
        <li>Consider Child Abuse as a cause. Circumferential scald burn to hands, feet, buttocks, and genitalia are common burns seen in child abuse (especially in children &lt;5 years old).</li>
        <li>Definitions:
          <ul>
            <li>Superficial (1st Degree) burns - red, painful, without blisters. </li>
            <li>Partial Thickness(2nd Degree) burns - Red painful/hypersensitive, swollen, with either intact or ruptured blisters. </li>
            <li>Full Thickness (3rd Degree) burns - dark, leathery, painless, waxy, and does not blanch.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1860" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div>
      <img src="img/DEiISJgTsezbntlwrX8O_ruleof9s.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1993" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1861" class="show-list-numbers-and-dots"></div>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1862" class="show-list-numbers-and-dots"></div>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1863" class="show-list-numbers-and-dots"></div>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1864" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol725PediatricThermalElectricalBurns-heading807" style="color:#000000;">EMT</h4>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1865" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Full set of vital signs including blood glucose.</li>
        <li>Identify potential entry and exit wounds for electrical burns - both sites will generally be a full thickness burn site.</li>
        <li>Ensure SAFETY at the scene.</li>
        <li>Monitor for developing airway compromise.</li>
        <li>Initiate early oxygen therapy with high flow O2, this is critical despite level of respiratory distress, maintain SPO2 &gt; 94%.</li>
        <li>In the unconscious patient,implement spinal motion restriction.</li>
        <li>With electrical burns anticipate heart rhythm irregularities (both ventricular and atrial).</li>
        <li>Assess for circulatory compromise from circumferential extremity burns or ventilatory compromise from circumferential chest burns.</li>
        <li>Remove items that may constrict swelling tissue.</li>
        <li>Estimate size and depth of burn using the percentage chart (above).</li>
        <li>Dressings:
          <br>a. Partial or Full Thickness (2nd and 3rd degree) &lt;10% BSA- Wet sterile dressings.
          <br>b. Partial or Full Thickness (2nd or 3rd degree) &gt;10% BSA - Dry sterile dressings. </li>
        <li>Closely monitor patients temperature and prevent hypothermia.</li>
        <li>
          <strong>ASSESS</strong> for other injuries.</li>
        <li>
          <strong>IMMOBILIZE</strong> if indicated.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1866" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol725PediatricThermalElectricalBurns-heading808" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1867" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>Avoid placing monitor attachments over burned skin if possible.</li>
        <li>Pediatric lowest acceptable systolic blood pressures are in a table below. </li>
        <li>12 Lead ECG where appropriate and if possible, avoid placing electrodes over burned skin.</li>
        <li>Establish vascular access x 2 if possible.</li>
        <li>Treat for pain and anxiety, consider
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>
          </strong> and contact
          <strong>OLMC</strong> for medication order:
          <ul>
            <li>
              <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a>
              <strong>1 mcg/kg (max 25 mcg per dose)</strong> IV/IO </li>
            <li>In the event an IV cannot be established, Fentanyl
              <strong>1 mcg/kg</strong> may be given IM up an initial dose of
              <strong>25 mcg</strong>. </li>
            <li>For additional doses, contact
              <strong>OLMC</strong>. </li>
          </ul>
        </li>
        <li>If hypotensive bolus with NS
          <strong>20 ml/kg</strong> then reassess-may give up to
          <strong>60 ml/kg</strong> ig not hypotensive TKO rate with a
          <strong>MAX</strong> bolus of
          <strong>1 L</strong>.</li>
        <li>
          <strong>RECORD</strong> data accuretely with attention to:
          <ul>
            <li>Time of burn. </li>
            <li>Type of environment. </li>
            <li>Time IV fluids begun. </li>
            <li>Amount of fluids given. </li>
          </ul>
        </li>
        <li>Initiate rapid
          <strong>TRANSPORT</strong>.</li>
        <li>Monitor for shock and hypovolemia.</li>
        <li>Assess mental staus prior to and every 15 minutes during transport (GCS/AVPU). </li>
        <li>Contact Medical Control.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 748px; height: 18px;"></div>
    <div>


      <style>
        table, th, td {
            border: 2px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>AGE</b>
            </td>
            <td>
              <b>PRESSURE</b>
            </td>
          </tr>
          <tr>
            <td> 0-2 Months </td>
            <td>60 mm Hg</td>
          </tr>
          <tr>
            <td>2 months to 1 Year</td>
            <td>70 mm Hg</td>
          </tr>
          <tr>
            <td>1 Year</td>
            <td>70 + 2 x (years in age) </td>
          </tr>
          <tr>
            <td>Over 10 Years</td>
            <td>90 mm Hg</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="spacer" style="width: 748px; height: 22px;"></div>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1868" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol725PediatricThermalElectricalBurns-heading809" style="color:#000000;">PARAMEDIC:</h4>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1869" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure the above is complete.</li>
        <li>Treat for Pain control consider
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>
          </strong> and contact
          <strong>OLMC</strong> for medication order:
          <ul>
            <li>
              <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a>
              <strong>1 mcg/kg (max 50 mcg per dose)</strong> IV/IO </li>
            <li>In the event an IV cannot be established,
              <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a>
              <strong>1 mcg/kg</strong> may be given IM up an initial dose of
              <strong>25 mcg</strong>. </li>
            <li>For additional doses, contact
              <strong>OLMC</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1870" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Medical Control Option-Must contact prior to administration.</p>

      <ol>
        <li>Sedation after intubation (benzodiazepine).</li>
        <li>Treat for pain and anxiety, consider
          <strong>Protocol 509 - PAIN CONTROL/NAUSEA/VOMITING/ANXIETY</strong> and contact
          <strong>OLMC</strong> for medication order:
          <br>a. Fentanyl
          <strong>1 mcg/kg (max 50 mcg per dose</strong>) IV/IO.
          <br>b. In the event an IV cannot be established, Fentanyl
          <strong>1 mg/kg mcg</strong> may be given IM up an initial dose of
          <strong>25 mcg/kg</strong>.
          <br>c. For additional doses, contact
          <strong>OLMC</strong>. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1871" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol725PediatricThermalElectricalBurns-heading810" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol725PediatricThermalElectricalBurns-markdown1872" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>