<ion-view title="Protocol 607 - Vaginal Hemorrhage" id="page99">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol607VaginalHemorrhage-heading594" style="color:#000000;text-align:center;">VAGINAL HEMORRHAGE</h3>
    <div id="protocol607VaginalHemorrhage-container56">
      <div id="protocol607VaginalHemorrhage-markdown1222" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol607VaginalHemorrhage-markdown1223" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol607VaginalHemorrhage-heading595" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol607VaginalHemorrhage-markdown1224" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Persistent active large volume vaginal bleeding after or during delivery.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol607VaginalHemorrhage-heading602" style="color:#000000;">NOTE:</h4>
    <div id="protocol607VaginalHemorrhage-markdown1241" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This is usually due to uterine atony, uterine rupture, birth canal trauma or retained products of conception.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol607VaginalHemorrhage-markdown1225" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol607VaginalHemorrhage-markdown1226" class="show-list-numbers-and-dots"></div>
    <div id="protocol607VaginalHemorrhage-markdown1227" class="show-list-numbers-and-dots"></div>
    <div id="protocol607VaginalHemorrhage-markdown1228" class="show-list-numbers-and-dots"></div>
    <div id="protocol607VaginalHemorrhage-markdown1229" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol607VaginalHemorrhage-heading596" style="color:#000000;">EMT</h4>
    <div id="protocol607VaginalHemorrhage-markdown1230" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Obtain compete set of vital signs.</li>
        <li>Obtain baseline
          <strong>OBSTERTICAL HISTORY</strong> as described in Introduction to
          <a href="#/Tabs_Controller/tab1/Protocol_600">Protocol 600: Obstetric Emergencies</a>.</li>
        <li>Place in Trendelenburg postion.</li>
        <li>High-flow
          <strong>OXYGEN</strong>.</li>
        <li>Gently
          <strong>MASSAGE UTERUS</strong> (one hand above fundus near umbilicus other hand below fundus above pubic symphsis).</li>
        <li>Assist with delivery of placenta per
          <a href="#/Tabs_Controller/tab1/Protocol_602">Protocol 602: Full Term Imminent Delivery/Newborn Resuscitation</a>.</li>
        <li>Be sure to collect all tissue delivered for inspection at receiving facility.</li>
        <li>All products of conception should be carefully collected and transported with the mother to the hospital.</li>
        <li>Anything other than ambulance transport should be coordinated with on-line medical consultation and/or law enforcement.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol607VaginalHemorrhage-markdown1231" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol607VaginalHemorrhage-heading597" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol607VaginalHemorrhage-markdown1232" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available.</li>
        <li>Start IV NS x2 if able being 500cc colus-repeat as needed.</li>
        <li>
          <strong>RAPID TRANSPORT</strong> to appropriate facility per transport protocol.</li>
        <li>Keep patient warm.</li>
        <li>Contact OLMC as early as possible.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol607VaginalHemorrhage-markdown1233" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol607VaginalHemorrhage-heading598" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol607VaginalHemorrhage-markdown1234" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>In the event of uterine inversion, make one attempt to put the uterus back into place. Using the palm of the had, push the fundus of the inverted uterus toward the vagina. If unsuccessful, cover uterus with moistented sterile gauze.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol607VaginalHemorrhage-markdown1237" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol607VaginalHemorrhage-markdown1238" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1021">Oxytocin (Pitocin)</a>
          </strong>:
          <br>a.
          <strong>WARNING: PITOCIN IS NOT AN IV PUSH DRUG AND MUST BE GIVEN AS AN IV INFUSION</strong>.
          <br>b.
          <strong>Intramuscularly-IF IV access is unavailable</strong>- GIve
          <strong>10 units</strong> IM.
          <br>c.
          <strong>IV Infusion</strong> may be started if bleeding continues by adding
          <strong>40 units</strong> to
          <strong>1000 mL</strong> NS and titrating the infusion to decrease bleeding and patient comfort.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol607VaginalHemorrhage-markdown1239" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol607VaginalHemorrhage-heading601" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol607VaginalHemorrhage-markdown1240" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>