<ion-view title="Protocol 901 - At Scene Release" id="page125">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol901AtSceneRelease-heading737" style="color:#000000;text-align:center;">At Scene Release</h3>
    <div id="protocol901AtSceneRelease-container82">
      <div id="protocol901AtSceneRelease-markdown1627" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol901AtSceneRelease-markdown1628" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol901AtSceneRelease-markdown1629" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Exclusion Criteria:</strong>
      </p>

      <ol>
        <li>No patient found at the scene. </li>
        <li>Patients without apparent illness/injury who do not allow an evaluation by EMS personnel; no assessment occurs. </li>
        <li>Patients transported by Logan/Cache Law Enforcement.</li>
      </ol>
    </div>
    <div id="protocol901AtSceneRelease-markdown1630" class="show-list-numbers-and-dots"></div>
    <div id="protocol901AtSceneRelease-markdown1631" class="show-list-numbers-and-dots"></div>
    <div id="protocol901AtSceneRelease-markdown1632" class="show-list-numbers-and-dots"></div>
    <div id="protocol901AtSceneRelease-markdown1633" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol901AtSceneRelease-markdown1635" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol901AtSceneRelease-markdown1636" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>AMBULANCE ADVANCED EMT/PARAMEDIC ONLY:</strong>
      </p>

      <ol>
        <li>
          <p style="color:#000000;">Patient(s) may refuse care and consent to be released on scene when all of the following conditions are met:</p>
        </li>
        <li>
          <p style="color:#000000;">Must be of Legal age (18),an emancipated minor, or released to a competent family member who is of legal age or competent adult. Exception: minors with no care required may be released to their own care or police custody as appropriate. If the
            first responders are present and the individual is a minor and parents are en route to the scene, individual may be released to the care of first responders until parent arrives on scene.</p>
        </li>
        <li>
          <p style="color:#000000;">No life or limb threatening conditions as judged by EMS personnel.</p>
        </li>
        <li>
          <p style="color:#000000;">Individual appears competent to make informed decisions as judged by EMS Personnel.</p>
        </li>
      </ol>

      <p style="color:#000000;">Minimal guidelines for judging competence for patient release:</p>

      <ol>
        <li>Individual is alert and oriented with a GCS of 15 </li>
        <li>Understands the consequences of not receiving care, as explained by EMS Personnel (must be informed).</li>
        <li>Not suicidal, homicidal, or otherwise mentally impaired refer to 800 series Protocols</li>
        <li>Not under the influence of alcohol or drugs to the extent that judgment may be affected as assessed by EMS Personnel and agreed upon by
          <strong>OLMC . OLMC shall denote a Licensed Emergency Department Physician who will give medical direction to CCEMS units in the field. As noted in BEMS rules, a PA, NP, RN in direct voice communication with the physician may relay their directions.
            Proper documentation on the PCR shall include the name of the OLMC physician and the name of any other individual who is relaying medical direction.</strong>
        </li>
        <li>Is able to verbalize an understanding of the risks of not being transported for medical evaluation and can state the patient’s plans for seeking further medical evaluation. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol901AtSceneRelease-markdown1637" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol901AtSceneRelease-markdown1638" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>CONDITIONS OF RELEASE:</strong>
      </p>

      <ol>
        <li>The appropriateness of each scene release decision depends on the specific circumstances of the situation. Every scene release must be supported with documentation, including contact and approval from OLMC. The approving Physician‘s name shall
          be documented in the patient care report for review by the off- line Medical Control Physician.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol901AtSceneRelease-markdown1639" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol901AtSceneRelease-markdown1640" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PATIENT VS. PERSON:</strong>
      </p>

      <ol>
        <li>Paramedic or Ambulance CCEMS Personnel will determine Patient or Person</li>
        <li>
          <p style="color:#000000;">Individuals will be considered
            <strong>“Patients”</strong> if:</p>
          <ol>
            <li>There is significant MOI.</li>
            <li>If there is one patient in a vehicle (i.e. car, truck, boat, ATV, etc) complaining of injuries, then all individuals in that vehicle will be considered “patients” and a patient care report shall be filled out for each individual patient that
              is released on scene </li>
            <li>
              <p style="color:#000000;">Individuals involved in an incident where no occupants are complaining of injuries, meeting the above criteria, and MOI does not indicate potential for injuries, shall be considered
                <strong>“Persons”</strong> at scene, and scene releases will not be required.</p>
            </li>
          </ol>
        </li>
        <li>
          <p style="color:#000000;">Refusal of emergency care by patient:</p>
          <ol>
            <li>Competent, informed patients may refuse care and/or transport after evaluation by EMS personnel. OLMC must be contacted prior to release.</li>
            <li>The patient shall sign a release of liability or AMA (preferred) form. </li>
            <li>All competent released patients shall be instructed to seek medical care at their earliest opportunity. </li>
            <li>Document that risks of non-transport were explained to the patient, and that the patient is able to verbalize an understanding of those risks and document the patient’s plans for seeking further medical evaluation</li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol901AtSceneRelease-markdown1641" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol901AtSceneRelease-markdown1642" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>SPECIAL SITUATIONS:</strong>
      </p>

      <ol>
        <li>
          <p style="color:#000000;">
            <strong>Seizures:</strong> Patients with a known seizure disorder who have breakthrough seizures despite compliance with medications, and who are fully recovered from a single seizure may be released if they wish after confirming with Medical Control
            and they are not left unattended.</p>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Hypoglycemia:</strong> Diabetic patients with hypoglycemia due to lack of sufficient sugar intake ( but not insulin or medication overdose) may be released if they wish, if fully recovered after glucose administration and : </p>
          <ol>
            <li>Are fully awake with a minimum blood glucose &gt;60 and a GCS of 15</li>
            <li>They have access to oral glucose or a meal and are observed to consume something.</li>
            <li>Released to the care of a competent adult.</li>
            <li>Confirmed with
              <strong>OLMC</strong>.</li>
            <li>Other situations may arise when scene release may be appropriate. The patient’s clinical condition, vital signs, mental status, Glasgow Coma Score, understanding of his/her condition and possible consequences, if untreated must be assessed
              and documented. </li>
            <li>
              <strong>On-line Medical Control must always be contacted for refusals and denial situations.</strong>
            </li>
            <li>Proper signatures should be obtained from the patient or legal guardian/parent.</li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol901AtSceneRelease-heading738" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol901AtSceneRelease-markdown1634" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>