<ion-view title="Protocol 906 - Nubian" id="page134">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol906Nubian-heading732" style="color:#000000;text-align:center;">(Nubian): PROCEDURAL </h3>
    <div id="protocol906Nubian-container91">
      <div id="protocol906Nubian-markdown1711" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol906Nubian-markdown1712" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol906Nubian-markdown1713" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED DESIGNATED QRU ONLY</strong>
      </p>

      <p style="color:#000000;">
        <strong>PROCEDURAL PROTOCOL ONLY</strong>
      </p>

      <p style="color:#000000;">This protocol is for designated Advanced EMT QRU units in the CCEMS system only. Before administration of this drug, On-Line Medical Control must be contacted. There is no standing order for administering pain control medications.</p>

      <ol>
        <li>A prescription for “Nubain” shall be obtained from the off-line medical control physician under contract with CCEMS to provide medical oversight. The drug shall be purchased by the QRU from a pharmacy of their choosing.</li>
        <li>Each unit agrees to maintain and store the drug at the manufacturer’s recommendations including temperature control, exposure to light…</li>
        <li>Each designated QRU unit shall obtain a suitable storage container for this drug ( Nubain) that can be externally locked.</li>
        <li>This container shall than be secured in a second storage device (safe, lockable cabinet, etc.) on the
          <strong>QRU unit</strong> that can also be externally locked, thus ensuring 2 separate locks.</li>
        <li>
          <strong>A drug use form</strong> (see CCEMS drug use/wasting form for example) shall be completed when
          <strong>“Nubain”</strong> is used detailing the date given, the amount used, the route given, the patient’s name and who administered the drug. This form shall be given to the CCEMS transport crew for inclusion in the patient care report and for review
          by the Off-Line Medical Control Physician. This form shall also include a space to account for wasting any unused drug (Nubain) and shall be signed by the QRU responder who administered the drug and the rescue, ambulance or squad member accepting
          the patient. The rescue, ambulance or squad member may elect to take any unused portion of the drug with them on transport and if not used it shall than be wasted at the hospital following the current CCEMS SOP for wasting a narcotic or pain
          medication.</li>
        <li>A
          <strong>drug log</strong> shall be kept with the medication in the locked storage unit detailing who enters the storage cabinet and for what purpose.</li>
        <li>A drug check shall be done weekly to ensure that the medication has not been tampered with or has become outdated or missing and a drug log that reflects this check shall be signed and dated by 2 separate individuals who performed the check (See
          CCEMS narcotic log for example).</li>
        <li>Any drug that has reached its expiration date shall be removed from service and wasted with 2 Advanced EMT’s being in attendance and the waste shall be documented on the narcotic log including the date, amount wasted and the reason.</li>
        <li>This log shall be made available to the off-line medical control physician or his designee upon request and at least yearly during the QRU BEMS inspection to verify compliance.</li>
        <li>Failure to adequately record or produce records shall result in the right to administer the drug being forfeit pending an investigation by the off-line medical control physician or his designee.</li>
        <li>Only the minimum required amount of medication as set forth by the Bureau of EMS required minimum drug list shall be carried on the QRU unit.</li>
        <li>In the event the drug (Nubain) is missing, altered or unaccounted for during a check any remaining drug shall be pulled from service. The unit leader shall be notified immediately of the problem. Law enforcement shall also be immediately notified
          of any missing drug or altered packaging. The off-line medical control physician shall be notified as soon as possible and a report of the incident shall be written. This report shall include statements from all involved parties and facts surrounding
          the incident. This shall be given to the off-line medical control physician for review and actions.</li>
        <li>Each unit shall agree to provide regular training on the appropriate use of this drug as per the protocol.</li>
      </ol>
    </div>
    <div id="protocol906Nubian-markdown1714" class="show-list-numbers-and-dots"></div>
    <div id="protocol906Nubian-markdown1715" class="show-list-numbers-and-dots"></div>
    <div id="protocol906Nubian-markdown1716" class="show-list-numbers-and-dots"></div>
    <div id="protocol906Nubian-markdown1717" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol906Nubian-markdown1720" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol906Nubian-heading746" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol906Nubian-markdown1723" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>