<ion-view title="Protocol 803 - Restraints (Physical) - Violent Patient / Chemical Sedation" id="page123">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-heading707" style="color:#000000;text-align:center;">Restraints (Physical) - Violent Patient / Chemical Sedation</h3>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-container80">
      <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1560" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1561" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1562" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>INDICATIONS:</strong>
      </p>

      <ol>
        <li>A patient who needs to be transported for medical care, who is refusing transport or care and who is incompetent to refuse as determined by law enforcement, on-line medical control, or a Licensed Mental Health Professional.</li>
        <li>A person who appears to be mentally ill and who, as a result of such mental illness appears to be an imminent danger to others, to himself or to be gravely disabled and as a result is unable to give informed consent for treatment.</li>
        <li>A medical patient who has an altered Level of Consciousness and is acting in a way that is preventing therapeutic treatments from being carried out or is interrupting them and due to the Nature of Illness or Mechanism of Injury, is unable to give
          informed consent.</li>
      </ol>
    </div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1563" class="show-list-numbers-and-dots"></div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1569" class="show-list-numbers-and-dots"></div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1598" class="show-list-numbers-and-dots"></div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1599" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1605" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PRECAUTIONS:</strong>
      </p>

      <ol>
        <li>Do not attempt to restrain patient without adequate assistance.</li>
        <li>Physical restraints are a last resort. All possible means of verbal persuasion should be attempted first.</li>
        <li>A patient who is alert, oriented, aware of his condition and capable of understanding the consequences of his refusal is entitled to refuse treatment. </li>
        <li>They may not be restrained and treated against their will.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1606" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TRANSPORT:</strong>
      </p>

      <ol>
        <li>If the patient refuses transport for an evaluation, advise law enforcement of your assessment and rational for an involuntary commitment. </li>
        <li>Determine if law enforcement is willing to fill out or agrees to fill out a “PINK SHEET” for involuntary commitment</li>
        <li>If Law enforcement is not available or declines to take the person into protective custody on scene, contact On-Line Medical Control and report all findings, assessment, observations, and vital signs directly to the physician. The physician then
          can make the decision to have EMS take the patient into protective custody. On arrival at the receiving facility have the Physician fill out a “BLUE SHEET” and attach a copy to the PCR report.</li>
        <li>If Law Enforcement declines to take the patient into Protective Custody and the OLMC Physician decides there is insufficient reason to “Blue Sheet”, the patient shall be released on scene with instructions to access EMS if conditions change.</li>
        <li>Ensure transport in a way that protects the patient and EMS providers.</li>
        <li>Law enforcement shall accompany patient to the hospital if possible.</li>
        <li>Minimum of 2 EMS providers shall be in the patient compartments of the ambulance during transport.</li>
        <li>If restraints are necessary chemical or physical refer to appropriate policy</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1607" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PROCEDURE/TECHNIQUE:</strong>
      </p>

      <ol>
        <li>Only restraints approved by the CCEMS Service Area Directors and approved by the Off-line Medical Control Physician such as quick release soft restrains and the gurney safety buckle may be used to restrain a patient and such restraints must be
          able to be released immediately in the event of an emergency.</li>
        <li>Makeshift restrains will not be allowed such as kerlix, coban, rope, tape or any other device not approved by the CCEMS Service Area Directors and the Off-line Medical Control Physician.</li>
        <li>Handcuffs are only to be allowed if the patient is in custody of Law Enforcement and in such case an officer
          <strong>must accompany</strong> the patient in the ambulance. </li>
        <li>Documentation of neurovascular state shall be done immediately after a restraint is placed, at least every 10 minutes during transport and upon arrival at the receiving facility. This documentation should include:
          <ol>
            <li>Distal circulation-capillary refill time (&lt;3 seconds).</li>
            <li>Skin under restraints</li>
            <li>Edema Formation</li>
            <li>Patient Comfort and Condition</li>
          </ol>
        </li>
        <li>If a patient is already in a restraint (police placed handcuffs) immediately document the neurovascular condition.</li>
        <li>Assess patients’ needs for restraints</li>
        <li>Attempt verbal control</li>
        <li>Obtain adequate manpower for assistance - assign at least one person to each limb</li>
        <li>Explain the procedure and need to restrain the patient, family, and significant others</li>
        <li>Place Restraints so patient cannot remove them</li>
        <li>Maintaining proper body alignment and positioning of extremities</li>
        <li>Attach restraints to an immobile part of the stretcher or scoop</li>
        <li>Allow proper circulation to extremities and comfort to patient</li>
        <li>Pad restraints as necessary</li>
        <li>Once in restraints, do not leave the patient at any time</li>
        <li>Remove restraints only with sufficient personnel available to control patient, generally only in the hospital</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1608" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>COMPLICATIONS:</strong>
      </p>

      <ol>
        <li>Radial nerve palsy (sensory loss in hand) can result from pinching of the nerve in handcuffs or other hand restraints over the wrist prominence. Avoid if possible.</li>
        <li>Aspiration can occur if patient is restrained on his back and cannot protect his own airway. Avoid if possible, </li>
        <li>NEVER leave the patient unattended.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1609" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TRANSPORT CONSIDERATIONS:</strong>
      </p>

      <ol>
        <li>Use with caution for patient with extremity injuries</li>
        <li>Written reports must document the necessity of the use of physical restraints.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1600" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1601" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT / PARAMEDIC</strong>
      </p>

      <ol>
        <li>Consider chemical restraint for the control of a combative, aggressive, or out of control patient in order to prevent harm to the patient or the rescuers and to allow the delivery of further medical care and assistance.
          <strong>CONTACT MEDICAL CONTROL PRIOR TO ADMINISTRATION.</strong>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1602" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1603" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option-MUST CONTACT PRIOR TO ADMINISTRATION</strong>
      </p>

      <ol>
        <li>
          <strong>ADVANCED EMT/PARAMEDIC:</strong>
          <ol>
            <li>Choose
              <strong>ONE</strong> benzodiazepine,
              <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: PAIN CONTROL/ NAUSEA/ VOMITING/ANXIETY</a> for treatment and maximize dosing.</li>
            <li>Contact OLMC before changing to a different medication.</li>
          </ol>
        </li>
        <li>
          <strong>PARAMEDIC ONLY:</strong>
          a. ADULT:
          <strong>
            <a href="#/Tabs_Controller/Protocol_1013">Haldol</a> 5-10mg</strong> IM or
          <strong>2-5 mg</strong> IV.</li>
        <li>
          <strong>PEDIATRIC:
            <a href="#/Tabs_Controller/Protocol_1013">Haldol</a>
          </strong>
          <ol>
            <li>6-12 years old: 1-3 mg/dose IM</li>
            <li>12 years and older: 5-10mg IM or 2-5 mg IV/IO</li>
            <li>&lt;6 years old –
              <strong>NOT RECOMMENDED.</strong>
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <h5 id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-heading709" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol803RestraintsPhysicalViolentPatientChemicalSedation-markdown1604" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">April 2017 (Revised)</p>
    </div>
  </ion-content>
</ion-view>