<ion-view title="Protocol 309 - Syncope" id="page62">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol309Syncope-heading319" style="color:#000000;text-align:center;">SYNCOPE</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol309Syncope-container20">
      <div id="protocol309Syncope-markdown577" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol309Syncope-markdown578" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Any patient, with transient loss (or near loss) of consciousness.</p>
    </div>
    <h4 id="protocol309Syncope-heading320" style="color:#000000;">EXCLUSIONS</h4>
    <div id="protocol309Syncope-markdown579" class="show-list-numbers-and-dots">
      <ol>
        <li>Altered mental status--use
          <a href="#/Tabs_Controller/tab1/Protocol_306">Protocol 306: Altered Level of Consciousness</a>
        </li>
        <li>Criteria for other specific Protocol,such as shock, arrythmia or head trauma.</li>
      </ol>
    </div>
    <div id="protocol309Syncope-markdown580" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol309Syncope-markdown581" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol309Syncope-heading321" style="color:#000000;">EMT</h4>
    <div id="protocol309Syncope-markdown593" class="show-list-numbers-and-dots">
      <ol>
        <li>PROTECT the patient from physical harm and embarrassment.</li>
        <li>ASSESS LEVEL OF CONSCIOUSNESS and maintain AIRWAY as indicated.</li>
        <li>Place patient in left lateral recumbent position to prevent aspiration unless MOIindicates possibility of spinal injury then immobilize appropriately.</li>
        <li>SUCTION as necessary.</li>
        <li>OXYGEN via
          <strong>NC 4-6 L</strong> or face mask at 15L as needed to maintain pulse ox &gt;94%</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol309Syncope-markdown583" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol309Syncope-heading322" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol309Syncope-markdown584" class="show-list-numbers-and-dots">
      <ol>
        <li>APPLY ECG MONITOR - obtain 12 Lead and transmit for evaluation.</li>
        <li>SALINE IV @ TKO rate unless hypotensive then administer bolus 250-500 mf or saline lock.</li>
        <li>CHECK GLUCOMETER READING _
          <strong>IF BEKOW 60 mg/dl</strong>, give
          <strong>
            <a href="#/Tabs_Controller/protocol_1008">Dextrose D50</a> 25 GRAMS</strong> IV PUSH. If no IV access after
          <strong>TWO</strong> attempts. consider
          <strong>
            <a href="#/Tabs_Controller/Protocol_1012">Glucagon</a> 1 mg IM.</strong>
        </li>
        <li>
          <strong>CONSULT OLMC</strong>.</li>
        <li>TRANSPORT. Monitor ECG, vitals and neurological status.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol309Syncope-markdown585" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol309Syncope-heading323" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol309Syncope-markdown586" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>ASSIST VENTILATION</strong>
        </li>
        <li>Insert Advanced airway as applicable.</li>
        <li>Look for underlying causes, hypovolemia, dysrhythmia, toxic ingestion, neurological crisis.</li>
      </ol>
    </div>
    <div id="protocol309Syncope-markdown587" class="show-list-numbers-and-dots"></div>
    <div id="protocol309Syncope-markdown588" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol309Syncope-markdown589" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h5 id="protocol309Syncope-heading324" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol309Syncope-markdown592" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>