<ion-view title="Protocol 1010 - Sodium Bicarbonate" id="page37">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1010SodiumBicarbonate-heading127" style="color:#000000;text-align:center;">Sodium Bicarbonate</h1>
    <h5 id="protocol1010SodiumBicarbonate-heading128" style="color:#000000;text-align:center;">Approved for Advanced CCEMS units only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1010SodiumBicarbonate-heading129" style="color:#000000;text-align:center;">Protocol 1010</h3>
    <div id="protocol1010SodiumBicarbonate-markdown251" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1010SodiumBicarbonate-markdown264" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_102">102</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_103">103</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_508">508</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_511">511</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_707">707</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_717">717</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_724">724</a>. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1010SodiumBicarbonate-heading130" style="color:#000000;text-align:center;">Class: Alkalinizing Agent</h4>
    <ion-list id="protocol1010SodiumBicarbonate-list112">
      <div class="item item-body" id="protocol1010SodiumBicarbonate-list-item-container56">
        <div id="protocol1010SodiumBicarbonate-markdown265" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Neutralizes excess acids.
            <br>
            <strong>2.</strong> Promotes TCA excretion by alkalinizing urine.
            <br> </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1010SodiumBicarbonate-list127">
      <div class="item item-body" id="protocol1010SodiumBicarbonate-list-item-container63">
        <div id="protocol1010SodiumBicarbonate-markdown268" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Prolonged CPR after ventilation, Defibrillation,
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>, and
            <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> or
            <a href="#/Tabs_Controller/Protocol_1003">Amiodarone</a>.
            <br>
            <strong>2.</strong> Tricyclic Antidepressant Overdose.
            <br>
            <strong>3.</strong> Known Hyperkalemia (Severe DKA). </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1010SodiumBicarbonate-list128">
      <div class="item item-body" id="protocol1010SodiumBicarbonate-list-item-container64">
        <div id="protocol1010SodiumBicarbonate-markdown280" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Respiratory Acidosis</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1010SodiumBicarbonate-list129">
      <div class="item item-body" id="protocol1010SodiumBicarbonate-list-item-container65">
        <div id="protocol1010SodiumBicarbonate-markdown281" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Metabolic Alkalosis if given in large doses. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1010SodiumBicarbonate-heading131" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <h4 id="protocol1010SodiumBicarbonate-heading138" style="color:#000000;text-align:center;">Contact Medical Control Prior to Administration</h4>
    <div class="spacer" style="height: 22px;"></div>
    <h4 id="protocol1010SodiumBicarbonate-heading132" style="color:#000000;">Adult Dose:</h4>
    <ion-list id="protocol1010SodiumBicarbonate-list130">
      <div class="item item-body" id="protocol1010SodiumBicarbonate-list-item-container66"></div>
    </ion-list>
    <div id="protocol1010SodiumBicarbonate-markdown282" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Cardiac Arrest: 1 mEq/kg IV/IO</strong>
      </p>

      <p style="color:#000000;">
        <strong>1.</strong> Use early if pre-existing metabolic acidosis, hyperkalemia, tricyclic antidepressant OD.
        <br>
        <strong>2.</strong> Prolonged resuscitation if ventilation is adequate.
        <br>
        <strong>3.</strong> Return of spontaneous circulation after long period of arrest. </p>

      <p style="color:#000000;">
        <strong>Toxic Ingestion: 1 mEq/kg Slow IV Push</strong>
        <br>
        <strong>1.</strong>IV/IO push for tricyclic antidepressant overdose with sustained HR &gt;120 bpm and QRS &gt;0.1 seconds.
        <br>
        <strong>2.</strong>Hypotension unresponsive to fluids.
        <br>
        <strong>3.</strong> Ventricular Dysrhythmias. </p>

      <p style="color:#000000;">
        <strong>High Voltage Electrical Injury or Direct Lightning Strike with Significant Tissue Destruction</strong>
        <br>
        <strong>1.</strong> Sodium Bicarbonate 1mEq/kg (Maximum of 100 mEq) in 1000mL NS open wide.</p>

      <p style="color:#000000;">
        <strong>Crush Injuries: Must Contact OLMC prior to administration</strong>
        <br>
        <strong>1.</strong> Constant crush injuries greater than 30 minutes duration and if the patient develops cardiac arrythmias or a prolonged QRS &gt;100mS:
        <br>Adminster Sodium Bicarbonate 1mEq/kg (maximum of 100 mEq) IV push prior to the beginning of infusion up to TWO additional times plus start Sodium Bicarbonate Drip 1mEq/kg (Maximum of 100mEq) in 1000mL NS and run wide open. </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <h4 id="protocol1010SodiumBicarbonate-heading133" style="color:#000000;text-align:center;">Pediatric Dose</h4>
    <ion-list id="protocol1010SodiumBicarbonate-list131">
      <div class="item item-body" id="protocol1010SodiumBicarbonate-list-item-container67">
        <div id="protocol1010SodiumBicarbonate-markdown283" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Children &gt;1 Month</strong>
            <br>
            <strong>1.</strong> Sodium Bicarbonate 1 mEq/kg of 8.4% solution </p>

          <p style="color:#000000;">
            <strong>Children &lt;1 Month</strong>
            <br>
            <strong>1.</strong> Sodium Bicarbonate 0.5 mEq of 4.2% solution </p>

          <p style="color:#000000;">
            <strong>Cardiac Arrest, Toxic Ingestion, High voltage electrical injury or direct lightning strike with significant tissue destruction, crush injuries</strong>
            <br>
            <strong>1. Not a first line drug. Contact OLMC for permission.</strong>
            <br>
            <strong>2.</strong> Same indications as adult. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1010SodiumBicarbonate-list133">
      <div class="item item-body" id="protocol1010SodiumBicarbonate-list-item-container69">
        <div id="protocol1010SodiumBicarbonate-markdown285" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONSIDERATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> FLUSH LINE WELL AFTER USE. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1010SodiumBicarbonate-markdown287" class="show-list-numbers-and-dots"></div>
    <div id="protocol1010SodiumBicarbonate-button-bar3" class="button-bar"></div>
    <div id="protocol1010SodiumBicarbonate-button-bar4" class="button-bar"></div>
    <h5 id="protocol1010SodiumBicarbonate-heading136" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1010SodiumBicarbonate-heading137" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>