<ion-view title="Protocol 1015 - Lidocaine" id="page42">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1015Lidocaine-heading173" style="color:#000000;text-align:center;">Lidocaine</h1>
    <h5 id="protocol1015Lidocaine-heading174" style="color:#000000;text-align:center;">Approved for Advanced CCEMS Units Only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1015Lidocaine-heading175" style="color:#000000;text-align:center;">Protocol 1015</h3>
    <div id="protocol1015Lidocaine-markdown329" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1015Lidocaine-markdown330" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_102">102</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_202">202</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_300">300</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_401">401</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_502">502</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_505">505</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_710">710</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_711">711</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_718">718</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1015Lidocaine-heading176" style="color:#000000;text-align:center;">Class: Hormone - Antiarrhythmic</h4>
    <ion-list id="protocol1015Lidocaine-list159">
      <div class="item item-body" id="protocol1015Lidocaine-list-item-container95">
        <div id="protocol1015Lidocaine-markdown331" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Supresses ventricular ectopic activity by decreasing excitability of the myocardium.
            <br>
            <strong>2.</strong> Increases Fibrillation threshold.
            <br>
            <strong>3.</strong> Can prevent recurrence of V-fib/V-tach in converted patients.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1015Lidocaine-list160">
      <div class="item item-body" id="protocol1015Lidocaine-list-item-container96">
        <div id="protocol1015Lidocaine-markdown332" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>POSSIBLE INDICATIONS PENDING MEDICAL CONTROL APPROVAL</strong>
            <br>
            <strong>1.</strong> Ventricular Tachycardia.
            <br>
            <strong>2.</strong> Ventricular Fibrillation.
            <br>
            <strong>3.</strong> Wide complex tachyarrhythmia of uncertain cause. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1015Lidocaine-list161">
      <div class="item item-body" id="protocol1015Lidocaine-list-item-container97">
        <div id="protocol1015Lidocaine-markdown333" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Allergy to Lidocaine or Novacaine.
            <br>
            <strong>2.</strong> Heart rate &lt;60.
            <br>
            <strong>3.</strong> 2nd or 3rd Degree Heart Block.
            <br>
            <strong>4.</strong> PEA or Asystole.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1015Lidocaine-list162">
      <div class="item item-body" id="protocol1015Lidocaine-list-item-container98">
        <div id="protocol1015Lidocaine-markdown334" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Hypotension.
            <br>
            <strong>2.</strong> Bradycardia.
            <br>
            <strong>3.</strong> High doses may cause seizures. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1015Lidocaine-heading177" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1015Lidocaine-markdown335" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Adult Dose IV/IO:</strong>
        <br>
        <strong>1. Refractory VFIB/VTACH:</strong> 1mg/kg IV/IO Every 3-5 minutes to Max 3mg/kg.
        <br>
        <strong>2. VTach with Pulse:</strong> 1mg/kg IV/IO every 3-5-10 minutes to Max 3mg/kg.
        <br>
        <strong>3. Criteria PVC's (Suspected Acute Coronary Syndrome with &gt;6 PVC's per minute, couplets, runs of VTACH, multifocal PVC's):</strong> 1mg/kg IV
        <br>
        <strong>4.</strong> Initial bolus should be followed with Lidocaine 0.5mg/kg doses every 10 minutes to a total dose of 3mg/kg. </p>

      <p style="color:#000000;">
        <strong>Pediatric Dose IV/IO:</strong>
        <br>
        <strong>1.VFIB or VTACH WITHOUT a pulse:</strong> 1mg/kg IV or IO Every 3-5 inutes to MAX 3mg/kg.
        <br>
        <strong>2. VTACH with a Pulse:</strong> 1mg/kg IV/IO every 3-5 minutes to max 3mg/kg. </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <h4 id="protocol1015Lidocaine-heading180" style="color:#000000;text-align:center;">Bronchospasm/Wheezing: Contact OLMC prior to administration</h4>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1015Lidocaine-list163">
      <div class="item item-body" id="protocol1015Lidocaine-list-item-container99">
        <div id="protocol1015Lidocaine-markdown336" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>1. Lidocaine 2% 40-60mg (2-3 mL) added to
              <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a>
            </strong> for adult patients with "cough variant asthma" which is severe coughing which inhibits respiratory function (with or without audible wheezes). </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h4 id="protocol1015Lidocaine-heading181" style="color:#000000;text-align:center;">ADJUNCT TO INTUBATION WITH CLOSED HEAD INJURY</h4>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1015Lidocaine-list165">
      <div class="item item-body" id="protocol1015Lidocaine-list-item-container100">
        <div id="protocol1015Lidocaine-markdown338" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>1. Lidocaine 1mg/kg</strong> IV/IO 60-90 seconds prior to intubation (if IV access readily available). </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h4 id="protocol1015Lidocaine-heading182" style="color:#000000;text-align:center;">ADJUNCT TO INFUSION IN A COINSCIOUS PATIENT</h4>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1015Lidocaine-list166">
      <div class="item item-body" id="protocol1015Lidocaine-list-item-container102">
        <div id="protocol1015Lidocaine-markdown341" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Prior to running fluids administer 40mg (2mL) of 2% Lidocaine thru the IO and flush with 10mL of NS, wait 15 seconds and administer IV fluid</strong>
          </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1015Lidocaine-list164">
      <div class="item item-body" id="protocol1015Lidocaine-list-item-container101">
        <div id="protocol1015Lidocaine-markdown339" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Considerations</strong>
            <br>
            <strong>1.</strong> If Lidocaine is the first drug used then all repeat doses shall be with Lidocaine.
            <strong>Never alternate between Lidocaine and
              <a href="#/Tabs_Controller/Protocol_1003">Amiodarone</a>
            </strong>.
            <br>
            <strong>2.</strong> In cardiac arrest elevate arm and flush after each dose.
            <br>
            <strong>3.</strong> Obtain 12 lead ECG - continuous cardiac monitoring.
            <br>
            <strong>4.</strong>After successful conversion of cardiac arrest due to VFIB/VTACH, a Lidocaine drip may be started (use Dial-A-Flow to regulate drip), an initial bolus should be given prior to starting a drip. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <div>



      <style>
        table, th, td {
            border: 2px solid black;
        }
      </style>


      <table align="center" style="width:60%">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>gtt/min</td>
            <td>mg/min</td>
          </tr>
          <tr>
            <td>15gtt</td>
            <td>1mg</td>
          </tr>
          <tr>
            <td>30gtt</td>
            <td>2mg</td>
          </tr>
          <tr>
            <td>45gtt</td>
            <td>3mg</td>
          </tr>
          <tr>
            <td>60gtt</td>
            <td>4mg</td>
          </tr>
        </tbody>
      </table>





    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1015Lidocaine-markdown337" class="show-list-numbers-and-dots"></div>
    <div id="protocol1015Lidocaine-button-bar13" class="button-bar"></div>
    <div id="protocol1015Lidocaine-button-bar14" class="button-bar"></div>
    <h5 id="protocol1015Lidocaine-heading178" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1015Lidocaine-heading179" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>