<ion-view title="Protocol 700 - Pediatric Assessment" id="page103">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol700PediatricAssessment-heading508" style="color:#000000;text-align:center;">PEDIATRIC ASSESSMENT</h3>
    <div id="protocol700PediatricAssessment-container60">
      <div id="protocol700PediatricAssessment-markdown1155" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol700PediatricAssessment-markdown1159" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol700PediatricAssessment-heading599" style="color:#000000;">All Providers</h4>
    <div id="protocol700PediatricAssessment-markdown1204" class="show-list-numbers-and-dots">
      <ol>
        <li>The pediatric assessment should be modified for the developmental level of each patient.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>
          <strong>Treatment Plan</strong> (develop and implement plan based on assessment findings, resources, and training).</li>
        <li>
          <strong>Use the Pediatric Assessment Triangle (defined by the AAP) to form a general impression of the child</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div id="protocol700PediatricAssessment-markdown1893" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div>
      <img src="img/z0GY0GQgWDeo6SFc80sA_pedassessmenttriangle.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="protocol700PediatricAssessment-markdown1899" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div id="protocol700PediatricAssessment-markdown1269" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>Appearance</strong>: Evaluate tone, interactiveness, consolability, gaze, and speech or cry.</li>
        <li>
          <strong>Breathing</strong>: Evaluate abnormal airway sounds, abnormal positioning, retractions, and nasal flaring.</li>
        <li>
          <strong>Circulation/Skin Color</strong>: Evaluate for pallor, mottling, and cyanosis.
          <br>a.
          <strong>If the patient looks ill, start CPR when the heart rate is less than</strong>:
          <br>i. 80 bpm for infants (up to 1 year of age).
          <br>ii. 60 bpm for chldren (1 year to 8 years).
          <br>b. Look on scene for a
          <strong>CHIRP</strong> red bag. It contains current medical information on the child with
          <strong>special healthcare needs</strong>
          <a href="#/Tabs_Controller/tab1/Protocol_727">Protocol 727: Pediatric Special Heath Care Needs</a>.
          <br>c. Perform the pediatric assessment with guidance from
          <a href="#/Tabs_Controller/tab1/Protocol_913">Protocol 913: Family Centered Care</a>.
          <br>d. Pay careful attention to the wide variety of normal vital signs. Do not assume that the pediatric patient is fine when they have vitals meeting the normal adult parameters.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div>
      <img src="img/DN086ukSka2XXd15DRMw_ScreenShot2018-04-01at7.53.52PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol700PediatricAssessment-markdown1270" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol700PediatricAssessment-markdown1271" class="show-list-numbers-and-dots"></div>
    <div id="protocol700PediatricAssessment-markdown1272" class="show-list-numbers-and-dots"></div>
    <div id="protocol700PediatricAssessment-markdown1276" class="show-list-numbers-and-dots"></div>
    <div id="protocol700PediatricAssessment-markdown1277" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol700PediatricAssessment-heading610" style="color:#000000;">Key Considerations:</h4>
    <div id="protocol700PediatricAssessment-markdown1278" class="show-list-numbers-and-dots">
      <ol>
        <li>Obtaining a full set of vital signs
          <strong>including</strong> blood pressures should be a priority.</li>
        <li>Parents are often the best resource for a baseline understanding of their child, especially in the case of the child with special healthcare needs.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol700PediatricAssessment-markdown1279" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol700PediatricAssessment-heading611" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol700PediatricAssessment-markdown1282" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>