<ion-view title="Protocol 501 - Major Or Multi-System Trauma" id="page79">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol501MajorOrMultiSystemTrauma-heading414" style="color:#000000;text-align:center;">MAJOR OR MULTI-SYSTEM TRAUMA</h3>
    <div id="protocol501MajorOrMultiSystemTrauma-container37">
      <div id="protocol501MajorOrMultiSystemTrauma-markdown785" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown789" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol501MajorOrMultiSystemTrauma-heading434" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown790" class="show-list-numbers-and-dots">
      <ol>
        <li>All patients who meet trauma triage guidelines listed in introduction on Series 500 Protocols.</li>
        <li>Early notification allows the receiving physician to activate the receiving hospital's trauma alert system.</li>
        <li>providers should describe vitals signs including GCS, injuries, mechanism of injury and any complicating factors that will affect treatment so that the hospital may activate the appropriate level of trauma response.</li>
        <li>Follow current CCEMS destination Protocol when determining hospital destination.</li>
        <li>Providers may provide treatment up to the level of their certification only.</li>
        <li>Air Medical Transport Service personnel function uner their own clinical guidelines.</li>
        <li>Contact your receiving hospitals and OLMC as soon as clinically possible for each patient.</li>
        <li>OLMC with a physician may change your treatment plan.</li>
        <li>Any variations to a guideline by the OLMC physician should be clarified to insure that the provider has properly characterized the situation.</li>
        <li>The OLMC Physician has the final word on treatment once contact is made.</li>
        <li>The OLMC Physician must approve usage of dosages in excess of the guidelines.</li>
      </ol>
    </div>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown814" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown817" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol501MajorOrMultiSystemTrauma-heading478" style="color:#000000;">EXCLUSION</h4>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown1007" class="show-list-numbers-and-dots">
      <ul>
        <li>CARDIAC ARREST -- Use Traumatic Cardiac Arrest.
          <a href="#/Tabs_Controller/tab1/Protocol_104">Protocol 104: TRAUMATIC CARDIAC ARREST</a>.</li>
      </ul>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown1008" class="show-list-numbers-and-dots"></div>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown1009" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol501MajorOrMultiSystemTrauma-heading477" style="color:#000000;">TIME</h4>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown1039" class="show-list-numbers-and-dots">
      <ul>
        <li>
          <strong>10 minute on-scene time maximum, unless extrication or other extenuating circumstances are present. Document such findings in the patient care report.</strong>
        </li>
      </ul>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown1040" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div>
      <img src="img/0Sy4rx2rR0aWAoZTtFFz_Trauma501.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown1041" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol501MajorOrMultiSystemTrauma-heading439" style="color:#000000;">EMT</h4>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown818" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure SAFETY of personnel at scene.</li>
        <li>Focused history and physical exam.</li>
        <li>Assess ABC's for evidence of apnea, airway compromise or difficulty in ventilatory effort.</li>
        <li>Assess medical conditions, burns or traumatic injuries that have the potential to compromise the airway.</li>
        <li>Blood glucose, Oxygen and Temperature assessment.</li>
        <li>Evaluate the mechanism of injury.</li>
        <li>Assess exposure to drugs, alcohol or other toxins including environmental toxins.</li>
        <li>Assess environment, location of patient, and need for extrication.</li>
        <li>PRIMARY TRUAMA SURVEY - Treat critical conditions:
          <br>a.
          <strong>AIRWAY</strong>: Control AIRWAY with cervical spine precautions. If required, use manual maneuvers (Jaw thrust) with bag/mask breathing Provide basi airway maneuvers to all compromised airways, i.e. oxygen, jaw-thrust, and postiioning.
          <br>b.
          <strong>BREATHING</strong>: Administer supplemental OGYGEN at 15L/min by non-rebreather mask. ASSIST VENTILATION as required. In general, maintain an oxygen saturation 90-94% Ventilate with BVM when apneic or exhibiting respiratory distress. Consider
          a nasal or oral airway.
          <br>c.
          <strong>CIRCULATION</strong>: Assess for deformity, swelling, tenderess, crepitus, open or closed gractures, hemorrhaging, lacerations, ecchymosis, instability, decreased function or pulses, loss of sensation of distal extremities.</li>
        <li>Bleeding from the nose (epistaxis) should be controlled by first having the patient sit and lean forward (unless there is a need for spinal motion restriction). Apply direct pressure by pinching the fleshy portion of the nostrils.</li>
        <li>Cover lacerations or puncture wounds on the neck near the great vessels or trachea with an occlusive dressing.</li>
        <li>Cover abdominal eviscerations with a moist sterile dressing.
          <br>a. Do not attempt to replace organs.</li>
        <li>Cover extruded eye or deflated globe with a moist sterile dressing and protective covering.
          <br>a. Do not apply pressure or attempt to replace in socket.
          <br>b. cover both eyes.</li>
        <li>In large, partially attached avulsions, the tissue should be returned to its baseline position and stabilized whenever possible.</li>
        <li>Elevate the limb such that the wound is above the heart.</li>
        <li>Impaled objects should be stabilized in place and covered with dry sterile dresssings. The exceptions would be:
          <br>a. Objects through the cheek where there is the possibility of airway compromise.
          <br>b. Objects that would interfere with chest compressions.
          <br>c. Sharp objects may need to be removed if their presence is causing ongoing injury, compromise, or inhibiting CPR.
          <br>d. Tourniquets should be used to control hemorrhage not controlled with direct pressure
          <a href="#/Tabs_Controller/tab1/Protocol_512">Protocol 512: EMS Tourniquet</a>
        </li>
        <li>IMMOBILIZE patient to long spine board with rigid cervical collar and head immobilizer.</li>
      </ol>
    </div>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown819" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown820" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown821" class="show-list-numbers-and-dots"></div>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown822" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol501MajorOrMultiSystemTrauma-heading440" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown825" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete. </li>
        <li>INITIATE RAPID TRANSPORTATION IF "LOAD &amp; GO" SITUATION EXISTS:
          <br>a. Unrelieved airway obstruction
          <br>b. Major chest injury or respirtatiory distress.
          <br>c. Shock.
          <br>d. Decreased level of consciousness.
          <br>e. Cardiac or respiratory arrest.</li>
        <li>NOTIFY MEDICAL CONTROL.</li>
        <li>SECONDARY SURVEY (Preform enroute if "load &amp; go" situation presents.)</li>
        <li>IV LARGE BORE NS two lines if possible. Run wide open under pressure of 1L if symptomatic tachyardia or signs of poor perfusion, then reassess. Pressure infuse NS if patient is hypotensive (systolic &lt;90 mmHg), and contact OLMC for additional
          fluid thearapy instructions.</li>
        <li>If no signs of poor perfusion, no tachycardia and nohypotension give 250cc bolus then run IV at KVO.</li>
        <li>Use of ANALGESIA when appropriate per
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>.</li>
        <li>RE-EVALUATE patient ever 3-5 minutes enroute and update Control prior to arrival.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown826" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol501MajorOrMultiSystemTrauma-heading444" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown873" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete. </li>
        <li>INTUBATION - Consider orotracheal intubation using an endotracheal tube when indicated,</li>
        <li>Document
          <strong>TWO</strong> confirmation methods to very endotracheal placement of ET tube (e.g. EtCO2, CO2 etection Device or Esophageal Intubation Detector).</li>
        <li>Consider sedation after intubation (benzodiazephine)</li>
        <li>After
          <strong>TWO</strong> unsuccessful attempts to endotracheal intubation use a supraglottic airway device or BVM with appropriate oral/nasal airway.</li>
        <li>
          <strong>Surgical Airway - Cricothyrotomy</strong> - Consider only when all other methods of oxygenation, ventilation and securing the airway have failed - Use CCEMS approved kit.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown869" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol501MajorOrMultiSystemTrauma-heading443" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol501MajorOrMultiSystemTrauma-markdown870" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>