<ion-view title="Protocol 709 - Pediatric Bradyarrhythmias" id="page112">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol709PediatricBradyarrhythmias-heading668" style="color:#000000;text-align:center;">PEDIATRIC BRADYARRYTHMIAS</h3>
    <div id="protocol709PediatricBradyarrhythmias-container69">
      <div id="protocol709PediatricBradyarrhythmias-markdown1425" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol709PediatricBradyarrhythmias-markdown1426" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol709PediatricBradyarrhythmias-heading669" style="color:#000000;">NOTE:</h4>
    <div id="protocol709PediatricBradyarrhythmias-markdown1427" class="show-list-numbers-and-dots">
      <ol>
        <li>For all arrhythmias begin with the following
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_708">Protocol 708: Pediatric Cardiac Arrythmias</a>
          </strong>.</li>
        <li>Follow current ACLS and PALS guidelines as needed.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol709PediatricBradyarrhythmias-heading675" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol709PediatricBradyarrhythmias-markdown1442" class="show-list-numbers-and-dots">
      <ol>
        <li>Assess for signs or symptoms of hypo-perfusion:
          <br>a. Heart rate &lt;60.
          <br>b. Capillary refill &gt; 2 seconds.
          <br>c. Absent or weak peripheral pulses.
          <br>d. Cool, cold, cyanotic extermities.
          <br>e. Poor muscle tone.
          <br>f. Altered level of consciousness (lethargy or failure to recognize parents).
          <br>g. Hypotension</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol709PediatricBradyarrhythmias-markdown1428" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol709PediatricBradyarrhythmias-markdown1429" class="show-list-numbers-and-dots"></div>
    <div id="protocol709PediatricBradyarrhythmias-markdown1430" class="show-list-numbers-and-dots"></div>
    <div id="protocol709PediatricBradyarrhythmias-markdown1431" class="show-list-numbers-and-dots"></div>
    <div id="protocol709PediatricBradyarrhythmias-markdown1432" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol709PediatricBradyarrhythmias-heading671" style="color:#000000;">EMT</h4>
    <div id="protocol709PediatricBradyarrhythmias-markdown1433" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Assess for signs of poor perfusion, hypotension altered mental staus, signs of shock, cheast pain, or accute heart failure.</li>
        <li>Obtain a blood glucose level.</li>
        <li>Maintain airway; assist with breathing as necessary, provide oxygen.</li>
        <li>Aggressive oxygenation with high flow oxygen and assisted ventilation with a BVM as indicated.</li>
        <li>Begin chest compressions if persistent heart rate &lt;60/min and signs of poor perfusion following affressive oxygenation and ventilation.</li>
        <li>Ensure patient is warm.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol709PediatricBradyarrhythmias-markdown1434" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol709PediatricBradyarrhythmias-heading672" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol709PediatricBradyarrhythmias-markdown1435" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Perform a 12 ECG and transmit to receiving hospital if possible.</li>
        <li>Only treat bradycardia if the patient is symptomatic (hypotension, altered mental status, chest pain).</li>
        <li>Attempt to identify and treat the underlying cause of bradycardia:
          <br>a.
          <strong>H's</strong> - Hypovolemia, Hypoxia, Hydrogen ion (Acidosis), Hyper/hypokalemia, Hypothermia, Hypoglycemia.
          <br>b.
          <strong>T's</strong> - Toxins (overdose), Tamponade (Cardiac), Tension Pneumothorax, Thrombosis (ACS or Pulmonary), Trauma.</li>
        <li>Establish vascular assess if able.</li>
        <li>Initiate transport.</li>
        <li>IV NS @ TKO rate-if hypotensive
          <strong>20 ml/kg</strong> may repeate as needed every 5 minutes up to 60 ml/kg.</li>
        <li>
          <strong>Contact Medical Control for Medication Order</strong>:
          <br>a.
          <strong>
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>: 0.01 mg/kg = 0.1 ml/kg (0.1 mL/kg of 1:10,000)</strong> IV/IO
          <br>b. Repeat every 3-5 minutes until pulse or BP improved.</li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1005">Atropine</a> 0.02 mg/kg</strong> IV/IO
          <br>a. Minimum single dose of
          <strong>0.1 mg</strong>.
          <br>b. Maximum single does of
          <strong>0.5 mg</strong>.
          <br>c. Repeate
          <a href="#/Tabs_Controller/Protocol_1005">Atropine</a> every 3-5 minutes until pulse or BP improved or until
          <strong>Max. 1 mg for child and 3 mg for adolescents</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol709PediatricBradyarrhythmias-markdown1436" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol709PediatricBradyarrhythmias-heading673" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol709PediatricBradyarrhythmias-markdown1437" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>
          <strong>INTUBATION</strong> - Consider orotracheal intubation using an endotracheal tube when indicated or appropriate supraglottic airway.</li>
        <li>Document TWO confirmation methods to verify endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophageal Intubation Detector).</li>
        <li>
          <strong>No nasotracheal intubation</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol709PediatricBradyarrhythmias-markdown1438" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol709PediatricBradyarrhythmias-markdown1439" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>
          <p style="color:#000000;">
            <strong>IF BRADYCARDIA IS EVERE with SIGNS OF POOR PERFUSION</strong>:
            <br>a.
            <strong>Transcutaneous pacing (TCP)</strong> at an initial rate of 100 beats per minute if the patient does not respond to medications. </p>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Consider Sedation for TCP-post intubation:</strong>
            <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>.</p>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol709PediatricBradyarrhythmias-markdown1440" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol709PediatricBradyarrhythmias-heading674" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol709PediatricBradyarrhythmias-markdown1441" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>