<ion-view title="Protocol 602 - Full-Term-Imminent Delivery / Newborn Resuscitation" id="page94">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading501" style="color:#000000;text-align:center;">FULL-TERM-IMMINENT DELIVERY/NEWBORN RESUSCITATION</h3>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-container47">
      <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1048" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1049" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading518" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1067" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Presence of all of the following conditions: </p>

      <ol>
        <li>Gestation of 36 or more weeks. </li>
        <li>Contractions consistently less than 3 minutes apart (measure interval between start of contractions) and last at least one minute. </li>
        <li>Either crowning is present or mother feels strong urge to push (feels like she will have a bowel movement).</li>
      </ol>
    </div>
    <h4 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading521" style="color:#000000;">EXCLUSIONS:</h4>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1090" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Prolapsed cord - Malpresentation -- see
        <a href="#/Tabs_Controller/tab1/Protocol_605">Protocol 605: Mal-Presentation</a>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1059" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1050" class="show-list-numbers-and-dots"></div>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1053" class="show-list-numbers-and-dots"></div>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1054" class="show-list-numbers-and-dots"></div>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1055" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading522" style="color:#000000;">PROTOCOL - ALL</h4>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1056" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Obtain baseline OBSTETRICAL HISTORY as described in Introduction to
          <a href="#/Tabs_Controller/tab1/Protocol_600">Protocol 600: Obstetric Emergencies</a>.</li>
        <li>Place mother supine, OXYGEN by nasal cannula.</li>
        <li>If mother's "coach" or significant other is present, position he/she at mother's head.</li>
        <li>Remove pants and undergarments, place pillow under mother's buttocks or position buttocks near edge of bed to allow room for delivery.</li>
        <li>Explain delivery process to mother and assure her of your competence and readiness.</li>
        <li>Visualy EXAMINE PERINEUM for crowning, prolapsed cord, mal-presentation, bleeding (crowning can only be determined during contraaction).</li>
        <li>Coach mother to bear down durning contraction.</li>
        <li>Use one hand, covered with clean towel, to apply gentle upward pressure on posterior perineum/anus of mother. Place other hand over vagina to exert gentle downward pressure on head to avoid explosive delivery.</li>
        <li>After head delivers, it will spontaneously turn to one side. During this phase,
          <strong>USE BULB SYRINGE TO SUCTION MOUTH FIRST THEN NARES</strong>, and wipe face with towel.
          <br>a. Purpose is to clear the airway prior to the first breath.
          <br>b. Suction mouth first since suctioning the nares stimulates respiration and will cause aspiration if the mouth is not clear.</li>
        <li>Use index finger to
          <strong>CHECK FOR NUCHAL CORD</strong> (umbilical cord encircles neck). If present, gently unwrap it before fetus delivers further and attempt to slip cord over the head.</li>
        <li>If cannot unwrap, and if cord is too tight to remove, immediately clamp in two places and cut between clamps.</li>
        <li>Assist delivery of anterior shoulder by gentle downward traction on head, then posterior shoulder by elevating the head.</li>
        <li>Carefully mantain hold on infant as delivery is completed. Hold infant slightly below mother's vagina for about 20 seconds to allow full infusion of blood from placenta, then clamp and cut cord.</li>
        <li>
          <strong>Do not raise infant above level of placenta until cord clamped</strong>.</li>
        <li>If membrane is still intact as head delivers;
          <br>a. Instruct the mother to stop pushing.
          <br>b. Gently tear open membrance and immediately suction mouth, then nose.</li>
        <li>Keep newborn at level of vagina until cord is cut.</li>
        <li>Keep newborn warm and dry with vigorous stimulation.</li>
        <li>Allow infant to nurse.
          <br>a. In multiple births, do not allow babies to nurse until all have ben delivered.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1057" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading540" style="color:#000000;">PROCEDURE FOR CUTTING CORD:</h4>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1107" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Place one clamp about 6 inches from newborn and second clamp about 9 inches further away from the newborn. Use sterile scissors or scalpel to cut cord between clamps. inspect ends of cord for bleeding and apply additional clamps if needed.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1108" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading541" style="color:#000000;">STILLBORN/ABORTION:</h4>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1109" class="show-list-numbers-and-dots">
      <ol>
        <li>All products of conception should be carefully collected and transported with the mother to the hospital.</li>
        <li>Anything other than transport should be coordinated with on-line medical consultation and/or law enforcement.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1110" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading542" style="color:#000000;">CARE OF NEWBORN:</h4>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1111" class="show-list-numbers-and-dots">
      <ol>
        <li>Assure adequate respiratoy efforts -
          <strong>STIMULATE</strong> by rubbing back or tickling feet if necessary. Administer blow-by
          <strong>OXYGEN</strong>. If central cyanosis or poor respiration persists.</li>
        <li>
          <strong>SUCTION</strong> airway and assist ventilation. First few ventilations may require relatively high pressure.</li>
        <li>Gently wipe entire body
          <strong>DRY</strong> and
          <strong>WRAP</strong> in warm blankets.</li>
        <li>Position on side, head slightly down to allow drainage of secreations; allow mother to hold if possible.</li>
        <li>Assess
          <strong>APGAR</strong> (one and five minutes, of possible) and pulse oximetry.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1112" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading543" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1113" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETC02, and pulse oximetry monitoring when available.</li>
        <li>If time and personnel allow, initiate IV NS KVO.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading544" style="color:#000000;">POST-DELIVERY CARE OF MOTHER:</h4>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1114" class="show-list-numbers-and-dots">
      <ol>
        <li>Observe for massive hemorrhage.</li>
        <li>Monitor vital signs.</li>
        <li>IV NS regular drip
          <strong>250cc</strong> bolus then slow drip.</li>
        <li>If signs of hypovolemia, give IVF wide open and contact OLMC.</li>
        <li>Observe for delivery of placenta -- usually 5-10 minutes after delivery of fetus but may be 20-30 minutes.</li>
        <li>Do not delay transport while waiting for placenta to deliver.</li>
        <li>Signs of placental separation are a spontaneous lengthening of cord and small gush of blood. At the time, gentle traction can be applied to umbilical cord as placenta delivers. Place placenta in plastic bag and give to hospital personnel.</li>
        <li>
          <strong>DO NOT PULL ON CORD</strong>.</li>
        <li>Document APGAR score at 1 minute and again at 5 minutes.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 748px; height: 13px;"></div>
    <div>
      <img src="img/MfkXIqh0TGeeun5VWr8I_Apgar.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1115" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading547" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1116" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>INTUBATE if unable to adequately ventilate.</li>
        <li>Do not suction nares if meconium present. This is so trachea can be suctioned prior to first breath -- see
          <a href="#/Tabs_Controller/tab1/Protocol_606">Protocol 606: Meconium Aspiration</a>
          .</li>
      </ol>
    </div>
    <h4 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading549" style="color:#000000;">Medical Control Option - Must contact prior to administration</h4>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1127" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <a href="#/Tabs_Controller/Protocol_1021">Oxytocin (Pitocin)</a>
          <ul>
            <li>
              <strong>
                <a href="#/Tabs_Controller/Protocol_1021">Pitocin</a> IS NOT AN IV PUSH DRUG AND MUST BE GIVEN AS AN IV INFUSION</strong>. </li>
            <li>
              <strong>Intramuscularly - if IV access is unavailable - give 10 units IM</strong>. </li>
            <li>
              <strong>IV Infusion may be started if bleeding continues by adding 40 units to 1000 mL NS</strong> and titrating the infusion to decrease bleeding and patient comfort.</li>
          </ul>
        </li>
        <li>In the event of uterine inversion, make one attempt to put the uterus back into place. Using the palm of the hand, push the fundus of the inverted uterus toward the vagina. If unsuccessful, cover uterus with moistened sterile gauze.</li>
        <li>
          <strong>High- risk preterm labor when delivery is imminent, to suppress uterine contractions</strong>:
          <ul>
            <li>Rapidly infuse
              <strong>1 liter</strong> of NS. </li>
            <li>
              <strong>
                <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a> 2.5 mg</strong> via nebulization. </li>
            <li>
              <strong>
                <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a> 1 gram</strong> IV and titrate per Medical Control.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1128" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading550" style="color:#000000;">NEWBORN RESUSCITATION - ALL PROVIDERS</h4>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1129" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Glucose assessment via heel stick - Oral glucose is
          <strong>not</strong> indicated in the newborn.</li>
        <li>Continuous ECG, ETC02, and pulse oximetry monitoring when available.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading551" style="color:#000000;">Treatment Plan</h5>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1130" class="show-list-numbers-and-dots">
      <ol>
        <li>Assess if the newborn is apneic, slow to respond, has slow or gasping respirations, or persistent central cyanosis.</li>
        <li>Suction (bulb syringe) mouth-then nose.</li>
        <li>Warm and stimulate.</li>
        <li>Elavuate respirations, heart rate, and activity.</li>
        <li>If apneic or cyanotic or lethargic or HR &lt;100, Perform manual airway maneuvers and provide BVM at rate of 30-40 bpm with 100% oxygen.</li>
        <li>Assist ventilations with supplemental oxygen for at least 30 seconds.</li>
        <li>If no improvement or HR is &lt;60 bpm, begin chest compressions.</li>
        <li>Compression/ventilation ratio of 3:1 and a rate of 120 compressions per minute.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading552" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1132" class="show-list-numbers-and-dots">
      <ol>
        <li>Endotracheal intubation may be indicated when:
          <br>a. BVM has been ineffective.
          <br>b. Meconium aspiration with depressed respirations, decreased muscle tone, or heart rate &lt;100 bpm.
          <br>c. Chest compressions are performed.
          <br>d. Insert a gastric tube in all intubated patients.</li>
        <li>IV NS at a keep open (approx. 10 ml/hr) rate to avoid volume overload:
          <br>a. Only when required for fluid resuscitation or parenteral medication.
          <br>b. IO access is only indicated when life-threatening conditions are present.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading553" style="color:#000000;">NEWBORN RESUSCITATION</h4>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1133" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
          </strong>
          <br>a.
          <strong>0.01-0.03 mg/kg = 0.1-0.3 ml/kg (1:10,000)</strong> IV or IO
          <br>b. Repeat every 3-5 minutes until spontaneous heart rate remains &gt;60 bpm.</li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1018">Naloxone</a> 0.1 mg/kg</strong> repeated every 2-3 minutes as needed for babies of suspected narcotic addicted mothers.</li>
      </ol>
    </div>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1131" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol602FullTermImminentDeliveryNewbornResuscitation-heading502" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol602FullTermImminentDeliveryNewbornResuscitation-markdown1058" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>