<ion-view title="Protocol 316 - Temperature and Environmental Emergencies" id="page69">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol316TemperatureAndEnvironmentalEmergencies-heading362" style="color:#000000;text-align:center;">TEMPERATURE AND ENVIRONMENTAL EMERGENCIES</h3>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol316TemperatureAndEnvironmentalEmergencies-container27">
      <div id="protocol316TemperatureAndEnvironmentalEmergencies-markdown664" class="show-list-numbers-and-dots"></div>
    </div>
    <h4 id="protocol316TemperatureAndEnvironmentalEmergencies-heading363" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol316TemperatureAndEnvironmentalEmergencies-markdown665" class="show-list-numbers-and-dots">
      <ol>
        <li>Scene and patient management</li>
        <li>Remove patient from hot or cold environment, when possible.</li>
        <li>Focused history and physical exam.</li>
        <li>Body temperature and blood glucose assessment.</li>
        <li>Assess level of consciousness.</li>
        <li>Assess for underlying causes; medications, toxins, CNS lesions or other medical conditions.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available.</li>
      </ol>
    </div>
    <div id="protocol316TemperatureAndEnvironmentalEmergencies-markdown666" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol316TemperatureAndEnvironmentalEmergencies-markdown667" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol316TemperatureAndEnvironmentalEmergencies-heading364" style="color:#000000;">Treatment Plan</h4>
    <div id="protocol316TemperatureAndEnvironmentalEmergencies-markdown668" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>Heat Related (Hyperthermia)</strong>
          <ul>
            <li>Temperature elevation
              <strong>WITHOUT</strong> altered mental status (
              <strong>Heat Exhaustion</strong>)
              <ul>
                <li>Slow cooling with ice packs, wet towels, and/or fans to areas in the vicinity of head and nek, axillae, and groin. </li>
                <li>If patient is alert and not nauseated, oral rehydration with water or balanced electrolyte solution. </li>
                <li>Severe muscle cramps may be relieved by gentle stretching of the muscles. </li>
              </ul>
            </li>
            <li>Temperature elevation
              <strong>WITH</strong> altered mental staus (
              <strong>Heat Stroke</strong>)
              <ul>
                <li>Aggressive cooling to unclothed patient utilizing fine mist water spray and fans in conjuction with ice packs to head and nect area, groin and axilla while maintaining modesty.
                  <strong>NOT recommended for children and infants</strong>. </li>
                <li>Aggressive cooling should be stopped if shivering begins. </li>
                <li>Monitor closely for dysrhythmia, recognize and treat with the appropriate protocol. </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <strong>Cold Related (Hypothermia)</strong>
          <ul>
            <li>Protect patient from further heat loss (application of blankets, warm environment, etc.). </li>
            <li>Suspicion of cardiac arrest in cold environments: Utilize 30-45 seconds to confirm pulselessness.
              <br>c. Confirm body temperature and treat accordingly.
              <ul>
                <li>
                  <strong>Severe</strong> &lt;86F(30C)
                  <ul>
                    <li>No active external rewarming (no heat, forced hot air, warm packs, etc.) </li>
                    <li>Limit defibrillation attempts to 3 and NO external pacing. </li>
                    <li>Rapid but gentle transport (rough movement may preciptiate arrhythmias). </li>
                  </ul>
                </li>
                <li>
                  <strong>Moderate</strong> 86-93F (30-34C)
                  <ul>
                    <li>Use warm packs to head and neck, axillaw, and groin. </li>
                  </ul>
                </li>
                <li>
                  <strong>Mild</strong> &gt;93F (34C)
                  <ul>
                    <li>Warm with blankets, warm environment, etc. </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Frostbite precautions - Do not rub or use dry external head. Re-warm with 40C water if possible.</li>
        <li>Avoid refreezing. It is better not to rewarm frostbite if refreezing is a possiblility.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol316TemperatureAndEnvironmentalEmergencies-markdown669" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol316TemperatureAndEnvironmentalEmergencies-heading365" style="color:#000000;">ADVANCED EMT/PARAMEDIC</h4>
    <div id="protocol316TemperatureAndEnvironmentalEmergencies-markdown670" class="show-list-numbers-and-dots">
      <ol>
        <li>Adult:
          <ul>
            <li>Advanced airway, vascular access and fluid therapy as necessary. </li>
            <li>Warm or cool IV fluids, if available, should be begun for moderate to severe hypothermia or hyperthermia, respectively. </li>
            <li>Cold emergencies - withold antiarrhythmic meds until temperature &gt;86F (30C) </li>
            <li>Administer Epinephrine according to standard ACLS algorithm. </li>
          </ul>
        </li>
        <li>Pediatric Patient:
          <ul>
            <li>Advanced airway, vascular access and fluid therapy NS 20ml/kg bolus. </li>
            <li>Warm or cool IV fluids, if available, should be begun for moderate to severe hypothermia or hyperthermia, respectively. </li>
            <li>Cold emergencies - withold antiarrhythmic meds until temperature &gt;86F (30C) </li>
            <li>Administer Epinephrine according to standard ACLS algorithm.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol316TemperatureAndEnvironmentalEmergencies-markdown672" class="show-list-numbers-and-dots"></div>
    <div id="protocol316TemperatureAndEnvironmentalEmergencies-markdown673" class="show-list-numbers-and-dots"></div>
    <div id="protocol316TemperatureAndEnvironmentalEmergencies-markdown675" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol316TemperatureAndEnvironmentalEmergencies-heading368" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol316TemperatureAndEnvironmentalEmergencies-markdown676" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>