<ion-view title="Protocol 1014 - Lasix" id="page41">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1014Lasix-heading165" style="color:#000000;text-align:center;">Lasix (Furosemide)</h1>
    <h5 id="protocol1014Lasix-heading166" style="color:#000000;text-align:center;">Approved for Rescue Paramedics Only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1014Lasix-heading167" style="color:#000000;text-align:center;">Protocol 1014</h3>
    <div id="protocol1014Lasix-markdown320" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1014Lasix-markdown321" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_402">402</a>. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1014Lasix-heading168" style="color:#000000;text-align:center;">Class: Hormone - Diuretic</h4>
    <ion-list id="protocol1014Lasix-list154">
      <div class="item item-body" id="protocol1014Lasix-list-item-container90">
        <div id="protocol1014Lasix-markdown322" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Inhibits sodium/chloride ion reabsorption in the kidney causes venous dilation.
            <br>
            <strong>2.</strong> Onset within 5 minutes of administration. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1014Lasix-list155">
      <div class="item item-body" id="protocol1014Lasix-list-item-container91">
        <div id="protocol1014Lasix-markdown323" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Congestive Heart Failure.
            <br>
            <strong>2.</strong> Pulmonary Edema. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1014Lasix-list156">
      <div class="item item-body" id="protocol1014Lasix-list-item-container92">
        <div id="protocol1014Lasix-markdown324" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Pregnancy.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1014Lasix-list157">
      <div class="item item-body" id="protocol1014Lasix-list-item-container93">
        <div id="protocol1014Lasix-markdown325" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Dysrhythmias.
            <br>
            <strong>2.</strong> Hypotension.
            <br>
            <strong>3.</strong> Electrolyte Imbalances -
            <strong>Medical control option - OLMC must be contacted prior to administration.</strong>
          </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1014Lasix-heading169" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1014Lasix-markdown326" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Adult:</strong> 40-80 mg (standard IV dose is the same as the patient's oral dose) </p>

      <p style="color:#000000;">
        <strong>Pediatric:</strong> 1mg/kg (Max Dose 40mg). </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1014Lasix-list158">
      <div class="item item-body" id="protocol1014Lasix-list-item-container94">
        <div id="protocol1014Lasix-markdown327" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONSIDERATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Give slow IV push.
            <br>
            <strong>2.</strong> Use caution in presence of digoxin or lithium use.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1014Lasix-markdown328" class="show-list-numbers-and-dots"></div>
    <div id="protocol1014Lasix-button-bar11" class="button-bar"></div>
    <div id="protocol1014Lasix-button-bar12" class="button-bar"></div>
    <h5 id="protocol1014Lasix-heading171" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1014Lasix-heading172" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>