<ion-view title="Protocol 713 -Pediatric Altered Level of Conciousness" id="page118">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol713PediatricAlteredLevelOfConciousness-heading695" style="color:#000000;text-align:center;">PEDIATRIC ALTERED LEVEL OF CONSCIOUSNESS</h3>
    <div id="protocol713PediatricAlteredLevelOfConciousness-container75">
      <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1495" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1496" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol713PediatricAlteredLevelOfConciousness-heading696" style="color:#000000;">GOALS:</h4>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1501" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The primary goal in a patient who has a serious alteration in consciousness is
        <strong>AIRWAY PROTECTION</strong>. Protective reflexes such as cough and gag may be lost and aspiration is an ever-present danger in these patients and can be lethal. The specific goals of protection may be stated as:</p>

      <ol>
        <li>To protect the patient from physical or environmental harm.</li>
        <li>To protect the patient's brain from injury due to lack of oxygen or glucose.</li>
        <li>To protect the patient from aspiration.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol713PediatricAlteredLevelOfConciousness-heading697" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1502" class="show-list-numbers-and-dots">
      <ol>
        <li>Alteration in normal mental status including:
          <br>a. Confusion.
          <br>b. Unusual behavior.
          <br>c. Unresponsiveness to verbal or painful stimulus.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol713PediatricAlteredLevelOfConciousness-heading698" style="color:#000000;">EXCLUSIONS:</h4>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1503" class="show-list-numbers-and-dots">
      <ol>
        <li>Head injury or other trauma.</li>
        <li>shock or serious cariac arrhythmia.</li>
        <li>Apnea, cyanosis, obtundation with hypoventilation or respiratory disress.</li>
        <li>If any of above present, go immediately to appropriate portocol.</li>
        <li>
          <strong>AEIOUTIPPS</strong>: Possible causes of Altered Mental Status:</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div>


      <style>
        table, th, td {
            border: 2px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>A - ALCOHOL</b>
            </td>
            <td>
              <b>T - TRAUMA/TEMP</b>
            </td>
          </tr>
          <tr>
            <td>
              <b>E - ELECTROLYTES</b>
            </td>
            <td>
              <b>I - INFECTION</b>
            </td>
          </tr>
          <tr>
            <td>
              <b>I - INSULIN</b>
            </td>
            <td>
              <b>P - PSYCHOGENIC</b>
            </td>
          </tr>
          <tr>
            <td>
              <b>O - OPIATES</b>
            </td>
            <td>
              <b>P - POISON</b>
            </td>
          </tr>
          <tr>
            <td>
              <b>U - UREMIA</b>
            </td>
            <td>
              <b>S - SHOCK/SEIZURE</b>
            </td>
          </tr>


        </tbody>
      </table>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1504" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1505" class="show-list-numbers-and-dots"></div>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1507" class="show-list-numbers-and-dots"></div>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1508" class="show-list-numbers-and-dots"></div>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1519" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol713PediatricAlteredLevelOfConciousness-heading699" style="color:#000000;">EMT</h4>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1520" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Blood glucose, Oxygen Saturation and Temperature assessment.</li>
        <li>Assess for trauma.</li>
        <li>Assess for stroke.</li>
        <li>Asses for possible overdose, substance abuse or other potential toxin. Evaluate the scene for supportive evidence.</li>
        <li>Treat any underlying enviornmental or toxin exposurse.</li>
        <li>Gather and collect any evidence on scene that may assist in the treatment of the patient.</li>
        <li>Consider non-accidental trauma especially in pediatric and elderly patients.</li>
        <li>Consider hypoglycemia, especially in pediatric patients.</li>
        <li>Assure
          <strong>AIRWAY PATENCY</strong> with C-Spine control (if indicated).</li>
        <li>
          <strong>BREATHING</strong> - oxygen (mask, nasal cannula, BVM), suction and assist ventilation as needed to mantain
          <strong>SPO2&gt;94%</strong>.</li>
        <li>CIRCULATION- monitor pulse, blood pressure, respiratory rate.</li>
        <li>Establish baseline data:
          <br>a. Pupil size and reactivity.
          <br>b. Level of responsiveness to verbal, tactile, painful stimuli.
          <br>c. Muscle tone.
          <br>d. Calculate Pediatric Glasgow Coma Score.
          <br>e. History of diabetes - If blood glucose is less than
          <strong>60 mg/dl</strong>, and the patient is sufficiently alert to swallow and protect airway, five oral glucose, orange juice, or other sugared drink.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1521" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol713PediatricAlteredLevelOfConciousness-heading700" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1522" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>Obtain a 12 Lead ECG and transmit to receiving facility.</li>
        <li>Establish vascular access.</li>
        <li>If evidence of poor perfusion, give
          <strong>NS 20 mg/kl IV</strong>.</li>
        <li>Contact OLMC for medical orders:
          <br>a. For suspected narcotic overdose -
          <strong>
            <a href="#/Tabs_Controller/Protocol_1018">Naloxone</a> 0.1 mg/kg IV.IM.IO.IN</strong>.
          <br>b. May repeat once -
          <strong>Max dose 1 mg</strong>.</li>
        <li>If blood glucose is less than
          <strong>60 mg/dl</strong>:
          <br>a. Give
          <strong>D10W 2 ml/kg (200 mg/kg) for neonates &lt;30 dats</strong>.
          <br>b. Infants up to 1 year:
          <strong>
            <a href="#/Tabs_Controller/Protocol_1008">Dextrose D50</a> 10% (D10NS) 5 mL/kg IV/IO</strong>.
          <br>c. Children greater than 1 year:
          <strong>
            <a href="#/Tabs_Controller/Protocol_1008">Dextrose D50</a> 25% (D25W) 2 mL/kg IV/IO</strong>.</li>
        <li>
          <strong>NOTE</strong>:
          <br>a.
          <strong>To make D10 - Dilute 10 mL D50 in 40 mL of NS</strong>.
          <br>b.
          <strong>To make D25 - Dilute D50 1:1 with NS</strong>. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1523" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol713PediatricAlteredLevelOfConciousness-heading704" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1524" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is compete.</li>
        <li>Consider Chemical Restraints as needed to protect the patient and/or personnel.</li>
        <li>
          <strong>INTUBATION</strong> - Consider orotracheal intubation using an endortacheal tube when indicated.</li>
        <li>Document TWO confirmation methods to verify endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophageal Intubation Detector).</li>
        <li>
          <strong>No nasotracheal intubateion</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1525" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1526" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>Consider Chemical Restraints as needed to protect the patient and/or personnel using. _
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>.</li>
        <li>Contact the receiving facility.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1527" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol713PediatricAlteredLevelOfConciousness-heading705" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol713PediatricAlteredLevelOfConciousness-markdown1528" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>