<ion-view title="Protocol 105 - Hypothermic Cardiac Arrest" id="page31">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol105HypothermicCardiacArrest-heading114" style="color:#000000;text-align:center;">Hypothermic Cardiac Arrest</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol105HypothermicCardiacArrest-container6">
      <div id="protocol105HypothermicCardiacArrest-markdown177" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown178" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ALL CARDIAC ARREST VICTIMS SHOULD HAVE:</strong>
      </p>

      <ol>
        <li>CPR-Push hard and fast (100 - 120 compressions/minute).</li>
        <li>Ensure full chest recoil.</li>
        <li>Minimize interruptions in chest compressions.</li>
        <li>1 cycle of CPR: 30 compressions/2 ventilations; 5 cycles=2 minutes.</li>
        <li>Avoid hyperventilation, 1 breath every 5-6 seconds (8-10 a minute)</li>
        <li>Secure airway and confirm placement, suction as needed</li>
        <li>After advanced airway is placed, give continuous chest compressions without pauses. </li>
        <li>Check rhythm every 2 minutes</li>
        <li>Elevate arm, give fluid bolus when administering a drug during a full arrest</li>
        <li>Always search for a reversible cause</li>
        <li>Follow current ACLS and PALS guidelines</li>
      </ol>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown179" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol105HypothermicCardiacArrest-markdown180" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>INDICATIONS:</strong>
      </p>

      <ol>
        <li>Patients unresponsive and pulseless, have no signs of life after sustaining significant cold exposure. This may include elderly and chronically ill patients with prolonged exposure to mild temperatures.</li>
        <li>Patients may appear clinically dead due to severe depression of cardiac and CNS function. The patient may feel cold, stiff, and dependant lividity may be present. Despite these findings, resuscitation with full neurological recovery is possible
          in some cases.</li>
        <li>Pulses and respiratory effort may be extremely difficult to detect, so these should be checked for a full 30-60 seconds. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol105HypothermicCardiacArrest-markdown195" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ALL:</strong>
      </p>

      <ol>
        <li>Remove wet garments</li>
        <li>Protect against heat loss and wind chill (use blankets and insulating equipment)</li>
        <li>Maintain horizontal position</li>
        <li>Avoid rough movement and excess activity</li>
        <li>Monitor core temperature if possible</li>
        <li>Assess responsiveness, breathing, and pulses</li>
        <li>Apply AED</li>
      </ol>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown196" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol105HypothermicCardiacArrest-heading116" style="color:#000000;font-style:italic;text-align:center;">MILD HYPOTHERMIA (CORE TEMP &gt;93° F (34°C)</h4>
    <div id="protocol105HypothermicCardiacArrest-markdown199" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">
            <strong>BREATHING AND PULSE PRESENT:</strong> Passive rewarming (heat packs, warm blankets, radiant heat sources…)</p>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>BREATHING AND PULSE ABSENT:</strong>
          </p>
          <ol>
            <li>Start CPR-BLS per
              <a href="#/Tabs_Controller/tab1/Protocol_101">PROTOCOL 101: MEDICAL CARDIAC ARREST- INITIAL CARE</a>
            </li>
            <li>Give 1 shock if allowed by AED</li>
            <li>Resume CPR immediately at rate of 30:2</li>
            <li>Additional shocks can be given with the approval from medical control</li>
          </ol>
        </li>
      </ol>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown184" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown185" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT</strong>
      </p>

      <ol>
        <li>ABC's</li>
        <li>Establish IV/IO with WARM NS</li>
        <li>Monitor arrhythmias- cardiac arrest rhythms</li>
        <li>Continuous ECG monitoring, capnography</li>
        <li>Rhythm specific drugs,
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
          ,
          <a href="#/Tabs_Controller/Protocol_1003">Amiodarone</a>
          , or
          <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> per current ACLS guidelines</li>
        <li>If in cardiac arrest-insert appropriate size "King" airway and confirm placement.</li>
      </ol>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown186" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown187" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PARAMEDIC</strong>
      </p>

      <ol>
        <li>Ensure all above is being done appropriately</li>
        <li>Intubate and confirm proper tube placement if an advanced airway is not in place, if an Advanced Airway is in place do not remove unless unable to ventilate</li>
        <li>Monitor arrhythmias- cardiac arrest rhythms</li>
        <li>Rhythm specific drugs per current ACLS guidelines </li>
      </ol>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown197" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol105HypothermicCardiacArrest-heading117" style="color:#000000;font-style:italic;text-align:center;">MODERATE HYPOTHERMIA (CORE TEMP 86-93° F (30-34° C) OR MORE)</h4>
    <div id="protocol105HypothermicCardiacArrest-markdown183" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ALL</strong>
      </p>

      <ol>
        <li>Passive rewarming</li>
        <li>Active rewarming of trunk only</li>
        <li>Begin BLS </li>
      </ol>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown201" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown198" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EMT</strong>
      </p>

      <ol>
        <li>Begin BLS </li>
        <li>Apply AED and give 1 shock if allowed</li>
        <li>Resume CPR immediately at rate of 30:2 </li>
      </ol>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown203" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown202" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT</strong>
      </p>

      <ol>
        <li>ABC's</li>
        <li>Establish IV/IO with WARM NS</li>
        <li>Monitor arrhythmias- cardiac arrest rhythms</li>
        <li>Rhythm specific drugs per ACLS guidelines but space at longer intervals</li>
        <li>Repeat defibrillation for VF/VT as core temperature rises</li>
        <li>If in cardiac arrest-insert appropriate size "King" airway and confirm placement</li>
      </ol>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown205" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown204" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PARAMEDIC</strong>
      </p>

      <ol>
        <li>Ensure all above is being done appropriately</li>
        <li>Intubate and confirm tube placement if an advanced airway has not been placed, if an Advanced Airway is in place do not remove unless unable to ventilate</li>
        <li>Monitor cardiac rhythm</li>
        <li>Rhythm specific drugs per ACLS guidelines but space at longer intervals</li>
        <li>Repeat defibrillation for VF/VT as core temperature rises</li>
      </ol>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown206" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol105HypothermicCardiacArrest-heading118" style="color:#000000;font-style:italic;text-align:center;">SEVERE HYPOTHERMIA CORE TEMPERATURE &lt;86°F (30°C):</h4>
    <div id="protocol105HypothermicCardiacArrest-markdown207" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EMT</strong>
      </p>

      <ol>
        <li>Begin BLS </li>
        <li>Apply AED- limit to 1 shock only for VF/VT</li>
        <li>Additional shocks at Medical Control Approval </li>
      </ol>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown208" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown209" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT</strong>
      </p>

      <ol>
        <li>Continue CPR-BLS per
          <a href="#/Tabs_Controller/tab1/Protocol_101">PROTOCOL 101: MEDICAL CARDIAC ARREST- INITIAL CARE</a>.</li>
        <li>Withhold IV Medications until Medical Control has been contacted or until core temperature increases above 86F then Rhythm specific drugs per current ACLS guidelines but space at longer intervals</li>
        <li>Monitor cardiac rhythm</li>
        <li>If in cardiac arrest-insert appropriate size "King" airway and confirm placement</li>
      </ol>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown210" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown211" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PARAMEDIC</strong>
      </p>

      <ol>
        <li>Ensure all above is being done appropriately</li>
        <li>Intubate and confirm tube placement if an advanced airway has not been placed. If an Advanced Airway is in place do not remove unless unable to ventilate,</li>
        <li>Monitor cardiac rhythm</li>
        <li>Rapid transport to ED for Active internal warming</li>
      </ol>
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown193" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div></div>
    <h5 id="protocol105HypothermicCardiacArrest-heading115" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol105HypothermicCardiacArrest-markdown194" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>