<ion-view title="Protocol 911 - Administration of Oral Glucose" id="page133">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol911AdministrationOfOralGlucose-heading762" style="color:#000000;text-align:center;">Administration of Oral Glucose</h3>
    <div id="protocol911AdministrationOfOralGlucose-container96">
      <div id="protocol911AdministrationOfOralGlucose-markdown1586" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol911AdministrationOfOralGlucose-markdown1706" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol911AdministrationOfOralGlucose-markdown1707" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>This protocol is for the EMT First Responder only.</strong>
      </p>

      <hr>

      <p style="color:#000000;">
        <strong>Determine Need for Oral Glucose:</strong>
      </p>

      <ol>
        <li>Refer to
          <a href="#/Tabs_Controller/tab1/Protocol_319">Protocol 319: GLUCOSE EMERGENCIES: HYPOGLYCEMIA/HYPERGLYCEMIA</a>
        </li>
        <li>Patient exhibits altered mental status has history of diabetic problems </li>
        <li>Glucometer reading of &lt;60</li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Inquire About Medication:</strong>
      </p>

      <ol>
        <li>Obtain oral glucose </li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Ensure the “six rights” of medication administration:</strong>
      </p>

      <ol>
        <li>“Right” patient </li>
        <li>“Right” medication </li>
        <li>“Right” dose </li>
        <li>“Right” route </li>
        <li>“Right” time </li>
        <li>“Right” documentation </li>
        <li>Check expiration date </li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Obtain Medical Direction:</strong>
      </p>

      <ol>
        <li>Obtain order from online medical control to administer oral glucose </li>
        <li>Ensure that patient is conscious, can swallow and protect own airway </li>
        <li>Place glucose on tongue depressor between cheek and gum or squirt from tube between patient’s cheek and gum </li>
        <li>Slowly administer small amounts over 2-3 minutes Reassess level of consciousness, respiratory status and patient response</li>
        <li>Reassess level of consciousness, respiratory status and patient response</li>
      </ol>
    </div>
    <div id="protocol911AdministrationOfOralGlucose-markdown1708" class="show-list-numbers-and-dots"></div>
    <div id="protocol911AdministrationOfOralGlucose-markdown1709" class="show-list-numbers-and-dots"></div>
    <div id="protocol911AdministrationOfOralGlucose-markdown1710" class="show-list-numbers-and-dots"></div>
    <div id="protocol911AdministrationOfOralGlucose-markdown1718" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol911AdministrationOfOralGlucose-markdown1719" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol911AdministrationOfOralGlucose-heading763" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol911AdministrationOfOralGlucose-markdown1721" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>