<ion-view title="Protocol 720 - Pediatric Flail Chest" id="page140">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol720PediatricFlailChest-heading772" style="color:#000000;text-align:center;">PEDIATRIC FLAIL CHEST</h3>
    <div id="protocol720PediatricFlailChest-container98">
      <div id="protocol720PediatricFlailChest-markdown1780" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol720PediatricFlailChest-markdown1781" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol720PediatricFlailChest-heading773" style="color:#000000;">Goals</h4>
    <div id="protocol720PediatricFlailChest-markdown1782" class="show-list-numbers-and-dots">
      <ol>
        <li>To ensure for the patient with a chest inury a patent airway and adequate ventilatory mechanics.</li>
        <li>To ensure or restore the integrity of ventilation.</li>
        <li>To ensure or restore the circulatory status of the patient.</li>
        <li>To treat conditions specific to the chest injury.</li>
        <li>To ensure prompt access to a system of trauma care capable of addressing the patient's problem.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol720PediatricFlailChest-heading774" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol720PediatricFlailChest-markdown1783" class="show-list-numbers-and-dots">
      <ol>
        <li>Patients following chest trauma who:
          <br>a. Have tachypnea, dyspnea, or both.
          <br>b. Display paradoxical motion of the chest wall, with a
          <strong>"floating segment"</strong>. </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol720PediatricFlailChest-markdown1785" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol720PediatricFlailChest-markdown1786" class="show-list-numbers-and-dots"></div>
    <div id="protocol720PediatricFlailChest-markdown1787" class="show-list-numbers-and-dots"></div>
    <div id="protocol720PediatricFlailChest-markdown1788" class="show-list-numbers-and-dots"></div>
    <div id="protocol720PediatricFlailChest-markdown1789" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol720PediatricFlailChest-heading776" style="color:#000000;">EMT</h4>
    <div id="protocol720PediatricFlailChest-markdown1790" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Assess ABC's for evidence of apnea, airway relex compromise or difficulty in ventilatory effort.</li>
        <li>Assess medical conditions, burns or traumatic injuries that have the potential to compromise the airway.</li>
        <li>Full set of Vital Signs including blood glucose.</li>
        <li>Provide bacsic airway maneuvers to all compromised airway, i.e. oxygen, jaw-thrust, and positioning.</li>
        <li>Identify and treat underlying reversible medical conditions (narcotic overdose, hypoglycemia, etc.).</li>
        <li>In general, maintain an oxygen saturation 94-99%.</li>
        <li>Always insure proper care of the C-Spine during Airway treament.</li>
        <li>Suction oral and nasal passages as needed to keep clear.</li>
        <li>Provide 100% oxygen to the patient.</li>
        <li>Ventilate with BVM when apneic or exhibiting respiratory distress. Consider a nasal or oral airway.</li>
        <li>Recommended pediatric ventilatory rates:
          <ul>
            <li>Infant (0-12 month): 25 breaths per minute. </li>
            <li>1-3 years: 20 breaths per minutes. </li>
            <li>4-6 years: 15 breaths per minute. </li>
            <li>&gt;6 years: 12 (same as adult).</li>
            <li>Do not hyperventilate the patient. </li>
          </ul>
        </li>
        <li>Apply direct pressure to any obvious external hemorrhage.</li>
        <li>Cover open chest wounds with occlusive dressing. Immobilize any obvious injuries and penetrating object, do not remove penetrating objects.</li>
        <li>Impaled objects should be stabilized in place and covered with dry sterile dressings. The exceptions would be:
          <ul>
            <li>
              <strong>Objects through the cheek where there is the possibility of airway compromise.</strong>
            </li>
            <li>
              <strong>Objects that would interfere with chest compressions</strong>. </li>
            <li>
              <strong>Sharp objects may need to be removed if their presence is cuasing ongoing injury, compromise, or inhibiting CPR</strong>. </li>
          </ul>
        </li>
        <li>Tourniquets should be used to control hemorrhage not controlled with direct pressure and consider
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_512">Protocol 512: EMS Tourniquet</a>
          </strong>.</li>
        <li>Maintain warmth to minimize heat loss. </li>
        <li>Monitor for shock and hypovolemia.</li>
        <li>Assess mental status.</li>
        <li>
          <strong>STABILIZE</strong> flail segment - use pillow, folded sheet, towel and tape. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol720PediatricFlailChest-markdown1791" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol720PediatricFlailChest-heading777" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol720PediatricFlailChest-markdown1792" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>Monitor for signs of tension pneumothroax.</li>
        <li>Decreasing bloood pressure associated with worsening dyspnea.</li>
        <li>Unilateral decreased breath sounds, increasing resistance to ventilation.</li>
        <li>Establish vascular access
          <strong>x2</strong> if possible.</li>
        <li>Treat for pain and anxiety, consider
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>
          </strong> and contact
          <strong>OLMC</strong> for medication order:
          <ul>
            <li>
              <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a>
              <strong>1 mcg/kg (max 25 mcg per dose</strong>) IV/IO. </li>
            <li>In the event an IV cannot be established,
              <strong>
                <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a> 1 mcg/kg</strong> may be given IM up an initial dose of
              <strong>25 mcg</strong>. </li>
            <li>For additional doses, contact
              <strong>OLMC</strong>. </li>
          </ul>
        </li>
        <li>If hypotensive bolus with NS
          <strong>20 ml/kg</strong> then reassess - may give up to
          <strong>60 ml/kg</strong> if not hypotensive TKO rate with a
          <strong>MAX</strong> bolus of
          <strong>1 L</strong>.</li>
        <li>Initiate rapid
          <strong>TRANSPORT</strong>. Monitor for shock and hypovolemia. Assess mental status prior to and every 15 minutes during transport (GCS/AVPU).</li>
        <li>Contact Medical Control.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol720PediatricFlailChest-markdown1793" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol720PediatricFlailChest-heading778" style="color:#000000;">PARAMEDIC:</h4>
    <div id="protocol720PediatricFlailChest-markdown1794" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure the above is complete.</li>
        <li>
          <strong>INTUBATION</strong>- Consider orotracheal intubation using an endotracheal tube when indicated.</li>
        <li>Document
          <strong>TWO</strong> confirmation methods to varify endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophogeal Intubation Detector.</li>
        <li>
          <strong>No nasotracheal intubation</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol720PediatricFlailChest-markdown1703" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Medical Control Option-Must contact prior to administration.</p>

      <ol>
        <li>
          <strong>Suspected Tension Pneumothorax</strong> - Immediate needle decompression using appropriate technique.</li>
        <li>
          <strong>Traumatic Arrest</strong>- Consider bilateral eedled decompression for suspected tension pneumothroax based on mechanism of injury using appropriate technique.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol720PediatricFlailChest-markdown1795" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol720PediatricFlailChest-heading779" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol720PediatricFlailChest-markdown1796" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>