<ion-view title="Protocol 907 - Administration of Nitroglycerin" id="page135">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol907AdministrationOfNitroglycerin-heading754" style="color:#000000;text-align:center;">Administration of Nitroglycerin</h3>
    <div id="protocol907AdministrationOfNitroglycerin-container92">
      <div id="protocol907AdministrationOfNitroglycerin-markdown1724" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol907AdministrationOfNitroglycerin-markdown1725" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol907AdministrationOfNitroglycerin-markdown1726" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>This protocol is for the EMT First Responder only.</strong>
      </p>

      <hr>

      <p style="color:#000000;">
        <strong>Determine Need for Nitroglycerin:</strong>
      </p>

      <ol>
        <li>Refer
          <a href="#/Tabs_Controller/tab1/Protocol_300">Protocol 300: CHEST PAIN (ACUTE CORONARY SYNDROME)</a>
        </li>
        <li>Determine if patient has cardiac history and is prescribed nitroglycerin </li>
        <li>Determine if patient exhibits signs and symptoms of cardiac emergency </li>
        <li>Sudden onset of sweating </li>
        <li>Squeezing, pressure, or pain in chest radiating to jaw, neck, shoulders or arms </li>
        <li>Anxiety, irritability, appears to be in shock </li>
        <li>Obtain order from online medical control to administer nitroglycerine per protocol </li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Check for Contraindications:</strong>
      </p>

      <ol>
        <li>Hypotension </li>
        <li>Hypovolemia </li>
        <li>Viagra or similar drugs </li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Inquire About Previous Doses:</strong>
      </p>

      <ol>
        <li>Total doses taken/administered </li>
        <li>When last dose taken/administered </li>
        <li>Effects of previous dose</li>
        <li>Any other interventions </li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Obtain nitroglycerin:</strong>
      </p>

      <ol>
        <li>Ensure the “six rights” of medication administration: </li>
        <li>Right” patient - prescription is for this patient </li>
        <li>Right” medication - it is Nitroglycerin (trade names) Nitrostat, Nitrolingual </li>
        <li>Right” dose- one tablet or one spray </li>
        <li>Right” route- Sublingual(SL) under the tongue </li>
        <li>Right” time - expiration date </li>
        <li>Right” documentation </li>
        <li>Check if medication is discolored or flaky </li>
        <li>Assure Blood Pressure is Appropriate</li>
        <li>Systolic must be above 100 mmHg </li>
        <li>Obtain order from online medical control </li>
      </ol>

      <p style="color:#000000;">
        <strong>Contact OLMC prior to administering for order</strong>
      </p>
    </div>
    <div id="protocol907AdministrationOfNitroglycerin-markdown1727" class="show-list-numbers-and-dots"></div>
    <div id="protocol907AdministrationOfNitroglycerin-markdown1728" class="show-list-numbers-and-dots"></div>
    <div id="protocol907AdministrationOfNitroglycerin-markdown1729" class="show-list-numbers-and-dots"></div>
    <div id="protocol907AdministrationOfNitroglycerin-markdown1730" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol907AdministrationOfNitroglycerin-markdown1731" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol907AdministrationOfNitroglycerin-markdown1733" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Administer according to patient prescription:</strong>
      </p>

      <ol>
        <li>Ask patient to lift tongue </li>
        <li>Have patient or EMT place tablet or spray dose under tongue </li>
        <li>Have patient keep mouth closed until dissolved </li>
        <li>Tell patient not to chew or swallow </li>
        <li>Administer one spray or tablet every five minutes </li>
        <li>if pain is not relieved, and systolic blood pressure remains above 100 mmHg and you are authorized by medical control may repeat NTG up to a maximum of three doses </li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Reassess:</strong>
      </p>

      <ol>
        <li>Reassess patient's blood pressure </li>
        <li>Do not give if systolic BP &lt; 100</li>
        <li>Reassess patient's response to medication </li>
      </ol>

      <hr>
    </div>
    <h5 id="protocol907AdministrationOfNitroglycerin-heading755" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol907AdministrationOfNitroglycerin-markdown1732" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>