<ion-view title="Protocol 910 - Administration of Epinephrine by Auto-Injector" id="page138">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol910AdministrationOfEpinephrineByAutoInjector-heading760" style="color:#000000;text-align:center;">Administration of Prescribed Metered-Dose Inhaler or Small Volume Nebulizer</h3>
    <div id="protocol910AdministrationOfEpinephrineByAutoInjector-container95">
      <div id="protocol910AdministrationOfEpinephrineByAutoInjector-markdown1754" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol910AdministrationOfEpinephrineByAutoInjector-markdown1755" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol910AdministrationOfEpinephrineByAutoInjector-markdown1756" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>This protocol is for the EMT First Responder only.</strong>
      </p>

      <hr>

      <p style="color:#000000;">
        <strong>Determine Need for Epinephrine:</strong>
      </p>

      <ol>
        <li>Refer
          <a href="#/Tabs_Controller/tab1/Protocol_310">Protocol 310: ALLERGIC REACTION / ANAPHYLAXIS</a>
        </li>
        <li>Patient has an allergy history </li>
        <li>Patient exhibits signs and symptoms of severe allergic reaction </li>
        <li>Patient is in respiratory distress </li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Inquire About Previous Doses:</strong>
      </p>

      <ol>
        <li>Total doses taken/administered </li>
        <li>When last dose taken/administered </li>
        <li>Effects of previous dose </li>
        <li>Any other interventions </li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Inquire About Medication:</strong>
      </p>

      <ol>
        <li>Obtain auto injector (verify single or dual dose injector)</li>
        <li>Ensure the “six rights” of medication administration</li>
        <li>Right patient – prescribed to this patient </li>
        <li>Right medication – for patient condition </li>
        <li>Right dose - Adult: 0.3 mg, Infant and Child: 0.15 mg </li>
        <li>Right route – Intramuscular (IM) </li>
        <li>Right time - Check expiration date Check if medication is discolored (should be clear!)</li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Obtain Medical Direction:</strong>
      </p>

      <ol>
        <li>Obtain order from online medical control prior to administering Epinephrine Auto-Injector</li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Prepare to Administer:</strong>
      </p>

      <ol>
        <li>If possible uncover patient's leg. try and avoid injecting thru clothing </li>
        <li>Support patient’s knee with other hand to prevent movement </li>
        <li>Remove safety cap from the auto-injector </li>
        <li>Place tip of auto-injector against patient’s thigh (laterally, midway between the knee and the hip)</li>
        <li>Push injector firmly against the thigh until the injector activates </li>
        <li>Hold injector in place for 10 seconds </li>
        <li>Dispose of used auto-injector in biohazard sharps container (retain dual dose injector follow manufacturer’s instructions for second dose) </li>
      </ol>

      <p style="color:#000000;">
        <strong>Assess respiratory status and patient’s response</strong>
      </p>
    </div>
    <div id="protocol910AdministrationOfEpinephrineByAutoInjector-markdown1757" class="show-list-numbers-and-dots"></div>
    <div id="protocol910AdministrationOfEpinephrineByAutoInjector-markdown1758" class="show-list-numbers-and-dots"></div>
    <div id="protocol910AdministrationOfEpinephrineByAutoInjector-markdown1759" class="show-list-numbers-and-dots"></div>
    <div id="protocol910AdministrationOfEpinephrineByAutoInjector-markdown1760" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol910AdministrationOfEpinephrineByAutoInjector-markdown1761" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol910AdministrationOfEpinephrineByAutoInjector-heading761" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol910AdministrationOfEpinephrineByAutoInjector-markdown1762" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>