<ion-view title="Protocol 305 - Hypertensive Emergency" id="page58">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol305HypertensiveEmergency-heading284" style="color:#000000;text-align:center;">HYPERTENSIVE EMERGENCY</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol305HypertensiveEmergency-container16">
      <div id="protocol305HypertensiveEmergency-markdown500" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol305HypertensiveEmergency-markdown501" class="show-list-numbers-and-dots">
      <ol>
        <li>A hypertensive emergency is the presence of organ system dysfunction due primarily to high blood pressure.</li>
        <li>
          <p style="color:#000000;">Attention in pre-hospital setting should be on: </p>
          <ul>
            <li>CNS - altered level of consciousness </li>
            <li>Decrease in vision </li>
            <li>Focal motor deficits </li>
            <li>Cardiovascular-angina </li>
            <li>Acute CHF </li>
            <li>Aortic dissection. </li>
          </ul>
        </li>
        <li>
          <p style="color:#000000;">Because hypertension can be a neuro-protective reflex in the setting of increased intracranial pressure, great caution must be exercised in administering antihypertensive agents.</p>
        </li>
      </ol>
    </div>
    <div id="protocol305HypertensiveEmergency-markdown502" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol305HypertensiveEmergency-markdown503" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol305HypertensiveEmergency-heading285" style="color:#000000;">INDICATIONS</h4>
    <div id="protocol305HypertensiveEmergency-markdown504" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Adult patients with systolic BP of 220 or above, and/or diastolic of 120 or above and evidence of CNS or cardiovascular dysfunction. </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol305HypertensiveEmergency-markdown505" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol305HypertensiveEmergency-heading386" style="color:#000000;">EXCLUSIONS:</h4>
    <div id="protocol305HypertensiveEmergency-markdown716" class="show-list-numbers-and-dots">
      <ol>
        <li>Age&lt;16</li>
        <li>Pregnancy - Use
          <a href="#/Tabs_Controller/tab1/Protocol_608">Pre-Eclampsia and Eclampsia Protocol</a>. </li>
        <li>Trauma, especially head injury. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol305HypertensiveEmergency-markdown717" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol305HypertensiveEmergency-heading383" style="color:#000000;"> EMT</h4>
    <div id="protocol305HypertensiveEmergency-markdown506" class="show-list-numbers-and-dots">
      <ol>
        <li>History, Exam, and Vitals. Emphasis on neurological and cardiopulmonary systems.</li>
        <li>OXYGEN 4-6L NC or 15L NRB mask as indicated.</li>
        <li>Blood glucose, Oxygen Saturation and Temperature assessment. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol305HypertensiveEmergency-markdown507" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol305HypertensiveEmergency-heading286" style="color:#000000;">ADVANCED EMT/PARAMEDIC</h4>
    <div id="protocol305HypertensiveEmergency-markdown508" class="show-list-numbers-and-dots">
      <ol>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available. </li>
        <li>12 Lead ECG if available.</li>
        <li>SALINE IV @ TKO Rate or saline lock. </li>
        <li>
          <strong>CONTACT OLMC and EXPEDITE TRANSPORT</strong>
        </li>
        <li>Keep head elevated to 45 degrees unless trauma is suspected, then immobilize as necessary. </li>
      </ol>
    </div>
    <div id="protocol305HypertensiveEmergency-markdown509" class="show-list-numbers-and-dots"></div>
    <div id="protocol305HypertensiveEmergency-markdown510" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol305HypertensiveEmergency-markdown511" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol305HypertensiveEmergency-heading288" style="color:#FF0000;">Medical Control Option - Must contact prior to administration</h5>
    <div id="protocol305HypertensiveEmergency-markdown514" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>1.
          <a href="#/Tabs_Controller/Protocol_1019">Nitroglycerin</a>
        </strong> 0.4 mg SL every 3-5 minutes x3 doses MAX.
        <br>
        <strong>2.
          <a href="#/Tabs_Controller/Protocol_1017">Morphine</a>
        </strong> 2mg IV every 5-10 minutes to 10 mg MAX </p>
    </div>
    <h5 id="protocol305HypertensiveEmergency-heading289" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol305HypertensiveEmergency-markdown515" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>