<ion-view title="Protocol 104 - Traumatic Cardiac Arrest" id="page30">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol104TraumaticCardiacArrest-heading109" style="color:#000000;text-align:center;">Traumatic Cardiac Arrest</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol104TraumaticCardiacArrest-container5">
      <div id="protocol104TraumaticCardiacArrest-markdown158" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol104TraumaticCardiacArrest-markdown159" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>INDICATIONS:</strong>
      </p>

      <p style="color:#000000;">All patients found unresponsive and without pulses on initial evaluation. (Note that agonal respirations may be present in recently arrested patients). </p>

      <p style="color:#000000;">
        <strong>ALL CARDIAC ARREST VICTIMS SHOULD HAVE:</strong>
      </p>

      <ol>
        <li>CPR-Push hard and fast (100 - 120 compressions/minute).</li>
        <li>Ensure full chest recoil.</li>
        <li>Minimize interruptions in chest compressions.</li>
        <li>1 cycle of CPR: 30 compressions/2 ventilations; 5 cycles=2 minutes.</li>
        <li>Avoid hyperventilation, 1 breath every 5-6 seconds (8-10 a minute)</li>
        <li>Secure airway and confirm placement, suction as needed</li>
        <li>After advanced airway is placed, give continuous chest compressions without pauses. </li>
        <li>Check rhythm every 2 minutes</li>
        <li>Elevate arm, give fluid bolus when administering a drug during a full arrest</li>
        <li>Always search for a reversible cause</li>
        <li>Follow current ACLS and PALS guidelines</li>
      </ol>
    </div>
    <div id="protocol104TraumaticCardiacArrest-markdown160" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol104TraumaticCardiacArrest-markdown172" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>SCENE TIME:</strong>
      </p>

      <p style="color:#000000;">Goal of 10 minutes maximum on-scene time unless pt(s) are entrapped (note in report)</p>

      <p style="color:#000000;">
        <strong>EXCLUSIONS:</strong>
      </p>

      <ol>
        <li>Patients fitting strict DOA Protocol</li>
        <li>Arrest associated with hypothermia- use
          <a href="#/Tabs_Controller/tab1/Protocol_105">Protocol 105: HYPOTHERMIC CARDIAC ARREST</a>,</li>
        <li>Children &lt;50kg- use Pediatric Protocols.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol104TraumaticCardiacArrest-markdown173" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TRAUMA NOTIFICATION:</strong>
      </p>

      <p style="color:#000000;">Notify medical control at earliest opportunity to activate the trauma system network. Provide a trauma score and classify the patient as a trauma evaluation versus a trauma 1 based on current medical criteria. </p>
    </div>
    <div id="protocol104TraumaticCardiacArrest-markdown161" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol104TraumaticCardiacArrest-markdown162" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EMT</strong>
      </p>

      <p style="color:#000000;">BCLS PRIMARY SURVEY</p>

      <ol>
        <li>Airway: Open airway with non-invasive techniques (jaw thrust without head extension if trauma is suspected), suction as needed</li>
        <li>Breathing: Look, listen, and feel for adequate breathing. Begin BVM respirations. Do not hyperventilate or over-inflate. Use airway adjunct as indicated (OPA/NPA). Ventilate at a rate of 1 breath every 5-6 seconds. Ensure supplemental oxygen is
          being used.</li>
        <li>Circulation: Check for a carotid pulse for at least 5 seconds but not more than 10 seconds. Provide high quality CPR at a rate of 30:2 while attaching AED. Give 5 cycles before attempting to shock, if in VF. Push hard, push fast (100 compressions
          per minute) and release completely. Minimize interruptions in compressions. Control severe external bleeding with direct pressure.</li>
        <li>Defibrillation: Provide shocks as indicated by the voice prompts on the AED. Follow each shock immediately with CPR, beginning with chest compressions. Check rhythm every 5 cycles. Continue until ALS providers take over or patient starts to move.</li>
        <li>Stabilization: Quickly immobilize on a longboard with a cervical collar</li>
      </ol>
    </div>
    <div id="protocol104TraumaticCardiacArrest-markdown163" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol104TraumaticCardiacArrest-markdown164" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT</strong>
      </p>

      <ol>
        <li>
          <strong>Airway:</strong> Maintain airway patency with use of OPA or NPA if not in use, suction if needed. Insert appropriate size "king airway" and confirm placement.</li>
        <li>
          <strong>Breathing:</strong> Ensure supplemental oxygen is being used. Assess adequacy of oxygenation and ventilation by:
          <ol>
            <li>Observing chest rise.</li>
            <li>Oxygen saturation</li>
            <li>Capnography</li>
          </ol>
        </li>
        <li>
          <strong>Circulation:</strong> Obtain IV/IO access. Give fluids if needed (2 large bore if able). Monitor for arrhythmias or cardiac arrest rhythms (VF, VT, PEA, and Asystole). Give appropriate drugs to manage rhythm
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
          ,
          <a href="#/Tabs_Controller/Protocol_1003">Amiodarone</a>
          , or
          <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> per ACLS protocol)</li>
        <li>Defibrillation: Provide shocks as indicated. Follow each shock with CPR for 5 cycles per
          <a href="#/Tabs_Controller/tab1/Protocol_101">PROTOCOL 101: MEDICAL CARDIAC ARREST- INITIAL CARE</a>
        </li>
        <li>Stabilization: Immobilize quickly on long board and cervical collar if not done and prepare for rapid transport.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol104TraumaticCardiacArrest-markdown166" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol104TraumaticCardiacArrest-markdown167" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PARAMEDIC</strong>
      </p>

      <ol>
        <li>
          <strong>Airway:</strong> Ensure airway is patent, suction as needed. Intubate when appropriate using in-line stabilization if an advanced airway has not been placed.</li>
        <li>
          <strong>Breathing:</strong> Confirm proper placement of advanced airway by:
          <ol>
            <li>Physical examination</li>
            <li>Secure the device to prevent dislodgement</li>
            <li>Capnography</li>
            <li>Use of esophageal detector (Optional).</li>
            <li>Auscultation</li>
          </ol>
        </li>
        <li>
          <strong>Circulation:</strong> Obtain IV/IO access if not already done. Monitor arrhythmias or cardiac arrest rhythms. Give appropriate drugs to manage rhythms (epi, lidocaine or amiodarone, atropine, magnesium, Sodium bicarb) and blood pressure.</li>
        <li>
          <strong>Defibrillation:</strong> Rhythm appropriate per ACLS current standards, shock as indicated. Follow each shock with CPR for 5 cycles.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol104TraumaticCardiacArrest-markdown174" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>DIFFERENTIAL DIAGNOSIS:</strong> Search for/find and treat reversible causes of the arrest.</p>
    </div>
    <div>



      <style>
        table, th, td {
            border: 0px solid black;
            margin-left:auto; 
            margin-right:auto;
        }
      </style>


      <table>
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>H- Hypovolemia</td>
            <td>T- Tablets</td>
          </tr>
          <tr>
            <td>H- Hypoxia</td>
            <td>T- Tamponade, cardiac</td>
          </tr>
          <tr>
            <td>H- Hydrogen ion (acidosis)</td>
            <td>T- Tension pneumothorax</td>
          </tr>
          <tr>
            <td>H- Hyperkalemia</td>
            <td>T- Thrombosis, heart (acute MI)</td>
          </tr>
          <tr>
            <td>H- Hypothermia</td>
            <td>T- Thrombosis, pulmonary (PE)</td>
          </tr>
          <tr>
            <td>H-Hypoglycemia</td>
            <td>T- Trauma</td>
          </tr>
        </tbody>
      </table>






    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol104TraumaticCardiacArrest-markdown175" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong> Hypovolemia and hypoxia are the 2 most common and easily reversible causes of PEA.</strong>
      </p>
    </div>
    <div id="protocol104TraumaticCardiacArrest-markdown176" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>STABILIZATION:</strong> Ensure quick spinal immobilization and begin rapid transport.</p>

      <p style="color:#000000;">
        <strong>EN ROUTE:</strong>
      </p>

      <ol>
        <li>Re-assess airway, ventilation, tube position, oxygen supply</li>
        <li>Intubate if a King airway has not been inserted on scene</li>
        <li>Establish 2nd large bore IV/IO if not done, administer fluid challenge</li>
        <li>Notify Emergency Department of inbound trauma level (Trauma Eval. Vs. Trauma 1)</li>
      </ol>
    </div>
    <div id="protocol104TraumaticCardiacArrest-markdown168" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol104TraumaticCardiacArrest-markdown169" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>MEDICAL CONTROL OPTION- MUST CONTACT MEDICAL CONTROL PRIOR TO ADMINISTRATION.</strong>
      </p>

      <p style="color:#000000;">If "ROSC" with hypotension that is refractory to fluid boluses.</p>

      <ul>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 2-10 mcg/min start at 2 mcg/min.</strong> Titrate systolic BP until it reaches
          <strong>90-100 mmHg.</strong> Mix
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 2 mg 1:1000 in 1000 ml NS which yields 0.002 mg/ml Use Dial-a-flow extension set following the chart below:</li>
      </ul>
    </div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;         margin-left:auto; 
            margin-right:auto;
        }
      </style>


      <table>
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>Epi Drip rate Table</td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>






    </div>
    <div id="protocol104TraumaticCardiacArrest-markdown170" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div></div>
    <h5 id="protocol104TraumaticCardiacArrest-heading113" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol104TraumaticCardiacArrest-markdown171" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>