<ion-view title="Protocol 727 - Children with Special Healthcare Needs" id="page147">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol727ChildrenWithSpecialHealthcareNeeds-heading816" style="color:#000000;text-align:center;">CHILDREN WITH SPECIAL HEALTHCARE NEEDS</h3>
    <div id="protocol727ChildrenWithSpecialHealthcareNeeds-container105">
      <div id="protocol727ChildrenWithSpecialHealthcareNeeds-markdown1889" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol727ChildrenWithSpecialHealthcareNeeds-markdown1890" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol727ChildrenWithSpecialHealthcareNeeds-heading817" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol727ChildrenWithSpecialHealthcareNeeds-markdown1891" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Full set of Vital Signs including blood glucose.</li>
        <li>Look for an EMSC Red Pack with a health information vial or a Life with Dignity (
          <strong>POLST/DNR</strong>) Order for instructions on care.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol727ChildrenWithSpecialHealthcareNeeds-heading818" style="color:#000000;">Treatment Plan</h4>
    <div id="protocol727ChildrenWithSpecialHealthcareNeeds-markdown1892" class="show-list-numbers-and-dots">
      <ol>
        <li>Treat with consideration for the family per the
          <strong>Family Centered Care Guideline</strong>.</li>
        <li>Do not become overwhelmed by equipment, focus on ABC's, ask parents and caregivers for guidance with equipment.</li>
        <li>Common equipment issues for children with special healthcare needs:
          <ul>
            <li>
              <strong>Feeding Tube (NG/NJ and G-Tube)</strong>
              <ul>
                <li>Most common EMS complaints include; tube has come out, falling apart, leaking, blocked or skin site has unusual drainage or bleeding. </li>
                <li>If draining or bleeding, apply sterile dressing and use pressure, transport. </li>
                <li>If tube is malfunctioning or displaced assess for dehydration and treat -
                  <strong>Do not try to replace or remove the tube</strong>. </li>
                <li>Keep patient NPO and nothing per feeding tube. </li>
                <li>If a percutaneous (through the skin) G-Tube has come out, place suction tubing in the stoma 2-3 inches to prevent full site closure. </li>
              </ul>
            </li>
            <li>
              <strong>Tracheostomy and Ventilator/BiPAP</strong>
              <ul>
                <li>Primary caretakers and families are the best resource for understanding the equpiment they are using. </li>
                <li>Disconnect the ventilator and assist ventilation with BVM if the patient is apneic, unresponsive, or has severe respiratory distress or depression. </li>
                <li>If unable to ventilate, suction the tracheostomy, then reattempt ventilatory efforts. </li>
                <li>If still unable to ventilate, attempt tradition BVM (i.e. place a gloved finger over the trach to occlude during the delivery of a breath). </li>
                <li>Assess ventilations </li>
                <li>If the ventilator is working properly and patient needs transport for non-respiratory medical evaluation; keep on ventilator/BiPAP for transport. </li>
                <li>If ventilator is not working or child is in respiraory distress for any reason; remove from ventilator and assist ventilations with BVM and 100% oxygen. </li>
                <li>Oral and nasal suctioning for copious secreations as needed. </li>
              </ul>
            </li>
            <li>
              <strong>External Central IV Line (Broviac/PICC, etc)</strong>
              <ul>
                <li>
                  <strong>Do NOT</strong> use the central line for administration of anything </li>
                <li>Most common EMS complaint includes: tube has come out, brokem, leaking, blocked or skin site has unusual drainage or beeding. </li>
                <li>This is a direct line to the central venous system, if the tube is leaking or broken, clamp line above the damaged point, cover the opening with a sterile gauze and transport. </li>
                <li>If the tube has come out completely or the site is draining or bleeding, cover with a sterile gauze and apply pressure.</li>
              </ul>
            </li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol727ChildrenWithSpecialHealthcareNeeds-markdown1894" class="show-list-numbers-and-dots"></div>
    <div id="protocol727ChildrenWithSpecialHealthcareNeeds-markdown1895" class="show-list-numbers-and-dots"></div>
    <div id="protocol727ChildrenWithSpecialHealthcareNeeds-markdown1896" class="show-list-numbers-and-dots"></div>
    <div id="protocol727ChildrenWithSpecialHealthcareNeeds-markdown1897" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol727ChildrenWithSpecialHealthcareNeeds-heading819" style="color:#000000;">Key Considerations</h4>
    <div id="protocol727ChildrenWithSpecialHealthcareNeeds-markdown1898" class="show-list-numbers-and-dots">
      <ol>
        <li>Family members are many times the best resource for equipment questions and patient care.</li>
        <li>Interventions may vary according to patient age, size, and medical condition.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol727ChildrenWithSpecialHealthcareNeeds-markdown1900" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol727ChildrenWithSpecialHealthcareNeeds-heading822" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol727ChildrenWithSpecialHealthcareNeeds-markdown1904" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>