<ion-view title="Protocol 717 - Pediatric Major or Multi-system Trauma" id="page122">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol717PediatricMajorOrMultiSystemTrauma-heading730" style="color:#000000;text-align:center;">PEDIATRIC MAJOR OR MULTI-SYSTEM TRAUMA</h3>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-container79">
      <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1583" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1584" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol717PediatricMajorOrMultiSystemTrauma-heading731" style="color:#000000;">INTRODUCTION:</h4>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1585" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Trauma is the leading killer of children in the U.S. The management of the injured child incorporates similar principles as that in adults, with emphasis on expeditious transport and prompt care. Injury to several organ systems, or anatomic areas
        or severe injury to one system. The term implies severity as well as instability of vital signs and grave risk to life and limb.</p>

      <p style="color:#000000;">Pediatric Patients who are invoved in an extrication process must receive proper patient care including C-Spine precautions according to the protocol. Follow your deparment policies and prodecures for extrication.</p>

      <ol>
        <li>Early notification allows the receiving physician to activate the receiving hospital's trauma alert system.</li>
        <li>Providers should describe vital signs including Pediatric GCS, injuries, mechanism of injury and any complicating factors that will affect treatment so that the hospital may activate the appropriate level of trauma response.</li>
        <li>Pediatric reference tape-based dosing is preferred over calculated doses for infants and children.</li>
        <li>Pediatric lowest acceptablye systolic blood pressures are:
          <br>a. birth to 1 month = 60 mmHg.
          <br>b. 1 month to 1 year = 70 mmHg.
          <br>c. 1 year to 10 years = 70 mmHg + (age x 2).
          <br>d. Over 10 years = 90 mmHg.</li>
        <li>These are the blood pressures to use for Pediatrics (&lt;15 years old) under step one of the Utah Trauma Field Triage Guidelines.</li>
        <li>Contact OLMC as soon as clinically possible for each patient.</li>
        <li>OLMC may change your treatment plan.</li>
        <li>Any variations to a guideline by the PLMC physician should be clarified to insure that the provider has properly characterized the situation.</li>
        <li>The OLMC Physician has the final word on treatment once contact is made.</li>
        <li>The OLMC Physician must approve usage of dosages in excess of the guidelines.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div>
      <img src="img/2EgnJ26cTZuovoNQXwtc_Ped-Mult-Trauma.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol717PediatricMajorOrMultiSystemTrauma-heading733" style="color:#000000;">TIME:</h4>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1587" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>10 minutes on-scene time is the desired maximum unless extrication or other extenuating circumstances </strong>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1588" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1589" class="show-list-numbers-and-dots"></div>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1590" class="show-list-numbers-and-dots"></div>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1591" class="show-list-numbers-and-dots"></div>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1592" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol717PediatricMajorOrMultiSystemTrauma-heading734" style="color:#000000;">EMT</h4>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1593" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure
          <strong>SAFETY</strong> of personnel at the scene.</li>
        <li>Focused history and physical exam.</li>
        <li>Assess ABC's for evidence of apnea, airway reflex compromise or difficulty in ventilatry effort.</li>
        <li>Assess medical conditions, burns or traumatic injuries that have the potential to compromise the airway.</li>
        <li>Obtain full set of vital signs including blood glucose.</li>
        <li>
          <strong>PRIMARY TRAUA SURVEY</strong> - Treat critical conditions:
          <ul>
            <li>AIRWAY: Control AIRWAY with cervical spine precautions. If required, use maual maneuvers (jaw-thrust) with bag.mask breathig. Privde basic airway maneuvers to all compromised airways, i.e. oxygen, jaw-thrust, and positioning. </li>
            <li>BREATHING: Administer supplemental
              <strong>OXYGEN</strong> at 15 L/min by nonrebreather mask.
              <strong>ASSIST VENTILATION</strong> as required. In general, maintain an SPO2 of
              <strong>92-94 %</strong> VEntilate with BVM when apneic or exhibiting respiratory distress. Consider a naasal or oral airway. </li>
            <li>Recommended pediatric ventilatory rates:
              <ul>
                <li>Infant (0-12 month): 25 breathes per minute. </li>
                <li>1-3 years: 20 breaths per minute. </li>
                <li>4-6 years: 15 breaths per minute. </li>
                <li>&gt;6 years: 12 (same as adult).</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <strong>Do not hyperventilate the patient</strong>.</li>
        <li>
          <strong>CIRCULATION</strong>: Assess for deformity, swelling, tenderness, crepitus, open or closed fractures, hemorrhaging, lacerations, ecchymosis, instability, decreased fuction or pulses, loss of sensation of distal extremities.</li>
        <li>Bleeding from the nose (epistaxis) should be controlled by first having the patient sit and lean forward (unless there is a need for spinal motion restirction). Apply direct pressure by pinching the fleshy portion of the nostrils.</li>
        <li>Cover lacerations or puncture wounds on the neck near the great vessels or trachea with an occlusive dressing.</li>
        <li>Cover abdominal eviscerations with a moist sterile dressing.
          <br>a. Do not attempt to replace organs. </li>
        <li>Cover extruded eye or deflated globe with a moist sterile dressinga nd protective covering:
          <br>a. Do not apply pressure or attempt to replace in socket.
          <br>b. Cover both eyes. </li>
        <li>In large, partially attached avulsions, the tissue should be returned to its' baseline position and stabilized whenever possible.</li>
        <li>Elevate the limb such that the wound is above the heart.</li>
        <li>Impaled objects should be stabilized in place and covered with a dry sterile dressing. The exceptions would be:
          <ul>
            <li>Objects throught the cheek where there is the possibility of aurway compromise. </li>
            <li>Objects that would interfere with chest compressions. </li>
            <li>Sharp objects may need to be removed if their presence is causing ongoing injury, comrpomise, or inhibiting CPR.</li>
          </ul>
        </li>
        <li>Tourniquets should be used to control hemorrhage not controlled with direct pressure. Use
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_512">Protocol 512: EMS Tourniquet</a>
          </strong>. </li>
        <li>
          <strong>IMMOBILIZE</strong> the patient and protect the vervical spine with a rigid collar and backdoard/CID or backboard with towels and tape.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1594" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol717PediatricMajorOrMultiSystemTrauma-heading735" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1595" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>Maintain warmth to minimize heat loss.</li>
        <li>
          <strong>Pain control - contact OLMC for medication order</strong>:
          <ul>
            <li>
              <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a>
              <strong>1 mcg/kg (max 25 mcg per dose)</strong> IV/IO </li>
            <li>In the event and IV cannot be established,
              <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a>
              <strong>1 mcg/kg</strong> may be given IM up to an initial dose of
              <strong>25 mcg</strong>.</li>
          </ul>
        </li>
        <li>
          <strong>INITIATE RAPID TRANSPORT IF "LOAD &amp; GO" SITUATION EXCISTS</strong>:
          <ul>
            <li>Unrelieved airway obstruction. </li>
            <li>Major chest injury or respiratory distress. </li>
            <li>Shock. </li>
            <li>Decreased level of consciousness. </li>
            <li>Cardiac or respiratory arrest.</li>
          </ul>
        </li>
        <li>
          <strong>SECONDARY SURVEY (Perform en route if "load &amp; go" situation presents)</strong>:
          <ul>
            <li>Establish vascular acess IV/IO x 2 as appropriate. </li>
            <li>Administer warm NS
              <strong>20 ml/kg</strong> boluses as needed if trachycardia or signs of poor perfusion, Reassess. Pressure infuse IV if patient remains hypotensive. </li>
            <li>If no signs of poor perfusion, no tachycardia and no hypotension, give
              <strong>20 cc/kg</strong> bolus then run IV at TKO rate. </li>
            <li>Keep child
              <strong>WARM</strong> during transport. </li>
            <li>
              <strong>REEVALUATE</strong> ever 3-5 minutes en route.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1596" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol717PediatricMajorOrMultiSystemTrauma-heading745" style="color:#000000;">PARAMEDIC:</h4>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1676" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure the above is complete.</li>
        <li>
          <strong>INTUBATION</strong>- Consider orotracheal intubation using an endotracheal tube when indicated according to current PALS guidelines.
          <ul>
            <li>Document
              <strong>_TWO</strong> confirmation methods to varify endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophogeal Intubation Detector. </li>
            <li>Insert an appropriately sized endotracheal tube and secure. </li>
            <li>Consider sedation after intubation
              <strong>
                <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>
              </strong>. </li>
          </ul>
        </li>
        <li>After 2 unsuccessful attempts at endotracheal intubation use a supraglottic airway device or BVM with appropriate oral/nasal airway.</li>
        <li>
          <strong>No nasotracheal intubation</strong>.</li>
        <li>Additional
          <strong>IV FLUID</strong> bolus (
          <strong>20 cc/kg increments</strong>).</li>
        <li>Other trauma protocols as appropriate. </li>
        <li>Pain control per
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>
          </strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1675" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1682" class="show-list-numbers-and-dots">
      <p style="color:#000000;">MEDICAL CONTROL OPTIONS-MUST CONTACT PRIOR TO ADMINISTRATION</p>

      <ol>
        <li>Sedation after intubation
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>
          </strong>. </li>
        <li>
          <strong>Surgical Airway - Cricothyrotomy</strong>.
          <ul>
            <li>Consider only when all other methods of oxygenation, ventilation and securing the airway have failed. </li>
          </ul>
        </li>
        <li>
          <strong>Suspected Tension Pneumothorax</strong>.
          <ul>
            <li>Immediate needled decompression using appropriate techniques.</li>
          </ul>
        </li>
        <li>
          <strong>Traumatic Arrest</strong>.
          <ul>
            <li>Consider bilateral needle decompression for suspected tension pneumothorax based on mechanism of injury using appropriate techniques. </li>
          </ul>
        </li>
        <li>If cardiovascular collapse occurs following release of crushed area:
          <ul>
            <li>
              <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a> 1 meq/kg of 8.4% solution children&gt;1 month. </li>
            <li>
              <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a> 0.5 meq/kg of 4.2% soution for infants &lt;1 month.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1681" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol717PediatricMajorOrMultiSystemTrauma-heading736" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol717PediatricMajorOrMultiSystemTrauma-markdown1597" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>