<ion-view title="Protocol 1025 - Zofran" id="page52">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1025Zofran-heading251" style="color:#000000;text-align:center;">Zofran</h1>
    <h5 id="protocol1025Zofran-heading252" style="color:#000000;text-align:center;">Ondansetron</h5>
    <h5 id="protocol1025Zofran-heading253" style="color:#000000;text-align:center;">Approved for Rescue/Ambulance Units Only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1025Zofran-heading254" style="color:#000000;text-align:center;">Protocol 1025</h3>
    <div id="protocol1025Zofran-markdown421" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1025Zofran-markdown422" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_509">509</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1025Zofran-heading255" style="color:#000000;text-align:center;">Anti Nausea / Antiemetic</h4>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1025Zofran-list208">
      <div class="item item-body" id="protocol1025Zofran-list-item-container150">
        <div id="protocol1025Zofran-markdown423" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Mechanism of Action:</strong>
          </p>

          <p style="color:#000000;">Zofran Works to Prevent Nausea and Vomiting by Blocking Chemoreceptors in the CNS and Peripheral Nervous System. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1025Zofran-list209">
      <div class="item item-body" id="protocol1025Zofran-list-item-container151">
        <div id="protocol1025Zofran-markdown424" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Nausea and Vomiting.
            <br>
            <strong>2.</strong> Adjunt to Narcotic Administration (Common Side Effect of any Narcotic is Nausea.)
            <br>
            <strong>3.</strong> Motion Sickness. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1025Zofran-list210">
      <div class="item item-body" id="protocol1025Zofran-list-item-container152">
        <div id="protocol1025Zofran-markdown425" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Hypersensitivity to this Drug.
            <br>
            <strong>2</strong> Use Cautiously with Hepatic Impairment. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h3 id="protocol1025Zofran-heading256" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1025Zofran-markdown428" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Adult Dose</strong>
      </p>

      <p style="color:#000000;">
        <strong>1. 4mg IV</strong> May Repeat x1 in 5-10 Min x1 Dose.
        <br>
        <strong>2. 8mg ODT</strong> May be Given x1 dose. If no Relief in 20 Minutes, Give
        <strong>4mg Zofran IV</strong> x1 Dose. </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1025Zofran-markdown429" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Peds Dose</strong>
      </p>

      <p style="color:#000000;">
        <strong>1. 2mg IV</strong> May Repeat x1 in 5-10 Minutes.
        <br>
        <strong>2. 4mg (1/2 of an 8mg ODT)</strong> May be Given. </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1025Zofran-markdown430" class="show-list-numbers-and-dots"></div>
    <div id="protocol1025Zofran-button-bar33" class="button-bar"></div>
    <div id="protocol1025Zofran-button-bar34" class="button-bar"></div>
    <h5 id="protocol1025Zofran-heading257" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1025Zofran-heading258" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>