<ion-view title="Protocol 201 - Bradycardia" id="page35">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol201Bradycardia-heading122" style="color:#000000;text-align:center;">Bradycardia</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol201Bradycardia-container9">
      <div id="protocol201Bradycardia-markdown181" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol201Bradycardia-markdown182" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>INDICATIONS:</strong>
      </p>

      <ol>
        <li>Any rhythm disorder with a heart rate &lt;60 beats per minute (heart block or sinus bradycardia) or a rhythm that produces signs/symptoms that are due to the slow heart rate.</li>
        <li>Follow current ACLS and PALS guidelines as needed.</li>
      </ol>
    </div>
    <div id="protocol201Bradycardia-markdown188" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol201Bradycardia-markdown189" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>SIGNS MAY INCLUDE:</strong>
      </p>

      <ol>
        <li>Chest discomfort or pain, dyspnea, altered LOC, weakness / fatigue, hypotension, dizziness or syncope</li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol201Bradycardia-markdown219" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>SYMPTOMS MAY INCLUDE:</strong>
      </p>

      <ol>
        <li>Orthostatic hypotension, pulmonary congestion, frequent PVCs or VT</li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol201Bradycardia-markdown223" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>RHYTHMS MAY INCLUDE:</strong>
      </p>

      <ol>
        <li>Sinus Bradycardia</li>
        <li>1st degree AV block</li>
        <li>2nd degree AV block
          <ol>
            <li>TYPE 1 ( Wenckebach / Mobitz I )</li>
            <li>TYPE 2 ( Mobitz II )</li>
          </ol>
        </li>
        <li>3rd degree AV block</li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol201Bradycardia-markdown224" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EXCLUSIONS:</strong>
      </p>

      <ol>
        <li>Head Injury or suspected CNS event with hypertension</li>
        <li>Hypothermia</li>
        <li>Cardiac Arrest </li>
      </ol>
    </div>
    <div id="protocol201Bradycardia-markdown192" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol201Bradycardia-markdown190" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Treatment Plan</strong>
      </p>

      <ol>
        <li>Only treat bradycardia if the patient is
          <strong>symptomatic</strong> (hypotension, altered mental status, chest pain, etc.)</li>
        <li>Attempt to identify and treat the underlying causes of bradycardia:</li>
        <li>
          <strong>H's</strong> - Hypovolemia, Hypoxia, Hydrogen ion (Acidosis), Hyper/Hypokalemia, Hypothermia, Hypoglycemia</li>
        <li>
          <strong>T's</strong> - Toxins (Overdose), Tamponade (Cardiac), Tension Pneumothorax, Thrombosis (ACS or Pulmonary), Trauma</li>
        <li>In pregnant patients of &gt;20 weeks gestation: Place wedge-shaped cushion or multiple pillows under patient's right hip in order to transport in left lateral decubitus position.</li>
      </ol>
    </div>
    <div id="protocol201Bradycardia-markdown228" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol201Bradycardia-markdown229" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EMT</strong>
      </p>

      <ol>
        <li>Perform focused history and assessment to determine symptomatic bradycardia</li>
        <li>Maintain airway, assist breathing as needed</li>
        <li>Administer oxygen, monitor oximetry, obtain full set of vitals</li>
        <li>Obtain a blood glucose level</li>
        <li>Apply AED</li>
        <li>Treat for shock if indicated</li>
      </ol>
    </div>
    <div id="protocol201Bradycardia-markdown231" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol201Bradycardia-markdown230" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT</strong>
      </p>

      <ol>
        <li>Ensure above is done</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available</li>
        <li>Obtain 12 lead EKG and transmit to On Line Medical Control</li>
        <li>Establish large bore IV-250 ml bolus if hypotensive</li>
        <li>Apply Quick-combo patches (anticipate eventual pacing)</li>
        <li>Contact OLMC for medication order:
          <strong>
            <a href="#/Tabs_Controller/Protocol_1005">Atropine</a> 0.5 mg</strong> IV/IO Repeat as needed every 3-5 minutes until pulse or BP improved.
          <strong>Maximum total dose of 3mg</strong>
        </li>
        <li>If possible, establish 2nd IV if it won't delay transport</li>
        <li>If patient has adequate perfusion, observe and monitor</li>
        <li>If unconscious and unstable vital signs are noted, may use IO if unable to establish peripheral IV after 2 failed attempts (follow IO protocol)</li>
        <li>Ensure ALS backup if not dispatched</li>
      </ol>
    </div>
    <div id="protocol201Bradycardia-markdown233" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol201Bradycardia-markdown232" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PARAMEDIC</strong>
      </p>

      <ol>
        <li>Ensure above is done</li>
        <li>If
          <a href="#/Tabs_Controller/Protocol_1005">Atropine</a> ineffective, prepare for Transcutaneous Pacing </li>
        <li>If pulseless develops, search for and treat possible contributing factors (H's and T's of PEA)</li>
      </ol>
    </div>
    <div id="protocol201Bradycardia-markdown236" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol201Bradycardia-markdown235" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOTE:</strong>
      </p>

      <p style="color:#000000;">TCP (Transcutaneous Pacing) should be started immediately for symptomatic patients who are unstable; particularly those with a high-degree block (Mobitz type 2, 2nd degree or 3rd degree AV block) Conscious patients may require analgesia for discomfort.</p>

      <p style="color:#000000;">
        <strong>DO NOT</strong> assess carotid pulse to confirm mechanical capture because muscular jerking may mimic the carotid pulse. Check for FEMORAL pulse. </p>
    </div>
    <div id="protocol201Bradycardia-markdown240" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol201Bradycardia-markdown239" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Indications for TCP are as follows:</strong>
      </p>

      <ol>
        <li>Hemodynamically unstable bradycardia</li>
        <li>Unstable clinical condition that is likely due to the bradycardia</li>
        <li>Bradycardia with symptomatic ventricular escape rhythms</li>
        <li>Readiness in the setting of an AMI:
          <ol>
            <li>Symptomatic Sinus Bradycardia</li>
            <li>Mobitz type 2</li>
            <li>3rd degree block</li>
            <li>New left, right bundle branch block (patient must be symptomatic)</li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol201Bradycardia-markdown241" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Contraindications for TCA are as follows:</strong>
      </p>

      <ol>
        <li>Severe hypothermia</li>
        <li>Asystole</li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol201Bradycardia-markdown242" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Start TCP immediately if:</strong>
      </p>

      <ol>
        <li>There is no response to
          <a href="#/Tabs_Controller/Protocol_1005">Atropine</a>
        </li>
        <li>The patient is severely symptomatic</li>
        <li>
          <a href="#/Tabs_Controller/Protocol_1005">Atropine</a> is unlikely to be effective or if IV access cannot be quickly established</li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol201Bradycardia-markdown243" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Perform TCP by following these steps:</strong>
      </p>

      <ol>
        <li>Place pacing electrodes on chest (Anterior/Posterior (preferred if no delay in application or Anterior/Lateral)</li>
        <li>Turn Pacer ON</li>
        <li>Set demand to between 60-80 BPM. Adjust rate to clinical response when pacing is established</li>
        <li>Set current milliamperes (mA) output to 2mA above the dose at which consistent capture is observed (safety margin)</li>
      </ol>
    </div>
    <div id="protocol201Bradycardia-markdown225" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol201Bradycardia-markdown245" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>CONTACT MEDICAL CONTROL OPTION - Must contact prior to administration</strong>
      </p>

      <p style="color:#000000;">Hypotension refractory to fluid bolus:</p>

      <p style="color:#000000;">
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
        <strong>2-10 mcg/min</strong> start at
        <strong>2 mcg/min</strong>. Titrate systolic BP until it reaches 90-100 mmHg. Mix
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
        <strong>2 mg 1:1000</strong> in 1000 ml NS which yields
        <strong>0.002 mg/ml</strong> Use Dial-a-flow extension set following the chart below:</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;         margin-left:auto; 
            margin-right:auto;
        }
      </style>


      <table>
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>Epi Drip rate Table</td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>







    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol201Bradycardia-markdown246" class="show-list-numbers-and-dots">
      <ol>
        <li>Administer analgesia/sedation if patient is conscious and TCP is indicate</li>
        <li>
          <p style="color:#000000;">Sedation is indicated for patients that have obtained mechanical capture and are expressing discomfort from the pacing. </p>
          <ol>
            <li>
              <p style="color:#000000;">
                <strong>
                  <a href="#/Tabs_Controller/Protocol_1024">Midazolam</a> (Versed)</strong> : Dosage is cut in half if the patient has received narcotics or alcohol</p>
              <ol>
                <li>
                  <strong>ADULT:</strong>
                </li>
                <li>
                  <strong>IV/IO- 2-5 MG SLOW IV</strong> every 10 minutes to the desired effect or max dose of 10mg</li>
                <li>
                  <strong>IM- 5-10 MG</strong>
                </li>
                <li>
                  <p style="color:#000000;">
                    <strong>IN (INTRANASAL)</strong> - 10 MG DIVIDED DOSE BETWEEN NOSTRILS (USE ATOMIZER)</p>
                </li>
              </ol>
            </li>
            <li>
              <p style="color:#000000;">
                <strong>
                  <a href="#/Tabs_Controller/Protocol_1023">Diazepam</a>
                  (Valium)</strong> - May be used as an alternative Follow the same safety parameters as with midazolam</p>
              <ol>
                <li>
                  <strong>IV/IO - 5-10mg</strong> every 5 min to the desired effect or max dose of 15mg</li>
                <li>
                  <p style="color:#000000;">
                    <strong>Rectally</strong> - Same dosage</p>
                </li>
              </ol>
            </li>
            <li>
              <p style="color:#000000;">
                <strong>
                  <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>: 1 mg (1:10,000)</strong> IV/IO push, repeat every 3-5 minutes until pulse or BP improved . Consider 3-5 mg if arrest is from beta blocker overdose or anaphylaxis</p>
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div id="protocol201Bradycardia-markdown244" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol201Bradycardia-heading124" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol201Bradycardia-markdown200" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>