<ion-view title="Protocol 308 - Seizure" id="page61">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol308Seizure-heading310" style="color:#000000;text-align:center;">SEIZURE</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol308Seizure-container19">
      <div id="protocol308Seizure-markdown553" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol308Seizure-markdown572" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Any patient seen with current or recent generalized seizure activity.</p>
    </div>
    <h4 id="protocol308Seizure-heading318" style="color:#000000;">All Providers:</h4>
    <div id="protocol308Seizure-markdown554" class="show-list-numbers-and-dots">
      <ol>
        <li>Do not restrain, but provide protection during the tonic-clonic phase.</li>
        <li>Spinal motion restriction as appropriate.</li>
        <li>Ensure patients experiencing febrile seizures are not excessively dressed or bundled.</li>
        <li>Any child &lt;12 months old with seizure activity should be transported to the ED for further evaluation.</li>
        <li>Assess scene for possible toxin, overdose or trauma.</li>
      </ol>
    </div>
    <div id="protocol308Seizure-markdown555" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol308Seizure-markdown556" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol308Seizure-heading311" style="color:#000000;">EMT</h4>
    <div id="protocol308Seizure-markdown561" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Focused history and physical exam.</p>

      <ol>
        <li>Blood glucose, temperature and oxygen saturation assessment.</li>
        <li>Question patient/family regarding possibility of pregnacy.</li>
        <li>Assess scene for possible toxin, overdose or trauma.</li>
        <li>
          <strong>PROTECT</strong> the patient from physical harm and embarrassment.</li>
        <li>
          <strong>ASSESS LEVEL OF CONSCIOUSNESS</strong> and maintain
          <strong>AIRWAY</strong> as indicated.</li>
        <li>Place patient in lateral recumbent position to prevent aspiration.</li>
        <li>
          <strong>SUCTION</strong> as necessary.</li>
        <li>
          <strong>OXYGEN</strong> via NC nonrebreather mask at 15L as needed to maintain pulse-ox &gt;94%</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol308Seizure-markdown558" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol308Seizure-heading312" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol308Seizure-markdown574" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is completed.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available.</li>
        <li>ASSIST VENTILATION as necessary.</li>
        <li>SALINE IV at TKO rate or saline lock.</li>
        <li>CHECK GLUCOMETER READING _ IF BELOW 60 mg/dl, give 50%
          <strong>
            <a href="#/Tabs_Controller/protocol_1008">Dextrose D50</a>
          </strong> IV PUSH.</li>
        <li>If no IV access, give
          <strong>
            <a href="#/Tabs_Controller/Protocol_1012">Glucagon</a>
          </strong> 1 mg IM.</li>
        <li>
          <strong>TRANSPORT</strong> in left lateral recumbent position unless an Advanced Airway has been placed.</li>
        <li>Monitor neurological status, airway and vitals closely enroute to hospital.</li>
        <li>
          <strong>If Actively seizing:</strong> chose one Benzodiazepine considering
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>.</li>
        <li>Contact
          <strong>OMLC</strong> before changing medications. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol308Seizure-markdown560" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol308Seizure-heading313" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol308Seizure-markdown575" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is completed.</li>
        <li>If seizure persists despite above therapies: support airway/ventilation. Discuss need for intubation with Control Phsician. </li>
        <li>Search for etiology:
          <br>
          <strong>a.</strong> Head injury
          <br>
          <strong>b.</strong> Cardiac arrhythmia
          <br>
          <strong>c.</strong> CNS Infection
          <br>
          <strong>d.</strong> Non-compliance with meds.</li>
        <li>For seizures that persist despite above therapy:
          <br>
          <strong>a.</strong> ENDOTRACHEAL INTUBATION - if patient is unable to protect their airway - nasal route preferred if breathing.
          <br>
          <strong>b.</strong> Contact medical control if additional doses of Versed are necessary.</li>
      </ol>
    </div>
    <div id="protocol308Seizure-markdown562" class="show-list-numbers-and-dots"></div>
    <div id="protocol308Seizure-markdown563" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol308Seizure-markdown564" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol308Seizure-markdown576" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">Medical Control Option - Must contact before administration.</p>

      <p style="color:#FF0000;">For females with advanced pregnancy and seizures:
        <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a>: 2-4 grams IM or 2-4 grams in 10 ml NS infuse over 15 to 30 min IV. as directed by OLMC.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol308Seizure-markdown570" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol308Seizure-heading317" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol308Seizure-markdown571" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>