<ion-view title="Protocol 511 - Extrication / Crush Injuries" id="page90">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol511ExtricationCrushInjuries-heading519" style="color:#000000;text-align:center;">EXTRICATION / CRUSH INJURIES</h3>
    <div id="protocol511ExtricationCrushInjuries-container48">
      <div id="protocol511ExtricationCrushInjuries-markdown1060" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol511ExtricationCrushInjuries-markdown1061" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol511ExtricationCrushInjuries-markdown1062" class="show-list-numbers-and-dots"></div>
    <div id="protocol511ExtricationCrushInjuries-markdown1063" class="show-list-numbers-and-dots"></div>
    <div id="protocol511ExtricationCrushInjuries-markdown1064" class="show-list-numbers-and-dots"></div>
    <div id="protocol511ExtricationCrushInjuries-markdown1065" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol511ExtricationCrushInjuries-heading520" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol511ExtricationCrushInjuries-markdown1066" class="show-list-numbers-and-dots">
      <ol>
        <li>All patients who are trapped, impaled or who are at risk of the crush syndrome.</li>
        <li>Crush Syndromes should be considered for the following:
          <br>a. Entrapped/compressed patients under a load for more than 30 minutes.
          <br>b. Patients with little or no movement for more than 4 hours (e.g. older patient falls, overdoses). </li>
        <li>
          <strong>Do not remove impaled object</strong>. </li>
        <li>Anticipate possible cardiac arrest upon extrication.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol511ExtricationCrushInjuries-markdown1075" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol511ExtricationCrushInjuries-heading528" style="color:#000000;">EMT</h4>
    <div id="protocol511ExtricationCrushInjuries-markdown1068" class="show-list-numbers-and-dots">
      <ol>
        <li>Victims will often develop hypo or hyperthermia with prolonged environmental exposure - prevent heat loss as able.</li>
        <li>Focused history and physical exam.</li>
        <li>
          <strong>ASSURE</strong> safety of all personnel at scene.</li>
        <li>
          <strong>OXYGEN</strong> face mask at 15L as needed to maintain pulse ox &gt;94%
          <strong>ASSIST VENTILATION</strong>.</li>
        <li>
          <strong>SUPPORT</strong> cervical spine with rigid collar and/or manual stabilization if indicated (neck pain or tenderness or mechanism of injury).</li>
        <li>
          <strong>PROTECT PATIENT</strong> from weather, rescue operations and other hazards as possible.</li>
        <li>Upon extrication,
          <strong>IMMOBILIZE</strong> on long-board with rigid cervical collar and head immobilization device if any potential of spinal injury.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol511ExtricationCrushInjuries-markdown1069" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol511ExtricationCrushInjuries-heading523" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol511ExtricationCrushInjuries-markdown1070" class="show-list-numbers-and-dots">
      <ol>
        <li>Continuous ECG, ETC02, and Pulse Oximetry monitoring when available.</li>
        <li>12 Lead ECG when available, after extrication.</li>
        <li>Initiate IV x2 if able or hep lock, rate TKO unless hypotensive then 500 ml boluses as needed up to 2 L.</li>
        <li>During extrication, monitor vitals, level of consciousness, respiratoy and cardiovascular status and ECG as possible.</li>
        <li>Expedite transport provide update on patient status while enroute.</li>
        <li>Immediately prior to the extrication consider use of Sodium Bicarbonate as indicated below in medical control options.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol511ExtricationCrushInjuries-markdown1076" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>CONSIDERATIONS</strong>:
        <br>1. Use of ANALGESIA when appropriate: use
        <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol511ExtricationCrushInjuries-markdown1071" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol511ExtricationCrushInjuries-heading524" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol511ExtricationCrushInjuries-markdown1072" class="show-list-numbers-and-dots">
      <ol>
        <li>Patients often quickly develop elevated levels of potassium. Watch for the follwoing ECG changes as signs of Hyperkalemia: peaked T waves, prolonged PR intervals, ST segment depression, QRS widening, heart blocks, and ventricular arrhythmias.</li>
        <li>
          <strong>INTUBATE</strong> as appropriate.</li>
        <li>If patient becomes agitated with increasing LOC
          <strong>after</strong> intubation may give
          <strong>
            <a href="#/Tabs_Controller/Protocol_1024">Versed</a>
          </strong> 2-5 mg slow IV with Medical Control permission.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol511ExtricationCrushInjuries-markdown1073" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol511ExtricationCrushInjuries-heading529" style="color:#000000;">Medical Control Option</h4>
    <div id="protocol511ExtricationCrushInjuries-markdown1078" class="show-list-numbers-and-dots">
      <ol>
        <li>Constant crush injuries greater than 30 minutes duration and if the patient develops cardiac arrhythmias or a prolonged QRS &gt;100ms:
          <br>a. Administer
          <strong>
            <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a> 1 mEq/kg</strong> (Maximum of
          <strong>100 mEq</strong>) IV push prior to beginning infusion and up to
          <strong>TWO</strong> additional times plus start
          <strong>
            <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a>
          </strong> drip:
          <strong>1 mEq/kg</strong> (Maximum
          <strong>100 mEq</strong>) in 1000 ml NS and run wide open.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol511ExtricationCrushInjuries-markdown1077" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol511ExtricationCrushInjuries-heading527" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol511ExtricationCrushInjuries-markdown1074" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>