<ion-view title="Protocol 319 - Glucose Emergencies: Hypoglycemia/Hyperglycemia" id="page72">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-heading366" style="color:#000000;text-align:center;">GLUCOSE EMERGENCIES: HYPOGLYCEMIA/ HYPERGLYCEMIA</h3>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-container30">
      <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown671" class="show-list-numbers-and-dots"></div>
    </div>
    <h4 id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-heading367" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown674" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Hypoglycemia is defined as blood glucose level &lt;60 mg/dl for adults and children, and (&lt;45 mg/dl for the term neonate (&lt;30 days of age) with any degree of altered mentation.</strong>
      </p>

      <ol>
        <li>
          <strong>DO NOT</strong> attempt to give oral glucose to those who cannot swallow and protect their airway.</li>
        <li>Strongly consider transport of any patient who is at risk for prolonged or recurrent hypoglycemia, such as long-acting insulin or oral hypoglycemic overdoes.</li>
        <li>For severe hypoglycemia (&lt;40 mg/dl) or hypoglycemic seizure, recheck blood glucose every 15 minutes to check for recurrent low blood sugar that may need treatment.</li>
        <li>Hypoglycemic patient with altered mentation
          <strong>and</strong> insulin pump in place
          <ul>
            <li>
              <strong>a.</strong> Care is directed to treating hypoglycemia first, then stopping administration of insulin. </li>
            <li>
              <strong>b.</strong> Turn off insulin pump if able. </li>
            <li>
              <strong>c.</strong> If no one familiar with the device is available to assist, disconnect pump from patient by either:
              <ul>
                <li>
                  <strong>i</strong>. Using quick-release where the tubing enters the dressing on patient's skin.
                  <br>
                  <strong>OR</strong>
                </li>
                <li>
                  <strong>ii</strong>. Completely remove the dressing, thereby removing the subcutaneous needle and catheter from under patient's skin. </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Criteria for scene release of hypoglycemic patient:
          <ul>
            <li>
              <strong>a.</strong> Return to normal mental status following treatment. </li>
            <li>
              <strong>b.</strong> Paitent is able to take oral glucose, food and liquids. </li>
            <li>
              <strong>c.</strong> Patient does not want to be transported. </li>
            <li>
              <strong>d.</strong> No oral diabetic medications have been taken. </li>
            <li>
              <strong>e.</strong> No sucidiidal ideations or attempt to self-harm involved. </li>
            <li>
              <strong>f.</strong> There is at least one responsible person that can assist the patient and is comfortable with monitoring the patient. </li>
            <li>
              <strong>g.</strong> OLMC has been contacted and agrees to the release.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown701" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown702" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-heading381" style="color:#000000;">Hyperglycemia is defined as a blood glucose &gt;300 mg/dL.</h4>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown711" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A number of medical conditions can cause hyperglycemia, but the most common by far is diabetes mellitus. Other causes include: Pancreatitis, cancer, heart attack and some medications such as beta blockers. The main symptoms of hyperglycemia are
        increased thirst and a frequent need to urinate. People with type 1 diabetes may develop diabetic ketacidosis (DKA), and those with type 2 diabetes can develop hyperglycemic hyperosmolar nonketotic syndrome (HHNS, also referred to as hyperglcemia
        hypersomolar state). These so-called hyperglycemic crises are serious conditions that can be life-threatening if not treated immediately. hyperglycemic crises cause about 2,400 deaths each year in the U.S.</p>
    </div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown704" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <h3 id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-heading591" style="color:#000000;text-align:center;">Hyperglycemia Treatment</h3>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown706" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>HYPERGLYCEMIA:</strong> Noted as Blood Glucose Level &gt;300 mg/dl.
        <br>
        <strong>HYPERGLYCEMIA Adult:</strong> Give Normal Saline 1000 mL IV/IO over 30-60 minutes (BS &gt;300 mg/dl)
        <br>
        <strong>HYPERGLYCEMIA Pediatric:</strong> Give Normal Saline 20 mL/kg IV/IO over 30-60 minutes. </p>
    </div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown705" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h3 id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-heading855" style="color:#000000;text-align:center;">Hypoglycemia Treatment</h3>
    <h4 id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-heading382" style="color:#000000;">EMT</h4>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown1722" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam</li>
        <li>Blood glucose assessment (heel stick is preferred in newborns or infants).</li>
        <li>
          <strong>Dextrose Oral glucose 15 grams</strong> if patient is able to swallow and protect airway</li>
        <li>Repeat in 15 minutes as needed</li>
      </ol>
    </div>
    <div class="spacer" style="width: 748px; height: 11px;"></div>
    <h4 id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-heading854" style="color:#000000;">Advanced EMT/Paramedic</h4>
    <div class="spacer" style="width: 748px; height: 11px;"></div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown1996" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete</li>
        <li>Contact OLMC</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available</li>
        <li>Establish vascular access set @ TKO unless hypotensive then give:
          <ul>
            <li>Adult: 500 ml bolus repeat as needed to max 2 L.</li>
            <li>Pediatric patients: 20 ml /kg bolus may repeat to max 40 ml / kg</li>
          </ul>
        </li>
        <li>
          <strong>IO access should be reserved for a patient in extremis and not for routine access.</strong>
        </li>
        <li>
          <strong>Use commercial Pediatric glucose if available, otherwise dilute to appropriate concentrations</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 748px; height: 16px;"></div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown714" class="show-list-numbers-and-dots"></div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown2002" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Hypoglycemia Adult</strong>
      </p>

      <ol>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1008">Dextrose D50</a> 25 grams slow IV/IO for hypoglycemia. May repeat x1 in 5 minutes if no improvement.</strong>
        </li>
        <li>
          <a href="#/Tabs_Controller/Protocol_1012">Glucagon</a> 1mg IM if no IV/IO access after 2 attempts. </li>
      </ol>
    </div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown2004" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown2003" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Hypoglycemia Pediatric</strong> if Blood glucose is less than 60mg/dl administer Dextrose</p>

      <ol>
        <li>
          <strong>Children greater than 1 year:
            <a href="#/Tabs_Controller/Protocol_1008">Dextrose</a> 25% (D25W) 2mL/kg IV</strong>
        </li>
        <li>
          <strong>Infants up to 1 year:
            <a href="#/Tabs_Controller/Protocol_1008">Dextrose</a> 10% (D10/NS) 5mL/kg IV</strong>
        </li>
        <li>
          <strong>Neonates &lt;30 days:
            <a href="#/Tabs_Controller/Protocol_1008">Dextrose</a> 10% (D10/NS) 2mL/kg IV.</strong>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown707" class="show-list-numbers-and-dots"></div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown708" class="show-list-numbers-and-dots"></div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown709" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown712" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOTE:</strong> If commercially prepared
        <a href="#/Tabs_Controller/Protocol_1008">Dextrose</a> 10% is not available: </p>

      <ul>
        <li>To make D10: Dilute 10mL of D50 in 40mL of NS</li>
        <li>To make D25: Dilute D50 1:1 with NS</li>
      </ul>

      <p style="color:#000000;">
        <strong>IF UNABLE TO ESTABLISH AN IV IN A HYPOGLYCEMIC PEDIATRIC PATIENT, ADMINSTER:
          <a href="#/Tabs_Controller/Protocol_1012">Glucagon</a> 0.1mg/kg IM (max dose of Glucagon for pediatric patient is 1mg)</strong>
      </p>
    </div>
    <div class="spacer" style="width: 747.8261108398438px; height: 12px;"></div>
    <div class="spacer" style="width: 747.8261108398438px; height: 12px;"></div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown715" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-heading384" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia-markdown710" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>