<ion-view title="Protocol 718 - Pediatric Head Trauma" id="page132">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol718PediatricHeadTrauma-heading747" style="color:#000000;text-align:center;">PEDIATRIC MAJOR OR MULTI-SYSTEM TRAUMA</h3>
    <div id="protocol718PediatricHeadTrauma-container89">
      <div id="protocol718PediatricHeadTrauma-markdown1683" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol718PediatricHeadTrauma-markdown1684" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol718PediatricHeadTrauma-heading748" style="color:#000000;">Goals</h4>
    <div id="protocol718PediatricHeadTrauma-markdown1685" class="show-list-numbers-and-dots">
      <ol>
        <li>To maintain the airway and circulatory status of the head injured patient and to protect the spine.</li>
        <li>To record an initial examination and GCS.</li>
        <li>To institute measures that may reduce intracranial pressure.</li>
        <li>To expeditiously present to the hospital team the patient who may require neurosurgical intervention.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol718PediatricHeadTrauma-heading749" style="color:#000000;">Key Considerations:</h4>
    <div id="protocol718PediatricHeadTrauma-markdown1686" class="show-list-numbers-and-dots">
      <ol>
        <li>TBI may be painful: however pain medications can cloud serial neurological assessments. Routine pain medications should not be administered to a patient with altered mental status after TBI.</li>
        <li>Patients with TBI may be confused or combative.</li>
        <li>Consider restraints if needed to protect everyone.</li>
        <li>Loss of memory, prolonged confusion or altered mental status associated with trauma may indicate a significant head injury.</li>
        <li>Pediatric lowest acceptable systolic blood pressures are:
          <ul>
            <li>Birth to 1 month = 60 mmHg. </li>
            <li>1 month to 1 year = 7- mmHg. </li>
            <li>1 year to 10 years = 70 mmHg + (age x 2). </li>
            <li>Over 10 years = 90 mmHg.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol718PediatricHeadTrauma-markdown1687" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol718PediatricHeadTrauma-markdown1693" class="show-list-numbers-and-dots"></div>
    <div id="protocol718PediatricHeadTrauma-markdown1694" class="show-list-numbers-and-dots"></div>
    <div id="protocol718PediatricHeadTrauma-markdown1695" class="show-list-numbers-and-dots"></div>
    <div id="protocol718PediatricHeadTrauma-markdown1696" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol718PediatricHeadTrauma-heading750" style="color:#000000;">EMT</h4>
    <div id="protocol718PediatricHeadTrauma-markdown1697" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Full set of Vital Signs including blood glucose.</li>
        <li>Provide basic airway manuevers to all comrpomised airways, i.e. oxygen, jaw-thrust, and positioning.</li>
        <li>IMMOBILIZE and protect the cervical spine with a rigid collar and backboard/CID or backboard with towels and tape.</li>
        <li>Provide 100% oxygen to the patient mantaining C-Spine precautions if necessary.</li>
        <li>Administer supplemental oxygen for any saturation &lt;90% or if uable to obtain a reliable pulse oximeter reading. In general, maintain an oxygen saturation 90-94%.</li>
        <li>ventilate with BVM when apneic or exhibiting respiratory distress. Consider a nasal or oral airway.</li>
        <li>Document a GCS for the patient.</li>
        <li>If GCS &lt; 8 consider an advanced airway.</li>
        <li>Do not hyperventilate excessively. If patient has an obvious unilateral pupillary dilation, increase respiratory rate by 10% above normal targe respiratory rate (RR) until the patient improves.</li>
        <li>Open skull fractures should be covered with non-pressure dey sterile dressing.</li>
        <li>Control
          <strong>EXTERNAL BLEEDING</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/wk96KmfmSLeCZsmlAXFY_ScreenShot2018-04-07at8.31.14PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol718PediatricHeadTrauma-markdown1698" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol718PediatricHeadTrauma-heading751" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol718PediatricHeadTrauma-markdown1699" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>Establish vascular access if able.</li>
        <li>Ventilate to maintain
          <strong>EtCO2</strong> between
          <strong>35-40 mmHg</strong> when capnography is available. </li>
        <li>Check blood pressure every 5-10 minutes.</li>
        <li>Establish IV access-may initiate NS
          <strong>20 ml/kg</strong> for hypotension
          <strong>OR</strong> if unable to obtain blood pressure.</li>
        <li>If hypertensive patient shows no improvement with initial treatement, may repeat NS
          <strong>20 ml/kg</strong> up to a total of
          <strong>60 ml/kg</strong>.</li>
        <li>If actively seizing contact OLMC for mediation order and consider
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_714">Protocol 714: Pediatric Seizures</a>
          </strong>.
          <ul>
            <li>
              <strong>
                <a href="#/Tabs_Controller/Protocol_1024">Midazolam (Versed)</a>
              </strong>:
              <ul>
                <li>Dosage is cut in half it the paitent has received narcotics or alcholo. </li>
                <li>Consider the size of the patient for dosing. </li>
                <li>
                  <strong>IV/IO</strong> - 0.1 mg/kg (max dose for 4 mg per dose) SLOW IV. </li>
                <li>
                  <strong>Intranasal or oral - 0.2 mg/kg (max dose 10mg per dose)</strong>. </li>
                <li>Contact
                  <strong>OLMC</strong> for additional doses.</li>
              </ul>
            </li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol718PediatricHeadTrauma-markdown1700" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol718PediatricHeadTrauma-heading752" style="color:#000000;">PARAMEDIC:</h4>
    <div id="protocol718PediatricHeadTrauma-markdown1701" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure the above is complete.</li>
        <li>Maintain in-line cervical immobilization
          <strong>(NOT TRACTION)</strong>.</li>
        <li>If GCS &lt;8 consider an advanced airway.</li>
        <li>
          <strong>INTUBATION</strong>- Consider orotracheal intubation using an endotracheal tube when indicated According to current PALS guidelines.
          <ul>
            <li>Document
              <strong>_TWO</strong> confirmation methods to varify endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophogeal Intubation Detector. </li>
            <li>Insert an appropriately sized endotracheal tube and secure. </li>
            <li>Consider sedation after intubation
              <strong>
                <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>
              </strong>. </li>
            <li>Administer
              <strong>
                <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> 1.0 mg/kg</strong> IV or IO 60-90 seconds prior to intubation (if IV access readily available). </li>
          </ul>
        </li>
        <li>Following intubation,
          <strong>ELEVATE</strong> head of backboard
          <strong>20-30 degrees</strong>.</li>
        <li>If actievly seizing:
          <a href="#/Tabs_Controller/Protocol_1024">Midazolam (Versed)</a> and consider
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_714">Protocol 714: Pediatric Seizures</a>
          </strong>.
          <ul>
            <li>Dosage is cut in half if the patient has received narcotics or alcohol. </li>
            <li>Consider the size of the patient for dosing. </li>
            <li>IV/IO - 0.1 mg/kg (max dose of 4 mg per dose). </li>
            <li>Do NOT exceed adult dosing. </li>
            <li>Intranasal or oral - 0.2 mg/kg (max dose 10mg per dose). </li>
            <li>Contact OLMC for additional doses. </li>
          </ul>
        </li>
        <li>
          <strong>No nasotracheal intubation</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol718PediatricHeadTrauma-markdown1702" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol718PediatricHeadTrauma-heading753" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol718PediatricHeadTrauma-markdown1705" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>