<ion-view title="Protocol 512 - EMS Tourniquet" id="page91">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol512EMSTourniquet-heading530" style="color:#000000;text-align:center;">EMS TOURNIQUET</h3>
    <div id="protocol512EMSTourniquet-container49">
      <div id="protocol512EMSTourniquet-markdown1079" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol512EMSTourniquet-markdown1080" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol512EMSTourniquet-markdown1081" class="show-list-numbers-and-dots"></div>
    <div id="protocol512EMSTourniquet-markdown1082" class="show-list-numbers-and-dots"></div>
    <div id="protocol512EMSTourniquet-markdown1083" class="show-list-numbers-and-dots"></div>
    <div id="protocol512EMSTourniquet-markdown1084" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol512EMSTourniquet-heading531" style="color:#000000;">INDICATION:</h4>
    <div id="protocol512EMSTourniquet-markdown1085" class="show-list-numbers-and-dots">
      <ol>
        <li>Hemorrhage from an extremity that cannot be controlled with direct pressure or a pressure bandage.
          <br>a. There may be times (tactical, rescue, entrapped patient, multipule patient scene, otherwise austere environment) when tourniquet application is the best first option.</li>
        <li>There are NO contraindications.</li>
        <li>Tourniquets can be used:
          <br>a. In the face of profuse/life threatening extremity hemorrhage that cannot be controlled with either direct pressure or a pressure dressing.
          <br>b. In any circumstance where direct pressure or a pressure dressing cannot be applied quickly or effectively to stop profuse/life threatening extremity hemorrhage.</li>
        <li>Not all bleeding wounds may require tourniquet application such as:
          <br>a. Venous bleeding.
          <br>b. Hemorrhage control easily achieved with pressure dressing.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol512EMSTourniquet-markdown1086" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol512EMSTourniquet-heading532" style="color:#000000;">TOURNIQUET APPLICATION AND TECHNIQUES</h4>
    <div id="protocol512EMSTourniquet-markdown1087" class="show-list-numbers-and-dots">
      <ol>
        <li>The tourniquet should be placed 2-3 inches proximal to the bleeding wound.</li>
        <li>The tourniquet should never be placed on a joint (knee or elbow) or over an impaled object.</li>
        <li>The tourniquet should be applied tightly enough to
          <strong>completely</strong> stop bleeding from the wound (this will be painful for the patient).</li>
        <li>The affected extremity should be exposed - a view of the tourniquet should bot be obscured.</li>
        <li>The time of the tourniquet application should be specifically noted.</li>
        <li>Inform each successive provider that a tourniquet is in place.</li>
        <li>Time of tourniquet application can also be written directly on the patient.</li>
        <li>Pain medication may be necessary and should be provided. Refer to pain control
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>
        </li>
        <li>A tourniquet placed in the prehospital environment should not be removed if transport time less than 30 minutes.</li>
        <li>If tourniquet time is to exceed 30 miuntes then contact medical control to discuss possible tourniquet removal.</li>
        <li>A Tourniquet that has been on for more than six hours should not be removed by anyone except the physician providing definitive care.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol512EMSTourniquet-markdown1088" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol512EMSTourniquet-heading533" style="color:#000000;">TOURNIQUET MONITORING</h4>
    <div id="protocol512EMSTourniquet-markdown1089" class="show-list-numbers-and-dots">
      <ol>
        <li>Check wound site frequently to assess for bleeding.</li>
        <li>As the patient is resuscitated and BP increases, bleeding may begin.</li>
        <li>Tourniquet may need to be tightened.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol512EMSTourniquet-markdown1091" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol512EMSTourniquet-heading534" style="color:#000000;">TOURNIQUET REASSESSMENT AND REMOVAL</h4>
    <div id="protocol512EMSTourniquet-markdown1092" class="show-list-numbers-and-dots">
      <ol>
        <li>For short transports (&lt;30 minutes), tourniquet should generally be left in place until arrival at the E.D.</li>
        <li>For longer transports, consult medical control about tourniquet removal and replacement with pressure dressing.</li>
        <li>For amputations or near-amputations, tourniquet should not be removed by EMS.</li>
        <li>Place pressure dressing over wound but not to obscure tourniquet.</li>
        <li>Gradually loosen tourniquet and observe for bleeding.</li>
        <li>If bleeding occurs: tighten tourniquet.</li>
        <li>If no bleeding occurs: leave tourniquet loosely in place in case bleeding recurs.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol512EMSTourniquet-markdown1093" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol512EMSTourniquet-heading535" style="color:#000000;">EQUIPMENT</h4>
    <div id="protocol512EMSTourniquet-markdown1094" class="show-list-numbers-and-dots">
      <ol>
        <li>Only a commercial tourniquet should be used, if possible.</li>
        <li>Avoid improvised tourniquets (belts, cravats, twine, BP Cuffs, etc.)</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol512EMSTourniquet-markdown1095" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol512EMSTourniquet-heading537" style="color:#000000;">TOURNIQUET USE IN TRIAGE / MASS CASUALTY</h4>
    <div id="protocol512EMSTourniquet-markdown1097" class="show-list-numbers-and-dots">
      <p style="color:#000000;">In multiple patient situations, tourniquets should be applied during initial triage.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol512EMSTourniquet-markdown1098" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol512EMSTourniquet-heading536" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol512EMSTourniquet-markdown1096" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>