<ion-view title="Protocol 505 - Intraosseous Vascular Access " e-z="" (i="" o)="" -="" illinois="" bone="" needle ""="" id="page83">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-heading466" style="color:#000000;text-align:center;">INTRAOSSEOUS VASCULAR ACCESS "E_Z (I/O)-Illinois Bone Needle"</h3>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-container41">
      <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown926" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown927" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown928" class="show-list-numbers-and-dots"></div>
    <h5 id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-heading467" style="color:#000000;">ADVANCED EMT/PARAMEDIC (CCEMS RESCUE/AMBULANCE PERSONNEL ONLY)</h5>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown930" class="show-list-numbers-and-dots"></div>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown939" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>RATIONAL</strong>: This protocol is for the CCEMS Paramedic/Ambulance Advanced EMT and addresses the establishment of I/O access in the adult/pediatric patient where venous access cannot be rapidly obtained. The "
        <strong>E-Z I/O" or Illinois Bone Nede</strong> will provide a rapid alternative means of vascular access into the bone marrow of the proximal tibia in the critically unstable adult, or in a cardiac arrest patient. The tibial marrow space serves as a
        "non-collapsible vein" and provides access to the general circulation for the administration of all ACLS resuscitation drugs and IV fluids.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown931" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown932" class="show-list-numbers-and-dots"></div>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown933" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-heading468" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown934" class="show-list-numbers-and-dots">
      <ol>
        <li>Attempts at establishing a peripheral line have failed (2 attempts, or 90 seconds or no readily venous access is identified) in the following:
          <br>a. Adult/Pediatric cardiac arrest after attempts at peripheral lines have failed, or no readily venous access is identified.
          <br>b. In an unresponsive critical trauma patient with unstable vital signs and attempts (2) at peripheral lines have failed or no readily venous access is identified.
          <br>c. Consider the Illinois bone needle (18 ga) in neonates (&lt;30 days of life).</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown935" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-heading469" style="color:#000000;">EQUIPMENT</h4>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown936" class="show-list-numbers-and-dots">
      <ol>
        <li>E-Z IO or Illinois bone needle.</li>
        <li>Alcohol preps and gloves</li>
        <li>E-Z stabilizer and tape</li>
        <li>Select-3 IV tubing</li>
        <li>1000 ml bag of NS</li>
        <li>10 ml pre-filled NS syringes</li>
        <li>Pressure bag</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown937" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-heading471" style="color:#000000;">PROCEDURE:</h4>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown940" class="show-list-numbers-and-dots">
      <ol>
        <li>Patient is placed in a supine position.</li>
        <li>Assemble all necessary equipment, attach and flush the EZ-IO tubing with a pre-filled NS syringe and a IV set with pressure bag (set up and flush maintaining sterility).</li>
        <li>Identify and locate the bony landmarks, the proximal tibia is the only approved site.</li>
        <li>Place a rolled towel under knee with a foot facing outward )optional).</li>
        <li>The proximal tibial insertion site is approximately 2 cm below the patella and approximately 2 cm medial to the tibial tuberosity (depending on patient anatomy).</li>
        <li>Prep site with alcohol.</li>
        <li>Assess the tissue depth and insert the the appropriate E-Z IO needle until contact is made with the tibia -
          <strong>ensure a black mark is visible above the surgace of the skin</strong> (this will correspond to sufficient depth of the needle to be appropriately placed with the bone cavity.</li>
        <li>Firmly hold the E-Z IO at a 90-degree angle to the surface of the skin.</li>
        <li>While continuing to hold the bottom part firmly against the tibia, engage the drill and allow the needle to enter the tibia. *Extra force is not required.</li>
        <li>Once resistance is gone release the trigger and while holding the needle remove the drill and stylet.</li>
        <li>If the Illinois bone needle is used follow the Utah EMSC guidelines/ SOP's for insertion.</li>
        <li>It is suggested to attach the E-Z Stabilizer.</li>
        <li>Attach the E-Z IO tubing to the cannnula and with the 10 ml pre-filled saline syringe attempt to aspirate bone marrow (not necessary) and flush. *Lack of bone marrow does not mean that the I/O is inappropriately placed, however, it should flush
          easily. If no bone marrow is aspirated and unable to easily flush with NS then remove the cannula and choose another site.</li>
        <li>Connect the IV infusion set using a pressure bag, this should be done quickly to prevent the possibility of air embolization.</li>
        <li>Administer fluids and/or drugs as required.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown941" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-heading472" style="color:#000000;">CONTRAINDICATIONS:</h4>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown942" class="show-list-numbers-and-dots">
      <ol>
        <li>Placement of an I/O line in a fractured bone.</li>
        <li>Placement of an I/O line distal to a fractured bone (tibial placement with a fracture femur).</li>
        <li>Prior I/O puncture in the same bone. Osteogenesis Imperfecta-an inherited condition where the bones are abnormally brittle and subject to fractures.</li>
        <li>A prosthetic limb.</li>
        <li>Infection or burns are relative contraindications at the intended site-the Medical Control Physicians should be contacted
          <strong>prior</strong> to the insertion attempt.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown894" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-heading454" style="color:#000000;">MEDICAL CONTROL OPTIONS:</h4>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown895" class="show-list-numbers-and-dots">
      <ol>
        <li>An E-Z IO may be placed in a
          <strong>conscious patient</strong> under the following circumstances:
          <br>a. Paitent is deemed critically ill/injuried with unstable vital signs.
          <br>b. No peripheral vascular access is readily accessible.</li>
      </ol>
    </div>
    <h5 id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-heading455" style="color:#000000;">Procedure:</h5>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown896" class="show-list-numbers-and-dots">
      <ol>
        <li>Contact online medical control.</li>
        <li>Follow above listed procedure concerning placement.</li>
        <li>Prior to running fluids administer 40 mg (2 mL) of 2% Lidocaine thru the IO and flush with 10 mL of NS, wait 15 seconds and administer IV fluid.</li>
        <li>Contact Medical Control if additional pain control is neccessary.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown911" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-heading470" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle-markdown938" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>