<ion-view title="Protocol 609 - Bleeding/Abdominal Pain During Pregnancy" id="page101">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol609BleedingAbdominalPainDuringPregnancy-heading558" style="color:#000000;text-align:center;">BLEEDING/ABDOMINAL PAIN DURING PREGNANCY</h3>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-container58">
      <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1145" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1146" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1218" class="show-list-numbers-and-dots">
      <ol>
        <li>Bleeding or abdominal pain during any stage of pregnancy may involve life-threatening hemorrhage.</li>
        <li>Etiology depends on the stage of pregnancy:
          <br>a. First trimester: Ectopic pregnancy, miscarriage.
          <br>b. Third trimester: Placenta-previa, placental abruption.</li>
      </ol>
    </div>
    <h4 id="protocol609BleedingAbdominalPainDuringPregnancy-heading559" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1147" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Patient in any stage of pregnancy who has vaginal bleeding or steady (non-labor) abdominal pain.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol609BleedingAbdominalPainDuringPregnancy-heading560" style="color:#000000;">BASIC</h4>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1148" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Obtain full set of vital signs.</li>
        <li>Take
          <strong>OBSTETRICAL HISTORY</strong> per
          <a href="#/Tabs_Controller/tab1/Protocol_600">Protocol 600: Obstetric Emergencies</a>.</li>
        <li>Place supine (right side elevated if &gt;20 weeks gestation).</li>
        <li>
          <strong>VISUALLY EXAMINE PERINEUM</strong> for prolapsed cord, crowning, mal-presentation.</li>
        <li>If bleeding present, assess rate of active bleeding and look for presence of any tissues.</li>
        <li>All products of conception should be carefully collected and transported with the mother to the hospital.</li>
        <li>Anything other than transport should be coordinated with on-line medical consultation and/or law enforcement.</li>
        <li>Administer
          <strong>OXYGEN</strong> 4-6 L per NC or 15 L nonrebreather mask maintain oxygen saturation &gt;94%.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1149" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1150" class="show-list-numbers-and-dots"></div>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1151" class="show-list-numbers-and-dots"></div>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1152" class="show-list-numbers-and-dots"></div>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1153" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol609BleedingAbdominalPainDuringPregnancy-heading561" style="color:#000000;">ADVANCED EMT / PARAMEDIC</h4>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1219" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available.</li>
        <li>Start IV NS TKO unless hypotensive then 500 ml bolus-repeat as needed,</li>
        <li>Establish 2nd IV if able.</li>
        <li>If signs of shock present, initiate
          <strong>RAPID TRANSPORT</strong> to appropriate facility per Transport Protocol.</li>
        <li>Refer to
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>for Pain control.</li>
        <li>Monitor patient and vitals closely for signs of shock.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1157" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1215" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <p style="color:#000000;">
        <strong>PARAMEDIC ONLY:</strong>
      </p>

      <p style="color:#000000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> DRIP-for hypotension refractory to fluid boluses:</strong>
      </p>

      <ol>
        <li>
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
          <strong>2-10 mcg/min</strong> start at
          <strong>2 mcg/min</strong>. Titrate Systolic BP until it reaches 90-100 mmHg. Mix
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
          <strong>2 mg 1:1000</strong> in 1000 ml NS which yields
          <strong>0.002 mg/ml</strong>. Use Dial-a-flow extenion set following the chart below.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>






    </div>
    <div class="spacer" style="width: 748px; height: 19px;"></div>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1216" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol609BleedingAbdominalPainDuringPregnancy-heading565" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol609BleedingAbdominalPainDuringPregnancy-markdown1217" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>