<ion-view title="Protocol 310 - Allergic Reaction / Anaphylaxis" id="page63">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol310AllergicReactionAnaphylaxis-heading325" style="color:#000000;text-align:center;">ALLERGIC REACTION / ANAPHYLAXIS</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol310AllergicReactionAnaphylaxis-container21">
      <div id="protocol310AllergicReactionAnaphylaxis-markdown594" class="show-list-numbers-and-dots"></div>
    </div>
    <h4 id="protocol310AllergicReactionAnaphylaxis-heading326" style="color:#000000;">INDICATIONS</h4>
    <div id="protocol310AllergicReactionAnaphylaxis-markdown608" class="show-list-numbers-and-dots">
      <ol>
        <li>Patients with systemic signs/symptoms of allergic reation: hives, generalized itching or flushing, upper airway irritation or blockage, wheezing, hypotension.</li>
        <li>Patients with local reaction (itching, redness, swelling) to known allergies.</li>
      </ol>
    </div>
    <div id="protocol310AllergicReactionAnaphylaxis-markdown597" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol310AllergicReactionAnaphylaxis-markdown598" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol310AllergicReactionAnaphylaxis-heading327" style="color:#000000;">EMT</h4>
    <div id="protocol310AllergicReactionAnaphylaxis-markdown599" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>If the patient has any respiratiory distress and is conscious, allow them to achieve a position of comfort, including leaving a child in their parents lap.</li>
        <li>ASSESS AIRWAY PATENCY and adequacy of air exchange - provide basic airway maneuvers to all compromised airway.</li>
        <li>Always insure proper care of the C-Spine during Airway treatment.</li>
        <li>ASSIST VENTILATION and provide OXYGEN as needed. Maintain pulse ox&gt;94%.</li>
        <li>Keep the patient NPO. Stop any tube feedings.</li>
        <li>Safely and rapidly eliminate the source of exposure, as able.</li>
        <li>Apply cold pack to bite or sting site.</li>
        <li>Give or assist patient with
          <strong>Epipen (0.3mg)</strong> IM for respiratory distress and/or shock from anaphylaxis -
          <strong>contact OLMC prior to administering any medication</strong>. </li>
        <li>Assist patient with own Albuterol inhaler according to the prescription on the inhaler -
          <strong>contact OLMC prior to administering any medication</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol310AllergicReactionAnaphylaxis-markdown600" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol310AllergicReactionAnaphylaxis-heading328" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol310AllergicReactionAnaphylaxis-markdown601" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure all above is complete.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring, when available.</li>
        <li>If the patient is stable and is &gt;50 years old, has a history of Coronary Artery Disease, or if the patient is tachycardic obtain a 12 Lead ECG and transmit to on-line medical control prior to administering epinephrine.</li>
        <li>Contact OLMC for medication orders.</li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 1:1000 0.3 mg SQ or IM X 1 dose if</strong>:
          <br>a, Severe respiratory distress (bronchospasm, upper airway swelling).
          <br>b. Hypotension or other evidence of poor perfusion.</li>
        <li>If giving
          <strong>
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> IM</strong> them ensure adequate needle size (1" for deltoid - 1 1/2" for rectus femoris) Be sure to landmark appropriately to avoid nerves and blood vessels, Be sure to aspirate prior to injecting to avoid accidentally giving
          this into the blood vessel. If blood is returned on aspiration then discard the syringe and redraw the
          <strong>
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
          </strong> into a new syringe with a clean needle.</li>
        <li>Contac Medical Control for additional dose of
          <strong>
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 1:1000</strong>. If symptoms persist, may repeat every 10 minutes to max total of 1.2 mg.</li>
        <li>If significant
          <strong>WHEEZING</strong> is present:
          <br>a.
          <strong>
            <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a> 2.5 mg every 10 minutes</strong> via nebulization with oxygen @ 6 L/min. for bronchospasm/wheezing until symptoms subside.</li>
        <li>If
          <strong>STRIDOR</strong> is present:
          <br>a.
          <strong>
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> (1:1000) 2 ml</strong> mixed with 3 mlof NS via nebulizer. </li>
        <li>Establish IV access as soon as posisble - IV SALINE TKO unless hypotensive (&lt;100 Hg SBP) then give 500cc bolus repeat as needed to 1 liter in an adult and 20 cc/kg in a pediatric patient, may repeat 20 cc/kg with OLMC permisison.</li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/protocol_1007">Diphenhydramine</a> (Benadryl) Adult: 25mg</strong> IV/IO/IM for moderate to severe allergic reaction if adult may repeat to
          <strong>maximum of 50 mg</strong>.</li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/protocol_1007">Diphenhydramine</a> (Benadryl) Pediatric: 1 mg/kg</strong> IV/IO/IM for moderate to severe allergic reaction
          <strong>maximum dose 25 mg</strong>.</li>
        <li>REASSESS AIRWAY PATENCY, vitals, lung sounds, ECG frequently while enroute.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol310AllergicReactionAnaphylaxis-markdown602" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol310AllergicReactionAnaphylaxis-heading329" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol310AllergicReactionAnaphylaxis-markdown603" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure all above is complete</li>
        <li>INTUBATE in severe cases, or if patient is unresponsive especially if no improvement after
          <strong>
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
          </strong>.</li>
        <li>If patient becomes agitated with increased LOC after intubation may give:
          <strong>ADULT:
            <a href="#/Tabs_Controller/Protocol_1024">Versed</a> 2-5 mg slow IVP adult every 10 minutes to the desired effect or max dose of 10 mg. PEDS:
            <a href="#/Tabs_Controller/Protocol_1024">Versed</a> 0.1 mg/kg peds with max does 5 mg SLOW IV</strong>.</li>
        <li>Re-contact Medical Control for additional doses of
          <a href="#/Tabs_Controller/Protocol_1024">Versed</a>.</li>
      </ol>
    </div>
    <div id="protocol310AllergicReactionAnaphylaxis-markdown604" class="show-list-numbers-and-dots"></div>
    <div id="protocol310AllergicReactionAnaphylaxis-markdown605" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol310AllergicReactionAnaphylaxis-markdown606" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h5 id="protocol310AllergicReactionAnaphylaxis-heading331" style="color:#FF0000;">Medical Control Options - must contact prior to administration</h5>
    <div id="protocol310AllergicReactionAnaphylaxis-markdown609" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> (1:10,000) 1mg IV/IO for severe hypotension -
          <strong>May repeat every 5 min if shock persists</strong>.</li>
        <li>
          <p style="color:#000000;">
            <strong>Epinephrine ggt for hypotension refractory to fluid boluses:</strong>
          </p>
          <p style="color:#000000;">
            <strong>a.</strong>
            <strong>
              <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> (1:1000) 2-10 mcg/min</strong> IV/IO infusion for hypoperfusion. Titrate to maintain a SBP&gt;100 mmHg - Mix
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 2 mg 1:1000 in 1000 ml NS which yields 0.002 mg/ml (2mcg/mL) Use Dial-a-flow extension set following the chart below: </p>
        </li>
        <li>
          <p style="color:#000000;">Re-contact medical control for additional doses of
            <a href="#/Tabs_Controller/Protocol_1024">Versed</a>.</p>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>





    </div>
    <div id="protocol310AllergicReactionAnaphylaxis-markdown610" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol310AllergicReactionAnaphylaxis-heading330" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol310AllergicReactionAnaphylaxis-markdown607" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>