<ion-view title="Protocol 710 - Pediatric Supraventricular Tachycardia" id="page113">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol710PediatricSupraventricularTachycardia-heading676" style="color:#000000;text-align:center;">PEDIATRIC SUPRAVENTRICULAR TACHYCARDIA</h3>
    <div id="protocol710PediatricSupraventricularTachycardia-container70">
      <div id="protocol710PediatricSupraventricularTachycardia-markdown1443" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1444" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol710PediatricSupraventricularTachycardia-heading677" style="color:#000000;">NOTE:</h4>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1445" class="show-list-numbers-and-dots">
      <ol>
        <li>For all arrhythmias begin with the following
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_708">Protocol 708: Pediatric Cardiac Arrythmias</a>
          </strong>.</li>
        <li>Follow current ACLS and PALS guidelines as needed.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1447" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1448" class="show-list-numbers-and-dots"></div>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1449" class="show-list-numbers-and-dots"></div>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1450" class="show-list-numbers-and-dots"></div>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1451" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol710PediatricSupraventricularTachycardia-heading679" style="color:#000000;">EMT</h4>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1452" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Assess blood glucose level.</li>
        <li>Assess for signs of poor perfusion, hypotension, altered mental status, signs of shock, chest pain, or acute heart failure.</li>
        <li>Heart rate-determine ST (Sinus Tach) vs Supraventricular Tach (SVT).</li>
        <li>Capillary refill &gt;2 seconds.</li>
        <li>Absent or weak peripheral pulses.</li>
        <li>Cool, cold, cyanotic extremities.</li>
        <li>Poor muscle tone.</li>
        <li>Altered level of consciousness (lethargy or failure to recognize parents).</li>
        <li>
          <strong>Hypotension (see chart below</strong>) </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1958" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div>


      <style>
        table, th, td {
            border: 2px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>AGE</b>
            </td>
            <td>
              <b>PRESSURE</b>
            </td>
          </tr>
          <tr>
            <td> 0-2 Months </td>
            <td>60 mm Hg</td>
          </tr>
          <tr>
            <td>2 months to 1 Year</td>
            <td>70 mm Hg</td>
          </tr>
          <tr>
            <td>1 Year</td>
            <td>70 + 2 x (years in age) </td>
          </tr>
          <tr>
            <td>Over 10 Years</td>
            <td>90 mm Hg</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1959" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Pediatric Tachycardia Heart Rates:</p>
    </div>
    <div>


      <style>
        table, th, td {
            border: 2px solid black;
        }
      </style>


      <table align="center" style="margin: 10px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Sinus Tachycardia</b>
            </td>
            <td>
              <b>Supraventricular Tachycardia</b>
            </td>
          </tr>
          <tr>
            <td> Infant: Usually &lt;220 </td>
            <td>Infant: Usually &gt;220</td>
          </tr>
          <tr>
            <td>Child: Usually &lt;180</td>
            <td>Child: Usually &gt;180</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1453" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol710PediatricSupraventricularTachycardia-heading680" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1454" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>Perform a 12 ECG and transmit to receiving hospital if possible.</li>
        <li>Identify and treat the underlying cause (e.g. hyptension, pain, medication, heart failure, shokc, fever, hypoxia, etc.).</li>
        <li>Determine probable rhythm - sinus tachycardia, supraventricular tachycardia, ventricular tachycardia, etc.</li>
        <li>Contact Medical Control.</li>
        <li>Establiish vascular access if able.</li>
        <li>If hypotensive give NS 20 ml/kg then TKO rate unless directed otherwise by on-line Medical control.</li>
        <li>
          <strong>SUPRAVENTRICULAR TACHYCARDIA</strong>:
          <ul>
            <li>In stable patients obtain a 12 lead ECG, if possible and send to receiving hospital to establish a baseline.
              <ul>
                <li>Infants: SVT rate usually greater than
                  <strong>220 bpm</strong> with no variation. </li>
                <li>Children: SVT rate usually greater than
                  <strong>180 bpm</strong>
                </li>
              </ul>
            </li>
            <li>In stable patients may perform maneuvers to increase vagal tone (valsalva, ice pack to face, Tredelenburg position). </li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1455" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol710PediatricSupraventricularTachycardia-heading681" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1456" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>
          <strong>INTUBATION</strong> - Consider orotracheal intubation using an endortacheal tube when indicated or appropriate supraglottic airway.</li>
        <li>Document TWO confirmation methods to verify endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophageal Intubation Detector).</li>
        <li>
          <strong>No nasotracheal intubateion</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1457" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1458" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>
          <p style="color:#000000;">
            <strong>
              <a href="#/Tabs_Controller/Protocol_1001">Adenosine</a>
            </strong>
            <br>a. May be given for narrow or wide complex tachycardia if regular and monomorphic.
            <br>b.
            <strong>Administer 0.1 mg/kg IV/IO to max 6 mg.</strong>
            <br>c. If no conversion, repeat with
            <strong>0.2 mg/kg IV/IO to max 12 mg</strong>.
            <br>d. May repeat in 5 mintues up to
            <strong>max 3 doses total</strong>.</p>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Stable Wide Complex (QRS&gt;120 msec) Tachycardia</strong>
          </p>
        </li>
      </ol>

      <p style="color:#000000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> IS THE ONLY ANTIARRHYTHMIC TO BE USED FOR RHYTHM CONVERSION.
          <a href="#/Tabs_Controller/Protocol_1003">Amiodarone</a> IS NOT TO BE USED.</strong>
      </p>

      <p style="color:#000000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a>: 1 mg/kg IV/IO</strong>
        <br>a. May repeat every 3-5 minutes up to
        <strong>3 mg/kg</strong>
        <br>b.
        <strong>If conversion to a Sinus Rhythm begin
          <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> ggt</strong>.</p>

      <ol>
        <li>
          <p style="color:#000000;">
            <strong>Unstable Tachycardia - Synchronized Cardioversion</strong>: </p>
          <ul>
            <li>
              <strong>If no response to previous internevtions and the patient has "Serious signs of symptoms" such as</strong>:
              <ul>
                <li>Active Congestive Heart Failure/Pulmonary Edema. </li>
                <li>Altered Mental Status. </li>
                <li>Lowest acceptable systolicblood pressures are: birth to 1 month = 60 mmHg, 1 month to 1 year = 70 mmHg, 1 year to 10 years is = 70 mmHg + (age x 2) and over 10 years = 9- mmHg.</li>
              </ul>
            </li>
            <li>
              <p style="color:#000000;">Signs of shock: </p>
              <ul>
                <li>Cool, clammy, or pale skin. </li>
                <li>
                  <p style="color:#000000;">Weak or thready pulse.</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Synchronized Cardioversion</strong>: </p>
          <ul>
            <li>Indicated immediately in the unstable patient. </li>
            <li>Initial energy dose is
              <strong>0.5-1 J/kg</strong>. </li>
            <li>If no response double energy dose to
              <strong>2 J/kg</strong>. </li>
            <li>
              <strong>Sedation prior to Cardioversion
                <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>
              </strong>. </li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1459" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol710PediatricSupraventricularTachycardia-heading682" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol710PediatricSupraventricularTachycardia-markdown1460" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>