<ion-view title="Protocol 507 - Amputations" id="page85">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol507Amputations-heading481" style="color:#000000;text-align:center;">AMPUTATIONS</h3>
    <div id="protocol507Amputations-container43">
      <div id="protocol507Amputations-markdown959" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol507Amputations-markdown960" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol507Amputations-markdown961" class="show-list-numbers-and-dots"></div>
    <div id="protocol507Amputations-markdown962" class="show-list-numbers-and-dots"></div>
    <div id="protocol507Amputations-markdown963" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This Protocol addresses the problem of amputation of body parts, and attempts to facilitate the preservation of tissue as time to re-implatation for most limbs is critical. Although great advances have been made in reconstructive techniques, field
        team members are reminded that only the surgical team is qualified to estimate the outcome of reconstruction. This often requires microscopic examination in the operating room. Therfore, EMS Personnel must not make any comment to the patient concerning
        the possible outcome of the patient's injury.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol507Amputations-markdown964" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol507Amputations-markdown965" class="show-list-numbers-and-dots"></div>
    <div id="protocol507Amputations-markdown966" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol507Amputations-heading487" style="color:#000000;">INDICATION:</h4>
    <div id="protocol507Amputations-markdown973" class="show-list-numbers-and-dots">
      <ol>
        <li>Amputation or large avulsion of any body part.</li>
      </ol>
    </div>
    <h4 id="protocol507Amputations-heading488" style="color:#000000;">EXCLUSIONS:</h4>
    <div id="protocol507Amputations-markdown974" class="show-list-numbers-and-dots">
      <ol>
        <li>Major trauma to other body systems - use other appropriate Protocol and have other personnel retrieve amputated part. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol507Amputations-markdown975" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol507Amputations-heading483" style="color:#000000;">EMT</h4>
    <div id="protocol507Amputations-markdown967" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Unless this is an isolated injury, consider spinal motion.</li>
        <li>OXYGEN 4-6L NC or non-rebreather mask at 15:L as needed to maintain pulse ox &gt;94% ASSIST VENTILATION as necessary.</li>
        <li>Monitor closely for signs of shock, especially in amputations above the wrist or ankle.</li>
        <li>Control bleeding:
          <br>a. Direct pressure and elevation.
          <br>b. Proximal pressure point.
          <br>c. Consider tourniquet if appropriate -
          <a href="#/Tabs_Controller/tab1/Protocol_512">Protocol 512: EMS Tourniquet</a>.
          <br>d.
          <strong>Amputated Body Parts and/or Tissue</strong>.
          <ul>
            <li>i. If amputation is incomplete, cover stump with sterile dressing saturated in NS, splint affected digit or limb in baseline physiologic position. </li>
            <li>ii. All retrievable tissue should be transported (do not delay transport by spending an excessive amount of time looking for an amputated part). </li>
            <li>iii. Rinse part(s) with NS. </li>
            <li>iv. Wrap tissue in sterile gauze moistened with NS. </li>
            <li>v. Place tissue into plastic bag or container. </li>
            <li>vi. Place bag/container into separate container filled with ice. </li>
            <li>vii.
              <strong>Do not</strong> allow tissue to come into direct contact with ice, do not freeze, and do not submerge in water.</li>
          </ul>
        </li>
        <li>
          <strong>Tooth Avulsion</strong> that are out over 30 minutes, partial or complete cannot be re-implated on scene:
          <br>a. Handle tooth by chewing surface only (avoid touching the root).
          <br>b. Rinse with water, Do not scrub, dry, or wrap tooth in tissue or cloth.
          <br>c. Place tooth in container of (
          <strong>in order of preference</strong>)
          <ul>
            <li>i. Patients Saliva </li>
            <li>ii. Milk </li>
            <li>iii. Normal Saline </li>
            <li>iv. Water</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol507Amputations-markdown968" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol507Amputations-heading484" style="color:#000000;">ADVANCED EMT / PARAMEDIC</h4>
    <div id="protocol507Amputations-markdown969" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>If patient stable, use
          <strong>ANALGESIA PRIOR TO SPLINTING or MANIPULATION</strong> of the injured area
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>.</li>
        <li>Monitor bleeding and vital signs enroute to the hospital.</li>
        <li>Do not delay transport while searching for lost amputated part; have another crew or other responsible personnel do this.</li>
        <li>IV NS TKO or saline lock unless hypotensive then give
          <strong>250-500</strong> ml bolus and reassess.</li>
        <li>CONTACT OLMC</li>
        <li>Re-Implantation of permanent teeth on scene within the first 30 minutes of injury (primary or baby teeth should not be re-implanted) may be considered based on the current situation as follows:
          <br>a. Do not try to re-implant if more than 2 teeth are involved.
          <br>b. The tooth must be cleanly avulsed with the entire root present.
          <br>c. Only re-implant if it is one of the front 6 upper or lower teeth.
          <br>d. Patient must be conscious and cooperative.
          <br>e. Gently insert the tooth back into the appropriate location without forcing it. Do not worry about positioning it well.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol507Amputations-markdown971" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol507Amputations-heading486" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol507Amputations-markdown972" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>