<ion-view title="Protocol - 914 Ebola" id="page150">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol914Ebola-heading834" style="color:#000000;text-align:center;">EBOLA</h3>
    <div id="protocol914Ebola-container108">
      <div id="protocol914Ebola-markdown1938" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol914Ebola-markdown1939" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol914Ebola-markdown1948" class="show-list-numbers-and-dots">
      <p style="color:#000000;">When state and local EMS authorities consider the threat of an Ebola outbreak to be elevated (based on information provided by local, state, and federal public health authorities, including the CDC, and uptpn the direction of the CCEMS Service Area
        Directors, aall CCEMS and first Response Agencies will modify their practices as described below). These EMS personnel practices shall be based on the most up-to-date Ebola clinical recommendations and information from appropriate public health
        authorities.</p>

      <p style="color:#000000;">CCEMS personnel shall follow the directive of the state and local Health Officer as to destination protocol for suspected Ebola patients.</p>
    </div>
    <div id="protocol914Ebola-markdown1947" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol914Ebola-markdown1940" class="show-list-numbers-and-dots">
      <p style="color:#000000;">During the call:
        <br>1. Consider the following as potential Ebola cases.
        <br>a. Travelers with fever, fatigue, vomiting and/or diarrhea who are retruning from West African or other affected countries as potential Ebola cases and obtain additional patient history. During this time, tru to ask questions from at least six
        feet away from the patient if possible. Also ascertain if they have been in contact with someone from an affected area who had similar symptoms.
        <br>b. Contact with blood or body fluids of a patient known to have or suspected to have Ebola.
        <br>c. Residence in or travel to a country where an Ebola outbreak is occurring.
        <br>d. Direct handling of bats or primates from disease-endemic areas.
        <br>e. Anyone who has participated in a funeral or preparing a body for burial of an Ebola victim.
        <br>2. Keep the patient separated from other persons as much as possible.
        <br>3. If there are additional family members or other people found with the patient advise them to self quarantine and aso advise them not to attempt to clean soiled areas or linen and to wash any exposed areas on themselves with warm water and saoap
        and await further instructions from the Health Department. CCEMS personnel shall notify the on-duty supervisor who shall then contact the local health deparment and advise them of the situation.
        <br>4. Use caution when approaching a patient with suspected Ebola. Illness can cause delirium, with erratic behavior that can place First Response personnel at risk of infection.
        <br>5. If PSAP call takers (dispatch) advise responding units that the patient is suspected of having Ebola, First Response personnel shall don appropriate PPE before entering the scene.
        <br>6. First REsponse personnel who do not have appropriate PPE as mandated below shall stage
        <strong>away</strong> from the scene.
        <br>7. Use of standard, contact, and droplet precautions is no longer considered sufficient for situations when treating a patient with a suspected case of Ebola as defined above EMS personnel should wear:
        <br>a. Approved medical Gloves, Double glove. Outside gloves should have a cuff to aid in doffing.
        <br>b. Tyvek coveralls (fluid resistant or impermeable).
        <br>c. Shoe covers / let coverings.
        <br>d. Eye protection (goggles or face shield that fully covers the front and sides of the face).
        <br>e. Hood.
        <br>f. N95 Fit Tested Face Mask or PAPR.
        <br>g. Face shield.
        <br>h. Additional PPE might be required in certain situations (e.g. large amounts of blood and body fluids present in the evenironment), including but not limited to double gloving, disposable shoe vocers, and leg coverings.
        <br>i. PPE shall be worn upon entry into the scene and continued to be worn until personnel are no longer in contact with the patient.
        <br>j. Use a buddysystem to ensure proper PPE donning procedures using the state approved checklist and frequently spot-check PPE for proper fit and use.
        <br>8. Strictly limit the number of crew members having firect patient contact. All other personnel shall stage
        <strong>away</strong> from the immediate scene.
        <br>9. LImit the use of needles and unnecessary procedures. If possible, do not conduct high risk procedures and aerosol-generating procedures such as airway suctioning, endotracheal intubation or resuscitative effortts during the incident.
        <br>10. Responders should also immediately place disposable surgical masks on all patients presisnting such symptoms until the Public Health Emergency has passed, before having further patient contact. Note: a mask is contraindicated for patients
        suffering from respiratory distress or vomiting!
        <br>11. Advise the hospital when you are transporting a patient with fever and flu-like symptoms of that fact well before you arrival.
        <br>12. For confirmed cases or high-risk Ebola patients protect the interior of the ambulance with the plastic sheeting provided (cocoon) and close the sliding door between the cab and the box.
        <br>13. If you have come in direct contact with bodily fluids of a suspected Ebola patient, you should immediately:
        <br>a. Stop working and, follow the CDC recommendations by washing the affected skin surface with soap and running water. If soap and water is not available, use an alcohol-based hand rub gel until soap and water are obtained.
        <br>b. If a mucous membrane (such as the eye) is affected, the area should be rinsed with a large amount of water or saline solution.
        <br>c. Contact supervisor for assessment and access to post-exposure management rservices.
        <br>d. Receive medical evaluation and follow-up care as direceted by the Publich Health Organization having jurisdiction.</p>
    </div>
    <div id="protocol914Ebola-markdown1949" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol914Ebola-markdown1950" class="show-list-numbers-and-dots">
      <p style="color:#000000;">After the call</p>

      <ol>
        <li>Contaminated reusable atient care equipment should be placed in biohazard bags and labeled for cleaning and disinfection according to agenct policies. Reusable equpment should be cleaned and disinfected according to department policies wearing
          correct PPE at the receiving facility. Avoid contamination of reusable porous surfaces that cannot be made signle use.</li>
        <li>Avoid using compressed air or pressurized water for cleaning as this could potentially create airborne droplets that contain the Ebola virus.</li>
        <li>Wear reommended PPE (described above) and consider use of additional barriers (e.g. rubber boots or shoe and leg coverings) if needed. Face protection (face mask with goggles or face shield) shall be worn since tasks such as liquid waste disposal
          can generate splashes.</li>
        <li>Decontaminate other equipment and vehicles with a CDC_ approved disinfectant effective agains non-enveloped viruses (e.g. norovirus, rotavirus, adenovirus, polovirus) and follow the label directions. </li>
        <li>Disinfectant should be available in spray bottles or as commercially prepared wipes for use during transport.</li>
        <li>Spray and wipe clean any surface that becomes potentially contaminated. These surgaces should be immediately sprated and wiped clean (if using a commercially prepared disinfectant wipe) and the process repeated to limit enviornmental contamination,
          Final decontamination shall be done at the receiving facility prir to returning to service.</li>
        <li>Patient-care surfaces (including stretchers, railings, medical equipment control panels, and adjacent flooring, walls and work surfaces) are likely to become contaminated and shall be cleaned and disinfected after transport.</li>
        <li>A blood spill or spill of other body fluid or substance (e.g. feces or vomit) shall be managed through removal of bulk spill matter, cleaning the site, and then disinfecting the site of the spill.</li>
        <li>Use the approved buddy system to ensure proper removal of PPE.
          <br>a. PPE shall be carefully removed without contaminiating one's eyes, mucous membranes, or clothing with potentially infectious materials. </li>
        <li>Properly package all potentially contaminated materials including uniforms that have not been cleaned and disinfected in the designated area at the receiving facility. Any linen or fluid permeable pillows should be discarded as regulated medical
          waste.</li>
        <li>Throughly wash your hands with soap and warm water for a minimum of 30 seconds. Dry using a clean, single use towel.</li>
        <li>After completeing the transport, open all the doors and windows of the ambulance and let in air out while you are completing the paperwork at the hospital.</li>
        <li>Hand hygiene should be performed immediately after removal of PPE.</li>
      </ol>
    </div>
    <div id="protocol914Ebola-markdown1951" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol914Ebola-markdown1941" class="show-list-numbers-and-dots"></div>
    <div id="protocol914Ebola-markdown1942" class="show-list-numbers-and-dots"></div>
    <div id="protocol914Ebola-markdown1943" class="show-list-numbers-and-dots"></div>
    <div id="protocol914Ebola-markdown1944" class="show-list-numbers-and-dots"></div>
    <div id="protocol914Ebola-markdown1952" class="show-list-numbers-and-dots">
      <p style="color:#000000;">First Response personnel who develop sudden onsetof fever, intense weakness or muscle pains, vomiting, diarrhea, or any signs of hemorrhage after an unprotected exposure (i.e. not wearing recommended PPE at the time of patient contact or through
        direct contact to blood or bod fluids) to a patient with suspected or confirmed Ebola shall:</p>

      <ol>
        <li>Not report to work or immediately stop working and isolate themselves.</li>
        <li>Notify their supervisor, who should notidy local and state health deparments and follow their post exposure management guidelines.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol914Ebola-markdown1945" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol914Ebola-heading836" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol914Ebola-markdown1946" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>