<ion-view title="Protocol 724 - Pediatric Amputations-Crush Injuries" id="page144">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol724PediatricAmputationsCrushInjuries-heading797" style="color:#000000;text-align:center;">PEDIATRIC AMPUTATIONS-CRUSH INJURIES</h3>
    <div id="protocol724PediatricAmputationsCrushInjuries-container102">
      <div id="protocol724PediatricAmputationsCrushInjuries-markdown1840" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1841" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol724PediatricAmputationsCrushInjuries-heading769" style="color:#000000;">ALL PROVIDERS:</h4>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1774" class="show-list-numbers-and-dots">
      <ol>
        <li>This Protocol addresses the problem of amputation of body parts, and attempts to facilitate the preservation of tissue and the delivery of the patient to a trauma center.</li>
        <li>
          <strong>Time to re-implantation for most limbs is critical.</strong>
        </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol724PediatricAmputationsCrushInjuries-heading798" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1842" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Amputation or large avulsion of any body part.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol724PediatricAmputationsCrushInjuries-heading775" style="color:#000000;">EXCLUSIONS:</h4>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1784" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Major trauma to other body systems - use other appropriate Protocol and have other personnel retrieve amputated part.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1843" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1844" class="show-list-numbers-and-dots"></div>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1845" class="show-list-numbers-and-dots"></div>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1846" class="show-list-numbers-and-dots"></div>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1847" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol724PediatricAmputationsCrushInjuries-heading799" style="color:#000000;">EMT</h4>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1848" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Full set of vital signs including blood glucose.</li>
        <li>Maintain airway, administer 15 lpm of oxygen-maintain SPO2&gt;94%.</li>
        <li>Unless this is an isolated injury, consider spinal motion restiction.</li>
        <li>Maintain SPO2 92-94%.</li>
        <li>Apply direct pressure to control hemorrhage-consider tourniquets if needed.</li>
        <li>
          <strong>Amputated Body Parts and/or Tissue</strong>.
          <ul>
            <li>If amputation is incomplete, cover stump with sterile dressing saturated in NS, splint affected digit or limb in baseline physicologic position. </li>
            <li>All retrievable tissue should be transported (do not delay transport by spending an excessive amount of time looking for an amputated part). </li>
            <li>Rinse part(s) with NS. </li>
            <li>Wrap tisue in sterile gauze moistened with NS. </li>
            <li>Place tissue into plastic bag or container. </li>
            <li>Place bag/container into separate container filled with ice. </li>
            <li>Do not allow tissue to come into direct contact with ice, do not freeze, and do not submerge in water. </li>
          </ul>
        </li>
        <li>
          <strong>Tooth Avulsions</strong> that are out over 30 minutes, partial or cannot be re-implanted on scene.
          <ul>
            <li>Handle tooth by chewing surgace only (avoid touching the root). </li>
            <li>Rinse with water. Do not scrub, dry, or wrap tooth in tissue or cloth. </li>
            <li>Place tooth in container of (
              <strong>in order of preference</strong>):
              <ul>
                <li>Patient's Saliva. </li>
                <li>Milk. </li>
                <li>Normal Saline. </li>
                <li>Water. </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Monitor closely for signs of shock, especially in amputations above the wrist or ankle. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1849" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol724PediatricAmputationsCrushInjuries-heading800" style="color:#000000;">ADVANCED EMT / PARAMEDIC</h4>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1850" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>Establish vascular access x 2 if possible.</li>
        <li>If hypotensive bolus with NS
          <strong>20 ml/kg</strong> then reassess - may give up to
          <strong>60 ml/kg</strong> if not hypotensive TKO rate with a
          <strong>MAX</strong> bolus of
          <strong>1 L</strong>.</li>
        <li>Treat for pain and anxiety, consider
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>
          </strong>. Contact
          <strong>OLMC</strong> for medication order:
          <br>a.
          <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a>
          <strong>1 mcg/kg (max 25 mcg per dose</strong>) IV/IO.
          <br>b. In the event and IV cannot be established,
          <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a>
          <strong>1 mcg/kg</strong> may be given IM up an initial dose of
          <strong>25 mcg</strong>.
          <br>c. For additional doses, contact
          <strong>OLMC</strong>.</li>
        <li>
          <strong>Re-Implantation of permanent teeth</strong> on scene within the first 30 minutes of injury. (
          <strong>Primary or baby teeth should not be re-implanted</strong>).
          <ul>
            <li>Do not try to re-implant if more than 2 teeth are involved. </li>
            <li>The tooth must be cleanely avulsed with the entire root present. </li>
            <li>Only re-implant if it is one of the front 6 upper or lower teeth. </li>
            <li>Patient must be conscious and cooperative. </li>
            <li>Gently insert tooth back into the appropriate location without forcing it. Do not worry about positioning it well. </li>
          </ul>
        </li>
        <li>
          <strong>Crushed Syndromes</strong> should be considered for the following.
          <ul>
            <li>Entrapped/compressed patients under a load for more than
              <strong>30 minutes</strong>. </li>
            <li>Patients with little or no movement for more than 4 hours. </li>
            <li>Victims will often develop hypo or hyperthermia with prolonged environmental exposure. </li>
            <li>When possible,
              <strong>initiate IV prior</strong> to patient being freed from object or removed from floor after a porlonged immobile period of time. </li>
            <li>Patients often quickly develop elevated levels of potassium. Watch for the following ECG changes as signs of Hyperkalemia:
              <ul>
                <li>Peaked T waves. </li>
                <li>Prolonged PR intervals. </li>
                <li>ST segment depression. </li>
                <li>QRS widening, heart blocks, and ventricular arrhythmias. </li>
              </ul>
            </li>
            <li>When practical obtain a 12 Lead ECG-before and after extrication.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1851" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1853" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Medical Control Option-Must contact prior to administration.</p>

      <ol>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a>
          </strong>:
          <br>a.
          <strong>1 meq/kg of 8.4%</strong> solution children &gt; 1 month.
          <br>b.
          <strong>0.5 meq/kg of 4.2%</strong> solution for infants &lt; 1 month.
          <br>c.
          <strong>Maximum of 50 mEq</strong> IV push prior to beginning infusion and up to
          <strong>2</strong> additional times if patient develops cardiac arrhythmia or a prolonged QRS &gt; 100ms consider
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_708">Protocol 708: Pediatric Cardiac Arrythmias</a>
          </strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1854" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol724PediatricAmputationsCrushInjuries-heading802" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol724PediatricAmputationsCrushInjuries-markdown1855" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>