<ion-view title="Protocol 1021 - Pitocin" id="page48">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1021Pitocin-heading218" style="color:#000000;text-align:center;">Pitocin</h1>
    <h5 id="protocol1021Pitocin-heading219" style="color:#000000;text-align:center;">Oxytocin</h5>
    <h5 id="protocol1021Pitocin-heading220" style="color:#000000;text-align:center;">Approved for Rescue Paramedics Only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1021Pitocin-heading221" style="color:#000000;text-align:center;">Protocol 1021</h3>
    <div id="protocol1021Pitocin-markdown381" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1021Pitocin-markdown382" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_602">602</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_607">607</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1021Pitocin-heading222" style="color:#000000;text-align:center;">Hormone / Uterine Stimulant</h4>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1021Pitocin-list187">
      <div class="item item-body" id="protocol1021Pitocin-list-item-container129">
        <div id="protocol1021Pitocin-markdown383" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Causes Contraction of Uterine Smooth Muscle.
            <br>
            <strong>2.</strong> Decreases Uterine Blood Flow. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1021Pitocin-list188">
      <div class="item item-body" id="protocol1021Pitocin-list-item-container130">
        <div id="protocol1021Pitocin-markdown384" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Postpartum Hemorrhage.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1021Pitocin-list189">
      <div class="item item-body" id="protocol1021Pitocin-list-item-container131">
        <div id="protocol1021Pitocin-markdown385" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Delivery Has Not Occurred.
            <br>
            <strong>2.</strong> Possibility of Additional Fetus. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1021Pitocin-list190">
      <div class="item item-body" id="protocol1021Pitocin-list-item-container132">
        <div id="protocol1021Pitocin-markdown386" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Dysrhythmias.
            <br>
            <strong>2.</strong> Hypotension.
            <br>
            <strong>3.</strong> Seizures.
            <br>
            <strong>4.</strong> Fetal Bradycardia if Given Before Delivery.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <ion-list id="protocol1021Pitocin-list191">
      <div class="item item-body" id="protocol1021Pitocin-list-item-container133">
        <div id="protocol1021Pitocin-markdown387" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Considerations</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Can Cause Uterine Rupture.
            <br>
            <strong>2.</strong> Vital Signs and Uterine Tone Should be Monitored. </p>
        </div>
      </div>
    </ion-list>
    <h3 id="protocol1021Pitocin-heading223" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <h5 id="protocol1021Pitocin-heading224" style="color:#000000;text-align:center;">MEDICAL CONTROL MUST BE CONTACTED PRIOR TO ADMINISTRATION</h5>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1021Pitocin-list197">
      <div class="item item-body" id="protocol1021Pitocin-list-item-container139">
        <div id="protocol1021Pitocin-markdown400" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#FF0000;">
            <strong>WARNING: PITOCIN IS NOT AN IV PUSH DRUG AND MUST BE GIVEN AS AN IV INFUSION</strong>
          </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1021Pitocin-markdown399" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Adult Dose</strong>
      </p>

      <p style="color:#000000;">
        <strong>1. IM (Intramuscularly) - If IV Access is Unavailable - Give 10 units IM </strong>
      </p>

      <p style="color:#000000;">
        <strong>2. IV Infusion: May be Started if Bleeding Continues by Adding 40 Units to 1000mL NS</strong> Begin Titrating the Infusion to Decrease Bleeding and Improve Patient Comfort. </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1021Pitocin-markdown389" class="show-list-numbers-and-dots"></div>
    <div id="protocol1021Pitocin-button-bar25" class="button-bar"></div>
    <div id="protocol1021Pitocin-button-bar26" class="button-bar"></div>
    <h5 id="protocol1021Pitocin-heading234" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1021Pitocin-heading225" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>