<ion-view title="Protocol 912 - Interfacility Transport-Medications" id="page149">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol912InterfacilityTransportMedications-heading820" style="color:#000000;text-align:center;">INTERFACILITY TRANSPORT-MEDICATIONS</h3>
    <div id="protocol912InterfacilityTransportMedications-container107">
      <div id="protocol912InterfacilityTransportMedications-markdown1905" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol912InterfacilityTransportMedications-markdown1906" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol912InterfacilityTransportMedications-markdown1907" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Utah State Bureau of EMS: On behalf of the Cache Country EMS Authority, I would like to apply for a variance for CCEMS Personnel to perform interfacitily transports of patients on medication drips and that have attached medical devices that are
        not on the state list of approved medications and medical devices. We have discussed this topic and have planned its implementation at length. We believe that performing these transports will help provide better care to the citizens of Cache County.
        We will also be supporting our local hospitals, Logan Regional and Cache Valley Hopsital, in their mission of providing excellent and expeditious care to the community.</p>

      <p style="color:#000000;">Attached are three documents: (1) our proposed guideline for transferring these patients; (2) Training schedule to enducate crews on the use of specific medications that we anticipate may be running during these transfers; and (3) proposed method
        to assess quality of these transports. We have created a plan to train crews in the physiology, use of, side effects, and potential complications of certain medications which we anticipate using during transfer after consulting with the hospitals.
        The referring physician will institute all medications that are not within the EMS providers' typical scope of practice. CCEMS Personnel will not initiate medications, however will adjust the infusing medications during transport as requested
        by the
        <strong>On-line medical control.</strong> If an unanticipated problem occurs, crews have been instructed to call the on-line medical control of the transferring hopsital and to discontinue the medication drip. The IV will be flushed and a NS infusion
        hung at a TKO rate, the remaining medication will be delivered to the receiving hopsital.</p>

      <p style="color:#000000;">We have described a quality assurance program that will monitor and improve these transports. Thank you.</p>

      <p style="color:#000000;">Sincerely, </p>

      <p style="color:#000000;">Dr. Brett Porter</p>
    </div>
    <div id="protocol912InterfacilityTransportMedications-markdown1908" class="show-list-numbers-and-dots"></div>
    <div id="protocol912InterfacilityTransportMedications-markdown1909" class="show-list-numbers-and-dots"></div>
    <div id="protocol912InterfacilityTransportMedications-markdown1910" class="show-list-numbers-and-dots"></div>
    <div id="protocol912InterfacilityTransportMedications-markdown1911" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol912InterfacilityTransportMedications-markdown1912" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol912InterfacilityTransportMedications-heading823" style="color:#000000;">Interhospital Parient Transfer</h4>
    <div id="protocol912InterfacilityTransportMedications-markdown1914" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Quality Assurance Plan</p>

      <p style="color:#000000;">EMS Personnel will report the specific run number of the transfer to their supervisor who will pull and review each transfer for appropriateness, consistency to protocol, and to identify any additional training needs For the initial first six months,
        they will also be reviewed bt the off-line medical control physician.</p>

      <p style="color:#000000;">Transfers that involve any issues or concerns as identified by EMS personnel and/or LRH/CVH hopsital staff shall be forwarded to the Off-line Medical Director for further review.</p>

      <p style="color:#000000;">All transfers that involve patients defined as "
        <strong>stable with high risk of deterioriation</strong>" or "
        <strong>unstable</strong>" shall be sent to the Off-line Medical Director for review by the Capt./OIC responsible for the transferring crew.</p>

      <p style="color:#000000;">Any issues or training needs that are identified shall be addressed during the montly CCEMS Standards Meeting.</p>

      <p style="color:#000000;">
        <strong>Interhospital Patient Transfer Protocol</strong>
      </p>

      <p style="color:#000000;">
        <strong>Physician's Orders</strong>
        <br>
        <strong>Purpose</strong>:</p>

      <p style="color:#000000;">The purpose of this protocol is to establish a uniform procedure for inter-hospital transfers. Patient transfer is a physician to physician referral. It is the responsiblity of the transferring facility to perform a screening examination, determine
        if transfer to another facility is in the paitent's best interest and initialte appropriate stabilization measures prior to transfer.</p>

      <p style="color:#000000;">
        <strong>Procedure</strong>:</p>

      <ol>
        <li>The transferring physician is responsible for securing the acceptance of the paitent by an appropriate physician at the receiving facility.</li>
        <li>Care initiated by the trasferring facility may need to be continued during transport. The transferring physician will determine the treatment to be provided during the period of the patient transport.</li>
        <li>Additional helath care personnel may accompany the patient under the direction of transferring physician. This person(s) shall share responsibility with CCEMS personnel for the direct patient care during transport, and will render care to the
          patient under the orders of the transferring physician according to their scope of practice and license. All medications anticipated in these situations will be provided by the transferring facility and be under control of the accompanying hospital
          staff. It will be the responsibility of the transferring facility to provide arrangements for the return of staff, equipment, and medications.</li>
        <li>EMS personnel with the highest level of training shall be at bedside during thte transport.</li>
        <li>If the transferring physician elects to transfer the patient in the care of EMS personnel alone, it shall be consistent with the EMS personnel's training and abilities. CCEMS personnel have the right to decline transport after consultation with
          their Battalion Chief/OIC if they are uncomfortable with the orders or they have not received training on the medication or equipment. They may also insist a hospital staff member accompany them on the transfer.</li>
        <li>IV medications may be continued during transport by use of a regulatory infusion device as needed or by other means. The regulatory device will be supplied by the sending facility. Should complications arise, infusions must be discontinued and
          "
          <strong>On-Line Medical Control</strong>" from the transferring hopsital shall be contacted immediately. (See appendix A for a list of appropriate medications and approved devices).</li>
        <li>Should questions or problems arise during transfer the ambulance personnel shall contact the transferring physician. If this is not possible, or in the event of an emergency, the appropriate protocol should be followed and "
          <strong>On-Line Medical Control</strong>" from the transfering hospital shall be contacted for direction.</li>
        <li>Patients who are hemodynamically unstable will not be transported by ALS units without accompanying hospital staff unless approved by the transferring physician. If the CCEMS personnel, consider a patient unstable they may request hospital staff
          to accompany the patient. Alternate means of transport may also be considered. (See appendix B for patient acuity definitions).</li>
        <li>Patients beyond the scope of practice of the trasnfer capability of the EMS personnel, as defined by this protocol, must be transported with additional hospital staff or by alternate means. (See appendix B for patient acuity definitions).</li>
        <li>The following information should accompany the patient (but not delay the transfer in acute situations):
          <br>a. X-Rays
          <br>b. Copies of all test results and lab reports.
          <br>c, Written orders during transport.
          <br>d. Any other pertinent information.
          <br>e. Copies of pertinent hopsital records.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol912InterfacilityTransportMedications-markdown1915" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol912InterfacilityTransportMedications-heading824" style="color:#000000;">Appendix A: Appropriate Medications and Approved Devices</h4>
    <div id="protocol912InterfacilityTransportMedications-markdown1901" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Any of the following medications may be used in the Inter-facility transfer if they have been instituted by the sending facility. Unless otherwise stated, the transferring advanced Intermediate or Paramedic may continue and monitor, but not institute
        these medications and infusions.
        <br>
        <em> Aminophylline- Paramedic.
          <br>
        </em> Antibiotics, Anti-sepsis support medications- Advanced EMT/Paramedic.
        <br>
        <em>Anti-spesis support Medications- Paramedic.
          <br>
        </em>Blood products- Paramedic.
        <br>
        <em>10% Dextrose (D-10)- Advanced EMT/Paramedic.
          <br>
        </em>Digoxin- Paramedic.
        <br>
        <em>Antidysrhythmics and pressor agents- Paramedic.
          <br>
        </em>Anticonvulsants- Paramedic.
        <br>
        <em>Antihypertensive and anti-ischemia Medications- Paramedic.
          <br>
        </em>Anticoagulants- Paramedic.
        <br>
        <em>Antithrombin agents- Paramedic.
        </em>Antiplatelet agents- Paramedic.
        <br>
        <em>Insulin infusions- Paramedic.
          <br>
        </em>Magnesium Infusions- Paramedic.
        <br>
        <em>Mannitol Infusions- Paramedic.
          <br>
        </em>Anestheticsm or Sedatives- Paramedic.
        <br>
        <em>Paralytics- Paramedic.
          <br>
        </em>Anti-ulcer and antacid medications- Advanced EMT/Paramedic.
        <br>
        <em>Morphine sulfate infusions- Advanced EMT/Paramedic.
          <br>
        </em>Nitro paste- Advanced EMT/Paramedic.
        <br>
        <em>Potassium chloride Infusions- Paramedic.
          <br>
        </em>Sodium bicarbonate Infusions- Paramedic.
        <br>
        <em>Intravenous steroids- Advanced EMT/Paramedic.
          <br>
        </em>Standard IV infusion fluids- Advanced EMT/Paramedic.
        <br>
        <em>Thrombolytic Agents- Paramedic.
          <br>
        </em>Parenteral nutrition (PPN/TPN via central or peripheral IV lines)- Advanced EMT/Paramedic.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol912InterfacilityTransportMedications-markdown1903" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Inter-facility Equipment Monitoring allowed:</strong>
      </p>

      <ul>
        <li>Ventilator- Paramedic. </li>
        <li>Central &amp; Arterial lines (without hemodynamic monitoring)- Paramedic. </li>
        <li>Chest Tubes and accompanying hardware- Paramedic. </li>
        <li>Feeding tubes- Advanced EMT/Paramedic. </li>
        <li>Femoral Sheath(s) not in active use- Paramedic. </li>
        <li>NG Tubes- Advanced EMT/Paramedic. </li>
        <li>PICC Lines-- Advanced EMT/Paramedic. </li>
        <li>Infusion pumps (including insulin infusion devices)- Advanced EMT/Paramedic. </li>
        <li>Bladder Irrigation- Paramedic. </li>
        <li>Interal Pacemakers- Advanced EMT/Paramedic.</li>
      </ul>

      <p style="color:#000000;">Based upon accepted in-service training and certification and, as above, these skills are directed at the continuation and monitoring of these devices, and not their istitution or initiation, which have been accomplished at the sending facility.
        </p>

      <p style="color:#000000;">NOTE: Although the sending facility may have initiated medication(s), Paramedics/Advanced EMTs MUST be familiar with all the above medications that the patient may be receiving at the time of transfer. Paramedics/Advanced EMT may request information
        about the medication(s) from the transferring physician or access information from a PDR, computer, Internet, or simiar source. Information should include; Name, class, action, indication, dose, side effects, and contraindications. Reminder; Inter-facility
        medications are not to be intiated by Paramedics/Advanced EMT.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol912InterfacilityTransportMedications-markdown1916" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol912InterfacilityTransportMedications-heading825" style="color:#000000;">Appendix B Levels of Patient Acuity</h4>
    <div id="protocol912InterfacilityTransportMedications-markdown1917" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Stable with minimal risk for deterioration</strong>- Oxygen, monitoring of vital signs, saline lock or IV with no meds. - Advanced EMT</p>

      <p style="color:#000000;">
        <strong>Stable with low risk of deterioration</strong>- Runnning IV, some IV medications including pain medications, pulse oximetry, increased need for assessment and interpretation skills.- Advanced EMT</p>

      <p style="color:#000000;">
        <strong>Stable with higher risk of deterioration</strong>_ 3-lead ECG monitoring, basic cardiac medications, e.g.- heparin or nitroglycerin.- Paramedic.</p>

      <p style="color:#000000;">
        <strong>Stable with high risk of deterioration</strong>- Patients requiring advanced airway- intubated or on a ventilator, patients on vasoactive medication drips, or patients whose condition has been initially stabilized, but has the likelihood of deterioration,
        based on assessment or knowledge of provider regarding specific illness/injury. The transferring physician will make the decision after consulting with the attending paramedic if there is a need for two paramedics, or depending on the requirements
        of the patient an additional nurse and/or respiratory technician.</p>

      <p style="color:#000000;">
        <strong>Unstable</strong>- Any patient who cannnot be stabilized at the transferring facility, who is deteriorating or likely to deteriorate, such as patients who require invasive monitoring, balloon pump, who are post-resuscitation, or who have sustained
        multiple trauma should have sufficient staffing at bedside including a second PM or transport nurse if available. </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol912InterfacilityTransportMedications-markdown1918" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol912InterfacilityTransportMedications-heading826" style="color:#000000;">Interhospital Patient Transfer Training Plan</h4>
    <div id="protocol912InterfacilityTransportMedications-markdown1919" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Inerfacility Medication and Equipment Training Protocol</strong>:</p>

      <p style="color:#000000;">Interfacility transfer requires a unique set of skills that is distinct from the training of most hospital- based or prehospital providers approved by medical control pursuant to the resource hospital.A planned and structured program is required
        for all critical care transport personnel. Competency and currency in these competencies must be ensured and documented through relevant continuing education programs/certification programs or their equivalent, and clinical evaluation of operation
        and troubleshooting of medical devices commonly used in critical care transport.</p>

      <p style="color:#000000;">Transporting emergency medical technicians and paramedics may render care involving the use of specialized equipment and medications only if they have been specifically trained int he use of the specialized equipment and medications to be utilized
        during transport. Such training should be conducted only by individuals authorized to operate such equipment, such as critical care physicians, critical care nurses or life support technologists (respiratory therapists or cardiopulmonary perfusionisits).
        Following initial dedactic and laboratory training, clinical training of sufficient length to assure clinical competency must be provided by an appropriate preceptor. Continuing education in the operation of all such equipment must also be provided
        to assure clinical competency is fully maintained.</p>

      <p style="color:#000000;">To proceed with using this training protocol, the following requirements must be met:</p>

      <p style="color:#000000;">
        <strong>The instructor providing the training must be either a</strong>:
        <br>
        <em> Physician licensed to practice in Utah.
          <br>
        </em> Nurse Practitioner licensed to practice in Utah.
        <br>
        <em> Nurse licensed to practice in Utah and has been delegated the training task by a supervising professional, or medical control MD.
          <br>
        </em> Qualified PM with expertise in the subject area.</p>

      <p style="color:#000000;">
        <strong>The training session should allow enough time for the trainee to</strong>:
        <br>
        <em> Read through the protocol.
          <br>
        </em> Observe the procedure for administering medication.
        <br>
        <em> Provide a return demonstration. (A return demonstration is required for a statement of completion of training).
          <br>
        </em> Ask questions</p>

      <p style="color:#000000;">
        <strong>The training session should use suggested materials related to medications and equipment. All material needs prior approval by medical control</strong>:
        <br>
        <em> Documentation.
          <br>
        </em> Approved medication manuals.
        <br>
        <em> Approved equipment manuals.
          <br>
        </em> Applicable policies and prodecures.
        <br>
        <em> Power point/Video.
          <br>
        </em> Student handout - related to medications and equipment.
        <br>* Quiz and answer key. </p>

      <p style="color:#000000;">When necessary, the Medical Control Physician and paramedic will discuss with the transferring physician the orders for maintenance of existing and/or addition of new therapies per the needs of the patient, within the scope of existing treatment
        protocols and EMT scope of practice. The Medical Control Physician will be responsible for all actions/interventions initiated by the EMS personnel during transport.</p>

      <p style="color:#000000;">The Paramedic and or EMT proactively obtains working knowledge and education of any such medications or products by reviewing current medication monographs (hardcopy or electronic), consulting with sending clinicans, medical directors, or clinical
        pharmacists, reviewing established practice policies (such as for blood products), or other standard clinical research means. </p>

      <p style="color:#000000;">Written documentation of education, skills, training, demonstrated abilities, initial and/or ongoing education should be maintained, and all transport personnel should be familiar with program requirements.</p>

      <p style="color:#000000;">(
        <strong>Reminder: Interfacility medications not currently on the approved by State or CCEMS Protocols are not to be initiated by CCEMS personnel</strong>).</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol912InterfacilityTransportMedications-markdown1902" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol912InterfacilityTransportMedications-heading821" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol912InterfacilityTransportMedications-markdown1913" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>