<ion-view title="Protocols by Number" id="page4">
  <ion-content padding="true" class="has-header">
    <h3 id="protocolsByNumber-heading42" style="color:#000000;text-align:center;">Cardiac Arrest</h3>
    <ion-list id="protocolsByNumber-list69">
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item10" ui-sref="tabsController.protocol100LVAD()">
        <i class="icon ion-ios-paper-outline"></i>100 - Left Ventricular Assist Device</ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item11" ui-sref="tabsController.protocol101MedicalCardiacArrestInitialCare()">
        <i class="icon ion-ios-paper-outline"></i>101 - Medical Cardiac Arrest - Initial Care</ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item12" ui-sref="tabsController.protocol102VentricularFibrillationPulselessVentricularTachycardia()">
        <i class="icon ion-ios-paper-outline"></i>102 - VFIB &amp; Pulseless VATCH</ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item13" ui-sref="tabsController.protocol103AsystoleAndPulselessElectricalActivity()">
        <i class="icon ion-ios-paper-outline"></i>103 - Asystole &amp; Pulseless Electrical Activity</ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item14" ui-sref="tabsController.protocol104TraumaticCardiacArrest()">
        <i class="icon ion-ios-paper-outline"></i>104 - Traumatic Cardiac Arrest</ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item15" ui-sref="tabsController.protocol105HypothermicCardiacArrest()">
        <i class="icon ion-ios-paper-outline"></i>105 - Hypothermic Cardiac Arrest</ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item24" ui-sref="tabsController.protocol106CeasingResuscitativeEfforts()">
        <i class="icon ion-ios-paper-outline"></i>106 - Ceasing Resuscitative Effort</ion-item>
    </ion-list>
    <h3 id="protocolsByNumber-heading43" style="color:#000000;text-align:center;">Cardiac Rate Problems</h3>
    <ion-list id="protocolsByNumber-list70">
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item156" ui-sref="tabsController.protocol200CardiacMonitoring12Lead()">
        <i class="icon ion-ios-paper-outline"></i>200 - Cardiac Monitoring - Lead 12</ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item28" ui-sref="tabsController.protocol201Bradycardia()">
        <i class="icon ion-ios-paper-outline"></i>201 - Bradycardia</ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item26" ui-sref="tabsController.protocol202Tachycardia()">
        <i class="icon ion-ios-paper-outline"></i>202 - Tachycardia</ion-item>
    </ion-list>
    <h3 id="protocolsByNumber-heading44" style="color:#000000;text-align:center;">Medical Emergencies</h3>
    <ion-list id="protocolsByNumber-list72">
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item29" ui-sref="tabsController.protocol300ChestPain()">
        <i class="icon ion-ios-paper-outline"></i>300 - Chest Pain (ACS)
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item30" ui-sref="tabsController.protocol301Shock()">
        <i class="icon ion-ios-paper-outline"></i>301 - Shock
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item31" ui-sref="tabsController.protocol302HypovolemicShock()">
        <i class="icon ion-ios-paper-outline"></i>302 - Hypovolemic Shock
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item32" ui-sref="tabsController.protocol303CardiogenicShock()">
        <i class="icon ion-ios-paper-outline"></i>303 - Cardiogenic Shock
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item33" ui-sref="tabsController.protocol304VascularShockAndObstructiveShock()">
        <i class="icon ion-ios-paper-outline"></i>304 - Vascular and Obstructive Shock
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item34" ui-sref="tabsController.protocol305HypertensiveEmergency()">
        <i class="icon ion-ios-paper-outline"></i>305 - Hypertensive Emergency
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item35" ui-sref="tabsController.protocol306AlteredLevelOfConsciousness()">
        <i class="icon ion-ios-paper-outline"></i>306 - Altered Level of Consciousness
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item36" ui-sref="tabsController.protocol307SuspectedCVATIAStroke()">
        <i class="icon ion-ios-paper-outline"></i>307 - Suspected CVA/TIA (Stroke)
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item39" ui-sref="tabsController.protocol308Seizure()">
        <i class="icon ion-ios-paper-outline"></i>308 - Seizure
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item56" ui-sref="tabsController.protocol309Syncope()">
        <i class="icon ion-ios-paper-outline"></i>309 - Syncope
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item57" ui-sref="tabsController.protocol310AllergicReactionAnaphylaxis()">
        <i class="icon ion-ios-paper-outline"></i>310 - Allergic Reaction Anaphylaxis
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item58" ui-sref="tabsController.protocol311ToxicSubstanceExposureOverdose()">
        <i class="icon ion-ios-paper-outline"></i>311 - OD Toxic Substance Exposure OD
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item59" ui-sref="tabsController.protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure()">
        <i class="icon ion-ios-paper-outline"></i>312 -CO/Smoke Toxic Substance Explosure
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item60" ui-sref="tabsController.protocol313ToxicExposureCyanide()">
        <i class="icon ion-ios-paper-outline"></i>313 - Cyanide Toxic Substance Exposure
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item61" ui-sref="tabsController.protocol314ToxicExposureHydrofluoricAcid()">
        <i class="icon ion-ios-paper-outline"></i>314 - Hydrofluoric Acid Toxic Substance Exposure
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item62" ui-sref="tabsController.protocol315OrganophosphatesNerveAgents()">
        <i class="icon ion-ios-paper-outline"></i>315 - Organophosphates/Nerve Agents
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item63" ui-sref="tabsController.protocol316TemperatureAndEnvironmentalEmergencies()">
        <i class="icon ion-ios-paper-outline"></i>316 - Temperature and Environmental Emergencies
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item64" ui-sref="tabsController.protocol317ImmunocompromisedPatients()">
        <i class="icon ion-ios-paper-outline"></i>317 - Immunocompromised Patients
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item65" ui-sref="tabsController.protocol318SnakeBites()">
        <i class="icon ion-ios-paper-outline"></i>318 - Snake Bites
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item66" ui-sref="tabsController.protocol319GlucoseEmergenciesHypoglycemiaHyperglycemia()">
        <i class="icon ion-ios-paper-outline"></i>319 - Glucose Emergencies Hypo/Hyperglycemia
        <span class="item-note"> </span>
      </ion-item>
    </ion-list>
    <h3 id="protocolsByNumber-heading45" style="color:#000000;text-align:center;">Respiratory Emergencies</h3>
    <ion-list id="protocolsByNumber-list73">
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item27" ui-sref="tabsController.protocol400UpperAirwayObstruction()">
        <i class="icon ion-ios-paper-outline"></i>400 - Upper Airway Obstruction
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item67" ui-sref="tabsController.protocol401BronchospasmWheezing()">
        <i class="icon ion-ios-paper-outline"></i>401 - Bronchospasms (Wheezing)
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item68" ui-sref="tabsController.protocol402AcutePulmonaryEdemaCongestiveHeartFailure()">
        <i class="icon ion-ios-paper-outline"></i>402 - Acute Pulmonary Edema/CHF
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item69" ui-sref="tabsController.protocol403ContinuousPositiveAirwayPressure()">
        <i class="icon ion-ios-paper-outline"></i>403 - (CPAP) Continuous Positive Airway Pressure
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item70" ui-sref="tabsController.protocol404SupraglotticAirwayTheKingAirway()">
        <i class="icon ion-ios-paper-outline"></i>404 - Supraglottic Airway "King Airway"
        <span class="item-note"> </span>
      </ion-item>
    </ion-list>
    <h3 id="protocolsByNumber-heading46" style="color:#000000;text-align:center;">Trauma</h3>
    <ion-list id="protocolsByNumber-list74">
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item71" ui-sref="tabsController.protocol500DrowningOrSubmersion()">
        <i class="icon ion-ios-paper-outline"></i>500 - Drowning or Submersion
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item83" ui-sref="tabsController.protocol501MajorOrMultiSystemTrauma()">
        <i class="icon ion-ios-paper-outline"></i>501 - Major or Multi-System Trauma
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item72" ui-sref="tabsController.protocol502HeadTrauma()">
        <i class="icon ion-ios-paper-outline"></i>502 - Head Trauma
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item73" ui-sref="tabsController.protocol503SpinalCordInjury()">
        <i class="icon ion-ios-paper-outline"></i>503 - Spinal Cord Injury
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item74" ui-sref="tabsController.protocol504ChestTrauma()">
        <i class="icon ion-ios-paper-outline"></i>504 - Chest Trauma
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item75" ui-sref="tabsController.protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle()">
        <i class="icon ion-ios-paper-outline"></i>505 - Intraosseous Vascular Access "E-Z I/O"
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item76" ui-sref="tabsController.protocol506ExtremityFractureDislocation()">
        <i class="icon ion-ios-paper-outline"></i>506 - Extremity Fracture Dislocation
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item77" ui-sref="tabsController.protocol507Amputations()">
        <i class="icon ion-ios-paper-outline"></i>507 - Amputations
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item78" ui-sref="tabsController.protocol508BurnsAndInhalationInjuries()">
        <i class="icon ion-ios-paper-outline"></i>508 - Burns and Inhalation Injuries
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item79" ui-sref="tabsController.protocol509PainControlNauseaVomitingAnxiety()">
        <i class="icon ion-ios-paper-outline"></i>509 - Pain Control/Nausea/Vomiting/Anxiety
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item80" ui-sref="tabsController.protocol510NubainPainControl()">
        <i class="icon ion-ios-paper-outline"></i>510 - (Nubain) Pain Control
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item81" ui-sref="tabsController.protocol511ExtricationCrushInjuries()">
        <i class="icon ion-ios-paper-outline"></i>511 - Extrication/Crush Injuries
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item82" ui-sref="tabsController.protocol512EMSTourniquet()">
        <i class="icon ion-ios-paper-outline"></i>512 - EMS Tourniquet
        <span class="item-note"> </span>
      </ion-item>
    </ion-list>
    <h3 id="protocolsByNumber-heading47" style="color:#000000;text-align:center;">Oncology</h3>
    <ion-list id="protocolsByNumber-list75">
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item84" ui-sref="tabsController.protocol600ObstetricEmergencies()">
        <i class="icon ion-ios-paper-outline"></i>600 - Obstretic Emergencies
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item85" ui-sref="tabsController.protocol601LaborPains()">
        <i class="icon ion-ios-paper-outline"></i>601 - Labor Pains
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item86" ui-sref="tabsController.protocol602FullTermImminentDeliveryNewbornResuscitation()">
        <i class="icon ion-ios-paper-outline"></i>602 - Full Term Imminent Delivery Newborn Resuscitation
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item87" ui-sref="tabsController.protocol603FullTermNonImminentDeliverySeizure()">
        <i class="icon ion-ios-paper-outline"></i>603 - Full Term Non-Imminent Delivery Seizure
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item88" ui-sref="tabsController.protocol604PretermLabor()">
        <i class="icon ion-ios-paper-outline"></i>604 - Pre-term Labor
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item89" ui-sref="tabsController.protocol605MalPresentation()">
        <i class="icon ion-ios-paper-outline"></i>605 - Mal-Presentation
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item93" ui-sref="tabsController.protocol606MeconiumAspiration()">
        <i class="icon ion-ios-paper-outline"></i>606 - Meconium Aspiration
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item90" ui-sref="tabsController.protocol607VaginalHemorrhage()">
        <i class="icon ion-ios-paper-outline"></i>607 - Vaginal Hemorrhage
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item94" ui-sref="tabsController.protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia()">
        <i class="icon ion-ios-paper-outline"></i>608 - Hypertensive Emergencies Pre-Eclampsia/Eclampsia
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item91" ui-sref="tabsController.protocol609BleedingAbdominalPainDuringPregnancy()">
        <i class="icon ion-ios-paper-outline"></i>609 - Bleeding/Abdominal Pain During Pregnancy
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item95" ui-sref="tabsController.protocol610ProlapsedUmbilicalCord()">
        <i class="icon ion-ios-paper-outline"></i>610 - Prolapsed Umbilical Cord
        <span class="item-note"> </span>
      </ion-item>
    </ion-list>
    <h3 id="protocolsByNumber-heading48" style="color:#000000;text-align:center;">Pediatrics</h3>
    <ion-list id="protocolsByNumber-list76">
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item96" ui-sref="tabsController.protocol700PediatricAssessment()">
        <i class="icon ion-ios-paper-outline"></i>700 - Pediatric Assessment
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item92" ui-sref="tabsController.protocol701PediatricAirwayObstruction()">
        <i class="icon ion-ios-paper-outline"></i>701 - Pediatric Airway Obstruction
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item97" ui-sref="tabsController.protocol702PediatricRespiratoryDistress()">
        <i class="icon ion-ios-paper-outline"></i>702 - Pediatric Respiratory Distress
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item98" ui-sref="tabsController.protocol703PediatricRespiratoryFailure()">
        <i class="icon ion-ios-paper-outline"></i>703 - Pediatric Respiratory Failure
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item99" ui-sref="tabsController.protocol704PediatricAnaphylaxis()">
        <i class="icon ion-ios-paper-outline"></i>704 - Pediatric Anaphylaxis
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item101" ui-sref="tabsController.protocol705PediatricCardiopulmonaryResuscitation()">
        <i class="icon ion-ios-paper-outline"></i>705 - Pediatric CPR
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item100" ui-sref="tabsController.protocol706PediatricAsystoleAndPulselessElectricalActivityPEA()">
        <i class="icon ion-ios-paper-outline"></i>706 - Pediatric Asystole/PEA
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item102" ui-sref="tabsController.protocol707PediatricVentricularFibrillation()">
        <i class="icon ion-ios-paper-outline"></i>707 - Pediatric VFIB
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item103" ui-sref="tabsController.protocol708PEDIATRICCARDIACARRHYTHMIAS()">
        <i class="icon ion-ios-paper-outline"></i>708 - Pediatric Cardiac Arrhythmias
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item104" ui-sref="tabsController.protocol709PediatricBradyarrhythmias()">
        <i class="icon ion-ios-paper-outline"></i>709 - Pediatric Bradyarrythmias
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item105" ui-sref="tabsController.protocol710PediatricSupraventricularTachycardia()">
        <i class="icon ion-ios-paper-outline"></i>710 - Pediatric SVT (Supraventricular Tachycardia)
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item106" ui-sref="tabsController.protocol711PediatricVentricularTachycardia()">
        <i class="icon ion-ios-paper-outline"></i>711 - Pediatric VTACH (Ventricular Tachycardia)
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item107" ui-sref="tabsController.protocol712PediatricShockGeneralGuidelines()">
        <i class="icon ion-ios-paper-outline"></i>712 - Pediatric Shock (General Guidelines)
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item108" ui-sref="tabsController.protocol713PediatricAlteredLevelOfConciousness()">
        <i class="icon ion-ios-paper-outline"></i>713 - Pediatric Altered LOC (Level of Consciousness)
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item109" ui-sref="tabsController.protocol714PediatricSeizure()">
        <i class="icon ion-ios-paper-outline"></i>714 - Pediatric Seizure
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item110" ui-sref="tabsController.protocol715PediatricSyncope()">
        <i class="icon ion-ios-paper-outline"></i>715 - Pediatric Syncope
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item111" ui-sref="tabsController.protocol716PediatricFeverControl()">
        <i class="icon ion-ios-paper-outline"></i>716 - Pediatric Fever Control
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item157" ui-sref="tabsController.protocol717PediatricMajorOrMultiSystemTrauma()">
        <i class="icon ion-ios-paper-outline"></i>717 - Major or Multi-System Trauma
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item112" ui-sref="tabsController.protocol718PediatricHeadTrauma()">
        <i class="icon ion-ios-paper-outline"></i>718 - Head Trauma
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item113" ui-sref="tabsController.protocol719PediatricSpinalCordInjury()">
        <i class="icon ion-ios-paper-outline"></i>719 - Pediatric Spinal Cord Injury
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item114" ui-sref="tabsController.protocol720PediatricFlailChest()">
        <i class="icon ion-ios-paper-outline"></i>720 - Pediatric Flail Chest
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item115" ui-sref="tabsController.protocol721PediatricSuckingChestWound()">
        <i class="icon ion-ios-paper-outline"></i>721 - Pediatric Sucking Chest Wound
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item116" ui-sref="tabsController.protocol722PediatricCardiacTamponadeSuspected()">
        <i class="icon ion-ios-paper-outline"></i>722 - Pediatric Cardiac Tamponade (Suspected)
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item117" ui-sref="tabsController.protocol723PediatricFracturesDislocations()">
        <i class="icon ion-ios-paper-outline"></i>723 - Pediatric Fraction or Dislocation
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item118" ui-sref="tabsController.protocol724PediatricAmputationsCrushInjuries()">
        <i class="icon ion-ios-paper-outline"></i>724 - Pediatric Amputations
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item124" ui-sref="tabsController.protocol725PediatricThermalElectricalBurns()">
        <i class="icon ion-ios-paper-outline"></i>725 - Pediatric Burns Thermal/Electric
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item125" ui-sref="tabsController.protocol726PediatricSuspectedChildAbuseAndNeglect()">
        <i class="icon ion-ios-paper-outline"></i>726 - Pediatric Suspected Child Abuse and Neglect
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item126" ui-sref="tabsController.protocol727ChildrenWithSpecialHealthcareNeeds()">
        <i class="icon ion-ios-paper-outline"></i>727 - Pediatric Children with Special Healthcare Needs
        <span class="item-note"> </span>
      </ion-item>
    </ion-list>
    <h3 id="protocolsByNumber-heading49" style="color:#000000;text-align:center;">Behavioral Emergencies</h3>
    <ion-list id="protocolsByNumber-list81">
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item128" ui-sref="tabsController.protocol801EmergencyCareToTheSuicidalPatient()">
        <i class="icon ion-ios-paper-outline"></i>801 - Emergency Care of Suicidal Patient
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item129" ui-sref="tabsController.protocol802BehavioralDisorders()">
        <i class="icon ion-ios-paper-outline"></i>802 - Behavioral Disorders
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item130" ui-sref="tabsController.protocol803RestraintsPhysicalViolentPatientChemicalSedation()">
        <i class="icon ion-ios-paper-outline"></i>803 - Restraints and Chemical Sedation
        <span class="item-note"> </span>
      </ion-item>
    </ion-list>
    <h3 id="protocolsByNumber-heading50" style="color:#000000;text-align:center;">Procedural Protocols</h3>
    <ion-list id="protocolsByNumber-list82">
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item131" ui-sref="tabsController.protocol900FamilyCenteredCare()">
        <i class="icon ion-ios-paper-outline"></i>900 - Family Centered Care
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item132" ui-sref="tabsController.protocol901AtSceneRelease()">
        <i class="icon ion-ios-paper-outline"></i>901 - At Scene Release
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item133" ui-sref="tabsController.protocol902DeathDeterminationAndPronouncementProcess()">
        <i class="icon ion-ios-paper-outline"></i>902 - Death Determination and Pronouncement Process
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item134" ui-sref="tabsController.protocol903ControlledMedications()">
        <i class="icon ion-ios-paper-outline"></i>903 - Controlled Medications
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item135" ui-sref="tabsController.protocol904CancellingOrDowngradingRespondingParamedics()">
        <i class="icon ion-ios-paper-outline"></i>904 - Cancelling or Downgrading Paramedics
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item136" ui-sref="tabsController.protocol905AAmbulanceDestination()">
        <i class="icon ion-ios-paper-outline"></i>905a - CCEMS Trauma Destination Protocol
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item137" ui-sref="tabsController.protocol905BDestinationProtocolForNonTraumaPatients()">
        <i class="icon ion-ios-paper-outline"></i>905b - Destination Protocol for Non-Trauma Patients
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item138" ui-sref="tabsController.protocol905CDestinationProtocolForNonTraumaPatients()">
        <i class="icon ion-ios-paper-outline"></i>905c - Request for Destination Variance
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item139" ui-sref="tabsController.protocol906Nubian()">
        <i class="icon ion-ios-paper-outline"></i>906 - Nubain (Procedural)
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item140" ui-sref="tabsController.protocol907AdministrationOfNitroglycerin()">
        <i class="icon ion-ios-paper-outline"></i>907 - Administration of Nitroglycerin
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item141" ui-sref="tabsController.protocol908AdministrationOfAspirin()">
        <i class="icon ion-ios-paper-outline"></i>908 - Administration of Aspirin
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item142" ui-sref="tabsController.protocol909AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer()">
        <i class="icon ion-ios-paper-outline"></i>909 - Administration of MDI or Small Volume Nebulizer
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item143" ui-sref="tabsController.protocol910AdministrationOfEpinephrineByAutoInjector()">
        <i class="icon ion-ios-paper-outline"></i>910 - Administration of EPI by Auto Injector
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item144" ui-sref="tabsController.protocol911AdministrationOfOralGlucose()">
        <i class="icon ion-ios-paper-outline"></i>911 - Administration of Oral Glucose
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item145" ui-sref="tabsController.protocol912InterfacilityTransportMedications()">
        <i class="icon ion-ios-paper-outline"></i>912 - Interfacility Transports - Medications
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item146" ui-sref="tabsController.protocol913FamilyCenteredCare()">
        <i class="icon ion-ios-paper-outline"></i>913 - Family Centered Care
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item147" ui-sref="tabsController.protocol914Ebola()">
        <i class="icon ion-ios-paper-outline"></i>914 - Ebola
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item148" ui-sref="tabsController.protocol915NeedleDecompressionProcedure()">
        <i class="icon ion-ios-paper-outline"></i>915 - Needle Decompression Procedure
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item149" ui-sref="tabsController.protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle()">
        <i class="icon ion-ios-paper-outline"></i>916 - I/O Vascular Access Procedure
        <span class="item-note"> </span>
      </ion-item>
      <ion-item class="item-icon-left" id="protocolsByNumber-list-item150" ui-sref="tabsController.protocol917SuckingChestWoun()">
        <i class="icon ion-ios-paper-outline"></i>917 - Sucking Chest Wound
        <span class="item-note"> </span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 748px; height: 35px;"></div>
  </ion-content>
</ion-view>