<ion-view title="Protocol 708 -  PEDIATRIC CARDIAC ARRHYTHMIAS" id="page111">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol708PEDIATRICCARDIACARRHYTHMIAS-heading661" style="color:#000000;text-align:center;">PEDIATRIC VENTRICULARE FIBRILLATION</h3>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-container68">
      <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1408" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1409" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol708PEDIATRICCARDIACARRHYTHMIAS-heading662" style="color:#000000;">NOTE:</h4>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1410" class="show-list-numbers-and-dots">
      <ol>
        <li>The most common pediatric arrhythmias are
          <strong>Asystole</strong> and
          <strong>Bradycardia</strong> arrhythmias; however, pediatric rhythm disturbances can be divided into 3 types:
          <br>a. Rhythms producing a fast heart rate.
          <br>b. Rhythms producing a slow heart rate.
          <br>c. Absence of any organized electrical activity (asystole or venrticular fibrillation).</li>
        <li>Follow current ACLS and PALS guidelines as needed.</li>
      </ol>

      <p style="color:#000000;">The first priority is correction of hypoxia. The first 2 types (tachycardia-bradycardia) require urgent reatement only if the patient is symptomatic (hyptension or poorly perfused). For atrial tachycardias-cardioversion should not be performed unless
        the patient is in extremis and a long transport time is anticipated.
        <a href="#/Tabs_Controller/Protocol_1001">Adenosine</a> (
        <strong>0.01 mg/kg then 0.2 mg/kg</strong>) should be considered for selected patients. OLMC must be contacted before administration of Adenosine.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1411" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1412" class="show-list-numbers-and-dots"></div>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1413" class="show-list-numbers-and-dots"></div>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1414" class="show-list-numbers-and-dots"></div>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1415" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol708PEDIATRICCARDIACARRHYTHMIAS-heading667" style="color:#000000;">FOR ALL ARRHYTHMIAS THE FOLLOWING APPLIES:</h4>
    <h4 id="protocol708PEDIATRICCARDIACARRHYTHMIAS-heading663" style="color:#000000;">EMT</h4>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1416" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Assess for signs of poor perfusion, hypotension altered mental staus, signs of shock, cheast pain.</li>
        <li>Obtain a blood glucose level.</li>
        <li>Maintain airway; assist with breathing as necessary, provide oxygen.</li>
        <li>Begin chest compressions if persistent heart rate &lt;60/min and signs of poor perfusion following affressive oxygenation and ventilation.</li>
        <li>Ensure patient is warm.</li>
        <li>Suction as needed.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1417" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol708PEDIATRICCARDIACARRHYTHMIAS-heading664" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1418" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>Ensure above is complete</strong>.</li>
        <li>Continuous ECCG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>Perorm a 12 ECG and transmit to receiving hospital if possible.</li>
        <li>Supportive care of airway, vascular access and fluid therapy.</li>
        <li>Monitor ECG - determine rhythm. For specific arrhythmia management, see appropriate management protocols.</li>
        <li>
          <strong>RYTHMS</strong> should be documented with strip.</li>
        <li>
          <strong>CONTACT MEDICAL CONTROL</strong>.</li>
        <li>Monitor
          <strong>SCENE TIME</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1419" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol708PEDIATRICCARDIACARRHYTHMIAS-heading665" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1420" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is compete.</li>
        <li>
          <strong>INTUBATION</strong> - Consider orotracheal intubation using an endortacheal tube when indicated or appropriate supraglottic airway.</li>
        <li>Document TWO confirmation methods to verify endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophageal Intubation Detector).</li>
        <li>
          <strong>No nasotracheal intubateion</strong>.</li>
        <li>Use appropriate current
          <strong>PALS</strong> algorithms.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1421" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol708PEDIATRICCARDIACARRHYTHMIAS-heading666" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol708PEDIATRICCARDIACARRHYTHMIAS-markdown1424" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>