<ion-view title="Protocol 1008 - Dextrose" id="page19">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1008Dextrose-heading100" style="color:#000000;text-align:center;">Dextrose (D50)</h1>
    <h5 id="protocol1008Dextrose-heading102" style="color:#000000;text-align:center;">Approved for Advanced CCEMS units only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1008Dextrose-heading103" style="color:#000000;text-align:center;">Protocol 1008</h3>
    <div id="protocol1008Dextrose-markdown113" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div id="protocol1008Dextrose-markdown114" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_307">307</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_308">308</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_309">309</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_319">319</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_707">707</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_714">714</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_715">715</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_901">901</a>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1008Dextrose-heading104" style="color:#000000;text-align:center;">Class: Carbohydrate</h4>
    <ion-list id="protocol1008Dextrose-list114">
      <div class="item item-body" id="protocol1008Dextrose-list-item-container58">
        <div id="protocol1008Dextrose-markdown115" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
            <br>
            <strong>1.</strong> Rapidly restores blood sugar levels in states of hypoglycemia.
            <br>
            <strong>2.</strong> Prevents use of fats/proteins as a fuel source
            <br>
            <strong>3.</strong> Diminishes drain on glycogen stores.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1008Dextrose-list115">
      <div class="item item-body" id="protocol1008Dextrose-list-item-container59">
        <div id="protocol1008Dextrose-markdown116" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Insulin shock or decreased LOC due to hypoglycemia
            <strong>(Blood Sugar &lt;60)</strong>
            <br>
            <strong>2.</strong> Refractory Cardiac Arrest if hypoglycemic.
            <br>
            <strong>3.</strong> Status Epilepticus</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1008Dextrose-list116">
      <div class="item item-body" id="protocol1008Dextrose-list-item-container60">
        <div id="protocol1008Dextrose-markdown117" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> CVA or any neurological insult
            <br>
            <strong>2.</strong> Delirium Tremors </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1008Dextrose-list117">
      <div class="item item-body" id="protocol1008Dextrose-list-item-container61">
        <div id="protocol1008Dextrose-markdown118" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Tissue Necrosis if infiltrates </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h3 id="protocol1008Dextrose-heading105" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1008Dextrose-markdown119" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>1. Adults: 50% 25 grams</strong> IV/IO titrate to effect for hypoglycemia. May repeat 1x in 5 minutes if no improvement </p>

      <p style="color:#000000;">
        <strong>2. Hypoglycemia Pediatrics:</strong>
      </p>

      <p style="color:#000000;">
        <strong>a.</strong> Children greater than 1 year: Dextrose 25% (D25W) 2mL/kg IV
        <br>
        <strong>b.</strong> Infants up to 1 year: Dextrose 10% (D10/NS) 5mL/kg IV
        <br>
        <strong>c.</strong> Neonates &lt;30 days: Dextrose 10% (D10/NS) 2mL/kg (200mg/kg) IV</p>

      <p style="color:#000000;">
        <strong>NOTE:</strong> If commercially prepared medication is not available :</p>

      <p style="color:#000000;">
        <strong>1.</strong>To make D10 - Dilute 10mL of D50 in 40 mL of NS
        <br>
        <strong>2.</strong> To make D25 - Dilute 50 1:1 with NS. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1008Dextrose-list118">
      <div class="item item-body" id="protocol1008Dextrose-list-item-container62">
        <div id="protocol1008Dextrose-markdown120" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONSIDERATIONS</strong>
            <br>
            <strong>1.</strong> Repeat glucoscan 5 minutes after administration.
            <br>
            <strong>2.</strong> When conscious, give both fast acting sugar (juice, soda), and long acting sugar (cheese, sandwich).
            <br>
            <strong>3.</strong> Never leave unattended, may become hypoglycemic again.
            <br>
            <strong>4.</strong> If release, ensure someone will stay with the patient and with permission with medical control. Follow appropriate release protocol. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h5 id="protocol1008Dextrose-heading106" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1008Dextrose-heading107" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>