<ion-view title="Protocol 903 - Controlled Medications" id="page127">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol903ControlledMedications-heading741" style="color:#000000;text-align:center;">Controlled Medications</h3>
    <div id="protocol903ControlledMedications-container84">
      <div id="protocol903ControlledMedications-markdown1650" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol903ControlledMedications-markdown1651" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol903ControlledMedications-markdown1652" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>POLICY:</strong>
      </p>

      <ol>
        <li>
          <p style="color:#000000;">It is the policy of the Logan City Fire Department and Cache County EMS Authority to ensure compliance with all State and federal laws, rules and regulations (including Utah Rule R156-37) pertaining to the administration of controlled substances,
            by providing security, proper documentation and auditing procedures which track all medications when they are purchased, stocked, administered or wasted.</p>
        </li>
        <li>
          <p style="color:#000000;">Personnel shall not share any pin number or security code for medication safes or any other security device.</p>
        </li>
        <li>
          <p style="color:#000000;">Reports of drug diversion by fellow employees are not only a necessary part of an overall employee security program but also serve the public interest at large. Therefore, any employee who has knowledge of drug diversion from Logan Fire/Cache
            County Ambulance by a fellow employee must report such information directly to the Fire Chief. The Fire Chief shall treat such information as confidential and shall take all reasonable steps to protect the confidentiality of the information
            and the identity of the employee furnishing information. A failure to report information of drug diversion may result in disciplinary action up to and including termination. </p>
        </li>
      </ol>

      <p style="color:#000000;">
        <strong>PURPOSE AND SCOPE:</strong> This policy shall apply to all LCFD and any CCEMS Authority Personnel who, while in the course of their duties, may purchase, access, stock, administer, store, inventory, waste, or replace any Scheduled or Non Scheduled
        Medications stored on any apparatus and in stations.</p>
    </div>
    <div id="protocol903ControlledMedications-markdown1653" class="show-list-numbers-and-dots"></div>
    <div id="protocol903ControlledMedications-markdown1654" class="show-list-numbers-and-dots"></div>
    <div id="protocol903ControlledMedications-markdown1655" class="show-list-numbers-and-dots"></div>
    <div id="protocol903ControlledMedications-markdown1656" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol903ControlledMedications-markdown1657" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol903ControlledMedications-markdown1658" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PROCEDURES:</strong>
      </p>

      <ol>
        <li>
          <p style="color:#000000;">Purchase</p>
          <ol>
            <li>
              <p style="color:#000000;">Only the person authorized by the Logan City Fire Chief and Off-Line Medical Control will be allowed to purchase or pick up controlled medications for Logan City Fire Department. The designated person must have “Power of Attorney” from Medical
                Control to purchase medications under his/her DEA number. The Fire Chief is not allowed to purchase medications since the Chief is the monthly auditor.</p>
            </li>
            <li>
              <p style="color:#000000;">The authorized purchaser of controlled medications shall be accompanied by another member of the Logan Fire Department or Cache County Ambulance when picking up medications from the pharmacy, transporting them to Station 70 and securing
                them into the Station 70 safe.</p>
            </li>
            <li>
              <p style="color:#000000;">Medications shall be secured in the safe in the Battalion Vehicle while in transport.</p>
            </li>
            <li>
              <p style="color:#000000;">A copy of DEA Form 222 (for schedule II) and/or a detailed invoice, receipt, or packing slip shall be acquired at the time of pickup that identifies all medications and amounts received (i.e. vials, packs, syringes, etc).</p>
            </li>
          </ol>
        </li>
        <li>
          <p style="color:#000000;">Stocking</p>
          <ol>
            <li>
              <p style="color:#000000;">After medications are picked up, they shall immediately be taken to Station 70 and logged into inventory using the Written Station Drug Inventory Log and the electronic spreadsheet. This must be witnessed and the form signed by two personnel.</p>
            </li>
            <li>
              <p style="color:#000000;">Use the following procedure to log medications into inventory:</p>
              <ol>
                <li>
                  <p style="color:#000000;">Using a sharpie or label maker label each vial with its own unique number. The number should be the next available number for that medication, added to the lot number.</p>
                </li>
                <li>
                  <p style="color:#000000;">Open the newest Med Tracking Sheet by date at G/Fire/Admin Secure Files/Administration/Med Tracking 2015/”newest document”</p>
                </li>
                <li>
                  <p style="color:#000000;">You will be given a circular reference warning just hit OK then close the Excel Help Box.</p>
                </li>
                <li>
                  <p style="color:#000000;">On the spreadsheet you will see a “Security Warning” Macros have been disabled. Open options then enable this content.</p>
                </li>
                <li>
                  <p style="color:#000000;">Go to the “List of Meds” tab. In the first available cell at the end of the list of medications enter the Identification number</p>
                  <ol>
                    <li>
                      <p style="color:#000000;">(Example) MOR34565LL-67</p>
                    </li>
                    <li>
                      <p style="color:#000000;">MOR stands for Morphine</p>
                    </li>
                    <li>
                      <p style="color:#000000;">34565LL is the lot number assigned from the manufacturer</p>
                    </li>
                    <li>
                      <p style="color:#000000;">67 is the unique identifying number assigned by LCFD</p>
                    </li>
                  </ol>
                </li>
                <li>
                  <p style="color:#000000;">Then enter the amount. Do not specify Mcg or Mg because the spreadsheet does not recognize numbers and letters mixed together. Then enter the expiration date.</p>
                </li>
                <li>
                  <p style="color:#000000;">Repeat for all medications being added.</p>
                </li>
                <li>
                  <p style="color:#000000;">For ease of administration add each med type consecutively (i.e. all Fentanyl together then the next med then the next)</p>
                </li>
                <li>
                  <p style="color:#000000;">Scan the receipt or 222 form and place it in the G/Fire/Admin Secure Files/Administration/Med Tracking 2015/Receipts folder</p>
                </li>
                <li>
                  <p style="color:#000000;">The final step is to link the file to column B of the “List of Meds” tab next to each medication purchased on that order.</p>
                </li>
                <li>
                  <p style="color:#000000;">The person logging the medications shall also reconcile the amounts logged with the accompanying invoice, packing slip, or receipt and initial by each item showing that the order was complete.</p>
                </li>
                <li>
                  <p style="color:#000000;">Before submitting the invoice for payment, the Fire Chief or his/her designee shall reconcile the amounts logged into the electronic tracking spreadsheet with the accompanying DEA Form 222, invoice, packing slip, or receipt and initial
                    by each item showing that the order was complete. (This will assure that the amounts have been reconciled twice).</p>
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>

      <p style="color:#000000;">
        <strong>3. Storage</strong>
      </p>

      <ol>
        <li>
          <p style="color:#000000;">All scheduled medications shall be in a safe and drug box, and secured as follows:</p>
          <ol>
            <li>
              <strong>Inside the Safe.</strong> Each box inside a safe shall be secured with an approved numbered tag, with tag number documented on the Med Box log and the electronic tracking spreadsheet. Single vials shall be recorded individually on the Station
              70 Log Sheet then placed in the container for single vials and sealed with a new drug tag.</li>
          </ol>
        </li>
      </ol>

      <p style="color:#000000;">
        <strong>See Attachment # 2 Medication Log Sheet</strong>
      </p>

      <p style="color:#000000;">
        <strong>4. Medications used in the field.</strong>
      </p>

      <ol>
        <li>
          <p style="color:#000000;">All medications used or wasted in the field shall be recorded on the PCR in the signatures section under the Controlled Substance Use/Waste/Restock Record. The first section requires two sets of initials. Wasted medications section requires
            two signatures. All medications used in the field shall be restocked as quickly as feasible following the call on which they were used. When a medication is used in the field:</p>
          <ol>
            <li>
              <p style="color:#000000;">Remove tag and place in box to be recorded later.</p>
            </li>
            <li>
              <p style="color:#000000;">Use meds then place containers back in box</p>
            </li>
            <li>
              <p style="color:#000000;">At the Hospital</p>
              <ol>
                <li>
                  <p style="color:#000000;">Record meds used on the sheet attached to the box including the run number</p>
                </li>
                <li>
                  <p style="color:#000000;">Using the Smart Sink at the hospital, waste opened and unused meds in the presence of a witness and obtain proper signatures on the e-PCR. It is preferred that the second signature be from hospital personnel for third-party validation
                    but not required.</p>
                </li>
                <li>
                  <p style="color:#000000;">If not wasted at the hospital place unused meds back in the med box.</p>
                </li>
                <li>
                  <p style="color:#000000;">RE-seal box with the red tag supplied in the med box.</p>
                </li>
                <li>
                  <p style="color:#000000;">Record red tag number on sheet</p>
                </li>
              </ol>
            </li>
            <li>
              <p style="color:#000000;">Place box in station safe and let the battalion chief know it needs to be picked up or at Station 70 place in battalion safe</p>
            </li>
            <li>
              <p style="color:#000000;">Get a new box to replace the used one from the station safe or from the battalion safe</p>
            </li>
          </ol>
        </li>
      </ol>

      <p style="color:#000000;">
        <strong>5. Replacing Medications</strong>
      </p>

      <ol>
        <li>
          <p style="color:#000000;">Anytime medications are replaced it shall be done by at least two personnel one of which must be a Chief Officer.</p>
        </li>
        <li>
          <p style="color:#000000;">Make sure the red tag number on the tracking sheet for that box matches the tag attached to the box</p>
        </li>
        <li>
          <p style="color:#000000;">Go to the tab for the box that has been used on the spreadsheet</p>
        </li>
        <li>
          <p style="color:#000000;">Find the medication that was used and highlight the box red</p>
        </li>
        <li>
          <p style="color:#000000;">Enter the call information (Date, Run Number,) from the sheet (hard copy) into the spreadsheet next to the medication that was used.</p>
        </li>
        <li>
          <p style="color:#000000;">Enter the red tag number sealing the box when it came in from the field in column H</p>
        </li>
        <li>
          <p style="color:#000000;">In “Rescue Bridge”</p>
          <ol>
            <li>
              <p style="color:#000000;">Call History</p>
            </li>
            <li>
              <p style="color:#000000;">Enter date of call in date range</p>
            </li>
            <li>
              <p style="color:#000000;">Open the call the medication was used on</p>
            </li>
            <li>
              <p style="color:#000000;">Assure that the medication used and the correct amount is recorded in the actions taken/procedures and in the signatures section.</p>
            </li>
            <li>
              <p style="color:#000000;">Assure that the amounts for used and wasted are correct and if any was wasted has been recorded accompanied by two signatures.</p>
            </li>
          </ol>
        </li>
        <li>
          <p style="color:#000000;">On the tab for the drug box being replaced initial the box indicating that the e-PCR and the wasting form has been verified (column F)</p>
        </li>
        <li>
          <p style="color:#000000;">Go to the List of Meds tab and find the medication that was used, highlight it purple and in the current location box mark “USED” in CAPS</p>
        </li>
        <li>
          <p style="color:#000000;">From the drop down list choose the med box you are replacing the medication in and select it</p>
        </li>
        <li>
          <p style="color:#000000;">Select the box containing the med you are adding from the med list</p>
        </li>
        <li>
          <p style="color:#000000;">click on "add medication to box"</p>
        </li>
        <li>
          <p style="color:#000000;">Go to the tab for the med box you are replacing a medication in</p>
        </li>
        <li>
          <p style="color:#000000;">Do a complete inventory of the Med Box before sealing it with a new tag</p>
        </li>
        <li>
          <p style="color:#000000;">Record the new yellow tag number on the sheet with the initials of the two personnel witnessing the action.</p>
        </li>
        <li>
          <p style="color:#000000;">Save file with the current date</p>
        </li>
        <li>
          <p style="color:#000000;">On the Station 70 Drug Inventory Sheet record the amount taken from inventory and assure (count) the actual inventory amount matches the amount on the Inventory Sheet and on the spreadsheet.</p>
        </li>
        <li>
          <p style="color:#000000;">As the medication tracking forms become full they shall be filed by Med Box number in the file in the Chiefs Office. </p>
        </li>
      </ol>

      <p style="color:#000000;">
        <strong>F. Inventory Verifications and Wasting</strong>
      </p>

      <ol>
        <li>
          <p style="color:#000000;">At the beginning of each shift an inventory of all med boxes shall be taken. The med box inventory tag # shall be verified that it matches the drug sheet and recorded on the drug sheet with the initials of the two personnel witnessing the action.
            Any discrepancies shall be forwarded to the Fire Chief or designee immediately.</p>
        </li>
        <li>
          <p style="color:#000000;">All personnel are responsible to notify the Battalion Chief if the Smart Sink red indicator lights are flashing advising that the unit needs replacement.</p>
        </li>
        <li>
          <p style="color:#000000;">Used canisters from the Smart Sink shall be returned to the manufacturer for disposal following the manufacturer’s directions.</p>
        </li>
        <li>
          <p style="color:#000000;">Disposal records shall be kept in the file cabinet in the chief’s office</p>
        </li>
        <li>
          <p style="color:#000000;">The keys for the Smart Sink shall be secured in the Med Safe at Station 70.</p>
        </li>
        <li>
          <p style="color:#000000;">The “List of Meds” tab shall be checked for medication expiration dates on the last day of the month by the chief or his/her designee. All other meds shall be checked by the crews. Any medications that expire shall be picked up by the battalion
            chief and taken back to station 70 for disposal. If the medication is in a med box the entire med box shall be sent to 70 for restocking. </p>
        </li>
        <li>
          <p style="color:#000000;">Expired medications shall be disposed of by using a reverse distributor. All controlled medications must be documented on DEA form 41 when out dated.</p>
        </li>
      </ol>

      <p style="color:#000000;">
        <strong>G. Auditing</strong>
      </p>

      <ol>
        <li>
          <p style="color:#000000;">All medication safes will have a complete inventory performed weekly. The medication box number will then be e-mailed to the Fire Chief. The fire chief or designee will reconcile the inventory to assure that all med boxes are accounted for using
            the med box tab.</p>
        </li>
        <li>
          <p style="color:#000000;">The Fire Chief shall perform an inventory audit each time med boxes are restocked to reconcile the inventory between the Master Station Logs, and any invoices, receipts, or packing slips since the last audit. The amount of medications used will
            be updated by running the report on Image Trend. </p>
        </li>
        <li>
          <p style="color:#000000;">The person approving invoices shall reconcile the invoice with the packing slip and the inventory forms before approving the invoice for payment.</p>
        </li>
        <li>
          <p style="color:#000000;">A copy of the invoice shall be kept with the packing slip and the inventory control forms.</p>
        </li>
        <li>
          <p style="color:#000000;">Auditing procedures for the Chief</p>
          <ol>
            <li>
              <p style="color:#000000;">All meds are accounted for by invoice number on the “List of Meds” tab.</p>
            </li>
            <li>
              <p style="color:#000000;">Once a month a report showing the amount of medications administered, wasted, or outdated shall be generated.</p>
            </li>
            <li>
              <p style="color:#000000;">Those numbers shall be subtracted from the totals on the previous month's report.</p>
            </li>
            <li>
              <p style="color:#000000;">Those numbers must match the current spreadsheet. This assures that the amounts listed on the PCRs match the medication tracking spreadsheet.</p>
            </li>
          </ol>
        </li>
        <li>
          <p style="color:#000000;">If discrepancies occur complete the following steps. </p>
          <ol>
            <li>
              <p style="color:#000000;">Go through the tag numbers and find the discrepancy</p>
            </li>
            <li>
              <p style="color:#000000;">Audit the safe records and compare with the hard copy control sheet</p>
            </li>
            <li>
              <p style="color:#000000;">Match safe log with station log and spreadsheet.</p>
            </li>
            <li>
              <p style="color:#000000;">If the discrepancy cannot be reconciled the Chief responsible for the medication tracking program shall:</p>
              <ol>
                <li>
                  <p style="color:#000000;">Notify the DEA Field Office immediately</p>
                </li>
                <li>
                  <p style="color:#000000;">Complete DEA form 106 within 24 hours and send it to the DEA Field Office.</p>
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol903ControlledMedications-markdown1659" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol903ControlledMedications-heading742" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol903ControlledMedications-markdown1660" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>