<ion-view title="Protocol 317 - Immunocompromised Patients" id="page70">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol317ImmunocompromisedPatients-heading369" style="color:#000000;text-align:center;">IMMUNOCOMPROMISED PATIENTS</h3>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol317ImmunocompromisedPatients-container28">
      <div id="protocol317ImmunocompromisedPatients-markdown677" class="show-list-numbers-and-dots"></div>
    </div>
    <h4 id="protocol317ImmunocompromisedPatients-heading370" style="color:#000000;">Key Considerations</h4>
    <div id="protocol317ImmunocompromisedPatients-markdown678" class="show-list-numbers-and-dots">
      <ol>
        <li>Family members are often the best resource for patient care information.</li>
        <li>Due to patient's inability to fight infection, patient may become very ill in a short period of time. These patients may present in overwhelming shock or sepsis, or respiratory distress.</li>
        <li>Protect patients from infectious exposure during transport.</li>
        <li>
          <strong>All EMS providers should use universal precautions (strict hand washing, gloves) and masks should be worn by providers with any possible infectious condition (URI, etc.)</strong>.</li>
        <li>These patients are at risk for low platelets and anemia, bleeding is a risk.</li>
        <li>No rectal medications for treatment.</li>
        <li>Avoid Ibuprofen with these patients.</li>
      </ol>
    </div>
    <div id="protocol317ImmunocompromisedPatients-markdown679" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol317ImmunocompromisedPatients-markdown680" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol317ImmunocompromisedPatients-heading371" style="color:#000000;">EMT</h4>
    <div id="protocol317ImmunocompromisedPatients-markdown688" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam</li>
        <li>Blood glucose, temperature and oxygen saturation assessment.</li>
        <li>Assess and document reasons the patient may be immunocompromised, such as congenital syndromes, chemotherapy, transplant surgery, autoimmune disorder, or steroid usage.</li>
        <li>Assess and treat compromised airway, respiratory distress, altered mental status.</li>
        <li>Assess for overwhelming sepsis with shock.</li>
        <li>Provide 100% oxygen to the patient maintain an oxygen saturation 90-94%.</li>
        <li>Keep the patient NPO.</li>
      </ol>
    </div>
    <div id="protocol317ImmunocompromisedPatients-markdown681" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol317ImmunocompromisedPatients-markdown682" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol317ImmunocompromisedPatients-heading372" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol317ImmunocompromisedPatients-markdown683" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available.</li>
        <li>If severely febrile &gt;then 101 and with rigors, may give
          <a href="#/Tabs_Controller/Protocol_1022">Tylenol (Acetaminophen)</a> orally and document temperature. If temperature below this level, do not treat fever.</li>
        <li>Establish vascular access-set rate @ TKO unless hypotensiev then give BS 250-500 ml boluses for Adult patients to max 2 L and 20 ml/kg boluses for pediatric patients to max of 40 ml/kg.</li>
        <li>Treat nausea/vomiting per
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>
        </li>
        <li>Transport-contact OLMC</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol317ImmunocompromisedPatients-markdown684" class="show-list-numbers-and-dots"></div>
    <div id="protocol317ImmunocompromisedPatients-markdown685" class="show-list-numbers-and-dots"></div>
    <div id="protocol317ImmunocompromisedPatients-markdown686" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol317ImmunocompromisedPatients-heading374" style="color:#FF0000;">Medical Control Option - Must contact before administration</h5>
    <div id="protocol317ImmunocompromisedPatients-markdown766" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> gtt for hypotension refractory to fliud boluses</strong>
      </p>

      <p style="color:#FF0000;">
        <strong>1.</strong> If shock present:
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
        <strong>2-10mcg/min.</strong>, titrate systolic BP until it reaches 90-100 mmHg. Mix
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 2 mg 1:1000 in 1000 mL NS which yields 0.002mg/mL (2mcg/mL) Use dial-a-flow extension set following the chart below:</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>


    </div>
    <h5 id="protocol317ImmunocompromisedPatients-heading373" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol317ImmunocompromisedPatients-markdown687" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>