<ion-view title="Protocol 303 - Cardiogenic Shock" id="page56">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol303CardiogenicShock-heading268" style="color:#000000;text-align:center;">Cardiogenic Shock</h2>
    <div class="spacer" style="height: 17px;"></div>
    <h4 id="protocol303CardiogenicShock-heading270" style="color:#000000;">INDICATION</h4>
    <div id="protocol303CardiogenicShock-container14">
      <div id="protocol303CardiogenicShock-markdown467" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol303CardiogenicShock-markdown469" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Patients who meet shock criteria, and have historical evidence of cardiac dysfunction or failure: chest pain, dyspnea, palpitations or physical evidence such as: rales, hypotension or a serious arrhythmia </p>

      <p style="color:#000000;"> Consider Shock in patients with one or more of the following:</p>

      <ol>
        <li>Vital signs: HR&gt;100, SBP of&lt;90 mmHg for adults, SBP &lt;70+ (age in years x2) mmHg for peds, or RR &gt;20 BPM.</li>
        <li>Skin signs: Cold clammy skin, febrile or flash or delayed capillary refill.</li>
        <li>Mental status: Altered, lethargic, or irritable (esp. in infants).</li>
      </ol>
    </div>
    <div id="protocol303CardiogenicShock-markdown470" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol303CardiogenicShock-markdown471" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol303CardiogenicShock-heading271" style="color:#000000;">EMT</h4>
    <div id="protocol303CardiogenicShock-markdown472" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Focused history and physical exam </p>

      <ol>
        <li>Blood glucose, oxygen saturation and temperature assessment.</li>
        <li>Administer 15 lpm of oxygen by Nonrebreather mask.</li>
        <li>C-spine immobilization, if indicated.</li>
        <li>Ensure patient warmth.</li>
        <li>ASSIST VENTILATION with 100% OXYGEN if necessary.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol303CardiogenicShock-markdown473" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol303CardiogenicShock-heading272" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol303CardiogenicShock-markdown474" class="show-list-numbers-and-dots">
      <ol>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>APPLY ECG MONITOR/12 Lead ECG if available - if arrhythmias present go immediately to appropriate Protocol.</li>
        <li>INITIATE TRANSPORT as soon as possible.</li>
        <li>Reassess vitals, mental status, airway &amp; respiratory status, and ECG rhythm frequently.</li>
        <li>Vascular access - 2 large bore IV's if able, if lungs "wet" or patient has marked dyspnea, start a Hep Cap or NS @ TKO Rate.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol303CardiogenicShock-markdown475" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol303CardiogenicShock-heading273" style="color:#000000;">CARDIOGENIC SHOCK</h4>
    <div id="protocol303CardiogenicShock-markdown479" class="show-list-numbers-and-dots">
      <ol>
        <li>In patients with CHF, pulmonary edema, cardiogenic shock or kidney failure (i.e. dialysis patients), provide 500mL fluid boluses up to a maximum of 1 liter and reassess for reversal of the signs of shock.
          <strong>Monitor closely for signs of fluid overload (increased dyspnea, cough, frothy sputum, JVD, or inspiratiory crackles) Immediately run IV @ TKO rate.</strong>
        </li>
        <li>Consult
          <strong>OLMC</strong>
        </li>
      </ol>
    </div>
    <div id="protocol303CardiogenicShock-markdown476" class="show-list-numbers-and-dots"></div>
    <div id="protocol303CardiogenicShock-markdown477" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol303CardiogenicShock-markdown480" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol303CardiogenicShock-heading274" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol303CardiogenicShock-markdown481" class="show-list-numbers-and-dots">
      <ol>
        <li>Obtain 12 lead if not already obtained and transmit to receiving facility.</li>
        <li>Advanced Airway if indicated: Nasotracheal route may be useful for awake patients.</li>
        <li>If lungs are clear and no significant respiratory distress, continue NS wide open until perfusion improves, respiratory distress develops or rales are heard on lung exam.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol303CardiogenicShock-markdown482" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol303CardiogenicShock-heading275" style="color:#FF0000;">Medical Control Option - Must contact prior to administration</h5>
    <div id="protocol303CardiogenicShock-markdown483" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>1.</strong> If lungs sound "wet", respiratory distress present or no response to fluid challenge and VS are stable: Lasix 40 mg IV/IO may repeat x1.
        <br>
        <strong>2.</strong> If hypotensive and refractory to fluid bolus:
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
        <strong>2-10 mcg/min</strong> and titrate systolic BP until it reaches
        <strong>90-100</strong> mmHg. Mix
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 2 mg 1:1000 in 1000 ml NS which yields
        <strong>0.002</strong> mg/ml (2mcg/ml) Use Dial-a-flow extension set following the chart below:</p>
    </div>
    <div>


      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>



    </div>
    <h5 id="protocol303CardiogenicShock-heading269" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol303CardiogenicShock-markdown478" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>