<ion-view title="Protocol 909 - Administration of Prescribed Metered-Dose Inhaler or Small Volume Nebulizer" id="page137">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol909AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer-heading758" style="color:#000000;text-align:center;">Administration of Prescribed Metered-Dose Inhaler or Small Volume Nebulizer</h3>
    <div id="protocol909AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer-container94">
      <div id="protocol909AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer-markdown1744" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol909AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer-markdown1745" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol909AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer-markdown1746" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>This protocol is for the EMT First Responder only.</strong>
      </p>

      <hr>

      <p style="color:#000000;">
        <strong>Determine Need for PRESCRIBED INHALER:</strong>
      </p>

      <ol>
        <li>Refer to
          <a href="#/Tabs_Controller/tab1/Protocol_401">Protocol 401: BRONCHOSPASM (WHEEZING)</a>
        </li>
        <li>Patient has history of respiratory emergency and is prescribed an inhaler </li>
        <li>Patient exhibits signs and symptoms of respiratory emergency </li>
        <li>Shortness of breath</li>
        <li>Restlessness </li>
        <li>Use of accessory muscles for breathing </li>
        <li>Nasal flaring</li>
        <li>Tripod position </li>
        <li>Patient capable of following directions </li>
        <li>Place Patient on high flow O2 via non-rebreather mask </li>
        <li>Obtain order from online medical control to administer bronchodilator per protocol </li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Inquire About Previous Doses:</strong>
      </p>

      <ol>
        <li>Total doses taken/administered </li>
        <li>When last dose taken/administered </li>
        <li>Effects of previous dose </li>
        <li>Any other interventions </li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Obtain inhaler or small volume nebulizer:</strong>
      </p>

      <ol>
        <li>Ensure the “six rights” of medication administration: </li>
        <li>Right patient – prescribed to patient </li>
        <li>Right medication – for patient condition </li>
        <li>Right dose – metered dose or ampul </li>
        <li>Right route - inhaled </li>
        <li>Right time – within expiration date</li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Contact OLMC prior to administering for order</strong>
      </p>

      <p style="color:#000000;">
        <strong>Prepare and Administer Inhaler or nebulizer:</strong>
      </p>

      <hr>

      <p style="color:#000000;">
        <strong>Inhaler:</strong>
      </p>

      <ol>
        <li>Read and follow inhaler manufacturer's directions </li>
        <li>Take patient off O2 for duration of treatment </li>
        <li>Have patient exhale deeply </li>
        <li>Have patient place lips around opening of inhaler </li>
        <li>Have patient depress the hand held inhaler while simultaneously inhaling deeply </li>
        <li>Instruct patient to hold breath for as long as possible </li>
        <li>Repeat per medical direction</li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Nebulizer:</strong>
      </p>

      <ol>
        <li>Insert medication into container, adds sterile saline if needed. </li>
        <li>Assemble nebulizer mouthpiece and tubing </li>
        <li>Connect to O2 Supply, flow at ≈ 6L/min. to produce mist </li>
        <li>Instruct patient to places mouthpiece between lips and inhales deeply </li>
        <li>Instruct patient holds inhaled breath for 3-5 seconds </li>
        <li>When mist dissipates discontinue treatment </li>
        <li>Replace non-rebreather mask with high flow O2 </li>
      </ol>

      <p style="color:#000000;">
        <strong>Assess respiratory status and patient‘s response.</strong>
      </p>
    </div>
    <div id="protocol909AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer-markdown1747" class="show-list-numbers-and-dots"></div>
    <div id="protocol909AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer-markdown1748" class="show-list-numbers-and-dots"></div>
    <div id="protocol909AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer-markdown1749" class="show-list-numbers-and-dots"></div>
    <div id="protocol909AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer-markdown1750" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol909AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer-markdown1751" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol909AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer-heading759" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol909AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer-markdown1753" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>