<ion-view title="Protocol 403 - Continuous Positive Airway Pressure" id="page77">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol403ContinuousPositiveAirwayPressure-heading422" style="color:#000000;text-align:center;">Continuous Positive Airway Pressure</h3>
    <h4 id="protocol403ContinuousPositiveAirwayPressure-heading430" style="color:#000000;text-align:center;">CPAP</h4>
    <div id="protocol403ContinuousPositiveAirwayPressure-container35">
      <div id="protocol403ContinuousPositiveAirwayPressure-markdown827" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown828" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol403ContinuousPositiveAirwayPressure-heading423" style="color:#000000;">RATIONAL</h4>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown829" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This protocol is for the CCEMS ADVANCED EMT/Paramedic and addresses the use of a “CPAP” device to deliver supplemental oxygen under pressure to promote improved ventilation and oxygen delivery. Continuous positive airway pressure (CPAP) is the use
        of continuous positive pressure to maintain a continuous level of positive airway pressure in a spontaneously breathing patient. CPAP delivers positive airway pressure throughout the breathing cycle (inspiration/exhalation), independent of the
        patients flow rate. This is useful in certain pulmonary states where the additional pressure is useful to assist in keeping the airways open and lessening the effects of pulmonary edema by forcing fluid back across capillary beds into the vascular
        system. It is also useful in acute exacerbation of Asthma or COPD and can hopefully relieve the need for endotracheal intubation.</p>
    </div>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown830" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown831" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol403ContinuousPositiveAirwayPressure-heading424" style="color:#000000;">INDICATION</h4>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown832" class="show-list-numbers-and-dots">
      <ol>
        <li>Patient must have spontaneous respirations.</li>
        <li>Patients with S/S of CHF or Pulmonary Edema consider
          <a href="#/Tabs_Controller/tab1/Protocol_402">Protocol 402: Acute Pulmonary Edema/Congestive Heart Failure</a>. </li>
        <li>Patients with S/S of COPD, Asthma, severe bronchospasms, pneumonia, inhalation injury or near drowning. </li>
        <li>Patients with S/S of severe bronchospasm associated with acute allergic reaction/anaphylaxis. </li>
        <li>Patient age &gt;12 and &gt;30kg. </li>
        <li>Hypoxia related to above conditions and the ability to maintain an oximetry level of 90% with supplemental oxygen or failure improve respiratory distress with supplemental oxygen by NC or non-rebreather mask.</li>
        <li>Respiratory rate &gt;16/min, or signs of distress such as: retractions or use of accessory muscles. </li>
      </ol>
    </div>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown833" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown834" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown835" class="show-list-numbers-and-dots"></div>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown836" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol403ContinuousPositiveAirwayPressure-heading425" style="color:#000000;">CONTRAINDICATIONS</h4>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown837" class="show-list-numbers-and-dots">
      <ol>
        <li>Facial Lacerations</li>
        <li>Laryngeal trauma</li>
        <li>Recent tracheal or esophageal surgery</li>
        <li>Gastrointestinal bleeding or ileus</li>
        <li>Recent gastric surgery</li>
        <li>Basilar skull fracture</li>
        <li>Hypovolemia</li>
        <li>Chest trauma with possibility of rib fractures/pneumothorax</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown838" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol403ContinuousPositiveAirwayPressure-heading426" style="color:#000000;">ADVANCED EMT / PARAMEDIC (CCEMS UNITS ONLY)</h4>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown839" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>1.</strong> Full adult assessment with complete VS and cardiac monitoring, end-tidal CO2 if available.
        <br>
        <strong>2.</strong> Connect to oxygen supply @
        <strong>15L/Min Flow</strong>.
        <br>
        <strong>3.</strong> Ensure device is free of obstructions and valve fucntions.
        <br>
        <strong>4.</strong> Place mask over patient's face and use straps to secure ensuring a snug fit.
        <br>
        <strong>5.</strong> Ensure there are no air leaks. </p>
    </div>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown840" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>6.</strong> CPAP - Provide CPAP of 5 cm H2O to begin with and titrate PEEP slowly to maximum of 10 cm H2O. *Higher PEEP can cause severe reduction in venous return which can result in profound shock. Monitor VS closely. </p>
    </div>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown841" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>7.</strong> Monitor the patient's ECG and continuous pulse oximetry.
        <br>
        <strong>8.</strong> Coach the patient to reduce anxiety.
        <br>
        <strong>9.</strong> Notify medical control early in the event of CPAP usage so that a device will be ready on arrival at the Emergency Department.
        <br>
        <strong>10.</strong> If unable to obtain a secure fit, discontinue CPAP and use alternative therapies as required such as ET intubation, King airway, and BVM ventilation as per appropriate protocol. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown842" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <h4 id="protocol403ContinuousPositiveAirwayPressure-heading427" style="color:#000000;">PHARMACOLOGY</h4>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown843" class="show-list-numbers-and-dots">
      <ol>
        <li>Consider the use of
          <a href="#/Tabs_Controller/Protocol_1019">Nitroglycerin</a>,
          <a href="#/Tabs_Controller/Protocol_1017">Morphine</a>, and
          <a href="#/Tabs_Controller/Protocol_1014">Lasix</a> in the treatment of CHF or Pulmonary Edema (follow appropriate drug protocol)
          <strong>with OLMC consultation</strong>. </li>
        <li>Consider the use of
          <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a>/
          <a href="#/Tabs_Controller/Protocol_1006">Atrovent</a> in the treatment of COPD, asthma or inhalation exposure (follow appropriate drug protocol).</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown844" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="protocol403ContinuousPositiveAirwayPressure-heading428" style="color:#000000;">CONSIDERATIONS</h4>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown845" class="show-list-numbers-and-dots">
      <p style="color:#000000;">If the patient fails to improve on CPAP or is unable to tolerate the device then discontinue use and try other airway adjuncts as needed to maintain a patent airway. Notify Medical control of the discontinuance of CPAP and seek direction. </p>
    </div>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown846" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol403ContinuousPositiveAirwayPressure-heading429" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol403ContinuousPositiveAirwayPressure-markdown847" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>