<ion-view title="Protocol 703 - Pediatric Respiratory Failure" id="page106">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol703PediatricRespiratoryFailure-heading629" style="color:#000000;text-align:center;">PEDIATRIC RESPIRATORY FAILURE</h3>
    <div id="protocol703PediatricRespiratoryFailure-container63">
      <div id="protocol703PediatricRespiratoryFailure-markdown1322" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol703PediatricRespiratoryFailure-markdown1323" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol703PediatricRespiratoryFailure-heading631" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol703PediatricRespiratoryFailure-markdown1324" class="show-list-numbers-and-dots">
      <ol>
        <li>Inability to ventilate the unconscious patient.</li>
        <li>Cardiac or respiratory arrest.</li>
        <li>Inability of the patient to protect his/her airway (risk of aspiration).</li>
        <li>Respiratory failure.</li>
        <li>Cyanosis.</li>
        <li>Obtundation with hypoventilation or respiratory distress.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol703PediatricRespiratoryFailure-heading632" style="color:#000000;">EXCLUSIONS:</h4>
    <div id="protocol703PediatricRespiratoryFailure-markdown1326" class="show-list-numbers-and-dots">
      <ol>
        <li>Carduac arrest - use
          <a href="#/Tabs_Controller/tab1/Protocol_705">Protocol 705: Pediatric Cardioplumonary Resuscitation</a>.</li>
        <li>History of foreign body - use
          <a href="#/Tabs_Controller/tab1/Protocol_705">Protocol 701: Pediatric Airway Obstruction</a>.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol703PediatricRespiratoryFailure-markdown1341" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol703PediatricRespiratoryFailure-heading630" style="color:#000000;">All Providers</h4>
    <div id="protocol703PediatricRespiratoryFailure-markdown1325" class="show-list-numbers-and-dots">
      <ol>
        <li>Over-zealous bagging can cause air entry into stomach and pneumothorax</li>
        <li>Ensure the correct BVM is used and inflate only enough to visualize chest rise.</li>
        <li>Contact Medical Control as soon as respiratory failure is suspected.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol703PediatricRespiratoryFailure-markdown1327" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol703PediatricRespiratoryFailure-markdown1328" class="show-list-numbers-and-dots"></div>
    <div id="protocol703PediatricRespiratoryFailure-markdown1329" class="show-list-numbers-and-dots"></div>
    <div id="protocol703PediatricRespiratoryFailure-markdown1330" class="show-list-numbers-and-dots"></div>
    <div id="protocol703PediatricRespiratoryFailure-markdown1331" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol703PediatricRespiratoryFailure-heading633" style="color:#000000;">EMT</h4>
    <div id="protocol703PediatricRespiratoryFailure-markdown1332" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Assess ABC's for evidence of apnea, airway reflex compromise or difficulty in ventilatroy effort.</li>
        <li>Assess medical conditions, burns or traumatic injuries that have the potential to compromise the airway.</li>
        <li>Provide basic airway maneuvers to all compromised airways, i.e. oxygen, jaw-thrust, and positioning.</li>
        <li>Identify and treat underlying reversible medical conditions (narcotic overdose, hypoglycemia, etc.).</li>
        <li>In general, maintain and oxygen saturation 90-94% </li>
        <li>Always insure proper care of the C-Spine during Airway treatment.</li>
        <li>Keep the patient NPO-Stop any tube feedings and do not use feeding tube during resuscitation.</li>
        <li>Infants and young children are primary nose breathers-Suction oral and nasal passages as needed to keep clear.</li>
        <li>Provide 100% oxygen to the patient.</li>
        <li>Ventilate with BVM when apneic or exhibiting repiratory distress. Consider a nasal or oral airway.</li>
        <li>Recommended pediatric ventilaory rates:
          <br>a. Infant (0-12 months): 25 breaths per minutes.
          <br>b. 1-3 years: 20 breaths per minutes.
          <br>c. 4-6 years: 15 breaths per minutes.
          <br>d. &gt;6 years: 12 (same as adult).</li>
        <li>
          <strong>Do not hyperventilate the patient</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol703PediatricRespiratoryFailure-markdown1333" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol703PediatricRespiratoryFailure-heading634" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol703PediatricRespiratoryFailure-markdown1334" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>Ensure above is complete</strong>.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>Establish IV access if possible.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol703PediatricRespiratoryFailure-markdown1335" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol703PediatricRespiratoryFailure-heading635" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol703PediatricRespiratoryFailure-markdown1336" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is compete.</li>
        <li>
          <strong>INTUBATION</strong> - Consider orotracheal intubation using an endortacheal tube when indicated. Monitor heart rate - if during intubation attempt HR drops to &lt;80 (infant), &lt;60 (child), terminate intubation and resume ventilation by (BVM).</li>
        <li>Document
          <strong>TWO</strong> confirmation methods to verify endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophageal Intubation Detector).</li>
        <li>After 2 unsuccessful attempts at endotracheal inubation use a suparglottic airway device or BVM with appropriate oral/nasal airway.</li>
        <li>Consider sedation after intubation (benzodiazephine)-contact OLMC </li>
        <li>
          <strong>No nasotracheal intubation</strong>.</li>
        <li>
          <strong>Tracheostomy Assistance</strong>:
          <br>a. Provide supplemental oxygen.
          <br>b. Suction the patient appropriately.
          <br>c. Replace Tracheostomy tube if needed.
          <br>d. IF unable to ventilate, pass an appropriately sized ETT through the stoma 1-2 inches.
          <br>e. If unable to pass a tracheostomy tube or endotracheal tube, use BVM, supraglottic airway device, orrotracheal intubation to ventilate patient.</li>
        <li>
          <strong>Ventilator Managemet</strong>:
          <br>a. Worrk with the family to troubleshoot the machine.
          <br>b. Address tracheostomy as above.
          <br>c. If you need to disconnect for transport provide adequate BVM ventilations similar to home respiratory rate settings.
          <br>d.
          <strong>Contact OLMC for further instructions as neede</strong>. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <table>
      <style>
        table, th, td {
            border: 2px solid black;
        }
        th, td {
            padding: 5px;
        }
      </style>

      <tbody>
        <tr>
          <th> Child Age</th>
          <th> ET Tube Size</th>
        </tr>

        <tr>
          <td> Preterm Neonate</td>
          <td> 2.5mm</td>
        </tr>
        <tr>
          <td> Term Neonate</td>
          <td> 3.0mm</td>
        </tr>
        <tr>
          <td>1 month - 1 year</td>
          <td>4.0mm</td>
        </tr>
        <tr>
          <td>1 year &amp; older</td>
          <td>Use Braslowtape OR size of patient's little finger</td>
        </tr>
      </tbody>
    </table>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol703PediatricRespiratoryFailure-markdown1337" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol703PediatricRespiratoryFailure-markdown1338" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>Sedation after intubation (benzodiazepine).</li>
        <li>
          <strong>Surgical Airway - Cricothyrotomy</strong>-only when all other methods of oxyengation, ventilation and securing the airway have failed-Insert an appropriately sized endotracheal tube and secure.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol703PediatricRespiratoryFailure-markdown1339" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol703PediatricRespiratoryFailure-heading636" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol703PediatricRespiratoryFailure-markdown1340" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>