<ion-view title="Protocol - 916 Intraosseous Vascular Access " e-z="" (i="" o)="" or="" illinois="" bone="" needle ""="" id="page152">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading830" style="color:#000000;text-align:center;">INTRAOSSEOUS VASCULAR ACCESS "E/Z (I/O) or ILLINOIS BONE NEEDLE"</h3>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-container110">
      <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1928" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1929" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading831" style="color:#000000;">Advanced EMT / Paramedic (CCEMS Rescue/Ambulance Personnel Only)</h4>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1930" class="show-list-numbers-and-dots">
      <p style="color:#000000;">RATIONAL:</p>

      <p style="color:#000000;">This protocol is for the CCEMS Paramedic/Advanced EMT assigned to an Ambulance or Rescue and addresses the establishment of I/O access in the adult/pediatric patient where venous access cannot be rapidly obtained. The "E-Z I/O" or Illinois Bone
        needle will provide a rapid alternative means of vascular access into the bone marrow of the proximal tibia in the critically unstable adult, or in a cardiac arrest patient. The tibial marrow space serves as a "non-collapsible vein" and provides
        access to the general circulation for the administation of all ACLS resuscitation drugs and IV fluids.</p>

      <p style="color:#000000;">INDICATIONS:</p>

      <p style="color:#000000;">Attempts at establishing a peripheral line have failed (2 attempts, or 90 seconds or no readily venous access is identified) in the following:
        <br>a. Adult/pediatric cardiac arrest after attempts at peripheral lines have failed, or no readily venous access is identified.
        <br>b. In an unresponsive critical trauma patient with unstable vital signs and attempts (2) at peripheral lines have failed or no readily venous access is identified.
        <br>c. Consider the Illinois bone needle (18 ga.) in neonates (&lt;30 dats of life).</p>
    </div>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1970" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading835" style="color:#000000;">EQUIPMENT-ADULT</h4>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1932" class="show-list-numbers-and-dots">
      <p style="color:#000000;">a. E-Z IO or Illinois bone needle.
        <br>b. Alcohol preps and gloves.
        <br>c. E-Z stabilizer and tape.
        <br>d. Select-3 IV tubing.
        <br>e. 1000 ml bag of NS.
        <br>f. 10 ml pre-filled NS syringes.
        <br>g. Pressure bag</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1933" class="show-list-numbers-and-dots"></div>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1934" class="show-list-numbers-and-dots"></div>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1935" class="show-list-numbers-and-dots"></div>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1936" class="show-list-numbers-and-dots"></div>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1931" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading840" style="color:#000000;">PROCEDURE:</h4>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1971" class="show-list-numbers-and-dots">
      <ol>
        <li>Paitent is palced in a supine position.</li>
        <li>Assemble all necessary equpitment, attach and flush the EZ-IO tubing with a pre-filled NS stringe and a Select-3 IV set with a pressure bag (set up and flush maintaining sterility).</li>
        <li>Identify and locate the bony landmarks, the proximal tibia is the only approved site.</li>
        <li>Place a rolled towel under knee with a foot facing ourward (optional).</li>
        <li>The proximal tibial insertion site is approximately 2 cm below the patella and approximately 2 cm medial to the tibial tuberosity (depending on patient anatomy).</li>
        <li>Prep site with alcohol.</li>
        <li>Assess the tissue depth and insert the appropriate E-Z IO needle until contact is made with the tibia-ensure a balck mark is visible above the surface of the skin (this will correspond to sufficent depth of the needle to be appropriately placed
          with the bone cavity.</li>
        <li>Firmly hold the E-Z IO at a 90-degree angle to the surgace of the skin.</li>
        <li>While continuing to hold the bottom part firmly against the tibia, engage the drill and allow the needle to enter the tibia. *Extra force is not required.</li>
        <li>Once resistance is gone release the trigger and while holding the needle remove the drill and stylet.</li>
        <li>If the Illinois bone needle is used follow the Utah EMSC guideline/SOPs for insertion.</li>
        <li>It is suggested to attach the E-Z Stabilizer.</li>
        <li>Attach the E-Z IO tubing to the cannula and with the 10 ml pre-filled saline syringe attempt to aspirate bone marrow (not neccessary) and flush. *Lack of bone marrow does not mean that the I/O is inarropriately placed, however, it should flush
          easily. If no bone marrow is aspirated and unable to easily flush with NS then remove the cannula and choose another site.</li>
        <li>Connect the IV infusion set using a pressure bag, this should be done quickly to prevent the possibility of air symbolization.</li>
        <li>Administer fluids and/or drugs as required.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1973" class="show-list-numbers-and-dots">
      <p style="color:#000000;">CONTRAINDICATIONS: </p>

      <p style="color:#000000;">a. Placement of I/O line in a fractured bone.
        <br>b. Placement of I/O line distal to a fractured bone (tibial pacement with a fracture femur).
        <br>c.
        <strong>Prior I/O puncture in the same bone.</strong>
        <br>d. Osteogenesis Imperfecta-an inherited condition where the bones are abnormally brittle and subject to fractures.
        <br>e. A prosthetic limb.
        <br>f. Infection or burns are relative contraindications at the intended site-the Medical Control Physicians should be contacted prior to the insertion attempt. </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1972" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading842" style="color:#000000;">MEDICAL CONTROL OPTION:</h4>
    <h1 id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading841" style="color:#000000;"></h1>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1974" class="show-list-numbers-and-dots">
      <p style="color:#000000;">An E-Z IO may be placed in a conscious patient under the folowing circumstances:
        <br>a. Pt. is deemed critically ill/injured with unstable vital signs.
        <br>b. No peripheral vascular access is readily accessible.</p>

      <p style="color:#000000;">Procedure:
        <br>a. Contact on-line medical control @ LRH.
        <br>b. Follow above listed procedure concerning placement.
        <br>c. Prior to running fluids administer 40 mg of 2% Lidocaine thru the IO and flush with 10 mL of NS, wait 15 seconds and administer IV fluid.
        <br>d. Contact Medical Control if additional pain control is necessary.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1968" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading839" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol916IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1969" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>