<ion-view title="Protocol 605 - Mal-Presentation" id="page97">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol605MalPresentation-heading577" style="color:#000000;text-align:center;">MAL-PRESENTATION</h3>
    <div id="protocol605MalPresentation-container54">
      <div id="protocol605MalPresentation-markdown1181" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol605MalPresentation-markdown1182" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol605MalPresentation-markdown1199" class="show-list-numbers-and-dots">
      <ol>
        <li>BREECH</li>
        <li>LIMB PRESENTATION</li>
        <li>SHOULDER DYSTOCIA</li>
      </ol>
    </div>
    <h4 id="protocol605MalPresentation-heading578" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol605MalPresentation-markdown1183" class="show-list-numbers-and-dots">
      <ol>
        <li>Patient in labor with visible mal-presentation.</li>
        <li>Patient in labor with mal-presentation suspected through pre-natal care.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol605MalPresentation-markdown1185" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol605MalPresentation-markdown1186" class="show-list-numbers-and-dots"></div>
    <div id="protocol605MalPresentation-markdown1187" class="show-list-numbers-and-dots"></div>
    <div id="protocol605MalPresentation-markdown1188" class="show-list-numbers-and-dots"></div>
    <div id="protocol605MalPresentation-markdown1189" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol605MalPresentation-heading580" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol605MalPresentation-markdown1190" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Complete set of vital signs.</li>
        <li>Provide oxygen to maintain oxygen saturation &gt;94%.</li>
        <li>Obtain
          <strong>OBSTETRICAL</strong> history per
          <a href="#/Tabs_Controller/tab1/Protocol_600">Protocol 600: Obstetric Emergencies</a>.</li>
        <li>If delivery is not in progress, place patient in Trendelenburg position with elevation of the right side.</li>
        <li>If delivery has begun or is imminent, pisition patient as for normal delivery
          <a href="#/Tabs_Controller/tab1/Protocol_602">Protocol 602: Full Term Imminent Delivery/Newborn Resuscitation</a>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol605MalPresentation-markdown1191" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol605MalPresentation-heading581" style="color:#000000;">MAL-PRESENTATIONS:</h4>
    <div id="protocol605MalPresentation-markdown1192" class="show-list-numbers-and-dots">
      <ol>
        <li>Breech presentation (coming buttocks first):
          <br>a. Position mother with her buttocks at edge of bed, legs flexed.
          <br>b. Support baby's body as it delivers-be patient-do not pull.
          <br>c. As the head passes the pubis, apply gentle upward pressure until the mouth appears over the perineum.
          <br>d. Immediately suction mouth, then nose.
          <br>e. If head does not deliver, but newborn is attemptimg to breathe, place gloved hand into the vagina, palm toward newborn's face, forming a "V" with the index and middle finger on either side of the nose.
          <br>f. Push the vaginal wall from the face.
          <br>g. Maintain position throughout transport.
          <br>h. Maintain an"airway" and provide supplemental oxygen.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol605MalPresentation-markdown1193" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol605MalPresentation-heading582" style="color:#000000;">FACE/BROW/SHOULDER/ARM PRESENTATION:</h4>
    <div id="protocol605MalPresentation-markdown1194" class="show-list-numbers-and-dots">
      <ol>
        <li>Face first may proceed as normal delivery.</li>
        <li>Any other presentation (and face first if delivery does not progress as usual) requires
          <strong>RAPID TRANSPORT</strong>.</li>
        <li>
          <strong>DO NOT ATTEMPT DELIVERY</strong>.</li>
        <li>If possible, place mother in Trendelenburg position-otherwise, use knee-chest position.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol605MalPresentation-heading584" style="color:#000000;">SHOULDER DYSTOCIA:</h4>
    <div id="protocol605MalPresentation-markdown1200" class="show-list-numbers-and-dots">
      <ol>
        <li>Head is out but shoulder will not pass:
          <br>a. Position mother with buttocks off the edge of the bed and thighs flexed upward as much as posiible.
          <br>b. Apply firm, open hand pressure above the symphysis pubis.
          <br>c. If delivery does not occur, maintain airway patency as best as possible, immediately transport.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol605MalPresentation-heading585" style="color:#000000;">ADVANCED EMT / PARAMEDIC</h4>
    <div id="protocol605MalPresentation-markdown1201" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available.</li>
        <li>Establish IV @ TKO unless hypotensive then
          <strong>500 ml</strong> bolus and repeat as needed.</li>
        <li>Begin rapid transport to apropriate facility.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol605MalPresentation-markdown1195" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol605MalPresentation-markdown1196" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>When delivery is imminent, to suppress uterine contractions:
          <br>a. Rapidly infuse
          <strong>1 liter</strong> of NS (
          <strong>AEMT/PM</strong>)
          <br>b.
          <strong>
            <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a>
            2.5 mg</strong> via nebulization (
          <strong>AEMT/PM</strong>)
          <br>c.
          <strong>
            <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a> 1 gram</strong> IV and titrate per Medical Control (
          <strong>PM ONLY</strong>)
          <br>d. PEDIATRIC (&lt;15 years of age, PM only).
          <br>e.
          <strong>
            <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a>
          </strong> - For pediatric patients who are pregnant and having a seizure contact
          <strong>OLMC</strong> for dosage instructions.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol605MalPresentation-markdown1197" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol605MalPresentation-heading583" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol605MalPresentation-markdown1198" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>