<ion-view title="Protocol 603 - Full-Term Non-Imminent Delivery/Seizure" id="page95">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol603FullTermNonImminentDeliverySeizure-heading554" style="color:#000000;text-align:center;">FULL-TERM NON-IMMINENT DELIVERY/SEIZURE</h3>
    <div id="protocol603FullTermNonImminentDeliverySeizure-container52">
      <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1134" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1135" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol603FullTermNonImminentDeliverySeizure-heading555" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1136" class="show-list-numbers-and-dots">
      <ol>
        <li>Advanced pregnancy (Gestation of more than 36 weelks)</li>
        <li>Contractions more than 3 minutes apart.</li>
        <li>Absence of crowning or strong urge to push.</li>
      </ol>
    </div>
    <h4 id="protocol603FullTermNonImminentDeliverySeizure-heading556" style="color:#000000;">EXCLUSIONS:</h4>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1137" class="show-list-numbers-and-dots">
      <ol>
        <li>Prolapsed cord--see
          <a href="#/Tabs_Controller/tab1/Protocol_610">Protocol 610: Prolapsed Umbilical Cord</a>.</li>
        <li>Vaginal hemorrhage--see
          <a href="#/Tabs_Controller/tab1/Protocol_607">Protocol 607: Vaginal Hemorrhage</a>.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1138" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1139" class="show-list-numbers-and-dots"></div>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1140" class="show-list-numbers-and-dots"></div>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1141" class="show-list-numbers-and-dots"></div>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1142" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol603FullTermNonImminentDeliverySeizure-heading557" style="color:#000000;">EMT</h4>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1143" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Obtain baseline OBSTETRICAL HISTORY as described in Introduction to
          <a href="#/Tabs_Controller/tab1/Protocol_600">Protocol 600: Obstetric Emergencies</a>.</li>
        <li>If patient feels abnormal sensation or foreign body is perineal area, contractions occure more frequently than every 3 minutes, or vaginal bleeding or ruptures of membranes occures, then with precautions to protect patient privacy,
          <strong>VISUALLY EXAMINE PERINEUM</strong> for prolapsed cord, crowning, mal-presentation, hemorrhage (crowning can only be determined during contraction).</li>
        <li>Apply
          <strong>OXYGEN</strong> 4-6 L NC or 15L NRM to ensure O2 Sat &gt;94%.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1144" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol603FullTermNonImminentDeliverySeizure-heading563" style="color:#000000;">ADVANCED EMT / PARAMEDIC</h4>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1154" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available.</li>
        <li>Attempt to maintain a sanitary enviornment.</li>
        <li>TRANSPORT in position of comfort. It patient prefers to lie down or if evidence of supine hypotensive syndrome, place in left lateral recumbent position or elevate right side.</li>
        <li>Initiate IV NS KVO - bolus as needed.</li>
        <li>Contact OLMC</li>
        <li>Seizures: Follow
          <a href="#/Tabs_Controller/tab1/Protocol_308">Protocol 308: Seizure</a>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1156" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1160" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>
          <p style="color:#FF0000;">
            <strong>High-risk preterm labor when delivery is imminent, to suppress uterine contractions</strong>:
            <br>a. Rapidly infuse 1 liter of NS (AEMT/PM).
            <br>b.
            <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a> 2.5 mg via nebulization (AEMT/PM).
            <br>c.
            <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a> 1 gram IV and titrate per Medical Control (
            <strong>PM only</strong>)</p>
        </li>
        <li>
          <p style="color:#FF0000;">
            <strong>For females with advanced pregnancy and seizures</strong>:
            <br>a.
            <strong>
              <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a> - 2-4</strong> grams IM or 2-4 grams in 10 ml NS infuse over 15 to 30 minutes IV as directed by OLMC.
            <br>b. PEDIATRIC (&lt;15 years of age, PM only):
            <br>c.
            <strong>
              <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a>
            </strong> - For pediatric patients who are pregnant and having a seizure contact OLMC for dosage instructions.</p>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1161" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol603FullTermNonImminentDeliverySeizure-heading569" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol603FullTermNonImminentDeliverySeizure-markdown1162" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>