<ion-view title="Protocol 606 - Meconium Aspiration" id="page98">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol606MeconiumAspiration-heading586" style="color:#000000;text-align:center;">MECONIUM ASPIRATION</h3>
    <div id="protocol606MeconiumAspiration-container55">
      <div id="protocol606MeconiumAspiration-markdown1202" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol606MeconiumAspiration-markdown1203" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol606MeconiumAspiration-heading587" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol606MeconiumAspiration-markdown1205" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Meconium is amniotic fluid prior to delivery of fetusl this appears as dark green, thick material in amniotic fluid or on infant upon deliver. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol606MeconiumAspiration-markdown1206" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol606MeconiumAspiration-markdown1207" class="show-list-numbers-and-dots"></div>
    <div id="protocol606MeconiumAspiration-markdown1208" class="show-list-numbers-and-dots"></div>
    <div id="protocol606MeconiumAspiration-markdown1209" class="show-list-numbers-and-dots"></div>
    <div id="protocol606MeconiumAspiration-markdown1210" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol606MeconiumAspiration-heading588" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol606MeconiumAspiration-markdown1211" class="show-list-numbers-and-dots">
      <ol>
        <li>Upon noting presence of meconium, notify receiving hospital.</li>
        <li>Upon deliver of head,
          <strong>SUCTION MOUTH</strong> but not nares with bulb syringe. Avoid stimulating nares to breathe.</li>
        <li>Suctioning may be the only intervention required-
          <strong>the presence of meconium does not mean automatic intubation</strong>.</li>
        <li>Assess airway and respiratory status.</li>
        <li>Resuscitation as necessary.</li>
        <li>
          <strong>Paramedic Only</strong>-If apnea or acute respiratory distress in noted after suction prepare to intubate:
          <br>a.
          <strong>INTUBATE</strong> (tube size = 3.5, blade size = 1) and
          <strong>SUCTION</strong> through endotracheal tube until there is no meconium.</li>
        <li>Remove contaminated tube and re-intubate.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol606MeconiumAspiration-markdown1212" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol606MeconiumAspiration-heading589" style="color:#000000;">PRIOR TO VENTILATION:</h4>
    <div id="protocol606MeconiumAspiration-markdown1213" class="show-list-numbers-and-dots">
      <ol>
        <li>Carefully check for proper tube placement and
          <strong>VENTILATE</strong> neonate.</li>
        <li>First few breaths may require higher than expected pressure.</li>
        <li>Carefully
          <strong>SUCTION</strong> nares and oropharynx.</li>
        <li>Assess
          <strong>APGAR</strong> (see chart below) and pulse oximetry.</li>
        <li>
          <strong>TRANSPORT</strong> to appropriate facility.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 748px; height: 15px;"></div>
    <div>
      <img src="img/6o8OSPNrQQaODsmSqTyk_Apgar.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol606MeconiumAspiration-markdown1214" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol606MeconiumAspiration-heading593" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol606MeconiumAspiration-markdown1221" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>