<ion-view title="Protocol 312 - Toxic Substance Exposure-Carbon monoxide/Closed Space Fire And Smoke Exposure" id="page65">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-heading339" style="color:#000000;text-align:center;">TOXIC SUBSTANCE EXPOSURE-CARBON ONOXIDE/CLOSED SPACE FIRE AND SMOKE EXPOSURE</h3>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-container23">
      <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-markdown627" class="show-list-numbers-and-dots"></div>
    </div>
    <h4 id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-heading340" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-markdown629" class="show-list-numbers-and-dots">
      <ol>
        <li>Scene and patient management</li>
        <li>Safely and rapidly remove patient from source of exposure.</li>
        <li>Pulse oximetry readings are inaccurate in the face of CO poisoning.</li>
        <li>Determine estimation of exposure time.</li>
        <li>Patients exposed to closed space fires are at risk for both carbon monoxide and cyanide poisoning.</li>
        <li>Pregnant patients who have been exposed should be transported.</li>
        <li>Provide early notification to recieving ED of possible CO and/or Cyanide poisoning.</li>
      </ol>
    </div>
    <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-markdown630" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-markdown631" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-heading341" style="color:#000000;"> EMT</h4>
    <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-markdown632" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam with full set of VS.</li>
        <li>Assess ABC's for evidence of spnea, airway reflex compromise or difficulty in ventilatory efforts.</li>
        <li>Assess medical conditions, burns or traumatic injuries that have the ootential to compromise the airway.</li>
        <li>Administer high flow oxygen by
          <strong>100% nonrebreather mask</strong> immediately and continuously.</li>
        <li>Provide basic airway maneuvers to all compromised airways, i.e. oxygen, jaw-thrust, and positioning.</li>
        <li>Identify and treat underlying reversible medical conditions (narcotic overdoes, hypogycemia, etc.).</li>
        <li>in general, maintain an oxygen saturation &gt;94%.</li>
        <li>Always insure proper care of the C-Spine during Airway treatment.</li>
        <li>Ventilate with BVM when apneic or exhibiting respiratory distress-Consider a nasal or oral airway.</li>
        <li>Maintain a ventilatory rate appropriate to age.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-markdown633" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-heading342" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-markdown634" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available.</li>
        <li>Perform a 12 lead ECG if possible.</li>
        <li>Maintain an oxygen saturation &gt;94% and ETCO2 of 35-45 mmHg.</li>
        <li>Obtain a Rad 57 CO level (&gt;5 shows possible exposure).</li>
        <li>Establish vascular access-treat hypotension if indicated otherwise set at TKO rate.</li>
        <li>Contact OLMC and transport.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-markdown635" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-markdown636" class="show-list-numbers-and-dots"></div>
    <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-markdown637" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-heading345" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-markdown638" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>
          <strong>Consider Advanced Airway</strong>.-Consider orothracheal intubation using an endotracheal tube when indicated.</li>
        <li>Document 2 confirmation methods to verify endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophageal Intubation Detector.</li>
        <li>
          <strong>No nasotracheal intubation in a pediatric patient</strong>.</li>
        <li>Consider sedation after intubation (benzodiazepine) considering
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>.</li>
        <li>After 2 unseccessful attempts at endotracheal intubation use a superglottic airway device or BVM with appropriate oral/nasal airway,</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-markdown639" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-heading346" style="color:#FF0000;">Medical Control Option - Must contact before administration.</h5>
    <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-markdown744" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> gtt for hypotension refractory to fliud boluses</strong>
      </p>

      <p style="color:#FF0000;">
        <strong>1.</strong> Mix
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 2 mg 1:1000 in 1000 mL NS which yields 0.002mg/mL (2mcg/mL) Use dial-a-flow extension set following the chart below:</p>
    </div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>






    </div>
    <h5 id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-heading344" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol312ToxicSubstanceExposureCarbonMonoxideClosedSpaceFireAndSmokeExposure-markdown640" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>