<ion-view title="Protocol 1012 - Glucagon" id="page39">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1012Glucagon-heading149" style="color:#000000;text-align:center;">Glucagon</h1>
    <h5 id="protocol1012Glucagon-heading150" style="color:#000000;text-align:center;">Approved for Advanced CCEMS units only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1012Glucagon-heading151" style="color:#000000;text-align:center;">Protocol 1012</h3>
    <div id="protocol1012Glucagon-markdown299" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1012Glucagon-markdown300" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_307">307</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_308">308</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_309">309</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_319">319</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_714">714</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_715">715</a>. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1012Glucagon-heading152" style="color:#000000;text-align:center;">Class: Hormone - Anti-hypoglycemic</h4>
    <ion-list id="protocol1012Glucagon-list143">
      <div class="item item-body" id="protocol1012Glucagon-list-item-container79">
        <div id="protocol1012Glucagon-markdown301" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Causes an increase in blood glucose concentrations.
            <br>
            <strong>2.</strong> Acts on liver glycogen converting it to glucose. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1012Glucagon-list144">
      <div class="item item-body" id="protocol1012Glucagon-list-item-container80">
        <div id="protocol1012Glucagon-markdown302" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> When unable to obtain IV access (preferred route).
            <br>
            <strong>2.</strong> Hypoglycemia defined bya blood sugar &lt;60.
            <br>
            <strong>3.</strong> Altered LOC with hypoglycemia (blood sugar &lt;60).</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1012Glucagon-list145">
      <div class="item item-body" id="protocol1012Glucagon-list-item-container81">
        <div id="protocol1012Glucagon-markdown303" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Known hypersensitivity.
            <br>
            <strong>2.</strong> Adrenal gland tumor.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1012Glucagon-list146">
      <div class="item item-body" id="protocol1012Glucagon-list-item-container82">
        <div id="protocol1012Glucagon-markdown304" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Hypotension.
            <br>
            <strong>2.</strong> Nausea/Vomiting </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1012Glucagon-heading153" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1012Glucagon-markdown306" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>1.</strong> Inject solution into a vial containing glucagon powder.
        <br>
        <strong>2.</strong> Gently swirl until powder dissolves in solution.
        <br>
        <strong>3.</strong> If solution is not clear - discard.
        <br>
        <strong>4.</strong> Withdraw into a syringe (1mg = 1mL). </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1012Glucagon-markdown309" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Adult: </strong> 1mg IM / SQ in arm or thigh. </p>

      <p style="color:#000000;">
        <strong>Pediatric:</strong> 0.1mg/kg IM
        <strong>If patient is &lt;20kg (44lbs) USE LATERAL 1/3 OF THIGH</strong>
      </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1012Glucagon-list148">
      <div class="item item-body" id="protocol1012Glucagon-list-item-container84">
        <div id="protocol1012Glucagon-markdown307" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONSIDERATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Usually takes 5-20 minutes to work.
            <br>
            <strong>2.</strong> May repeat 1x if no response in 15 minutes.
            <br>
            <strong>3.</strong> Monitor vital signs every 5 minutes.
            <br>
            <strong>4.</strong> When conscious give both fast and long acting sugars.
            <br>
            <strong>5.</strong> If release, ensure a resposible party will remain on scene-follow appropriate protocol.
            <br>
            <strong>6.</strong> Never leave a patient unattended - may become hypoglycemic again.
            <br>
            <strong>7.</strong> Must have approval from medical control to scene release.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1012Glucagon-markdown308" class="show-list-numbers-and-dots"></div>
    <div id="protocol1012Glucagon-button-bar7" class="button-bar"></div>
    <div id="protocol1012Glucagon-button-bar8" class="button-bar"></div>
    <h5 id="protocol1012Glucagon-heading155" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1012Glucagon-heading156" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>