<ion-view title="Protocol 1024 - Versed" id="page51">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1024Versed-heading243" style="color:#000000;text-align:center;">Versed</h1>
    <h5 id="protocol1024Versed-heading244" style="color:#000000;text-align:center;">Midazolam</h5>
    <h5 id="protocol1024Versed-heading245" style="color:#000000;text-align:center;">Approved for Rescue/Ambulance Units Only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1024Versed-heading246" style="color:#000000;text-align:center;">Protocol 1024</h3>
    <div id="protocol1024Versed-markdown411" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1024Versed-markdown412" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_201">201</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_310">310</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_402">402</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_509">509</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_714">714</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_718">718</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_726">726</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1024Versed-heading247" style="color:#000000;text-align:center;">Anticonvulsant / Sedative</h4>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1024Versed-list196">
      <div class="item item-body" id="protocol1024Versed-list-item-container145">
        <div id="protocol1024Versed-markdown413" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Mechanism of Action:</strong>
            <br>Also known as “Midazolam” is a short acting benzodiazepine medication used for anesthesia, procedural sedation, severe agitation, and to control seizures. It works by increasing the action of gamma-aminobutyric acid (GABA), the major inhibitory
            neurotransmitter in the central nervous system. Midazolam depresses the limbic system, thalamus, and hypothalamus resulting in profound sedation and muscle relaxation. Versed can be given by mouth, intravenously, or injection into a muscle,
            or by spraying into the nose. When given intravenously, it typically begins working within five minutes; when injected into a muscle, it can take 15 minutes to begin working, intranasal is faster. Effects can last between 1-6 hours. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1024Versed-list203">
      <div class="item item-body" id="protocol1024Versed-list-item-container153">
        <div id="protocol1024Versed-markdown2001" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Description:</strong> Versed is a Short Acting Benzodiazepine. The Medication Can be Given Intravenously or Intranasally. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1024Versed-list204">
      <div class="item item-body" id="protocol1024Versed-list-item-container146">
        <div id="protocol1024Versed-markdown414" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Seizures (Must be Having Active Seizure).
            <br>
            <strong>2.</strong> Adjunct to Cardioversion or External Cardiac Pacing.
            <br>
            <strong>3.</strong> Sedation Post Intubation. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1024Versed-list205">
      <div class="item item-body" id="protocol1024Versed-list-item-container147">
        <div id="protocol1024Versed-markdown415" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Known Hypersensitivity to Versed or Other Benzodiazepines.
            <br>
            <strong>2</strong> Respiratory Depression or Failure.
            <br>
            <strong>3.</strong> Shock.
            <br>
            <strong>4.</strong> Pregnancy.
            <br>
            <strong>5.</strong> Suspected Febrile Seizures.
            <br>
            <strong>6.</strong> Head Trauma.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1024Versed-list206">
      <div class="item item-body" id="protocol1024Versed-list-item-container148">
        <div id="protocol1024Versed-markdown416" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Cautions:</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Use Carefully in the Setting of Other Respiratory Drugs Such As Alcohol, Narcotics, Sedatives...
            <br>
            <strong>2.</strong> Use Carefully in the Elderly Who Will be More Sensitive to the Effects.
            <br>
            <strong>3.</strong> Titrate the Drug to the Desired Effect.
            <br>
            <strong>4.</strong> Monitor Oxygen Saturation/Capnography Continuously.
            <br>
            <strong>5.</strong> Stop Immediately if the Patient Develops Agitation, Hyperactivity, or Involuntary Movements. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <ion-list id="protocol1024Versed-list207">
      <div class="item item-body" id="protocol1024Versed-list-item-container149">
        <div id="protocol1024Versed-markdown417" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Considerations</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Have Oxygen, BVM, and Intubation Ready.
            <br>
            <strong>2.</strong> Establish IV if Able.
            <br>
            <strong>3.</strong> Give Medication Slowly, Stop if Achieve Desired Effect.
            <br>
            <strong>4.</strong> Monitor Oxygen, Mental Status, Vital Signs and Reaction.
            <br>
            <strong>5.</strong> Assess for Other Causes of Seizures (Dysrhythmias, Hypoglycemia, Trauma)...
            <br>
            <strong>6.</strong> Constantly Reassess Patient and Vital Signs.
            <br>
            <strong>7. Do Not Exceed Adult Dosing.</strong>
            <br>
            <strong>8.</strong> Contact OLMC for Additional Doses. </p>
        </div>
      </div>
    </ion-list>
    <h3 id="protocol1024Versed-heading248" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1024Versed-markdown418" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Adult Dose</strong>
      </p>

      <p style="color:#000000;">
        <strong>1. IV/IO - 2-5mg SLOW IV</strong> Every 10 Minutes to the Desired Effect or Max Dose of 10mg.
        <br>
        <strong>2. IM - 5-10mg</strong>
        <br>
        <strong>3. IN (Intranasal)</strong> 10mg Divided Dose Between Nostrils (Use Atomizer). </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1024Versed-markdown419" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Peds Dose</strong>
      </p>

      <p style="color:#000000;">
        <strong>1. IV/IO 0.1mg/kg</strong> (Max Dose of
        <strong>4mg</strong> per dose) SLOW IV. </p>

      <p style="color:#000000;">
        <strong>2. Intranasal or Oral 0.2mg/kg</strong> (Max Dose 10mg per Dose). </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1024Versed-markdown420" class="show-list-numbers-and-dots"></div>
    <div id="protocol1024Versed-button-bar31" class="button-bar"></div>
    <div id="protocol1024Versed-button-bar32" class="button-bar"></div>
    <h5 id="protocol1024Versed-heading249" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1024Versed-heading250" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>