<ion-view title="Protocol 604 - Preterm Labor" id="page96">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol604PretermLabor-heading570" style="color:#000000;text-align:center;">PRETERM LABOR</h3>
    <div id="protocol604PretermLabor-container53">
      <div id="protocol604PretermLabor-markdown1163" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol604PretermLabor-markdown1164" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol604PretermLabor-heading571" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol604PretermLabor-markdown1165" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>Gestation less than 36 weeks</strong>.</li>
        <li>Sustained contractions (at least every 5 minutes).</li>
      </ol>
    </div>
    <h4 id="protocol604PretermLabor-heading572" style="color:#000000;">EXCLUSIONS:</h4>
    <div id="protocol604PretermLabor-markdown1166" class="show-list-numbers-and-dots">
      <ol>
        <li>Prolapsed cord--see
          <a href="#/page1/tab1/Protocol_610">Protocol 610: Prolapsed Umbilical Cord</a>.</li>
        <li>Vaginal hemorrhage--see
          <a href="#/page1/tab1/Protocol_607">Protocol 607: Vaginal Hemorrhage</a>.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol604PretermLabor-markdown1167" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol604PretermLabor-markdown1168" class="show-list-numbers-and-dots"></div>
    <div id="protocol604PretermLabor-markdown1169" class="show-list-numbers-and-dots"></div>
    <div id="protocol604PretermLabor-markdown1170" class="show-list-numbers-and-dots"></div>
    <div id="protocol604PretermLabor-markdown1171" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol604PretermLabor-heading573" style="color:#000000;">EMT</h4>
    <div id="protocol604PretermLabor-markdown1172" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Obtain current vital signs.</li>
        <li>Obtain baseline
          <strong>OBSTETRICAL HISTORY</strong> as described in Introduction to
          <a href="#/page1/tab1/Protocol_600">Protocol 600: Obstetric Emergencies</a>.</li>
        <li>
          <strong>VISUALLY EXAMINE PERIMEUM</strong> for prolapsed cord, crowning, mal-presentation, hemorrhage.</li>
        <li>If more than 20 weeks gestation, place in left lateral recumbent position.</li>
        <li>If delivery occurs provide neonatal care per
          <a href="#/page1/tab1/Protocol_602">Protocol 602: Full Term Imminent Delivery/Newborn Resuscitation</a>.</li>
        <li>Protect against hypothermia, respiratory depression and hypoglycemia.</li>
        <li>Administer Oxygen 4-6L NC or 15L NRM to keep sat. &gt;94%.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol604PretermLabor-markdown1173" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol604PretermLabor-heading574" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol604PretermLabor-markdown1174" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available.</li>
        <li>Initiate IV NS TKO or saline lock unless hypotensive then
          <strong>500 ml</strong> bolus, repeat as needed.</li>
        <li>OLMC and TRANSPORT to appropriate facility.</li>
        <li>If delivery occures, provide neonatal care per
          <a href="#/page1/tab1/Protocol_602">Protocol 602: Full Term Imminent Delivery/Newborn Resuscitation</a>.</li>
        <li>Protect against hypothermia, respiratory depression and hypoglycemia.</li>
        <li>Analgesia option: Pain Control
          <a href="#/page1/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol604PretermLabor-markdown1175" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol604PretermLabor-heading576" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol604PretermLabor-markdown1179" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>If seizing: Versed -
          <a href="#/page1/tab1/Protocol_308">Protocol 308: Seizure</a>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol604PretermLabor-markdown1180" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol604PretermLabor-markdown1176" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>
          <p style="color:#FF0000;">
            <strong>High-risk preterm labor when delivery is imminent, to suppress uterine contractions</strong>:
            <br>a. Rapidly infuse 1 liter of NS (AEMT/PM).
            <br>b.
            <a href="#/page1/Protocol_1002">Albuterol</a> 2.5 mg via nebulization (AEMT/PM).
            <br>c.
            <a href="#/page1/Protocol_1016">Magnesium Sulfate</a> 1 gram IV and titrate per Medical Control (
            <strong>PM only</strong>)</p>
        </li>
        <li>
          <p style="color:#FF0000;">
            <strong>For females with advanced pregnancy and seizures</strong>:
            <br>a.
            <strong>
              <a href="#/page1/Protocol_1016">Magnesium Sulfate</a> - 2-4</strong> grams IM or 2-4 grams in 10 ml NS infuse over 15 to 30 minutes IV as directed by OLMC.
            <br>b. PEDIATRIC (&lt;15 years of age, PM only):
            <br>c.
            <strong>
              <a href="#/page1/Protocol_1016">Magnesium Sulfate</a>
            </strong> - For pediatric patients who are pregnant and having a seizure contact OLMC for dosage instructions.</p>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol604PretermLabor-markdown1177" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol604PretermLabor-heading575" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol604PretermLabor-markdown1178" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>