<ion-view title="Protocol 1003 - Amiodarone" id="page15">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1003Amiodarone-heading51" style="color:#000000;text-align:center;">Amiodarone</h1>
    <h3 id="protocol1003Amiodarone-heading61" style="color:#000000;text-align:center;">Cordarone</h3>
    <h5 id="protocol1003Amiodarone-heading52" style="color:#000000;text-align:center;">Approved for Advanced CCEMS units only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1003Amiodarone-heading53" style="color:#000000;text-align:center;">Protocol 1003</h3>
    <div id="protocol1003Amiodarone-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div id="protocol1003Amiodarone-markdown48" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_102">102</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_707">707</a>. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1003Amiodarone-list83">
      <div class="item item-body" id="protocol1003Amiodarone-list-item-container29">
        <div id="protocol1003Amiodarone-markdown40" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Acts directly on the myocardium to delay repolarization
            <br>
            <strong>2.</strong> Depresses conduction velocity and slows conduction of the AV node
            <br>
            <strong>3.</strong> Some of the alpha and beta blockade activity and vasodilatory effects</p>

          <p style="color:#000000;"> </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1003Amiodarone-list84">
      <div class="item item-body" id="protocol1003Amiodarone-list-item-container30">
        <div id="protocol1003Amiodarone-markdown42" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Recommended after defibrillation and epinephrine in cardiac arrest with ventricular fibrillation and pulseless ventricular tachycardia. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1003Amiodarone-list85">
      <div class="item item-body" id="protocol1003Amiodarone-list-item-container31">
        <div id="protocol1003Amiodarone-markdown43" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Sick Sinus Syndrome
            <br>
            <strong>2.</strong> AV block type II or III
            <br>
            <strong>3.</strong> Bradycardia that has caused syncope
            <br>
            <strong>4.</strong> Pregnancy</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1003Amiodarone-list86">
      <div class="item item-body" id="protocol1003Amiodarone-list-item-container32">
        <div id="protocol1003Amiodarone-markdown44" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Hypotension
            <br>
            <strong>2.</strong> Bradycardia
            <br>
            <strong>3.</strong> Cardiac arrest-cardiogenic shock
            <br>
            <strong>4.</strong> AV block</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1003Amiodarone-heading55" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1003Amiodarone-list87">
      <div class="item item-body" id="protocol1003Amiodarone-list-item-container33">
        <div id="protocol1003Amiodarone-markdown45" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>1. Adults</strong>
            <br>
            <strong>a.</strong>
            <strong>VF/VT Cardiac Arrest unresponsive to CPR, Shock, Vasopressor</strong>
            <br>
            <strong>b.</strong> 300 mg IV/IO push
            <br>
            <strong>c.</strong> Repeat @ 150mg in 3-5 minutes 1x. </p>

          <p style="color:#000000;">
            <strong>2. PEDS:</strong>
            <br>
            <strong>a.</strong>
            <strong>VF/VT Cardiac Arrest unresponsive to CPR, Shock, Vasopressor</strong>
            <br>
            <strong>b.</strong> 5mg/kg IV/IO bolus
            <br>
            <strong>c.</strong> May repeat 5mg/kg bolus in 3-5 minutes x1 dose (max dose 300mg) </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1003Amiodarone-list88">
      <div class="item item-body" id="protocol1003Amiodarone-list-item-container34">
        <div id="protocol1003Amiodarone-markdown46" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONSIDERATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong>
            <strong>If Amiodarone is the first antiarrythmic used, then all repeat doses shall be of the same drug.
              <br>
            </strong>2.
            <strong> DO NOT ALTERNATE WITH
              <a href="#/Tabs_Controller/Protocol_1015">LIDOCAINE</a>, CAN CAUSE ASYSTOLE</strong>
            <br>
            <strong>3.</strong> Follow administration with a fluid bolus to enhance distribution
            <br>
            <strong>4.</strong> Elevate the extremity to facilitate drug delivery</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h5 id="protocol1003Amiodarone-heading59" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1003Amiodarone-heading60" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>