<ion-view title="Protocol 600 - Obstetric Emergencies" id="page92">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol600ObstetricEmergencies-heading538" style="color:#000000;text-align:center;">OBSTETRIC EMERGENCIES</h3>
    <div id="protocol600ObstetricEmergencies-container50">
      <div id="protocol600ObstetricEmergencies-markdown1099" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol600ObstetricEmergencies-markdown1100" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol600ObstetricEmergencies-markdown1101" class="show-list-numbers-and-dots"></div>
    <div id="protocol600ObstetricEmergencies-markdown1102" class="show-list-numbers-and-dots"></div>
    <div id="protocol600ObstetricEmergencies-markdown1103" class="show-list-numbers-and-dots"></div>
    <div id="protocol600ObstetricEmergencies-markdown1104" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol600ObstetricEmergencies-heading539" style="color:#000000;">Definitions:</h4>
    <div id="protocol600ObstetricEmergencies-markdown1105" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>Crowning</strong>: Bulging of fetal head through perineum such that the cervix is stretched around the entire circumference of the fetal head. This should be evaluated during a contraction.</li>
        <li>
          <strong>Eclampsia</strong>: Pre-eclampsia associated with generalized seizures; seizure may be preceded by hyper-reflexia and/or visual changes.</li>
        <li>
          <strong>First trimester</strong>: First three months of gregnancy.</li>
        <li>
          <strong>Hypertension of pregnancy</strong>: Blood pressure 140/90 in pregnant women not previously hypertensive; usually occurs in third trimester or first pregnancy and may progress to pre-eclampsia or eclampsia.</li>
        <li>
          <strong>Labor</strong> Regular, rhythmic crampy pains in back and abdomen due to uterine contractions which occur at least every 5 minutes and last at least 30 seonds. The three stages of labor are:
          <br>a. Cervical dilation
          <br>b. Delivery of fetus.
          <br>d. Delivery of placenta.</li>
        <li>
          <strong>Malpresentation</strong>: When presenting part (i.e. first part of fetus to deliver out the birth canal) is not the head.</li>
        <li>
          <strong>Meconium</strong>: Fetal feces present in amniotic fluid; if aspirated by fetus can cause airway obstruction and/or severe pulmonary complications.</li>
        <li>
          <strong>Placenta Previa</strong>: Part of all of the placenta lies over cervical opening of uterus; this may lead to catastrophic hemorrhage (without pain) when labor begins or if disrupted by manual examination.</li>
        <li>
          <strong>Placental Abruption (abruptio placentae)</strong>: Premature separation of placenta from uterine wall, usually in late third trimester or early labor, very painful; bleeding may be contained inside uterus; may lead to catastrophic hemorrhage.</li>
        <li>
          <strong>Pre-eclampsia</strong>: Condition of unknown etiology which generally occurs in theird trimester of first pregnancy, involving new onset of hypertenstion (&gt;140/90) during pregnancy associated with protein loss in urine and edema of hands
          and face. May lead to renal, liver and CNS dysfunction.</li>
        <li>
          <strong>Rupture of membranes</strong>: Painless breakage of amniotic sac prior to birth leading to small, uncontrollable gush of fluid from vagina. Also called "bloody show" or "water broke".</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol600ObstetricEmergencies-markdown1106" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol600ObstetricEmergencies-heading545" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol600ObstetricEmergencies-markdown1117" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>