<ion-view title="Protocol 726 - Pediatric Suspected Child Abuse and Neglect" id="page146">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol726PediatricSuspectedChildAbuseAndNeglect-heading801" style="color:#000000;text-align:center;">PEDIATRIC SUSPECTED CHILD ABUSE AND NEGLECT</h3>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-container104">
      <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1852" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1859" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol726PediatricSuspectedChildAbuseAndNeglect-heading806" style="color:#000000;">INDICATIONS (WHEN TO SUSPECT):</h4>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1873" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>HISTORY - RED FLAGS!</strong>
          <ul>
            <li>History of injury incompatible with type of degree of injury. </li>
            <li>History of vague, parent reluctant to give history or contradictory histories given by each parent. </li>
            <li>History impossible for childish level of development. </li>
            <li>Significant and inappropriate delay between time of injury and time you were called. </li>
            <li>You have been repeatedly called to this home for ingestions and/or injuries and may have been asked to take the child to a different hospital each time. </li>
            <li>You have been repeatedly called to this home about alarming chief complaints and find a well infant (this may be a "pre-abuse" situation). </li>
          </ul>
        </li>
        <li>
          <strong>BEHAVIOR - RED FLAGS!</strong>
          <ul>
            <li>Parent doesn't show concern appropriate to the child's injury. </li>
            <li>Parent shows inappropriate expectation of the child. </li>
            <li>Parent makes inappropriate demands of the child. </li>
            <li>Parent demonstrates angry impulsive behavior toward the child. </li>
          </ul>
        </li>
        <li>
          <strong>PHYSICAL - RED FLAGS</strong>!
          <ul>
            <li>
              <strong>Patterns of injury</strong>:
              <ul>
                <li>Bruises in unusual location (e.g. back, buttocks, face, ears, upper arms, thighs, hands, feet). </li>
                <li>Surface marks suggestion a weapon (e.g. belt, looped cord, switch, rope or chain). </li>
                <li>Burns (e.g. immersion scalds, large imprints of an iron, radiator, heater or cigarette). </li>
                <li>Long bone (especially humerus or femur) and/or hip fractures in children uner
                  <strong>2</strong> years of age with no reasonable history. </li>
                <li>Skull fractures or signs suggesting CNS ingury (especially in an infant with no reasonable history). </li>
                <li>Signs suggestive of significant abdominal, perineal or chest injury without a reasonable hisrly. </li>
                <li>Signs of failure to thrive (thin or wasted infant or toddler), often dirty and apathetic. </li>
                <li>Non-accidental trauma can occur in patients of any age and in all ethnic and socio-economic groups. </li>
                <li>Risk factors include children under age of
                  <strong>5</strong>, the elderly, drug and alcohol abuse and a history of domestic violence. </li>
                <li>In children under the age of two the most common form of child abuse is
                  <strong>Abusive Head Injury (AHI)</strong>. Mortality of AHI is
                  <strong>25%</strong>. For those that live, there is significant morbidity, usually associated with traumatic brain injury. </li>
                <li>Do not directly engage a hostile patient, parent, assailant or perpertrator. If situation becomes unsafe for EMS personnel, call for police assistance.</li>
              </ul>
            </li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol726PediatricSuspectedChildAbuseAndNeglect-heading811" style="color:#000000;">MOST LIKELY SITUATIONS:</h4>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1874" class="show-list-numbers-and-dots">
      <ol>
        <li>Severe acute injury with loss of consciousness, seizure or cardiovascular collapse.</li>
        <li>Sudden decompensation in an infant with prior head or abdominal injury.</li>
        <li>Sudden decompensation in an infant with failure to thrive due to dehydration or sepsis.</li>
        <li>Severe symptoms due to ingestion.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1875" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1876" class="show-list-numbers-and-dots"></div>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1877" class="show-list-numbers-and-dots"></div>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1878" class="show-list-numbers-and-dots"></div>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1879" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol726PediatricSuspectedChildAbuseAndNeglect-heading812" style="color:#000000;">EMT/ADVANCED EMT/PARAMEDIC</h4>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1880" class="show-list-numbers-and-dots">
      <ol>
        <li>Contact law enforcement if someone on scene is a threat to themselves or others.</li>
        <li>Separate any possible assailants, including parents, from the patient.</li>
        <li>Remove patient from the stressful environmrent and remove any possible weapons.</li>
        <li>Non-accidental trauma includes any act of commission or omission that results in harm to a person's physical, developmental, or emotional state.</li>
        <li>Focused history and physical exam.</li>
        <li>Blood glucose, Temperature and Oxygen Saturation assessment.</li>
        <li>Always consider the possibility of abuse when evaluating any medical condition or trauma.</li>
        <li>
          <strong>Suspect</strong>: Look for suspicious circumstances or actions from paitent or caregiver.
          <ul>
            <li>Listen to and document circumstances of the event. </li>
            <li>Evaluate the enviorment in which you find the patient. </li>
          </ul>
        </li>
        <li>
          <strong>Protect</strong>: Be the patient advocate.
          <ul>
            <li>Make all efforts to remove the patient from the situation. </li>
          </ul>
        </li>
        <li>
          <strong>Respect</strong>: Communicate appropriately with family.
          <ul>
            <li>Avoid confrontation with caregiver. </li>
            <li>Confrontation may lead to caregiver's refusal to allow you to care for thre patient. </li>
            <li>Be nonjudgmental and avoid accusations. </li>
            <li>Consider law enforcement assistance. </li>
          </ul>
        </li>
        <li>
          <strong>Collect</strong>:
          <ul>
            <li>Document using direct quotation when possible. </li>
            <li>Document objectively without speculation. </li>
          </ul>
        </li>
        <li>
          <strong>Report</strong>: You have the responsibility to report suspected abuse and neglect to the ED
          <strong>and also</strong> to the law enforcement.</li>
        <li>
          <strong>Stabilize</strong>: Apply appropriate Protocol as indicated by the patient's condition.</li>
        <li>
          <strong>Observe</strong>: Conditions/features of the enviromnent and parental behavior that may be helpful in establishing a diagnosis of abuse or neglect: evidence of violence or disarray, frightened/bruised mother or siblings, aggressive or inappropriate
          behavior of parents or other household member.</li>
        <li>
          <strong>BE SYMPATHETIC AND SUPPORTIVE</strong> towars parents and child.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol726PediatricSuspectedChildAbuseAndNeglect-heading813" style="color:#000000;">NOTE:</h4>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1882" class="show-list-numbers-and-dots">
      <p style="color:#000000;">DO NOT MENTION THAT YOU SUSPECT ABUSE. DO NOT ACT IN A JUDGMENTAL MANNER OR CONFRONT THE PARENTS IN ANY WAY. This will only inflame them and may subject the field team members and the patient to significant physical risk.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1883" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol726PediatricSuspectedChildAbuseAndNeglect-heading814" style="color:#000000;">ADVANCED EMT (CCEMS) and PARAMEDIC:</h4>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1888" class="show-list-numbers-and-dots">
      <ol>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when avaiable.</li>
        <li>If anxious or agitated, attempt non-pharmacological options to calm the patient.</li>
        <li>Establish vascular access if possible.</li>
        <li>Treat for pain and anxiety, consider
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>
          </strong> and contact
          <strong>OLMC</strong> for medication order:
          <br>a.
          <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a>
          <strong>1 mcg/kg (max 50 mcg per dose)</strong> IV/IO
          <br>b. In the event an IV cannot be established,
          <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a>
          <strong>1 mcg/kg</strong> may be given IM up an initial dose of
          <strong>25 mcg</strong>.
          <br>c. For additional doses, contact
          <strong>OLMC</strong>
        </li>
        <li>
          <strong>TRANSPORT</strong> the patient to the hospital.</li>
        <li>
          <strong>DOCUMENT</strong> patients observations and comments.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1885" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Medical Control Option-Must contact prior to administration.</p>

      <ol>
        <li>
          <strong>PEDIATRIC ANXIETY CONTROL</strong>:
          <ul>
            <li>
              <strong>
                <a href="#/Tabs_Controller/Protocol_1024">Midazolam (Versed)</a>
              </strong>:
              <ul>
                <li>Dosage is cut in half if the patient has received narcotics or alcohol. </li>
                <li>Consider the size of the patient for dosing. </li>
                <li>
                  <strong>IV/IO - 0.1 mg/kg (max dose of 4 mg per dose)</strong>. </li>
                <li>Do NOT exceed adult dosing. </li>
                <li>
                  <strong>Intranasal or oral - 0.2 mg/kg (max dose 10mg per dose)</strong>. </li>
                <li>Contact
                  <strong>OLMC</strong> for additional doses.</li>
              </ul>
            </li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1886" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol726PediatricSuspectedChildAbuseAndNeglect-heading815" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol726PediatricSuspectedChildAbuseAndNeglect-markdown1887" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>