<ion-view title="Protocol 302 - Hypovolemic Shock" id="page55">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol302HypovolemicShock-heading266" style="color:#000000;text-align:center;">Hypovolemic Shock</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol302HypovolemicShock-container13">
      <div id="protocol302HypovolemicShock-markdown453" class="show-list-numbers-and-dots"></div>
    </div>
    <h4 id="protocol302HypovolemicShock-heading263" style="color:#000000;">INDICATION</h4>
    <div id="protocol302HypovolemicShock-markdown455" class="show-list-numbers-and-dots">
      <ol>
        <li>Patients who meet SHOCK CRITERIA, and have historical evidence of volume depletion: vomiting, diarrhea, bleeding, thirst, poor oral intake or physical evidence of volume depletion.</li>
        <li>Consider Shock in patients with one or more of the following.
          <ul>
            <li>Vital signs: HR &gt;100, SBP of &lt;90 mmHg for adults, SBP &lt;70+(age in years x 2) mmHg for peds, or RR &gt;20 BPM. </li>
            <li>Skin signs: cold clammy skin, febrile, or delayed capillary refill. </li>
            <li>Mental status: altered, lethargic, or irritable (esp. in infants). </li>
            <li>Dry mucosa, skin tenting, or orthostatic VS. </li>
          </ul>
        </li>
        <li>Evaluate for the source including infection bleeding/trauma, neurologic or cardiac.</li>
        <li>Pregnancy &gt;20 weeks gestation - Transport in partial L lateral decubitus position. Place wedge-shaped cushion or multiple pillows under patient's right hip and shoulders to elevate R side 45 degrees.</li>
      </ol>
    </div>
    <div id="protocol302HypovolemicShock-markdown457" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol302HypovolemicShock-markdown459" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol302HypovolemicShock-heading265" style="color:#000000;">EMT</h4>
    <div id="protocol302HypovolemicShock-markdown460" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Blood glucose, oxygen saturation and temperature assessment.</li>
        <li>C-spine immobilization, if indicated.</li>
        <li>Ensure patient warmth.</li>
        <li>Place in supine position.</li>
        <li>Control
          <strong>EXTERNAL BLEEDING:</strong>
          <ul>
            <li>Direct pressure and elevation. </li>
            <li>Pressure point. </li>
            <li>Tourniquet-Use
              <a href="#/Tabs_Controller/tab1/Protocol_512">CAT Protocol 512: EMS TOURNIQUET</a>
            </li>
            <li>OXYGEN-Nonrebreather mask at 15L/MIN; ASSIST VENTILATION if necessary.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol302HypovolemicShock-markdown461" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol302HypovolemicShock-heading277" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol302HypovolemicShock-markdown462" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and Pulse oximetry monitoring when available.</li>
        <li>APPLY ECG MONITOR - if an arrhythmia is present go immediately to appropriate Protocol.</li>
        <li>IV LARGE BORE x-2 if able.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol302HypovolemicShock-markdown463" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol302HypovolemicShock-markdown464" class="show-list-numbers-and-dots"></div>
    <div id="protocol302HypovolemicShock-markdown465" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="protocol302HypovolemicShock-heading278" style="color:#000000;">TRAUMATIC SHOCK</h4>
    <div id="protocol302HypovolemicShock-markdown445" class="show-list-numbers-and-dots">
      <ol>
        <li>Give fluid bolus
          <strong>500</strong> mL at a time, reassess and repeat as needed to:
          <ul>
            <li>Maintain SBP to
              <strong>80-90</strong> mmHg (
              <strong>without</strong> closed head injury) </li>
            <li>Maintain SBP to
              <strong>110-120</strong> mmHg (
              <strong>with</strong> closed head injuty) </li>
            <li>If BP above minimums are noted, patient should have saline lock (or TKO IV) and should NOT be given IV fluid boluses, unless BP falls betwen these limits.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol302HypovolemicShock-markdown446" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol302HypovolemicShock-heading290" style="color:#000000;">NON-TRAUMATIC SHOCK</h4>
    <div id="protocol302HypovolemicShock-markdown447" class="show-list-numbers-and-dots">
      <ol>
        <li>Provide
          <strong>500</strong> mL boluses up to a maximum of
          <strong>2</strong> Liters and reassess for reversal of the signs of shock.</li>
        <li>If the patient remains hypotensive after
          <strong>2</strong> Liters, call
          <strong>OLMC</strong>
        </li>
        <li>INITIATE TRANSPORT as soon as possible.
          <strong>Maximum scene time permitted is 10 minutes unless circumstances dictate a longer time.</strong> (Prolonged extrication, extreme patient access, difficulties.. this shall be documented on the PCR).</li>
        <li>Insert Advanced Airway if Apneic.</li>
        <li>
          <strong>ENROUTE:</strong>
          <ul>
            <li>Consult OLMC. </li>
            <li>Reassess vitals, LOC, airway and respiratory status (check lung sounds for fluid overload). </li>
            <li>Start 2nd IV NS if possible. </li>
            <li>Monitor ECG. </li>
          </ul>
        </li>
        <li>Continue IVF NS wide open if shock persists after first liter and lung sounds clear. Use pressure bag if able, to assist delivery of IVF.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol302HypovolemicShock-markdown448" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol302HypovolemicShock-heading291" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol302HypovolemicShock-markdown454" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Advanced Airway as appropriate.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol302HypovolemicShock-markdown468" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol302HypovolemicShock-heading292" style="color:#FF0000;">Medical Control Option - Must contact OLMC prior to administration.</h5>
    <div id="protocol302HypovolemicShock-markdown703" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>Hypotension refractory fo fluid boluses:</strong>
      </p>

      <p style="color:#FF0000;">
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 2-10mcg/min start at 2mcg/minute, titrate to systolic BP until it reaches 90-100mmHg. Mix
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 2mg 1:1000 in 1000mL NS which yelds 0.002mg/ml (2mcg/mL) use dial-a-flow extension set follow the chart below:</p>
    </div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>





    </div>
    <h5 id="protocol302HypovolemicShock-heading267" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol302HypovolemicShock-markdown466" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>