<ion-view title="Protocol 1005 - Atropine" id="page17">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1005Atropine-heading70" style="color:#000000;text-align:center;">Atropine</h1>
    <h5 id="protocol1005Atropine-heading71" style="color:#000000;text-align:center;">Approved for Advanced CCEMS units only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1005Atropine-heading72" style="color:#000000;text-align:center;">Protocol 1005</h3>
    <div id="protocol1005Atropine-markdown57" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div id="protocol1005Atropine-markdown58" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_201">201</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_315">315</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_709">709</a>. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1005Atropine-heading73" style="color:#000000;text-align:center;">Class: Anticholinergic</h4>
    <ion-list id="protocol1005Atropine-list95">
      <div class="item item-body" id="protocol1005Atropine-list-item-container41">
        <div id="protocol1005Atropine-markdown59" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
            <br>
            <strong>1.</strong> Blocks acetylcholine receptors
            <br>
            <strong>2.</strong> Inhibits Parasympathetic Stimulation via the Vagus Nerve
            <br>
            <strong>3.</strong> Chronotropic Effects/Little Inotropic Effect</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1005Atropine-list96">
      <div class="item item-body" id="protocol1005Atropine-list-item-container42">
        <div id="protocol1005Atropine-markdown60" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Symptomatic Sinus Bradycardia
            <br>
            <strong>2.</strong> May be beneficial in presence of AV Nodal Block (1st Degree block, 2nd Degree AV Block type 1)
            <br>
            <strong>3.</strong> Organophosphate poisoning (Large Doses may be required)</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1005Atropine-list195">
      <div class="item item-body" id="protocol1005Atropine-list-item-container137">
        <div id="protocol1005Atropine-markdown1997" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> High Degree Nodal Blocks (Mobitz 2, 3rd Degree)-Relative
            <br>
            <strong>2.</strong> Hypothermic Bradycardia </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1005Atropine-list98">
      <div class="item item-body" id="protocol1005Atropine-list-item-container44">
        <div id="protocol1005Atropine-markdown62" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Tachycardia
            <br>
            <strong>2.</strong> Confusion
            <br>
            <strong>3.</strong> Dilated Pupils</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1005Atropine-heading74" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <h4 id="protocol1005Atropine-heading77" style="color:#000000;text-align:center;">Symptomatic Bradycardia</h4>
    <ion-list id="protocol1005Atropine-list211">
      <div class="item item-body" id="protocol1005Atropine-list-item-container46">
        <div id="protocol1005Atropine-markdown64" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>1. Adults:</strong> 0.5mg, repeat every 3-5 minutes as needed, up to 3mg MAX
            <br>
            <strong>2. PEDS:</strong> 0.02 mg/kg IV repeat every 3-5 mintues as needed
            <br>
            <strong>a. MAX SINGLE DOSE</strong> Child or Adolescent 0.5 mg
            <br>
            <strong>b. MAX TOTAL DOSE</strong> Child 1.0mg or Adolescent 3mg</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1005Atropine-heading78" style="color:#000000;text-align:center;">Organophosphate Poisoning</h4>
    <div id="protocol1005Atropine-markdown65" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">Atropine: 2mg IV or higher may be needed - Contact OLMC for dosing instructions</p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1005Atropine-list100">
      <div class="item item-body" id="protocol1005Atropine-list-item-container138">
        <div id="protocol1005Atropine-markdown1998" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONSIDERATIONS</strong>
            <br>
            <strong>1.</strong> Use with caution if suspected Myocardial Ischemia - which increases O2 demand
            <br>
            <strong>2.</strong> Dose &lt;0.5 mg may cause Paradoxical Bradycardia </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h5 id="protocol1005Atropine-heading75" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1005Atropine-heading76" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>