<ion-view title="Protocol 504 - Chest Trauma" id="page82">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol504ChestTrauma-heading460" style="color:#000000;text-align:center;">CHEST TRAUMA</h3>
    <div id="protocol504ChestTrauma-container40">
      <div id="protocol504ChestTrauma-markdown909" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol504ChestTrauma-markdown910" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol504ChestTrauma-markdown914" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol504ChestTrauma-heading462" style="color:#000000;">EMT</h4>
    <div id="protocol504ChestTrauma-markdown916" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical examination.</li>
        <li>Assess ABC's for evidence of apnea, airway reflex compromise or difficulty in ventilatory efforts.</li>
        <li>Provide basic airway meneuvers to all compromised airways, i.e. oxygen, jaw-thrust, and positioning.</li>
        <li>Provide 100% oxygen to the patient-maintain an oxygen saturation of 90-94%</li>
        <li>Ventilate with BVM when apneic or exhibiting respiratoy distress. Consider a nasal or oral airway.</li>
        <li>Maintain a ventilatry rate of 10-12 breaths per minute.</li>
        <li>Suction the patient appropriately.</li>
        <li>
          <strong>DO not hyperventilate the patient</strong>.</li>
        <li>Always insure proper care of the C-Spine during Airway treatment.</li>
        <li>Apply direct pressure to any obvious external hemorrhage.</li>
        <li>Cover open chest wounds with occlusive dressing,</li>
        <li>Seal wound with occlusive dressing at end of exhalation. Leave one side of dressing untaped to function as a one-way pressure relief valve.</li>
        <li>
          <strong>MONITOR FOR TENSION PNEUMOTHORAX</strong>: Decreasing blood pressure associated with worsening dyspnea, unilateral decreased breath sounds, and increasing resistance to ventilation.</li>
        <li>Immobilize any obvious injuries and penetrating object, do not remove penetrating objects.</li>
        <li>Maintain warmth to minimize heat loss. Monitor for shock and hypovolemia. Assess mental status prior to and every 15 mintues during transport (GCS/AVPU).</li>
        <li>Pediatric lowes acceptable systolic blood pressures are:
          <br>a. Birth to 1 month = 60 mmHg.
          <br>b. 1 month to 1 year = 70 mmHg.
          <br>c. 1 year to 10 years = 70 mmHg + (age x 2).
          <br>d. Over 10 years = 90 mmHg.</li>
        <li>Cover lacerations or puncture wounds to the neck near the great veessesls or trachea with an occlusive dressing.</li>
        <li>Stabilize the flail segment using pillow, folded sheet or towel and tape.</li>
        <li>The impaled objects should be stabilized in place and covered with dry sterile dressings exceptions would be:
          <br>a. Objects through the cheek where there is the possibility of airway compromise.
          <br>b. Objects that would interfere with chest compressions.</li>
      </ol>
    </div>
    <div id="protocol504ChestTrauma-markdown917" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol504ChestTrauma-markdown918" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol504ChestTrauma-markdown919" class="show-list-numbers-and-dots"></div>
    <div id="protocol504ChestTrauma-markdown920" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol504ChestTrauma-heading463" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol504ChestTrauma-markdown921" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete. </li>
        <li>Continuous ECG, ETC02, and Pulse Oximetry monitoring when available.</li>
        <li>In general, maintain an oxygen saturation 90-94% and ETC02 of 35-45 mmHg.</li>
        <li>Establish vascular access x 2 if able with large bore cannula, give NS at TKO rate unless hypotensive then give 500ml boluses at need to max of 3 liters.</li>
        <li>Follow additional trauma protocols as appropriate.</li>
        <li>If traumatic arrest insert Advanced Airway</li>
        <li>Treat for pain and anxiety per
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>.</li>
        <li>Contact OLMC and rapid transport per destination protocol.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol504ChestTrauma-markdown922" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol504ChestTrauma-heading464" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol504ChestTrauma-markdown923" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete. </li>
        <li>Suspected Tension Pneumothorax-immediate needle decompression of affected side.</li>
        <li>Traumatic Arrest-Follow
          <a href="#/Tabs_Controller/tab1/Protocol_104">Protocol 104: TRAUMATIC CARDIAC ARREST</a>.</li>
        <li>INTUBATION - Consider orothracheal intubation using an endotracheal tube when indicated.</li>
        <li>Document
          <strong>TWO</strong> confirmation methods to verify endotracheal placement of ET tube (e.g. ETC02, CO2 Detection Device or Esophogeal Intubation Detector).</li>
        <li>Consider sedation after intubation (
          <strong>Benzodiazephone</strong>)</li>
        <li>Are
          <strong>TWO</strong> unsuccessful attempts to endotracheal intubation use a supraglottic airway device or BVM with approptriate oral/nasal airway.</li>
        <li>
          <strong>Surgical Airway-Cricothyrotomy</strong>:
          <br>a. Consider when all other methods of oxygenation, ventilation and securing the airway have failed.
          <br>b. Use department approved kit</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol504ChestTrauma-markdown924" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol504ChestTrauma-heading491" style="color:#000000;">Medical Control Options - Must contact prior to administration</h4>
    <div id="protocol504ChestTrauma-markdown1047" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Hypotension refractory to fluid boluses</strong>
      </p>

      <p style="color:#000000;">
        <strong>Paramedic Only: EPI Drip</strong>
      </p>

      <p style="color:#000000;">
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
        <strong>2-10 mcg/min</strong> start at
        <strong>2mcg/min</strong>. Titrate systolic BP until it reaches 90-100 mmHg. Mix
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
        <strong>2mg 1:1000</strong> in 1000 mL NS which yields 0.002mg/mL (2mcg/mL) use dial-a-flow extension set following the chart below. </p>
    </div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>






    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol504ChestTrauma-markdown1046" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h5 id="protocol504ChestTrauma-heading465" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol504ChestTrauma-markdown925" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>