<ion-view title="Protocol 723 - Pediatric Fractures/Dislocations" id="page143">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol723PediatricFracturesDislocations-heading791" style="color:#000000;text-align:center;">PEDIATRIC FRACTURES/DISLOCATIONS</h3>
    <div id="protocol723PediatricFracturesDislocations-container101">
      <div id="protocol723PediatricFracturesDislocations-markdown1824" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol723PediatricFracturesDislocations-markdown1825" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol723PediatricFracturesDislocations-heading792" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol723PediatricFracturesDislocations-markdown1826" class="show-list-numbers-and-dots">
      <p style="color:#000000;">All patients who have suspected dislocations or fractures, especially of the pelvis or femur.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol723PediatricFracturesDislocations-markdown1827" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol723PediatricFracturesDislocations-markdown1828" class="show-list-numbers-and-dots"></div>
    <div id="protocol723PediatricFracturesDislocations-markdown1829" class="show-list-numbers-and-dots"></div>
    <div id="protocol723PediatricFracturesDislocations-markdown1830" class="show-list-numbers-and-dots"></div>
    <div id="protocol723PediatricFracturesDislocations-markdown1831" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol723PediatricFracturesDislocations-heading793" style="color:#000000;">EMT</h4>
    <div id="protocol723PediatricFracturesDislocations-markdown1832" class="show-list-numbers-and-dots">
      <ol>
        <li>Scene and patient management.</li>
        <li>Focused history and physical exam.</li>
        <li>Obtain a full set of Vital Signs including blood glucose.</li>
        <li>
          <strong>PERFORM PRIMARY AND SECONDARY SURVEY</strong>, including neurological and vascular exam of extremity distal to injury-document status.</li>
        <li>
          <strong>SPLINTING</strong>: Use appropriate device (Sam splint, traction, vacuum, pillow...)</li>
        <li>
          <strong>Uncomplicated fractures/dislocations with adequate circulation</strong>.
          <ul>
            <li>Splinted in a position of function/comfort. </li>
          </ul>
        </li>
        <li>
          <strong>Fractures/dislocations with circulation deficits or severly angulated</strong>.
          <ul>
            <li>Treat with one attempt at placing the extremity in a position of function/comfort. </li>
            <li>If unsuccessful, splint in position found and expedite transport. </li>
            <li>Fractures and joint dislocations without palpable distal pulses are true orthopedic emergencies. </li>
          </ul>
        </li>
        <li>
          <strong>Potential pelvic fractures</strong>.
          <ul>
            <li>Treatent of choice is application of the pelvic binder. If unavailable, a cloth sheet or blanket can be wrapped tightly around the pelvis to stabilize it. </li>
          </ul>
        </li>
        <li>
          <strong>Isolated proximal femur (hip) fractures (especially in the elderly)</strong>.
          <ul>
            <li>Best managed with anatomical splinting utilizing a scoop stretcher. Traction splints are not appropriate for any proximal femur fractures. </li>
          </ul>
        </li>
        <li>
          <strong>Femoral shaft fractures</strong>.
          <ul>
            <li>Immobilized utilizing a traction spling unless one of the situations listed below is present.
              <ul>
                <li>Injuries just proximal to or involving the knee joint. </li>
                <li>Injury to the pelvis. </li>
                <li>Partial amputation. </li>
                <li>Lower leg or ankle injuries. </li>
                <li>If use would delay transport of a patient with a life-threatening condition. </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <strong>CHECK DISTAL CIRCULATION (color, temperature, capillary refill and pulses) BEFORE AND AFTER SPLINTING</strong>.</li>
        <li>Remove all rings and constricting clothing on the affected limb if possible.</li>
        <li>Maintain airway; assist with breathing as necessary, provide oxygen.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol723PediatricFracturesDislocations-markdown1833" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol723PediatricFracturesDislocations-heading794" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol723PediatricFracturesDislocations-markdown1834" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>If hypotensive bolus with NS
          <strong>20 ml/kg</strong> then reassess - may give up to
          <strong>60 ml/kg</strong> if not hypotensive TKO rate with a
          <strong>MAX</strong> bolus of
          <strong>1 L</strong>.</li>
        <li>Treat for pain and anxiety, consider
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>
          </strong>. and contact
          <strong>OLMC</strong> for medication order:
          <ul>
            <li>
              <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a>
              <strong>1 mcg/kg (max 25 mcg per dose</strong>) IV/IO. </li>
            <li>In the event and IV cannot be established,
              <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a>
              <strong>1 mcg/kg</strong> may be given IM up an initial dose of
              <strong>25 mcg</strong>. </li>
            <li>For additional doses, contact
              <strong>OLMC</strong>.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol723PediatricFracturesDislocations-markdown1835" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol723PediatricFracturesDislocations-heading795" style="color:#000000;">PARAMEDIC:</h4>
    <div id="protocol723PediatricFracturesDislocations-markdown1836" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure the above is complete.</li>
        <li>Pain control
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>
          </strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol723PediatricFracturesDislocations-markdown1838" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol723PediatricFracturesDislocations-heading796" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol723PediatricFracturesDislocations-markdown1839" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>