<ion-view title="Protocol 716 - Pediatric Fever Control" id="page121">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol716PediatricFeverControl-heading722" style="color:#000000;text-align:center;">PEDIATRIC FEVER CONTROL</h3>
    <div id="protocol716PediatricFeverControl-container78">
      <div id="protocol716PediatricFeverControl-markdown1567" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol716PediatricFeverControl-markdown1568" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol716PediatricFeverControl-heading729" style="color:#000000;">INTRODUCTION:</h4>
    <div id="protocol716PediatricFeverControl-markdown1582" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Normal body temperature ranges from
        <strong>97 degrees (36.1 C) to 100.0 degrees (37.5 C)</strong>. Fever is the natural way of fighting infection. Rapid temperature changes may cause seizures-especially in children (febrile seizures).</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol716PediatricFeverControl-heading724" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol716PediatricFeverControl-markdown1570" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A fever is a temperature of
        <strong>100.4 (38.0 C)</strong> or greater.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol716PediatricFeverControl-heading725" style="color:#000000;">EXCLUSIONS:</h4>
    <div id="protocol716PediatricFeverControl-markdown1571" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_714">Pediatric Seizures</a>
          </strong> with a normal body temperature from 97 degrees (36.1 C) to 100.0 degrees (37.5 C).</li>
        <li>Contraindications include abdominal pain, allergy to medications, vomiting, active bleeding or concern from parents.</li>
        <li>Avoid acetaminophen in patients with liver problems.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol716PediatricFeverControl-markdown1572" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol716PediatricFeverControl-markdown1573" class="show-list-numbers-and-dots"></div>
    <div id="protocol716PediatricFeverControl-markdown1574" class="show-list-numbers-and-dots"></div>
    <div id="protocol716PediatricFeverControl-markdown1575" class="show-list-numbers-and-dots"></div>
    <div id="protocol716PediatricFeverControl-markdown1576" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol716PediatricFeverControl-heading726" style="color:#000000;">EMT</h4>
    <div id="protocol716PediatricFeverControl-markdown1577" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and Assessment.</li>
        <li>Full set of vital signs including blood glucose.</li>
        <li>Assess temperature.</li>
        <li>Oxygen: 15 L/min by mask, nasal cannula or blow-by to maintain SPO2&gt;94%.</li>
        <li>Febrile Seizures: These seizures may mimic epilepsy but reassure parents that the occurrence of a bebrile seizure does not indicate the child will have epilepsy nor will the child suffer brain damage. A typical febrile seizure may last from a
          few seconds to several minutes. If a seizure does occur in the context of a recent cold/illness then:
          <br>a. Place child on their side to promote drainage of secretions.
          <br>b. Remove anything from the mouth (bottles, pacifiers.).
          <br>c. Ensure the child will not strike anything while having a seizure.
          <br>d. Apply blow-by oxygen (15 L/min) with a non rebreather mask.
          <br>e. If seizure lasts &gt;3 mintues begin rapid transfer-follow
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_714">Protocol 714: Pediatric Seizures</a>
          </strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol716PediatricFeverControl-markdown1578" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol716PediatricFeverControl-heading727" style="color:#000000;">ADVANCED EMT / PARAMEDIC</h4>
    <div id="protocol716PediatricFeverControl-markdown1579" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>If temperature is &gt;100.4 F (&gt;38.0 C) and the patient does NOT have any contraindicationsm consider antipyretic medications.</li>
        <li>Advanced EMT-Contact OLMC for medication order.</li>
        <li>If the patient is awake and able to maintain their airway without assistance then the following steps may be instituted:
          <br>a. Remove extra clothing-keep in T-shirt / diaper.
          <br>b. Prevent overheating by not wrapping in blankets.
          <br>c. Child's Tylenol shall be given if it had not been administered withing the last 4 hours *(Children's Tylenol normal dosing is q 4 hours).
          <br>d. Dosing syringes are one time use only.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/Mtk60Vu0SZaQ7uV0Z0FM_ScreenShot2018-04-07at5.58.46PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="protocol716PediatricFeverControl-markdown1992" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol716PediatricFeverControl-markdown1580" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol716PediatricFeverControl-heading728" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol716PediatricFeverControl-markdown1581" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>