<ion-view title="Protocol 711 - Pediatric Ventricular Tachycardia" id="page114">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol711PediatricVentricularTachycardia-heading650" style="color:#000000;text-align:center;">PEDIATRIC VENTRICUAR TACHYCARDIA</h3>
    <div id="protocol711PediatricVentricularTachycardia-container71">
      <div id="protocol711PediatricVentricularTachycardia-markdown1369" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol711PediatricVentricularTachycardia-markdown1370" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol711PediatricVentricularTachycardia-heading670" style="color:#000000;">NOTE:</h4>
    <div id="protocol711PediatricVentricularTachycardia-markdown1376" class="show-list-numbers-and-dots">
      <ol>
        <li>If no pulse present, trate as VF using
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_707">Protocol 707: Pediatric Ventricular Fibrillation</a>
          </strong>.</li>
        <li>For all arrhythmias begin with
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_708">Protocol 708: Pediatric Cardiac Arrythmias</a>
          </strong>.</li>
        <li>Follow current ACLS and PALS guidelines as needed.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol711PediatricVentricularTachycardia-markdown1422" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol711PediatricVentricularTachycardia-markdown1423" class="show-list-numbers-and-dots"></div>
    <div id="protocol711PediatricVentricularTachycardia-markdown1446" class="show-list-numbers-and-dots"></div>
    <div id="protocol711PediatricVentricularTachycardia-markdown1461" class="show-list-numbers-and-dots"></div>
    <div id="protocol711PediatricVentricularTachycardia-markdown1462" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol711PediatricVentricularTachycardia-heading678" style="color:#000000;">EMT</h4>
    <div id="protocol711PediatricVentricularTachycardia-markdown1463" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Assess blood glucose level.</li>
        <li>Pediatric lowest acceptable systolic blood pressures:
          <ul>
            <li>Birth to 1 month = 60 mmHg. </li>
            <li>1 month to 1 year = 70 mmHg. </li>
            <li>1 year to 10 years = 70 mmHg + (age x 2) over 10 years - 90 mmHg.</li>
          </ul>
        </li>
        <li>Provide 100% oxygen to the patient.</li>
        <li>Ventilate with BVM when apneic or exhibiting respiratory distress- In general, maintain an oxygen saturation 90-94%.</li>
        <li>Consider a nasal or oral airway.</li>
        <li>Recommended pediatric ventilatory rates:
          <ul>
            <li>Infant (0-12 month): 25 breaths per minute. </li>
            <li>1-3 years: 20 breaths per minute. </li>
            <li>4-6 years: 15 breaths per minute. </li>
            <li>&gt;6 years: 12 (Same as adult).</li>
          </ul>
        </li>
        <li>Do not hyperventilate the patient.</li>
        <li>Keep the patient
          <strong>NPO</strong>.</li>
        <li>Assess for signs or symptoms of hypo-perfusion:
          <ul>
            <li>Capillary refill &gt;2 seconds. </li>
            <li>Absent or weak peripheral pulses. </li>
            <li>Cool, cold, cyanotic extremities. </li>
            <li>Poor muscle tone. </li>
            <li>Altered level of consciousness (lethargy or failure to recognize parents). </li>
            <li>Hypotension (see chart below). </li>
            <li>AGE - Abnormal (Low) PRESSURE.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>


      <style>
        table, th, td {
            border: 2px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>AGE</b>
            </td>
            <td>
              <b>PRESSURE</b>
            </td>
          </tr>
          <tr>
            <td> 0-2 Months </td>
            <td>60 mm Hg</td>
          </tr>
          <tr>
            <td>2 months to 1 Year</td>
            <td>70 mm Hg</td>
          </tr>
          <tr>
            <td>1 Year</td>
            <td>70 + 2 x (years in age) </td>
          </tr>
          <tr>
            <td>Over 10 Years</td>
            <td>90 mm Hg</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol711PediatricVentricularTachycardia-markdown1464" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol711PediatricVentricularTachycardia-heading683" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol711PediatricVentricularTachycardia-markdown1465" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>Obtain 12 lead if able and transmit to appropriate facility.</li>
        <li>Obtain vascular access if able-if hypotensive 20 ml/kg then TKO rate unless otherwise directed.</li>
        <li>Contact Medical Control for medication order:</li>
      </ol>

      <p style="color:#000000;">
        <strong>Antiarrhythmic medication:
          <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> IS THE ONLY ANTIARRHYTHMIC TO BE USED FOR CONVERSION.
          <a href="#/Tabs_Controller/Protocol_1003">Amiodarone</a> IS NOT TO BE USED</strong>
      </p>

      <p style="color:#000000;">
        <strong>Stable Wife Complex (QRS &gt; 120 msec) Tachycardia</strong>
      </p>

      <p style="color:#000000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a>
        </strong>: 1 mg/kg IV/IO
        <br>1. May repeat every 3-5 minutes up to
        <strong>3 mg/kg</strong>.
        <br>2. If conversion to a Sinus Rhythm begin
        <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> gtt.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol711PediatricVentricularTachycardia-markdown1466" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol711PediatricVentricularTachycardia-heading684" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol711PediatricVentricularTachycardia-markdown1472" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is compete.</li>
        <li>
          <strong>INTUBATION</strong> - Consider orotracheal intubation using an endotacheal tube when indicated or appropriate supraglottic airway.</li>
        <li>Document TWO confirmation methods to verify endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophageal Intubation Detector).</li>
        <li>
          <strong>No nasotracheal intubation</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol711PediatricVentricularTachycardia-markdown1468" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol711PediatricVentricularTachycardia-markdown1469" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>
          <p style="color:#000000;">
            <strong>Unstable Tachycardia - Synchronized Cardioversion</strong>: </p>
          <ul>
            <li>
              <strong>If no response to previous interventions and the patient has "Serious Signs or Symptoms" such as</strong>:
              <ul>
                <li>Active Congestive Heart Failure /Pulmonary Edema. </li>
                <li>Altered Mental Status. </li>
              </ul>
            </li>
            <li>
              <p style="color:#000000;">Signs of Shock. </p>
              <ul>
                <li>Cool, clammy, or pale skin. </li>
                <li>
                  <p style="color:#000000;">Weak or thready pulse.</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Synchronized Cardioversion</strong>: </p>
          <ul>
            <li>Indicated immediately in the unstable patient. </li>
            <li>Initiaitial energy dose is
              <strong>0.5-1 J/kg</strong>. </li>
            <li>
              <p style="color:#000000;">If no response double energy dose to
                <strong>2 J/kg</strong>.</p>
            </li>
          </ul>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Sedation prior to Cardioversion -
              <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>
            </strong>.</p>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol711PediatricVentricularTachycardia-markdown1470" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol711PediatricVentricularTachycardia-heading685" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol711PediatricVentricularTachycardia-markdown1471" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>