<ion-view title="Protocol 608 - Hypertensive Emergencies: Pre-Eclampsia and Eclampsia" id="page100">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-heading603" style="color:#000000;text-align:center;">HYPERTENSIVE EMERGENCIES: PRE-ECLAMPSIA AND ECLAMPSIA</h3>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-container57">
      <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1242" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1243" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-heading604" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1244" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Paitents in third trimester of pregnancy who were normotensive prior to pregnancy and now have BP &gt;140/90; this may be associated with edema of hands and face. This usually occurs during patient's first pregnancy.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-heading605" style="color:#000000;">NOTE:</h4>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1245" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Definitive treatment is delivery of fetus. Thus, rapid transport indicated. Hyper-reflexia and visual changes indicate imminent seizure.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1246" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1247" class="show-list-numbers-and-dots"></div>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1248" class="show-list-numbers-and-dots"></div>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1249" class="show-list-numbers-and-dots"></div>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1250" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-heading606" style="color:#000000;">EMT</h4>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1251" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Obtain compete set of vital signs including glucose.</li>
        <li>Take
          <strong>OBSTETRICAL HISTORY</strong> per
          <a href="#/Tabs_Controller/tab1/Protocol_600">Protocol 600: Obstetric Emergencies</a> and inquire whether patient has been diagnosed with hypertension of pregnancy or preeclampsia.</li>
        <li>Place patient in comfortable position -- elevate right side if supine.</li>
        <li>Administer
          <strong>OXYGEN</strong> 4-6 L per NC or 15 L nonrebreather mask.</li>
        <li>If patient has generalized (grand mal) seizure: Assure adequate ventilation and oxygenation.</li>
        <li>Protect airway - suction as needed.</li>
        <li>Do not place anything in the mouth.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1252" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-heading607" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1253" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available.</li>
        <li>Initiate transport and contact PLMC Physician - anticipate seizure.</li>
        <li>Monitor vitals, airway and neurological status enroute.</li>
        <li>Start IV at TKO rate or saline lock.</li>
        <li>For actively seizing refer to
          <a href="#/Tabs_Controller/tab1/Protocol_308">Protocol 308: Seizure</a>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1254" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-heading608" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1255" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>For actively seizing refer to
          <a href="#/Tabs_Controller/tab1/Protocol_308">Protocol 308: Seizure</a>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1256" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1257" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>
          <p style="color:#FF0000;">
            <strong>High-risk preterm labor when delivery is imminent, to suppress uterine contractions</strong>:
            <br>a. Rapidly infuse
            <strong>1 liter</strong> of NS (AEMT/PM)
            <br>b.
            <strong>
              <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a> 2.5 mg</strong> via nebulization (AEMT/PM).
            <br>c.
            <strong>
              <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a> 1 gram</strong> IV and titrate per Medical Control (PM only). </p>
        </li>
        <li>
          <p style="color:#FF0000;">
            <strong>For females with advanced pregnancy and seizures</strong>:
            <br>a.
            <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a> - 2-4 grams IM or 2-4 grams in 10 ml NS infuse over 15 to 30 minutes.
            <br>b. PEDIATRIC (&lt;15 years of age, PM only):
            <br>c.
            <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a> - For pediatric patiens who are pregnant and haveing a seizure contact OLMC for dosage insturctions.</p>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1258" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-heading609" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol608HypertensiveEmergenciesPreEclampsiaAndEclampsia-markdown1259" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>