<ion-view title="Protocol 1016 - Mag Sulfate" id="page43">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1016MagSulfate-heading183" style="color:#000000;text-align:center;">Magnesium Sulfate</h1>
    <h5 id="protocol1016MagSulfate-heading184" style="color:#000000;text-align:center;">Approved for Paramedic Rescue Units Only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1016MagSulfate-heading185" style="color:#000000;text-align:center;">Protocol 1016</h3>
    <div id="protocol1016MagSulfate-markdown342" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1016MagSulfate-markdown343" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_101">101</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_102">102</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_308">308</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_602">602</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_603">603</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_604">604</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_605">605</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_608">608</a>,
        <a href="#/page1/tab1/Protocol_610">610</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_714">714</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1016MagSulfate-heading193" style="color:#000000;text-align:center;">Class: Hormone - Electrolyte/CNS Depressant</h4>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h5 id="protocol1016MagSulfate-heading186" style="color:#000000;text-align:center;">Medical Control Option - Must Contact Prior to Administration</h5>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1016MagSulfate-list167">
      <div class="item item-body" id="protocol1016MagSulfate-list-item-container104">
        <div id="protocol1016MagSulfate-markdown345" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Mechanism of Action</strong>
          </p>

          <p style="color:#000000;">Magnesium is a cofactor in more than 300 enzyme systems that regulate diverse biochemical reactions in the body, including protein synthesis, muscle and nerve function, blood glucose control, and blood pressure regulation. Magnesium is required
            for energy production, oxidative phosphorylation, and glycolysis. It contributes to the structural development of bone and is required for the synthesis of DNA, RNA, and the antioxidant glutathione. Magnesium also plays a role in the active
            transport of calcium and potassium ions across cell membranes, a process that is important to nerve impulse conduction, muscle contraction, and normal heart rhythm. As an anticonvulsant, reduces muscle contractions by interfering with release
            of acetylcholine at myoneural junction.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1016MagSulfate-list168">
      <div class="item item-body" id="protocol1016MagSulfate-list-item-container103">
        <div id="protocol1016MagSulfate-markdown2000" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Eclampsia (Seizures Accompanying Pregnancy).
            <br>
            <strong>2.</strong> Cardiac Arrest if Torsades De Pointes or Suspected Hypomagnesemia is Present.
            <br>
            <strong>3.</strong> To Suppress Uterine Contractions in High Risk Labor. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1016MagSulfate-list169">
      <div class="item item-body" id="protocol1016MagSulfate-list-item-container105">
        <div id="protocol1016MagSulfate-markdown346" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Do Not Give to Any Patient With Heart Block or Recent MI.
            <br>
            <strong>2.</strong> Shock.
            <br>
            <strong>3.</strong> Persistent Severe Hypertension.
            <br>
            <strong>4.</strong> Patients Undergoing Routine Dialysis.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1016MagSulfate-list170">
      <div class="item item-body" id="protocol1016MagSulfate-list-item-container106">
        <div id="protocol1016MagSulfate-markdown347" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Hypotension With Rapid Administration.
            <br>
            <strong>2.</strong> Bradycardia.
            <br>
            <strong>3.</strong> Sweating/Flushing.
            <br>
            <strong>4.</strong> Respiratory Depression.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <ion-list id="protocol1016MagSulfate-list175">
      <div class="item item-body" id="protocol1016MagSulfate-list-item-container110">
        <div id="protocol1016MagSulfate-markdown352" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Considerations</strong>
            <br>
            <strong>1.</strong> Constant Cardiac Monitoring.
            <br>
            <strong>2.</strong> Slow IV/IO Infusion.
            <br>
            <strong>3.</strong> Monitor Vital Signs Frequently. </p>
        </div>
      </div>
    </ion-list>
    <h3 id="protocol1016MagSulfate-heading187" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1016MagSulfate-markdown348" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Cardiac Arrest due to Torsades De Pointes</strong>
        <br>
        <strong>1. ADULT: Magnesium Sulfate 1-2gm</strong> diluted in 10mL NS give over 5 minutes IV/IO.
        <br>
        <strong>2. Pediatric: (&lt;15 years of Age)</strong> For pediatic patients who are pregnant and having a seizure contact OLMC for dosage. </p>
    </div>
    <h5 id="protocol1016MagSulfate-heading194" style="color:#000000;text-align:center;">Medical Control Option - Must Contact Prior to Administration</h5>
    <div class="spacer" style="height: 22px;"></div>
    <h4 id="protocol1016MagSulfate-heading188" style="color:#000000;text-align:center;">Bronchospasm/Wheezing: Contact OLMC prior to administration</h4>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1016MagSulfate-list171">
      <div class="item item-body" id="protocol1016MagSulfate-list-item-container107">
        <div id="protocol1016MagSulfate-markdown349" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>High-Risk preterm labor when delivery is imminent, to suppress uterine contractions</strong>
            <br>
            <strong>1. Magnesium Sulfate 1-gram diluted in 10mL NS give over 5 minutes.</strong> IV titrate per Medical Control Direction.
            <br>
            <strong>2. For Females with advanced pregnancy and seizures:</strong>
            Magnesium Sulfate: 2-4 grams IM or 2-4 grams in 10mL of NS infuse over 15-30 minutes IV, as directed by OLMC.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1016MagSulfate-markdown353" class="show-list-numbers-and-dots"></div>
    <div id="protocol1016MagSulfate-button-bar15" class="button-bar"></div>
    <div id="protocol1016MagSulfate-button-bar16" class="button-bar"></div>
    <h5 id="protocol1016MagSulfate-heading191" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1016MagSulfate-heading192" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>