<ion-view title="Protocol 1006 - Atrovent" id="page8">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1006Atrovent-heading82" style="color:#000000;text-align:center;">Atrovent</h1>
    <h5 id="protocol1006Atrovent-heading84" style="color:#000000;text-align:center;">Approved for Advanced CCEMS units only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1006Atrovent-heading85" style="color:#000000;text-align:center;">Protocol 1006</h3>
    <div id="protocol1006Atrovent-markdown94" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div id="protocol1006Atrovent-markdown95" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_401">401</a>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1006Atrovent-heading86" style="color:#000000;text-align:center;">Class: Anticholinergic, Bronchodilator</h4>
    <ion-list id="protocol1006Atrovent-list101">
      <div class="item item-body" id="protocol1006Atrovent-list-item-container45">
        <div id="protocol1006Atrovent-markdown96" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
            <br>
            <strong>1.</strong> Bronchodilation
            <br>
            <strong>2.</strong> Onset of 5-15 minutes
            <br>
            <strong>3.</strong> Duration 4-6 hours</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1006Atrovent-list103">
      <div class="item item-body" id="protocol1006Atrovent-list-item-container47">
        <div id="protocol1006Atrovent-markdown97" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Treatment for persistent bronchospasms</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1006Atrovent-list104">
      <div class="item item-body" id="protocol1006Atrovent-list-item-container48">
        <div id="protocol1006Atrovent-markdown98" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> HYPERSENSITIVITY TO IPRATROPIUM,
            <a href="#/Tabs_Controller/Protocol_1005">ATROPINE</a>, ALKALOID, SOYBEAN PROTEIN, PEANUTS. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1006Atrovent-list107">
      <div class="item item-body" id="protocol1006Atrovent-list-item-container49">
        <div id="protocol1006Atrovent-markdown99" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Nausea and Vomiting
            <br>
            <strong>2.</strong> Coughing
            <br>
            <strong>3.</strong> Headache
            <br>
            <strong>4.</strong> Tachycardia
            <br>
            <strong>5.</strong> Dry Mouth
            <br>
            <strong>6.</strong> Can precipitate acute bronchospasms (uncommon with nebulized administration) </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1006Atrovent-list105">
      <div class="item item-body" id="protocol1006Atrovent-list-item-container51">
        <div id="protocol1006Atrovent-markdown103" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>PRECUATIONS</strong>
            <br>
            <strong>1.</strong> Should be used with caution in narrow angle glaucoma, prostatic hypertrophy or bladder neck obstruction.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1006Atrovent-heading87" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1006Atrovent-markdown100" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>1. Adults:</strong> 0.5 mg/3mL NS via small volume nebulizer
        <br>
        <strong>2. ADULTS:</strong> May mix with 2.5mg Albuterol if meets protocol for a duo-nebulizer treatment
        <br>
        <strong>3. ATROVENT IS NOT A PEDIATRIC MEDICATION</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1006Atrovent-list106">
      <div class="item item-body" id="protocol1006Atrovent-list-item-container50">
        <div id="protocol1006Atrovent-markdown102" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONSIDERATIONS</strong>
            <br>
            <strong>1.</strong> Shake well before use.
            <br>
            <strong>2.</strong> Rare cases of acute anaphylactoid reactions have occurred.
            <br>
            <strong>3.</strong> If mixed with
            <a href="#/Tabs_Controller/Protocol_1002">albuterol</a>, it must be used within one hour.
            <br>
            <strong>4.</strong> Best to avoid use of mask when administered to avoid eye exposure. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h5 id="protocol1006Atrovent-heading90" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1006Atrovent-heading91" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>