<ion-view title="Protocol 508 - Burns And Inhalation Injuries" id="page86">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol508BurnsAndInhalationInjuries-heading489" style="color:#000000;text-align:center;">BURNS AND INHALATION INJURIES</h3>
    <div id="protocol508BurnsAndInhalationInjuries-container44">
      <div id="protocol508BurnsAndInhalationInjuries-markdown976" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol508BurnsAndInhalationInjuries-markdown977" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol508BurnsAndInhalationInjuries-markdown978" class="show-list-numbers-and-dots"></div>
    <div id="protocol508BurnsAndInhalationInjuries-markdown979" class="show-list-numbers-and-dots"></div>
    <div id="protocol508BurnsAndInhalationInjuries-markdown982" class="show-list-numbers-and-dots"></div>
    <div id="protocol508BurnsAndInhalationInjuries-markdown983" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol508BurnsAndInhalationInjuries-heading490" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol508BurnsAndInhalationInjuries-markdown984" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>1. SCENE SAFETY IS THE #1 PRIORITY! ALWAYS ENSURE THE SCENE IS SAFE PRIOR TO ANY INTERVERNTIONS.</strong>
        <br>
        <strong>2.</strong> Electrical Burns are frequently more serious than they appear.
        <br>
        <strong>3.</strong> Identifying the source of AC or DC voltage with the amperage will be helpful in the treatment.
        <br>
        <strong>4.</strong> Burn patients are TRAUMA patients. Care for traumatic injuries should precede care for the burn.
        <br>
        <strong>5.</strong> Potential CO and/or Cyanide exposure (closed space smoke exposure) should receive 100% oxygen, by NRB.
        <br>
        <strong>6.</strong> Patients are prone to hypothermia due to heat loss from the burns.
        <br>
        <strong>7.</strong> Consider Child Abuse as a cause. Circumferential scald burn to hands, feet, buttocks, and genitalia are common burns seen in child abuse (especially in children &lt;5 years old).</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol508BurnsAndInhalationInjuries-markdown986" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol508BurnsAndInhalationInjuries-heading492" style="color:#000000;">EMT</h4>
    <div id="protocol508BurnsAndInhalationInjuries-markdown987" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>In the unconscious patient, implement spinal motion restriction.</li>
        <li>Remove all prostheses, rings, and constricting bands from extermities.</li>
        <li>Closely monitor patient's temperature and prevent hypothermia.</li>
        <li>Identify potential entry and exit wounds for electrical burns - both sites will generally be a full thickness burn site.</li>
        <li>Thermal Burns:
          <br>a. Stop the burning process.
          <br>b. Do not pull material out of the wound but cut clothing around it.</li>
        <li>Electrical Burns:
          <br>a. Safely evacuate patient from electrical source.
          <br>b. Do not touch the patient until you are sure that the electrical source is disconnected.
          <br>c. When multiple paitents are struck simultaneously by lightning or a high voltage source, those in respiratory and/or cardiac arrest should be given the highest priority of care, even those who appear dead or initial evaluation.</li>
        <li>OXYGEN non-rebreather mask at
          <strong>15L</strong> ASSIST VENTILATION as needed, monitor closely for airway edema.</li>
        <li>If patient was in enclosed space or in proximity to explosion/flashback, assume CO exposure and potential inhalation injury.</li>
        <li>Monitor closely for airway edema.</li>
        <li>Apply burn free.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol508BurnsAndInhalationInjuries-markdown988" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h5 id="protocol508BurnsAndInhalationInjuries-heading495" style="color:#000000;">Treatment of Burns:</h5>
    <div id="protocol508BurnsAndInhalationInjuries-markdown992" class="show-list-numbers-and-dots">
      <ol>
        <li>Dressings:
          <br>a. Partial or Full Thickness (2nd or 3rd degree) &lt;10% BSA - Wet sterile dressings.
          <br>b. Partial or Full Thickness (2nd or 3rd degree) &gt;10% BSA - Dry sterile dressings.</li>
      </ol>
    </div>
    <h5 id="protocol508BurnsAndInhalationInjuries-heading496" style="color:#000000;">Definitions:</h5>
    <div id="protocol508BurnsAndInhalationInjuries-markdown993" class="show-list-numbers-and-dots">
      <ol>
        <li>Superficial (1st degree) Burns _ red painful, without blisters.</li>
        <li>Partial Thickness (2nd degree) Burns - red, painful/hypersensitive, swollen, with either intact or ruptured blisters.</li>
        <li>Full Thickness (3rd degree) Burns - dark, leathery, painless, waxy and does not blanch.</li>
        <li>Estimate size and deth of burn using the percentage chart (below)</li>
      </ol>
    </div>
    <div class="spacer" style="width: 748px; height: 29px;"></div>
    <div>
      <img src="img/PXGEWSvdQsS1dwPeZsqo_Ruleof9soriginal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol508BurnsAndInhalationInjuries-markdown994" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol508BurnsAndInhalationInjuries-heading493" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol508BurnsAndInhalationInjuries-markdown989" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETC02, and Pulse Oximetry monitoring when available, avoid placing monitor attachments over burned skin if possible.</li>
        <li>12 lead ECG where appropriate and if possible, avoid placing electrodes over burned skin.</li>
        <li>Monitor for developing airway compromise.</li>
        <li>With electrical burns anticipate heart rhythm irregularities (both ventricular and artial).</li>
        <li>Assess for circulatory compromise from circumferential extremity burns or ventilatory compromise from circumferential chest burns.</li>
        <li>
          <strong>INITIATE TRANSPORT</strong>
        </li>
        <li>IV NS large bore at TKO unless hypotensive then give 500 ml bolus and reassess. Titrate to keep vital signs within normal limits. If possible, avoid placing IV through burned skin.</li>
        <li>Partial or Full Thickness (2nd or 3rd degree) &gt;10% BSA - flush therapy following Parkland Burn Forumla:
          <strong>NS 4 ml per kg body weight per % burn during the first 24 hours. </strong>
          <br>a. To calcuate: multiply 4 ml X kg X % burn = total fluid requirement.
          <br>b. Give half of this amount during the first 8 hours from the time of injury.</li>
        <li>Contact Medical Control.</li>
        <li>Treat for pain and anxiety:
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>
        </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol508BurnsAndInhalationInjuries-markdown990" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol508BurnsAndInhalationInjuries-heading497" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol508BurnsAndInhalationInjuries-markdown995" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>
          <strong>INTUBATE</strong> as appropriate.</li>
        <li>If patient becomes agitated with increasing LOC
          <strong>after</strong> intubation may give
          <strong>
            <a href="#/Tabs_Controller/Protocol_1024">Versed</a>
          </strong> 2-5 mg slow IV with Medical Control permission.</li>
        <li>Consult Medical control if need for surgical airway appears imminent.</li>
        <li>High voltage electrical injury or direct lightning strike with significant tissue destruction:
          <strong>
            <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a> 1 mEq/kg (maximum of 100 mEq)</strong> in 1000 mL NS wide open.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol508BurnsAndInhalationInjuries-markdown996" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol508BurnsAndInhalationInjuries-heading494" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol508BurnsAndInhalationInjuries-markdown991" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>