<ion-view title="Protocol 202 - Tachycardia" id="page36">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol202Tachycardia-heading125" style="color:#000000;text-align:center;">Tachycardia</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol202Tachycardia-container10">
      <div id="protocol202Tachycardia-markdown226" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol202Tachycardia-markdown227" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>INDICATIONS:</strong>
      </p>

      <ol>
        <li>A Tachyarrhythmia (Rate &gt;130) bpm has many potential causes and may be symptomatic or not. The key to management if pulses are present is to determine stability of the patient and provide treatment based on patient condition and rhythm.</li>
        <li>Follow current ACLS and PALS guidelines as needed.</li>
      </ol>
    </div>
    <div id="protocol202Tachycardia-markdown234" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol202Tachycardia-markdown247" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Rhythms include:</strong>
      </p>

      <ol>
        <li>Atrial Fibrillation</li>
        <li>Atrial Flutter</li>
        <li>Reentry supraventricular tachycardia (SVT)</li>
        <li>Monomorphic VT</li>
        <li>Polymorphic VT</li>
        <li>Wide-complex tachycardia of uncertain type </li>
        <li>Unstable tachycardia results in reduced output that can cause pulmonary edema, coronary ischemia, medication or illicit drug usage, medical conditions such as hyperthyroidism, Wolff- Parkinson White syndrome, and adrenal gland tumors which can
          reduce blood flow to vital organs. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol202Tachycardia-markdown248" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Symptoms may include:</strong>Dyspnea, chest pain, altered LOC, weakness/fatigue, syncope</p>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol202Tachycardia-markdown249" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Signs may include:</strong>
      </p>

      <ol>
        <li>Hypotension, Ischemic ECG changes, pulmonary edema (CHF).</li>
        <li>Poor peripheral perfusion (cool extremities).</li>
        <li>Altered LOC</li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol202Tachycardia-markdown250" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>CONTRAINDICATIONS:</strong>
      </p>

      <ol>
        <li>Cardiac Arrest</li>
        <li>Hypothermia </li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol202Tachycardia-markdown252" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Pregnancy</strong>
      </p>

      <p style="color:#000000;">Pregnancy &gt;20 weeks gestation - Place wedge-shaped cushion or multiple pillows under patient's right hip (L lateral decubitus position)</p>
    </div>
    <div id="protocol202Tachycardia-markdown271" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOTE:</strong>
      </p>

      <p style="color:#000000;">At this time
        <a href="#/Tabs_Controller/Protocol_1003">Amiodarone</a> drips shall not be used in the CCEMS system for the treatment of wide complex tachycardia. Amiodarone is stable only in glass or specially treated IV bags and needs to be administered with an infusion pump to deliver the appropriate
        dosage in the appropriate time. Due to the low incidence of these events and the costs associated in maintaining the drug/IV pump, it shall not be used in this case.
        <strong>
          <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> has been and will be continued to be used to treat wide complex tachycardias.</strong>
      </p>
    </div>
    <div id="protocol202Tachycardia-markdown253" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol202Tachycardia-markdown254" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EMT</strong>
      </p>

      <ol>
        <li>Perform focused history and assessment</li>
        <li>Obtain complete set of vital signs</li>
        <li>Support ABC's </li>
        <li>Apply oxygen and monitor oxygen levels</li>
        <li>Apply AED</li>
        <li>Treat for shock if indicated</li>
        <li>Assess blood glucose level</li>
      </ol>
    </div>
    <div id="protocol202Tachycardia-markdown255" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol202Tachycardia-markdown256" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT</strong>
      </p>

      <ol>
        <li>Ensure above is done.</li>
        <li>Apply ECG monitor (combo patches) determine rhythm if available</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available </li>
        <li>Determine if stable vs. unstable( as per VS, mental status, O2 Saturation)</li>
        <li>Establish large bore IV (2nd line if no delay in transport), If unstable as determined by VS/LOC and 2 attempts at a peripheral IV have failed and IO may be inserted (follow IO Protocol)</li>
        <li>Arrange ACLS backup if not dispatched</li>
        <li>In stable patients, may perform maneuvers to increase vagal tone (valsalva, ice pack to face, Trendelenburg position, fluid bolus 250 ml if hypotensive</li>
        <li>Contact Medical Control</li>
        <li>Treat possible causes (H's and T's) </li>
        <li>Obtain and transmit 12 lead ECG to appropriate facility</li>
        <li>Contact Medical Control before administration of an antiarrhythmic:</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol202Tachycardia-markdown273" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>WIDE QRS TACHYCARDIA:</strong>
      </p>

      <p style="color:#000000;">
        <strong>REGULAR</strong>
      </p>

      <p style="color:#000000;">Ventricular tachycardia or wide complex tachycardia with a pulse</p>

      <ol>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a>
          </strong> 1mg/kg IV repeat every 3-5 minutes to max of 3 mg/kg. </li>
        <li>If conversion, begin a
          <strong>
            <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a>
          </strong> drip @ 2 mg/minute using a flow restrictive device:
          <ol>
            <li>1mg/min- 15 gtts per ml</li>
            <li>2 mg/min- 30 gtts per ml</li>
            <li>3 mg/min- 45 gtts per ml</li>
            <li>4 mg/min- 60 gtts per ml</li>
          </ol>
        </li>
      </ol>
    </div>
    <div id="protocol202Tachycardia-markdown272" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol202Tachycardia-markdown274" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>IRREGULAR:</strong>
      </p>

      <p style="color:#000000;">Ventricular tachycardia or wide complex tachycardia with a pulse </p>

      <ol>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a>
          </strong> 1 mg/kg IV repeat every 3-5 minutes to max of 3 mg/kg.</li>
      </ol>
    </div>
    <div id="protocol202Tachycardia-markdown257" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol202Tachycardia-markdown258" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PARAMEDIC</strong>
      </p>

      <ol>
        <li>Ensure above is done.</li>
        <li>Obtain 12 lead ECG if not already done and transmit to appropriate facility</li>
        <li>Determine if clinically stable or unstable</li>
        <li>Determine if Narrow QRS or Wide QRS</li>
        <li>Treat possible causes (H's and T's) </li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol202Tachycardia-markdown275" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>UNSTABLE TACHYCARDIA: PARAMEDIC ONLY</strong>
      </p>

      <ol>
        <li>Medications are not used to manage patients with unstable tachycardia (patients with symptomatic tachycardia or patients with unstable tachycardia with pulses), immediate cardioversion is recommended. </li>
        <li>Contact medical control for consultation prior to treatment. Versed 2-5 mg IV may be ordered by the online physician.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol202Tachycardia-markdown276" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ENERGY LEVELS:</strong>
      </p>

      <ol>
        <li>Atrial Fibrillation- 120 J-200 J</li>
        <li>Atrial Flutter/ SVT- 50 J-100 J</li>
        <li>Monomorphic VT (regular uniform wide complex VT) 100 J</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol202Tachycardia-markdown277" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOTE:</strong>
      </p>

      <p style="color:#000000;">Immediately give an unsynchronized shock to a patient who:
        <br>1. Becomes pulseless
        <br>2. Unsure if monomorphic or polymorphic VT is present in the unstable patient</p>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <div id="protocol202Tachycardia-markdown278" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>STABLE TACHYCARDIA</strong>
      </p>

      <p style="color:#000000;">
        <strong>Advanced EMT/ Paramedic</strong>
      </p>

      <p style="color:#000000;">
        <strong>REGULAR:</strong>
      </p>

      <ol>
        <li>Obtain 12-lead and transmit to appropriate facility</li>
        <li>Consider VAGAL MANEUVERS</li>
        <li>
          <strong>Paramedic-</strong> Consider Adenosine for narrow complex tachycardia if regular and monomorphic-
          <strong>Must contact Medical Control prior to administration</strong>
        </li>
        <li>If rhythm does not convert (possible A-Flutter, A-Tach,Junctional Tach) rapid transport - look for underlying causes.</li>
      </ol>
    </div>
    <div id="protocol202Tachycardia-markdown259" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol202Tachycardia-markdown260" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option-Must contact prior to administration</strong>
      </p>

      <p style="color:#000000;">
        <strong>SVT: PARAMEDIC ONLY</strong>
      </p>

      <ol>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1001">Adenosine</a>
          </strong> 6 mg rapid IVP with 20-30 ml bolus of NS at the same time</li>
        <li>Repeat
          <strong>
            <a href="#/Tabs_Controller/Protocol_1001">Adenosine</a>
          </strong> 12 mg x1 dose if no conversion within 5 minutes</li>
        <li>Treat recurrence SVT with
          <strong>
            <a href="#/Tabs_Controller/Protocol_1001">Adenosine</a>
          </strong> 12 mg x1 dose</li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol202Tachycardia-markdown279" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>IRREGULAR NARROW COMPLEX:</strong>
      </p>

      <ol>
        <li>Probable Atrial Fibrillation, Atrial Flutter, MAT (multifocal atrial tachycardia)</li>
        <li>Rapid Transport</li>
      </ol>
    </div>
    <div id="protocol202Tachycardia-markdown261" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol202Tachycardia-markdown262" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Advanced EMT</strong>
      </p>

      <p style="color:#000000;">
        <strong>WIDE QRS TACHYCARDIA:</strong>
      </p>

      <p style="color:#000000;">
        <strong>REGULAR</strong>
      </p>

      <p style="color:#000000;">Ventricular tachycardia or wide complex tachycardia with a pulse. Must contact Medical Control before administration of an antiarrhythmic: </p>

      <ol>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a>
          </strong> 1mg/kg IV repeat every 3-5 minutes to max of 3 mg/kg </li>
        <li>If conversion, begin a
          <strong>
            <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a>
          </strong> drip @ 2 mg/minute with a flow restrictive device:
          <ol>
            <li>1 mg/min - 15 gtts per ml</li>
            <li>2 mg/min - 30 gtts per ml</li>
            <li>3 mg/min - 45 gtts per ml</li>
            <li>4 mg/min - 60 gtts per ml</li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol202Tachycardia-markdown263" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>IRREGULAR:</strong>
      </p>

      <p style="color:#000000;">Ventricular tachycardia or wide complex tachycardia with a pulse. Must contact Medical Control before administration of an antiarrhythmic</p>

      <ol>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a>
          </strong> 1mg/kg IV repeat every 3-5 minutes to max of 3mg/kg. </li>
        <li>If conversion, begin a
          <strong>
            <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a>
          </strong> drip @ 2 mg/min with a flow restrictive device: a. 1mg/min- 15 gtts per ml
          <br>b. 2 mg/min- 30 gtts per ml
          <br>c. 3 mg/min- 45 gtts per ml
          <br>d. 4 mg/min- 60 gtts per ml</li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol202Tachycardia-markdown266" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol202Tachycardia-markdown267" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Paramedic only:</strong>
      </p>

      <ol>
        <li>Ensure above is done.</li>
        <li>Obtain 12 lead ECG if not already done and transmit to appropriate facility</li>
        <li>Determine if clinically stable or unstable</li>
        <li>Determine if Narrow QRS or Wide QRS</li>
        <li>Treat possible causes (H's and T's) Prepare for synchronized cardioversion if unstable</li>
        <li>Torsades de pointes-
          <strong>
            <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a>
          </strong> 1-2gm over 5 minutes.</li>
      </ol>
    </div>
    <div id="protocol202Tachycardia-markdown269" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol202Tachycardia-heading126" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol202Tachycardia-markdown270" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>