<ion-view title="Protocol - 917 Sucking Chest Woun" id="page153">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol917SuckingChestWoun-heading843" style="color:#000000;text-align:center;">SUCKING CHEST WOUND</h3>
    <div id="protocol917SuckingChestWoun-container111">
      <div id="protocol917SuckingChestWoun-markdown1975" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol917SuckingChestWoun-markdown1976" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol917SuckingChestWoun-heading850" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol917SuckingChestWoun-markdown1991" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Patient with any penetrating chest wound.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol917SuckingChestWoun-heading844" style="color:#000000;">EMT</h4>
    <div id="protocol917SuckingChestWoun-markdown1977" class="show-list-numbers-and-dots">
      <ol>
        <li>OXYGEN face mask at 15L as needed to maintain pulse ox &gt;94 %. ASSIST VENTILATION.</li>
        <li>SEAL WOUND - with occlusive dressing at end of exhalation. Leave one side of dressing un-taped to function as a one-way pressure relief valve.</li>
        <li>MONITOR FOR TENSION PNEUMOTHORAX: Decreasing blood pressure associated with worsening dyspnea, unilateral decreased breath sounds, and increasing resistance to ventilation.</li>
        <li>If signs of tension pneumothorax develop, LIFT OCCLUSIVE DRESSING to allow air to escape.</li>
        <li>PERFOM SPINAL IMMOBILIZATION IF INDICATED.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol917SuckingChestWoun-markdown1978" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol917SuckingChestWoun-heading845" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol917SuckingChestWoun-markdown1979" class="show-list-numbers-and-dots">
      <ol>
        <li>IV NS large bore TKO; run wide open if hypotensive or signs of shock.</li>
        <li>Expedite transport.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol917SuckingChestWoun-markdown1980" class="show-list-numbers-and-dots"></div>
    <div id="protocol917SuckingChestWoun-markdown1981" class="show-list-numbers-and-dots"></div>
    <div id="protocol917SuckingChestWoun-markdown1982" class="show-list-numbers-and-dots"></div>
    <div id="protocol917SuckingChestWoun-markdown1983" class="show-list-numbers-and-dots"></div>
    <div id="protocol917SuckingChestWoun-markdown1984" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol917SuckingChestWoun-heading846" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol917SuckingChestWoun-markdown1985" class="show-list-numbers-and-dots">
      <ol>
        <li>INTUBATE as appropriate using in-line stabilization if approprate.</li>
        <li>If signs of tension pneumothorax develop, LIFT OCCLUSIVE DRESSING to allow air to escape.</li>
        <li>If this does not relieve the tension pneumothorax, perform NEEDLE DECOMPRESSION of chest per procedure Protocol 915</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol917SuckingChestWoun-markdown1987" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h1 id="protocol917SuckingChestWoun-heading848" style="color:#000000;"></h1>
    <h5 id="protocol917SuckingChestWoun-heading849" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol917SuckingChestWoun-markdown1990" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>