<ion-view title="Protocol 801 - Emergency Care To The Suicidal Patient" id="page116">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol801EmergencyCareToTheSuicidalPatient-heading694" style="color:#000000;text-align:center;">Emergency Care To The Suicidal Patient</h3>
    <div id="protocol801EmergencyCareToTheSuicidalPatient-container73">
      <div id="protocol801EmergencyCareToTheSuicidalPatient-markdown1467" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol801EmergencyCareToTheSuicidalPatient-markdown1492" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol801EmergencyCareToTheSuicidalPatient-markdown1494" class="show-list-numbers-and-dots">
      <p style="color:#000000;">ALL PROVIDERS</p>

      <ol>
        <li>Ensure scene safety. Notify police of a potential suicidal/homicidal patient if not already done so by 911 dispatch.</li>
        <li>Involuntary commitment may be indicated for any patient who due to a psychiatric disorder or abnormal mental status:
          <ol>
            <li>Has inflicted or attempted to inflict serious bodily harm on themselves or another person.</li>
            <li>Would be unable to satisfy their need for nourishment, personal or medical care, shelter and safety; or there is reasonable probability that death, serious bodily injury or serious physical debilitation may occur.</li>
            <li>Has attempted suicide or mutilated themselves or is at risk to do so.</li>
            <li>Has threatened harm to self or others</li>
            <li>Is acting in a way that implies impaired mental functioning</li>
          </ol>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Transport:</strong>
          </p>
          <ol>
            <li>State law allows a person to be taken into “Protective custody” for the purpose of an immediate medical screening against their wishes if the criteria of section #2 have been met. This may be done by a Certified Police Officer, Licensed Mental
              Health Professional, or a Licensed Physician.</li>
            <li>Advise law enforcement or an on-scene Licensed Mental Health Professional of your assessment and rationale for an involuntary commitment</li>
            <li>If the patient refused transport for an evaluation then have law enforcement or the Licensed Mental Health Professional fill out or agree to fill out a
              <strong>“Pink Sheet”</strong> for involuntary commitment when the patient arrives at the hospital. Attach a copy to the Polaris report.</li>
            <li>
              <p style="color:#000000;">Ensure transport in a way that protects the patient and EMS providers:</p>
              <ol>
                <li>Law enforcement shall accompany patient to the hospital if possible</li>
                <li>Minimum of 2 EMS providers shall be in the patient compartment of the ambulance</li>
                <li>
                  <p style="color:#000000;">If restraints are necessary (chemical or physical) refer to appropriate policy</p>
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <p style="color:#000000;">If Law enforcement is not available or declines to take the person into protective custody on scene, contact On-Line Medical Control and report all findings, assessment, observations, and vital signs directly to the physician. The physician
            then can make the decision to have EMS take the patient into protective custody (EMS can act as an extension of the physician). On arrival at the receiving facility have the Physician fill out a
            <strong>“BLUE SHEET”</strong> and attach a copy to the PCR report.</p>
        </li>
        <li>Any such person shall be transported to LRH for mental health evaluation.</li>
      </ol>
    </div>
    <div id="protocol801EmergencyCareToTheSuicidalPatient-markdown1497" class="show-list-numbers-and-dots"></div>
    <div id="protocol801EmergencyCareToTheSuicidalPatient-markdown1498" class="show-list-numbers-and-dots"></div>
    <div id="protocol801EmergencyCareToTheSuicidalPatient-markdown1499" class="show-list-numbers-and-dots"></div>
    <div id="protocol801EmergencyCareToTheSuicidalPatient-markdown1500" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol801EmergencyCareToTheSuicidalPatient-markdown1506" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol801EmergencyCareToTheSuicidalPatient-heading701" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol801EmergencyCareToTheSuicidalPatient-markdown1509" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>