<ion-view title="Protocol 402 - Acute Pulmonary Edema/Congestive Heart Failure" id="page75">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-heading400" style="color:#000000;text-align:center;">Acute Pulmonary Edema/Congestive Heart Failure</h3>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-container33">
      <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown769" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown772" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-heading402" style="color:#000000;">INDICATIONS</h4>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown773" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>1.</strong> Respiratoy distress with history/exam suggestive or heart failure, such as: chest pain, diaphoresis, crackles in lungs, pink frothy sputum, peripheral edema and/or past history of CHF, MI or heart disease. </p>
    </div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown795" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>2.</strong> Hypoxia consisten with an oxygen saturation &lt;90% or end-tidal CO2 &gt;45. </p>
    </div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown774" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown775" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-heading403" style="color:#000000;">EXCLUSIONS</h4>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown776" class="show-list-numbers-and-dots">
      <ol>
        <li>Cardiac arrythmias - See appropriate protocol
          <a href="#/Tabs_Controller/tab1/Protocol_201">Protocol 201: Bradycardia</a>,
          <a href="#/Tabs_Controller/tab1/Protocol_202">Protocol 202: Tachycardia</a>.</li>
        <li>Shock (poor perfusion or SBP &lt;100mmHg) consider
          <a href="#/Tabs_Controller/tab1/Protocol_303">Protocol 303: Cardiogenic Shock</a>. </li>
      </ol>
    </div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown777" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown778" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown779" class="show-list-numbers-and-dots"></div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown780" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-heading410" style="color:#000000;">NOTE:</h4>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown781" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>1.</strong> Do not use
        <a href="#/Tabs_Controller/Protocol_1019">Nitroglycerin</a> if the patient has taken erectile dysfunction medications in the last 24 hours.
        <br>
        <strong>2.</strong> In pregnant patients of &gt;20 weeks gestation: Place wedge-shaped cushion or multiple pillows under patients right hip in order to transport in left lateral decubitus position. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown797" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-heading416" style="color:#000000;">EMT</h4>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown796" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>1.</strong> Focused history and physical exam.
        <br>
        <strong>2.</strong> Provide basic airway maneuvers to all compromised airways, i.e. oxygen, jaw thrust, and positioning.
        <br>
        <strong>3.</strong> Assess blood glucose, temperature and oxygen saturation.
        <br>
        <strong>4.</strong> SIT PATIENT UP - legs danglig over bed or stretcher (if possible).
        <br>
        <strong>5.</strong> Maintain airway; assist with breathing as necessary OXYGEN - 6L NC or 15L non-rebreather mask. Maintain pulse-ox &gt;94%.
        <br>
        <strong>6. Contact online medical control</strong> and if so advised - assist patient with prescribed
        <strong>nitroglycerin</strong> SL every 5 minutes, up to
        <strong>3 doses</strong>, as long as symptoms persist and
        <strong>SBP &gt;100mmHg.</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown782" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <h4 id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-heading411" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown783" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>1.</strong> Ensure above is complete.
        <br>
        <strong>2.</strong> Continuous ECG, ETCO2, and pulse oximetry monitoring when available.
        <br>
        <strong>3.</strong> Apply ECG monitor - obtain and transmit 12 lead ECG if available.
        <br>
        <strong>4.</strong> Saline IV @ TKO rate or NS lock if hypotensive give 250mL bolus and reevaluate
        <strong>5.</strong> Establish OLMC for Medication administration which may include </p>

      <p style="color:#FF0000;">
        <strong>Medications</strong>
      </p>

      <ul>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1019">Nitroglycerin</a> 0.4mg every 5 minutes (max of 3 doses) </strong> SL if symptoms persist and SBP &gt;100mmHg, maximize
          <strong>
            <a href="#/Tabs_Controller/Protocol_1019">Nitroglycerin</a>
          </strong>before
          <strong>
            <a href="#/Tabs_Controller/Protocol_1017">Morphine</a>
          </strong>. </li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1017">Morphine</a> 2-5mg IF every 5 minutes (max dose of 10mg)</strong> if symptoms persist and SBP &gt;100mmHg. </li>
      </ul>
    </div>
    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown799" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>7.</strong> TRANSPORT
        <br>
        <strong>8.</strong> Monitor level of consciousness, vital, pulse ox, air exchange and ECG enroute to hospital.
        <br>
        <strong>9. CPAP</strong> - provide CPAP of 5cm H20 to begin with and titrate PEEP slowly to maximum of 10 cm H20. *Higher PEEP can cause a severe reduction in venous return which can result in profound shock. Monitor VS closely. Refer to
        <a href="#/Tabs_Controller/tab1/Protocol_403">Protocol 403: Continuous Positive Airway Pressure</a>.
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown784" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-heading412" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown786" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>1.</strong> Ensure above is complete.
        <br>
        <strong>2.</strong> Endotracheal intubation if failure to improve on CPAP. This is usually unncessary with aggressive medical care but should be done if patient develops decreased LOC, hypotensionor respiratory failure. </p>
    </div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown801" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>3.</strong> If patient becoems agitated with increasing LOC
        <strong>after</strong> intubation, may give
        <strong>
          <a href="#/Tabs_Controller/Protocol_1024">Versed</a> 2-5mg</strong> slow IV every 10 minutes to the desured effect or max dose of 10mg.
        <br>
        <strong>4.</strong> If patient remains hypertensive and in severe repsiratory distress,
        <strong>
          <a href="#/Tabs_Controller/Protocol_1017">Morphine</a> 2-5mg</strong> IV bolus over 2 minutes. May repeat this dose based on patient response x1.
        <br>
        <strong>5.</strong> Observe carefully for respiratory depression after giving
        <strong>
          <a href="#/Tabs_Controller/Protocol_1017">Morphine</a>
        </strong> and be prepared to intubate. </p>
    </div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown788" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>6.</strong> If patient still has wheezes after above therapies, contact OLMC for immediate consultation and direction. </p>
    </div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown787" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown802" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - Must contact prior to administration</strong>
      </p>
    </div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown803" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>1.</strong> If patient becomes severely hypotensive (SBP &lt;90mmHg) and symptomatic,
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> drip __2-10mcg/min star at 2mcg/min, titrate systolic BP until it reaches 90-100 mmHg. Mix Epinephrine 2 mg 1:1000 in 1000 mL NS which yields 0.002 mg/mL (2mcg/mL). Use dial-a-flow extension following the chart below: </p>
    </div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>






    </div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown754" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>3.</strong> Repeat doses of
        <a href="#/Tabs_Controller/Protocol_1017">Morphine</a> based on patient response and OLMC direction.
        <br>
        <strong>4.
          <a href="#/Tabs_Controller/Protocol_1014">Lasix, (Furosemide)</a>
        </strong> 40-80mg IV push. Standard IV dose for patient on Lasix is same as his/her usual oral dose. </p>
    </div>
    <div class="spacer" style="width: 747.8261108398438px; height: 12px;"></div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown791" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-heading415" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol402AcutePulmonaryEdemaCongestiveHeartFailure-markdown792" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>