<ion-view title="Protocol - 913 Family Centered Care" id="page148">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol913FamilyCenteredCare-heading827" style="color:#000000;text-align:center;">FAMILY CENTERED CARE</h3>
    <div id="protocol913FamilyCenteredCare-container106">
      <div id="protocol913FamilyCenteredCare-markdown1920" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol913FamilyCenteredCare-markdown1921" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol913FamilyCenteredCare-heading833" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol913FamilyCenteredCare-markdown1922" class="show-list-numbers-and-dots">
      <ol>
        <li>Family Centered Care is a mutually collaborative health care effort between family, patient and provider and has proven to be the gold standard in dealing patient and their families. This is especially important when dealing with pediatric patients,
          patients unable to make decisions for themselves or patients that have legal guardians.</li>
        <li>Demonstrations of Family Cnetered Care is in one's actions and behaviors when caring for patients.</li>
        <li>Family Centered Care is demonstrated in practicem not just policty development.</li>
      </ol>

      <p style="color:#000000;">
        <strong>Collaborating with Families</strong>: Empower the patient and the family by involving them in the care as well as the decision making process.
        <br>a. Family Centered Care is a skill requiring competency and caring. Like any other finee-tuned skill it requires practice.
        <br>b. Gather staff and develop language on how to describe the situation so information is consistent. </p>

      <p style="color:#000000;">
        <strong>Cultural Competency</strong>: Respect, sensitivity, and an understanding of the unique cultural and religious considerations.
        <br>a. Be aware of any language barriers.
        <br>b. If at all posisble, engage an interpreter that is able to understand some of the emotional issues as well as medical terminology associated with the condition.
        <br>c. An understanding of the hierarchy of the family is key to a positive outcome. </p>

      <p style="color:#000000;">
        <strong>Developmental Competency</strong>: Use appropriate language for the age.
        <br>a. When in pain or hurt, children often regress to more infantile responses. They may still need attachment items late in life.
        <br>b. Describe what you will be doing.
        <br>c. Use eye contact and touch when appropriate.
        <br>d. Be respectful at all times. In children there are some special considerations:
        <br>i. Infants: General calming measures (Soft voices, gentle pats, pacifiers or rocking), allow parents to stay close and bonded with the child and help them to anticipate the situation if possible.
        <br>ii. Toddlers: Use toys, teddy bear, blanket, etc. for comfort. Parents or family members are often a great source of comfort and nurturing, allow them to be present.
        <br>iii. School Age: Attachment objects (e.g. "blankets"), honesty about procedures, imaginary thinkig (I made the car crash I told a lie and that is why mom is hurt). Refrain from conversations about a child's treatment unless you are including them.
        <br>iv. Adolescents: Physician and provider honestly is key as well as paying attention to pain. Help them to participate in their own care and take their views seriously, Focus on giving them some sense of control. Pain management is key. Adolecents
        as well as adults are afraid of pain The anticipation of paon can be worse that the pain itself. Some transitional objects/toys/stuffed animals can also be u seful. Respect their privacy and modesty as much as possible. Allow them to discuss what
        is happening both with and without caregivers around. </p>

      <p style="color:#000000;">
        <strong>Key Considerations</strong>
        <br>Familiy Centered Care = Compassion
        <br>Include family members in resuscitation and care decision making as they desire and are capable. If possible, designate a crewmember to be a liaison to the family in order to facilitate communication and continuity.</p>
    </div>
    <div id="protocol913FamilyCenteredCare-markdown1923" class="show-list-numbers-and-dots"></div>
    <div id="protocol913FamilyCenteredCare-markdown1924" class="show-list-numbers-and-dots"></div>
    <div id="protocol913FamilyCenteredCare-markdown1925" class="show-list-numbers-and-dots"></div>
    <div id="protocol913FamilyCenteredCare-markdown1926" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol913FamilyCenteredCare-markdown1927" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol913FamilyCenteredCare-heading832" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol913FamilyCenteredCare-markdown1937" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>