<ion-view title="Protocol 314 - Toxic Exposure - Hydrofluoric Acid" id="page67">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol314ToxicExposureHydrofluoricAcid-heading348" style="color:#000000;text-align:center;">TOXIC EXPOSURE - HYDROFLUORIC ACID</h3>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol314ToxicExposureHydrofluoricAcid-container25">
      <div id="protocol314ToxicExposureHydrofluoricAcid-markdown619" class="show-list-numbers-and-dots"></div>
    </div>
    <h4 id="protocol314ToxicExposureHydrofluoricAcid-heading349" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol314ToxicExposureHydrofluoricAcid-markdown622" class="show-list-numbers-and-dots">
      <ol>
        <li>Scene and patient management</li>
        <li>Safely and rapidly remove patient from source of exposure.</li>
        <li>Industrial exposures in which to consider hydrofluoric acid exposure:
          <br>
          <strong>a.</strong> Aluminum Processing.
          <br>
          <strong>b.</strong> Chemical Plants.
          <br>
          <strong>d.</strong> Construction - Waste Products.
          <br>
          <strong>d.</strong> Creation of chlorofluorohydrocarbons for refrigerants, aerosols, foams, plastics, and specialty solvents.
          <br>
          <strong>e.</strong> Dry cleaning spotting solutions.
          <br>
          <strong>f.</strong> Electroplating.
          <br>
          <strong>g.</strong> Foundry Cast Sand Removal.
          <br>
          <strong>h.</strong> Glass Etching or Cleaning.
          <br>
          <strong>i.</strong> Meat Packing Industry.
          <br>
          <strong>j.</strong> Petroleum Refineries for high octane gasoline.
          <br>
          <strong>k.</strong> Semiconductor Silicon Etching or Cleaning.
          <br>
          <strong>l.</strong> Stainless Steel "Pickling"
          <br>
          <strong>m.</strong> Stone Etching or Polishing.
          <br>
          <strong>n.</strong> Uranium Processing.</li>
      </ol>
    </div>
    <div id="protocol314ToxicExposureHydrofluoricAcid-markdown628" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol314ToxicExposureHydrofluoricAcid-markdown641" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol314ToxicExposureHydrofluoricAcid-heading350" style="color:#000000;"> EMT</h4>
    <div id="protocol314ToxicExposureHydrofluoricAcid-markdown642" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam with full set of VS.</li>
        <li>Assess ABC's for evidence of apnea, airway reflex compromise or difficulty in ventilatory efforts.</li>
        <li>Assess medical conditions, burns or traumatic injuries that have the potential to compromise the airway.</li>
        <li>Provide basic airway maneuvers to all compromised airways, i.e. oxygen, jaw-thrust, and positioning.</li>
        <li>Identify and treat underlying reversible medical conditions (narcotic overdoes, hypoglycemia, etc.)</li>
        <li>In general, maintain an oxygen saturation 90-94%</li>
        <li>Always insure proper care of the C-Spine during Airway treatment.</li>
        <li>Ventilate with BVM when apneic or exhibiting respiratory distress - Consider a nasal or oral airway.</li>
        <li>Mantain a ventilartory rate appropriate to age.</li>
        <li>For undusrtial exposures, request the Safety Data Sheet (SDS) for the checmical involved and bring this to the ED.</li>
        <li>Skin Exposure:
          <br>
          <strong>a.</strong> Immediate irrigation. Clothing, jewelry, etc. must be removed for irrigation.
          <br>
          <strong>b.</strong>Soak burned skin in magnesium hydroxide antacid preparations (e.g.
          <strong>Milk of Magnesia, mylanta, Maalox</strong>) if available. </li>
        <li>Eye Exposure:
          <br>a. Continuous rinsing for a minimum of 15 minutes. </li>
        <li>Ingestion -
          <strong>Conscious/Alert Patients Only</strong>:
          <br>
          <strong>a.</strong> If paitent is able to swallow, administer large amounts of any calcium or magnesium based antacid (e.g Milk of Magnesia, Mylanta, Maalox). In the absence of these products, have patient drink approximately 8-16 oz. of water.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol314ToxicExposureHydrofluoricAcid-markdown643" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol314ToxicExposureHydrofluoricAcid-heading351" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol314ToxicExposureHydrofluoricAcid-markdown644" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available.</li>
        <li>Perform a 12 ECG if possible.</li>
        <li>Maintain an oxygen saturation 90-94% and ETCO2 of 35-45 mmHg.</li>
        <li>Establish vascular access-treat hypotension if indicated otherwise set at TKO rate.</li>
        <li>Pain/anxiety control considering
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>.</li>
        <li>Contact OLMC and transport.</li>
        <li>
          <strong>ADULT-Calcium Gluconate Gel for application</strong>
          <br>a. Mix 25 mL of
          <strong>10% Calcium Gluconate</strong> in 75mL of a sterile water-soluble lubricant.
          <br>b. Apply topically or if hand exposure, in a glove. </li>
        <li>
          <strong>Pediatric-Calcium Gluconate Gel for application:</strong> contact OLMC.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol314ToxicExposureHydrofluoricAcid-markdown645" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol314ToxicExposureHydrofluoricAcid-markdown646" class="show-list-numbers-and-dots"></div>
    <div id="protocol314ToxicExposureHydrofluoricAcid-markdown647" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol314ToxicExposureHydrofluoricAcid-heading352" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol314ToxicExposureHydrofluoricAcid-markdown648" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>
          <strong>Consider advanced airway</strong> - Consider orotracheal intubation using an endotracheal tube when indicated..</li>
        <li>Document
          <strong>TWO</strong> confirmation methods to verfy endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophageal Intubation Detector).</li>
        <li>
          <strong>No nasotracheal intubation in a pediatric patient</strong>.</li>
        <li>Consider sedation after intubation (
          <strong>Benzodiazepine</strong>) considering
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>.</li>
        <li>After
          <strong>TWO</strong> unsuccessful attempts at endotracheal intubation use a supraglottic airway device or BVM with appropriate oral/nasal airway.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol314ToxicExposureHydrofluoricAcid-markdown649" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol314ToxicExposureHydrofluoricAcid-heading353" style="color:#FF0000;">Medical Control Option </h5>
    <div id="protocol314ToxicExposureHydrofluoricAcid-markdown748" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> gtt for hypotension refractory to fliud boluses</strong>
      </p>

      <p style="color:#FF0000;">
        <strong>1.</strong> If shock present:
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
        <strong>2-10mcg/min.</strong>, titrate systolic BP until it reaches 90-100 mmHg. Mix
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 2 mg 1:1000 in 1000 mL NS which yields 0.002mg/mL (2mcg/mL) Use dial-a-flow extension set following the chart below:</p>
    </div>
    <div>




      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>



    </div>
    <h5 id="protocol314ToxicExposureHydrofluoricAcid-heading354" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol314ToxicExposureHydrofluoricAcid-markdown650" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>