<ion-view title="Protocol 500 - Drowning or Submersion" id="page78">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol500DrowningOrSubmersion-heading433" style="color:#000000;text-align:center;">DROWNING OR SUBMERSION</h3>
    <div id="protocol500DrowningOrSubmersion-container36">
      <div id="protocol500DrowningOrSubmersion-markdown851" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol500DrowningOrSubmersion-markdown852" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol500DrowningOrSubmersion-heading435" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol500DrowningOrSubmersion-markdown853" class="show-list-numbers-and-dots">
      <ol>
        <li>Safely remove patient from the water. </li>
        <li>Place patient supine. </li>
        <li>Remove wet clothing. </li>
        <li>Ensure patient warmth. </li>
        <li>Spinal motion restriction - Particular care to cervical spine immobilization should be given to patients with the possibility of a diving injury or drowning in shallow water. </li>
        <li>Scuba divers "Dive computer" or "Dive Log Book" should be transported with the patient. </li>
        <li>Airway maintenance is the primary consideration. </li>
        <li>There can be co-existing conditions depending on the type of submersion injury including trauma, hypothermia and intoxication. </li>
        <li>Hypotension is associated with a worse outcome, monitor closely and treat/prevent it. </li>
        <li>Submersion in cold water will often cause severe hypothermia, notify receiving hospital so that appropriate resources and warming equipment can be mobilized. </li>
        <li>CPR and other resuscitative efforst should be continued until arrival at the hospital as drowining patients may sometimes recover after prolonged resuscitative efforts. </li>
      </ol>
    </div>
    <div id="protocol500DrowningOrSubmersion-markdown854" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="protocol500DrowningOrSubmersion-markdown855" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol500DrowningOrSubmersion-heading436" style="color:#000000;">EMT</h4>
    <div id="protocol500DrowningOrSubmersion-markdown856" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam. </li>
        <li>Blood glucose, core body temperature and oxygen saturation assessment. </li>
        <li>Assess the scene for other environmental issues or possible toxins.</li>
        <li>Begin BCLS (using current AHA guidelines) if patient is pulseless and apneic - follow rythm specific
          <a href="#/Tabs_Controller/Cardiac_Arrest">100 Series Protocol</a>. </li>
        <li>If breathing
          <strong>spontaneously</strong> apply oxygen at
          <strong>15L/Min via non-rebreather mask</strong> to maintain oxygen saturations &gt;95%. </li>
        <li>Ventilate with BVM when apneic or exhibiting respiratory distress - Consider a nasopharingeal or oropharyngeal airway. </li>
        <li>Provide basic airway maneuvers to all compromised airways, i.e. oxygen, jaw-thrust and positioning. </li>
      </ol>
    </div>
    <div id="protocol500DrowningOrSubmersion-markdown857" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol500DrowningOrSubmersion-markdown858" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol500DrowningOrSubmersion-markdown859" class="show-list-numbers-and-dots"></div>
    <div id="protocol500DrowningOrSubmersion-markdown860" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol500DrowningOrSubmersion-heading437" style="color:#000000;">ADVANCED EMT / PARAMEDIC</h4>
    <div id="protocol500DrowningOrSubmersion-markdown861" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete. </li>
        <li>Follow rythm appropriate protocols if in cardiac arrest,
          <a href="#/Tabs_Controller/Cardiac_Arrest">Follow 100 series protocols</a>.</li>
        <li>Establish vascular access IV/IO set at TKO rate unless hypotensive then give NS 250-500mL bolus for adult pateint or
          <strong>20mL/kg</strong> for pediatric patient to max of
          <strong>60ml/kg</strong>. </li>
        <li>Maintain airway with spinal stabilization-suction as needed. </li>
        <li>Advanced airway if necessary. </li>
        <li>
          <p style="color:#000000;">Contact OLMC for drug adminstration orders:</p>
          <ul>
            <li>
              <p style="color:#000000;">
                <strong>Adult -
                  <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a> 2.5mg every 10 minutes</strong> via nebulization for bronchospasms/wheezing until symptoms subside. </p>
            </li>
            <li>
              <strong>
                <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a> 2.5mg every 10 minutes</strong> via nebulization for bronchospasms/wheezing until symptoms subside. Start with
              <strong>1.25mg if age &lt;1 year.</strong>
            </li>
          </ul>
        </li>
        <li>Reassess patient after each dose to determine need for additional dosing. </li>
        <li>Follow appropriate
          <a href="#/Tabs_Controller/Trauma">Trauma Protocol</a> as appropriate. </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol500DrowningOrSubmersion-markdown862" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol500DrowningOrSubmersion-markdown872" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - Must contact prior to administration</strong>
      </p>
    </div>
    <h4 id="protocol500DrowningOrSubmersion-heading438" style="color:#FF0000;">PARAMEDIC ONLY: EPI DRIP</h4>
    <div id="protocol500DrowningOrSubmersion-markdown863" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">Hypotension refractory to fluid boluses: </p>

      <p style="color:#FF0000;">
        <strong>1.</strong> Epinephrine
        <strong>2-10mcg/min</strong>. Titrate systolic BP until it reaches 90-100 mmHg. Mix
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
        <strong>2mg 1:1000</strong> in 1000 mL NS which yields
        <strong>0.002mg/mL </strong> (2mcg/mL) Use dial-a-flow extension set following the chart below:</p>
    </div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>







    </div>
    <div id="protocol500DrowningOrSubmersion-markdown864" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>2.</strong> Pediatric:
        <strong>
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> (1:1000) 0.1-2mcg/kg/min </strong> IV/IO Infusion for hypoperfusion. Titrate to maintin a SBP &gt;70+ (age in years x2) mmHg. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol500DrowningOrSubmersion-markdown866" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol500DrowningOrSubmersion-heading441" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol500DrowningOrSubmersion-markdown871" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>