<ion-view title="Protocol 1020 - Phenergan" id="page47">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1020Phenergan-heading146" style="color:#000000;text-align:center;">Phenergan</h1>
    <h5 id="protocol1020Phenergan-heading189" style="color:#000000;text-align:center;">Promethazine</h5>
    <h5 id="protocol1020Phenergan-heading201" style="color:#000000;text-align:center;">Approved for CCEMS Rescue Paramedics Only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1020Phenergan-heading213" style="color:#000000;text-align:center;">Protocol 1020</h3>
    <div id="protocol1020Phenergan-markdown351" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1020Phenergan-markdown373" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_509">509</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1020Phenergan-heading214" style="color:#000000;text-align:center;">Antihistamine / Antiemetic</h4>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1020Phenergan-list153">
      <div class="item item-body" id="protocol1020Phenergan-list-item-container114">
        <div id="protocol1020Phenergan-markdown374" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Blocks Histamine Receptors.
            <br>
            <strong>2.</strong> Controls Nausea.
            <br>
            <strong>3.</strong> Potentiates Narcotics. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1020Phenergan-list183">
      <div class="item item-body" id="protocol1020Phenergan-list-item-container125">
        <div id="protocol1020Phenergan-markdown375" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Nausea &amp; Vomiting.
            <br>
            <strong>2.</strong> Motion Sickness</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1020Phenergan-list184">
      <div class="item item-body" id="protocol1020Phenergan-list-item-container126">
        <div id="protocol1020Phenergan-markdown376" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Altered LOC.
            <br>
            <strong>2.</strong> Prior Recent Use of a Phenothiazine Drug (Compazine).
            <br>
            <strong>3.</strong> Prior Allergy or Known Phenothiazine Intolerance.
            <br>
            <strong>4.</strong> Cannot Be Given if the IV is Established in the Hand or Wrist -
            <strong>THIS IS AN ABSOLUTE CONTRAINDICATION</strong>.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1020Phenergan-list185">
      <div class="item item-body" id="protocol1020Phenergan-list-item-container127">
        <div id="protocol1020Phenergan-markdown377" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Sedation.
            <br>
            <strong>2.</strong> Tachycardia/Bradycardia.
            <br>
            <strong>3.</strong> Hyptension if Given Rapid IV.
            <br>
            <strong>4.</strong> Severe Tissue Necrosis with Extravasation.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <ion-list id="protocol1020Phenergan-list186">
      <div class="item item-body" id="protocol1020Phenergan-list-item-container128">
        <div id="protocol1020Phenergan-markdown378" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Considerations</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Administer Through a Running IV Line at the Port Furthest From the IV Site.
            <br>
            <strong>2.</strong> Use Large Vein if Possible.
            <br>
            <strong>3.</strong> Monitor Site. Ask Patient to Report Burning or Pain at the IV Site. If Noted, Stop Immediately and Remove IV.
            <br>
            <strong>4.</strong> Do Not Use in Patients &lt;2 Years of Age Because of the Potential for Fatal Respiratory Depression. Exercise Caution When Giving to Patients 2-17 Years of Age, Use Lowest Dose.
            <br>
            <strong>5.</strong> Avoid Concomitant Adminstration With Other Medications That Cuase Respiratory Depression. </p>
        </div>
      </div>
    </ion-list>
    <h3 id="protocol1020Phenergan-heading215" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1020Phenergan-markdown379" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Adult Dose</strong>
      </p>

      <p style="color:#000000;">
        <strong>1. IV: 12.5mg </strong> If SBP &gt;100.
        <br>Dilute Phenergan with 10mL of NS and Administer Slowly Over 60 Seconds With a Wide Open IV Running so as to Dilute it While it is Adminsitered. IV
        <strong>MUST</strong> be
        <strong>ABOVE</strong> the Wrist, if not then Phenrgan May Not be Given! </p>

      <p style="color:#000000;">
        <strong>2. IM: 25mg</strong> if no IV Access. </p>

      <p style="color:#000000;">
        <strong>Peds Dose</strong>
      </p>

      <p style="color:#000000;">
        <strong>NOT RECOMMENDED</strong> For Pediatric Patients, Requires OLMC Contact Prior to Administering. </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1020Phenergan-markdown380" class="show-list-numbers-and-dots"></div>
    <div id="protocol1020Phenergan-button-bar23" class="button-bar"></div>
    <div id="protocol1020Phenergan-button-bar24" class="button-bar"></div>
    <h5 id="protocol1020Phenergan-heading216" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1020Phenergan-heading217" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>