<ion-view title="Protocol 318 - Snake Bites" id="page71">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol318SnakeBites-heading375" style="color:#000000;text-align:center;">SNAKE BITES</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol318SnakeBites-container29">
      <div id="protocol318SnakeBites-markdown689" class="show-list-numbers-and-dots"></div>
    </div>
    <h4 id="protocol318SnakeBites-heading376" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol318SnakeBites-markdown690" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Identify and document the type of snake, appearance, location, and distinguishing marks.</li>
        <li>Obtain an accurate time of injury.</li>
        <li>Clarify any first aid provided by friends or family prior to arrival.</li>
        <li>Common venomous snake common to Utah are: The Great Basin rattlesnake, the Hopi rattlesnake, and the Mojave rattlesnake.</li>
        <li>Many bites are "dry" and do not have venom injected-monitor for signs of envenomation.</li>
        <li>Many exotic reptiles especially snakes may be kept as pets so always be cautious.</li>
        <li>Signs of envenomation include paresthesia, metallic taste, chills, nausea, vomiting, headache, dysphagia, cramps, hypotension, fever, local edema, blebs, and discoloration.</li>
        <li>Continuous ECG, ETCO2, and Pulse oximetry monitoring when available.</li>
      </ol>
    </div>
    <div id="protocol318SnakeBites-markdown691" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol318SnakeBites-markdown692" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol318SnakeBites-heading377" style="color:#000000;">Treatment Plan</h4>
    <div id="protocol318SnakeBites-markdown693" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure scene safety by moving the patient to a safe distance, away from the snake.</li>
        <li>Splint limb and place below the level of the heart.</li>
        <li>Keep patient calm and movement to a minimum.</li>
        <li>Remove items that may constrict swelling tissue.</li>
        <li>
          <strong>DO NOT APPLY TOURNIQUET, CUT THE WOUND OR USE ANY COMMERCIAL SNAKE BITE KITS</strong>.</li>
        <li>Provide 100% oxygen to the patient.</li>
        <li>Ventilate with BVM when apneic or exhibiting respiratory distress. Consider a nasal or oral airway.</li>
        <li>Maintain a ventilatory rate of 10-12 breaths per minute for Adults.</li>
        <li>Recommended pediatric ventilatory rates:
          <br>a. Infant (0-12 months): 25 breaths per minute
          <br>b. 1-3 yrs.: 20 breaths per minute
          <br>c. 4-6 yrs.: 15 breaths per minute
          <br>d. &gt;6 years: 12 (Same as adult) </li>
        <li>Do not hyperventilate the patient.</li>
        <li>Do not start the IV in the affected limb.</li>
        <li>Do not apply ice to the limb.</li>
        <li>Do not try to capture the snake.</li>
        <li>Do not bring a live snake to the ED.</li>
        <li>If you transport the snake make sure you do it safely. Remember that snakes can reflexively envenomate up to 1 hour after death, keep in a sealed plastic or metal container.</li>
        <li>Pictures of the snake can be helpful for identification-obtain a series of pictures if possible.</li>
        <li>Any bite can be dangerous and should be evaluated in the ED.</li>
        <li>Watch for signs of shock and allergic reaction.</li>
      </ol>
    </div>
    <div id="protocol318SnakeBites-markdown694" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol318SnakeBites-markdown695" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol318SnakeBites-heading378" style="color:#000000;">ADVANCED EMT/PARAMEDIC</h4>
    <div id="protocol318SnakeBites-markdown696" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Transport-notify OLMC so that antivenom can be on standby.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>Maintain an oxygen saturation 90-94% and ETCO2 of 35-45 mmHg</li>
        <li>Keep the patient NPO</li>
        <li>Establish vascular access x 2 if able-set at TKO rate unless hypotensive then give NS boluses of 250-500 ml for adult or 20 ml/kg for pediatric patients up to a max of 60 ml/kg.</li>
        <li>Pain-anxiety control considering
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>
        </li>
        <li>If allergic rection noted follow Protocol
          <a href="#/Tabs_Controller/tab1/Protocol_310">Protocol 310: Allergic Reaction/Anaphylaxis</a> (Adult) or
          <a href="#/Tabs_Controller/tab1/Protocol_704">Protocol 704: Pediatric Anaphylaxis</a> (Pediatric)</li>
        <li>Advanced airway as applicable.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol318SnakeBites-markdown697" class="show-list-numbers-and-dots"></div>
    <div id="protocol318SnakeBites-markdown698" class="show-list-numbers-and-dots"></div>
    <div id="protocol318SnakeBites-markdown699" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol318SnakeBites-heading379" style="color:#FF0000;">Medical Control Option - Must contact before administration</h5>
    <div id="protocol318SnakeBites-markdown767" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> gtt for hypotension refractory to fliud boluses</strong>
      </p>

      <p style="color:#FF0000;">
        <strong>1.</strong> If shock present:
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
        <strong>2-10mcg/min.</strong>, titrate systolic BP until it reaches 90-100 mmHg. Mix
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 2 mg 1:1000 in 1000 mL NS which yields 0.002mg/mL (2mcg/mL) Use dial-a-flow extension set following the chart below:</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>


    </div>
    <h5 id="protocol318SnakeBites-heading380" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol318SnakeBites-markdown700" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>