<ion-view title="Protocol 100 - LVAD" id="page6">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol100LVAD-heading56" style="color:#000000;text-align:center;">LEFT VENTRICULAR ASSIST DEVICE (LVAD)</h2>
    <h5 id="protocol100LVAD-heading57" style="color:#000000;text-align:center;">ALL PROVIDERS</h5>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol100LVAD-container1">
      <div id="protocol100LVAD-markdown47" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol100LVAD-markdown78" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Focused History and Physical Exam</strong>
      </p>

      <ol>
        <li>Assess for evidence that resuscitation should not be attempted per Protocol
          <a href="#/Tabs_Controller/tab1/Protocol_902">902: DEATH DETERMINATION AND PRONOUNCEMENT PROCESS</a>
        </li>
        <li>Evaluate for Medical Alert Bracelet with instructions. Follow instructions as able.</li>
        <li>The LVAD consists of an implanted, continuous flow pump attached to the left ventricle, an external control device, and power supply secured by a harness</li>
        <li>Every patient should have a backup equipment bag for his or her LVAD.</li>
        <li>Patients and families are usually well educated on the power supply of their LVAD and the use of the emergency hand pump. Utilize them and follow their directions on scene.</li>
        <li>Rhythm analysis, blood pressure, and oxygen saturation assessment.</li>
        <li>Patients with non-pulsatile assist devices will not have a palpable pulse. Assess for signs of adequate perfusion using skin signs and blood pressure.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available.</li>
      </ol>
    </div>
    <div id="protocol100LVAD-markdown70" class="show-list-numbers-and-dots"></div>
    <div id="protocol100LVAD-markdown123" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol100LVAD-markdown71" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Treatment Plan</strong>
      </p>

      <ol>
        <li>Check to see if the patient is responsive.</li>
        <li>Check if the LVAD is functioning by listening for a HUM.</li>
        <li>Check the patient’s rhythm.</li>
        <li>Check for alarm lights and sounds – Continuous tone is URGENT.</li>
        <li>Check cable connections.</li>
        <li>Check power source.</li>
        <li>Change controller if needed.</li>
        <li>NO chest compressions unless you are unable to restart the pump.</li>
        <li>Follow current ACLS and PALS guidelines as needed.</li>
      </ol>
    </div>
    <div id="protocol100LVAD-markdown124" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol100LVAD-markdown72" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Key Considerations</strong>
      </p>

      <ol>
        <li>Determine Type of Device – Heartmate II, Jarvik 2000, or Heartware</li>
        <li>Patients or their families should have a phone number to their LVAD coordinator. This person should be used as online medical consultation (OLMC). If the number is not available, contact the LVAD Coordinator at the University Medical Center (801-581-2121)
          for assistance.</li>
        <li>Patients with implanted LVADs have a low intrinsic cardiac function/reserve that is, without mechanical assistance, incompatible with long-term survival.</li>
      </ol>
    </div>
    <div id="protocol100LVAD-markdown125" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol100LVAD-markdown73" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EMT</strong>
      </p>

      <ol>
        <li>BLS airway support as needed</li>
        <li>
          <strong>EVEN WHEN ACLS RESUSCITATION IS UNDERTAKEN, DO NOT PERFORM CPR IN THESE PATIENTS UNLESS A HAND PUMP FOR THE DEVICE DOES NOT EXIST. RUPTURE OF THE VENTRICULAR WALL MAY OCCUR.</strong> If the device has a hand pump, this may be undertaken at a
          rate of 60-90 beats per minute</li>
      </ol>
    </div>
    <div id="protocol100LVAD-markdown126" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol100LVAD-markdown74" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT/PARAMEDIC</strong>
      </p>

      <ol>
        <li>Supportive care of airway, vascular access and fluid therapy </li>
        <li>LVADs are preload dependent and a fluid bolus may improve perfusion</li>
        <li>ACLS medications as indicated</li>
      </ol>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <h5 id="protocol100LVAD-heading63" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/iM31lPZTmqivIQEsVsmV_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol100LVAD-markdown75" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>