<ion-view title="Protocol 1000 - Activated Charcoal" id="page10">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1000ActivatedCharcoal-heading1" style="color:#000000;text-align:center;">Activated Charcoal</h1>
    <h5 id="protocol1000ActivatedCharcoal-heading2" style="color:#000000;text-align:center;">Approved for Advanced CCEMS units only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1000ActivatedCharcoal-heading3" style="color:#000000;text-align:center;">Protocol 1000</h3>
    <div id="protocol1000ActivatedCharcoal-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1000ActivatedCharcoal-heading4" style="color:#000000;text-align:center;">Class: ADSORBENT/ANTIDOTE</h4>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1000ActivatedCharcoal-markdown1994" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_311">311</a>. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1000ActivatedCharcoal-list33">
      <div class="item item-body" id="protocol1000ActivatedCharcoal-list-item-container3">
        <div id="protocol1000ActivatedCharcoal-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Activated carbon is used to treat poisonings and overdoses following oral ingestion. It is not effective for a number of poisonings including strong acids or alkali, cyanide, iron, lithium, arsenic, methanol, ethanol, or ethylene
            glycol.
            <br>
            <strong>2.</strong> The use of activated carbon is
            <strong>contraindicated</strong> when the ingested substance is an acid, an alkali, or a petroleum product. </p>

          <p style="color:#000000;"> </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1000ActivatedCharcoal-list34">
      <div class="item item-body" id="protocol1000ActivatedCharcoal-list-item-container4">
        <div id="protocol1000ActivatedCharcoal-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Poisonings with: ASA, Amphetamines, Dilantin, Tylenol, Phenobarbital, Barbiturates, Cocaine, TCA's, Mushrooms, and Other Toxins. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1000ActivatedCharcoal-list35">
      <div class="item item-body" id="protocol1000ActivatedCharcoal-list-item-container5">
        <div id="protocol1000ActivatedCharcoal-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
          </p>

          <ol>
            <li>Decreased LOC </li>
            <li>Acidic Substance Ingested</li>
            <li>Alkalotic Substance Ingested</li>
            <li>Petroleium Substance Ingested</li>
            <li>Camphor (Vicks Vapo-rub)</li>
            <li>Pesticides</li>
            <li>Iron</li>
            <li>Lithium</li>
            <li>Solvents</li>
            <li>
              <p style="color:#000000;">Alcohol
                <br>
                <strong>Side Effects</strong>
              </p>
              <ul>
                <li>
                  <p style="color:#000000;">Vomiting</p>
                </li>
                <li>Diarrhea</li>
                <li>Abdominal Cramping</li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1000ActivatedCharcoal-list36">
      <div class="item item-body" id="protocol1000ActivatedCharcoal-list-item-container6">
        <div id="protocol1000ActivatedCharcoal-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Vomiting
            <br>
            <strong>2.</strong> Diarrhea
            <br>
            <strong>3.</strong> Abdominal Cramping </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1000ActivatedCharcoal-heading5" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1000ActivatedCharcoal-list37">
      <div class="item item-body" id="protocol1000ActivatedCharcoal-list-item-container7">
        <div id="protocol1000ActivatedCharcoal-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>a. ADMINISTER CHARCOAL by orders of OLMC Only:</strong> Do not give for liquid ingestion or hydrocarbon ingestions
            <br>
            <strong>b. Adults: Charcoal 25 grams by mouth</strong> if the patient is alert, awake and gag reflex is intact
            <br>
            <strong>c.Pediatrics: Charcoal 1g/kg up to 25 grams by mouth </strong> if the patient is alert, awake and gag reflex is intact </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1000ActivatedCharcoal-list38">
      <div class="item item-body" id="protocol1000ActivatedCharcoal-list-item-container8">
        <div id="protocol1000ActivatedCharcoal-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONSIDERATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> PATIENT MUST BE ALERT WITH A GAG REFLEX AND ANTICIPATED TO REMAIN SO DURING TREATMENT PERIOD
            <br>
            <strong>2.</strong> MAY MIX WITH JUICE OR SODA BUT
            <strong>NOT</strong> MILK
            <br>
            <strong>3.</strong> ANTICIPATE VOMITING
            <br>
            <strong>4.</strong> BRING ALL CONTAINERS TO ED FOR IDENTIFICATIONS
            <br>
            <strong>5.</strong> NEVER LEAVE UNATTENDED</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h5 id="protocol1000ActivatedCharcoal-heading9" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1000ActivatedCharcoal-heading10" style="color:#000000;">January 2016</h5>
  </ion-content>
</ion-view>