<ion-view title="Protocol 509 - Pain Control/Nausea/Vomiting/Anxiety" id="page87">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol509PainControlNauseaVomitingAnxiety-heading498" style="color:#000000;text-align:center;">PAIN CONTROL / NAUSEA / VOMITING / ANXIETY</h3>
    <div id="protocol509PainControlNauseaVomitingAnxiety-container45">
      <div id="protocol509PainControlNauseaVomitingAnxiety-markdown997" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown998" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown999" class="show-list-numbers-and-dots"></div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1000" class="show-list-numbers-and-dots"></div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1001" class="show-list-numbers-and-dots"></div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1002" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol509PainControlNauseaVomitingAnxiety-heading499" style="color:#000000;">INDICATION:</h4>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1003" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Patients in significant pain due to an injury, medical condition, or having psychological/behavioral issues sufficient to require a pharmacological agent to ensure safety and the provision of medical care. Not every provision of this protocol pertains
        to every patient. A pain medication and anit-emetic may be sufficient treatment alone or an anxiolytic may been the only medication required. Treatment should be tailored to the needs of the specific patient. Contact with OLMC is suggested at
        the earliest opportunity to assist in the decision making. It is recommended that an anit-emetic be administered with a narcotic especially if spinal immobilization is used to lessen the risk of vomiting.</p>
    </div>
    <h4 id="protocol509PainControlNauseaVomitingAnxiety-heading506" style="color:#000000;">EXCLUSIONS:</h4>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1015" class="show-list-numbers-and-dots">
      <ol>
        <li>Major trauma to head, chest, abdomen or pelvis follow appropriate Protocol.</li>
        <li>Patients with chest pain who meet criteria for
          <a href="#/Tabs_Controller/tab1/Protocol_300">Protocol 300: Chest Pain (ACS)</a>
          .</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1004" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol509PainControlNauseaVomitingAnxiety-heading500" style="color:#000000;">EMT</h4>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1005" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Blood glucose, temperature and oxygen saturation assessment.</li>
        <li>PERFORM THOROUGH ASSESSMENT to rule out major trauma or serious medical problems.</li>
        <li>Continuously monitor vitals, pulse ox and mental status for early signs of shock.</li>
        <li>Nothing by mouth (NPO).</li>
        <li>Place the patient in an upright or lateral recumbent position.</li>
        <li>Immobilize any obvious injuries and place patient in a position of comfort.</li>
        <li>Assess the patient's pain using verbal and nonverbal cues and appropriate pain scale.</li>
        <li>An age-appropriate pain scale should be utilized and documented before and after each pain medication dose:</li>
      </ol>
    </div>
    <div class="spacer" style="width: 748px; height: 25px;"></div>
    <h4 id="protocol509PainControlNauseaVomitingAnxiety-heading562" style="color:#000000;text-align:center;">Adult Scale</h4>
    <div>
      <img src="img/6ND8bzXtQjiSqaQ71OLS_Painscale.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 748px; height: 46px;"></div>
    <h4 id="protocol509PainControlNauseaVomitingAnxiety-heading564" style="color:#000000;text-align:center;">Pediatric Scale</h4>
    <div>
      <img src="img/5azsli2TcO8wqLwJPxTA_Wong-BakerFacespain.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 748px; height: 46px;"></div>
    <h4 id="protocol509PainControlNauseaVomitingAnxiety-heading590" style="color:#000000;text-align:center;">FLACC Infant Pain Scale</h4>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1158" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A FLACC scale can be used to assess pain in infants (Total range from 0-10)</p>
    </div>
    <div>
      <img src="img/tcDg8MMjQfeDcVHokSQS_FLACCPainScale.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1006" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol509PainControlNauseaVomitingAnxiety-heading503" style="color:#000000;">ADVANCED EMT / PARAMEDIC</h4>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1010" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETC02, and Pulse Oximetry monitoring when available.</li>
        <li>IN NS TKO or saline lock unless hypotensive then 500 ml bolus and repeat as needed to 1 liter in an adult or
          <strong>20 cc/kg</strong> in a pediatric patient with a maximum of
          <strong>40 cc/kg</strong>.</li>
        <li>Consider a 12 lead ECG if available when patient is:
          <br>a. Greater than 40 years old
          <br>b. Associated with chest or abdominal pain.
          <br>c. Remember IM medications do not take effect for 20-40 minutes so if transport times are short, pain relief may not be realized and can complicate pain management upon arrival at the hospital.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1011" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol509PainControlNauseaVomitingAnxiety-heading504" style="color:#000000;">Adult Pain Control option:</h4>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1012" class="show-list-numbers-and-dots">
      <ol>
        <li>Monitor patient vital signs every 5 minutes as this guideline is implemented.</li>
        <li>Have
          <a href="#/Tabs_Controller/Protocol_1018">Naloxone</a> available if needed for respiratory suppression.</li>
        <li>
          <strong>ADULT: Caution with the elderly, begin - with a lower dose</strong>. Always start with lower doses and titrate up until you know the patient's tolerance for the analgesia.</li>
        <li>Avoid giving medications if SBP &lt;100 mmHg in adults, SaO2 &lt;90%, or GCS &lt;14.</li>
        <li>Stop pain medication when the patient has relief, pain score &lt;5 for adults, SaO2 &lt;90%, or GCS &lt;14.</li>
        <li>Advanced EMT-Contact OLMC for medication orders.</li>
        <li>
          <strong>Adult:</strong> Fentanyl 50 mcg IV/IO q10 minutes IV/IO/IM max. dose 200 mcg.</li>
        <li>In the event an IV cannot be established,
          <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a> may be given IM.</li>
        <li>For additional doses, contact
          <strong>OLMC</strong>.</li>
      </ol>
    </div>
    <h4 id="protocol509PainControlNauseaVomitingAnxiety-heading507" style="color:#000000;">Anxiety Control OR Seizure:</h4>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1016" class="show-list-numbers-and-dots">
      <ol>
        <li>Choose ONE benzodiazepine for treatment and maximize dosing.</li>
        <li>Contact Medical Control before changing to a different medicaiton.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 748px; height: 16px;"></div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1017" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1024">Midazolam (Versed)</a>
        </strong>
      </p>

      <ol>
        <li>Dosage is cut in half if the patient has received narcotics or alcohol.</li>
        <li>Consider the size of the patient for dosing.</li>
        <li>
          <strong>IV/IO - 2-4 mg</strong> every 10 minutes to the desired effect or max dose of 10mg.</li>
        <li>IM - 5-10 MG.</li>
        <li>IN (INTRANASAL)- 10 MG DIVIDED DOSE BETWEEN NOSTRILS (USE ATOMIZER).</li>
      </ol>
    </div>
    <div class="spacer" style="width: 748px; height: 16px;"></div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1018" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1023">Diazepam (Valium)</a>
        </strong>
      </p>

      <p style="color:#000000;">May be used as an alternative (PM ONLY). Follow the same safety parameters as with
        <a href="#/Tabs_Controller/Protocol_1023">Valium</a>.</p>

      <ol>
        <li>
          <strong>IV/IO - 2.5mg-5mg</strong> every 10 minutes to the desired effect or max dose of 10mg.</li>
        <li>
          <strong>Rectally</strong> - same dosage.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1013" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol509PainControlNauseaVomitingAnxiety-heading509" style="color:#000000;">PEDIATRIC PAIN CONTROL:</h4>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1019" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a> 1mcg/kg (max 50 mcg per dose)</strong> IV/IO.</li>
        <li>In the event an IV cannot be established,
          <strong>
            <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a> 1 mg/kg mcg</strong> may be given IM up to an initial dose of 25 mcg/kg.</li>
        <li>For additional doses, contact
          <strong>OLMC</strong>.</li>
      </ol>
    </div>
    <h4 id="protocol509PainControlNauseaVomitingAnxiety-heading510" style="color:#000000;">PEDIATRIC ANXIETY CONTROL/SEIZURE</h4>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1021" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Chose ONE benzodiazepine for treatment and maximize dosing. Contact OLMC before changing to a different medication.</p>

      <p style="color:#000000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1024">Midazolam (Versed)</a>
        </strong>:
        <br>a. Dosage is cut in half if the patient has received narcotics or alcohol.
        <br>b. Consider the size of the patient for dosing.
        <br>c. IV/IO -
        <strong>0.1 mg/kg</strong> (max dose of
        <strong>4 mg</strong> per dose) SLOW IV. Do NOT exceed adult dosing.
        <br>e. Intranasal or oral -
        <strong>0.2 mg/kg</strong> (max dose
        <strong>10 mg</strong> per dose).
        <br>f. Contact
        <strong>OLMC</strong> for additional doses.</p>

      <p style="color:#000000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1023">Diazepam (Valium)</a>
        </strong>: May be used as an alternative (
        <strong>PM ONLY</strong>). Follow the same safety parameters as with Midazolam - Do NOT exceed adult dosing.</p>

      <ol>
        <li>
          <strong>IV/IO</strong> - 0.1 mg/kg (max dose of 4 mg per dose) SLOW IV</li>
        <li>
          <strong>Intranasal or oral</strong> - 0.2 mg/kg (max dose 10 mg per dose).</li>
        <li>
          <strong>Rectally - 0.3 mg/kg</strong> PR max. dose 10 mg.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1020" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol509PainControlNauseaVomitingAnxiety-heading511" style="color:#000000;">ANTIEMETIC:</h4>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1022" class="show-list-numbers-and-dots">
      <ol>
        <li>To control nausea and as an adjunct to narcotic administration:
          <br>a.
          <strong>
            <a href="#/Tabs_Controller/Protocol_1025">Zofran</a>
          </strong> as indicated for nausea:</li>
      </ol>

      <p style="color:#000000;">
        <strong>Adult</strong> - 4 mg IV may repeat x 1 in 5-10 min x 1 dose.
        <br>* 8 mg ODT may be given x 1 dose - if no relief in 20 min give 4 mg ofran IV x 1 dose.</p>

      <p style="color:#000000;">
        <strong>Peds</strong> - 2 mg IV may repead x 1 in 5-10 min.
        <br>* Peds - 4 mg (1/2 of 8 mg ODT) may be given.</p>

      <p style="color:#000000;">
        <strong>Consider
          <a href="#/Tabs_Controller/Protocol_1020">Phenergan</a> as indicated for nausea if allergic to
          <a href="#/Tabs_Controller/Protocol_1025">Zofran</a>
        </strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1023" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol509PainControlNauseaVomitingAnxiety-heading512" style="color:#000000;">MEDICAL CONTROL OPTION - must be contacted prior to administration:</h4>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1024" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>
            <a href="#/page1/Protocol_1017">Morphine</a> Adult: 2-4 mg q10 minutes</strong> IV/IO/IM titrated to effect with maximum of 10 mg.</li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1017">Morphine</a> Pediatric: 0.1 mg/kg (max of 4 mg dose)</strong> IV/IM/IO titrated to effect.</li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1020">Phenergan</a> Adult - 12.5 mg</strong> IV if SBP&gt;100.</li>
        <li>Dilute
          <a href="#/Tabs_Controller/Protocol_1020">Promethazine (Phenergan)</a> with 10 mL of NS and administer slowly over 60 seconds with a wide open IV running so as to dilute it while it is administered, IV must be
          <strong>ABOVE</strong> the wrist, if not then
          <strong>
            <a href="#/Tabs_Controller/Protocol_1020">Promethazine (Phenergan)</a> may not be given!</strong>
        </li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1020">Promethazine (Phenergan)</a> Adult - 25 mg</strong> IM if no vascular access.</li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1020">Promethazine (Phenergan)</a> - is NOT recommended for pediatric patients, requires OLMC contact prior to administering.</strong>
        </li>
      </ol>

      <p style="color:#000000;">NOTE: If the patient experiences extreme anxiety, abnormal muscular contractions or an allergic reaction after receiving Phenergan contact Medical Control and be prepared to administer Benadryl as a treatment. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1025" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol509PainControlNauseaVomitingAnxiety-heading505" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol509PainControlNauseaVomitingAnxiety-markdown1014" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>