<ion-view title="Protocol 802 - Behavioral Disorders" id="page117">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol802BehavioralDisorders-heading702" style="color:#000000;text-align:center;">Behavioral Disorders</h3>
    <div id="protocol802BehavioralDisorders-container74">
      <div id="protocol802BehavioralDisorders-markdown1510" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol802BehavioralDisorders-markdown1511" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol802BehavioralDisorders-markdown1512" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>INDICATIONS:</strong>
      </p>

      <p style="color:#000000;">The control of a combative, aggressive, or out of control patient in order to prevent harm to the patient or the rescuers and to allow the delivery of further medical care and assistance. A competent patient has the right to refuse treatment, unless
        he is considered suicidal, homicidal or displays psychotic behaviors. Any additional behaviors identified in
        <a href="#/Tabs_Controller/tab1/Protocol_801">Protocol 801-section 2</a>
      </p>

      <ol>
        <li>The following patients should be transported to an Emergency Department for evaluation
          <ol>
            <li>Patient with Taser probes embedded in the face, neck, groin, breast, or spinal area</li>
            <li>Patient with significant cardiac history</li>
            <li>Patient having ingested drugs, especially stimulants, such as phencyclidine/PCP, cocaine, “spice”, “bath salts”, “designer drugs”, etc.</li>
            <li>Patients exhibiting bizarre behavior or who have persistently abnormal vital signs</li>
          </ol>
        </li>
      </ol>
    </div>
    <div id="protocol802BehavioralDisorders-markdown1513" class="show-list-numbers-and-dots"></div>
    <div id="protocol802BehavioralDisorders-markdown1514" class="show-list-numbers-and-dots"></div>
    <div id="protocol802BehavioralDisorders-markdown1515" class="show-list-numbers-and-dots"></div>
    <div id="protocol802BehavioralDisorders-markdown1516" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol802BehavioralDisorders-markdown1517" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol802BehavioralDisorders-markdown1487" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EMT</strong>
      </p>

      <ol>
        <li>Remove patient from the stressful environment and remove any possible weapons.</li>
        <li>Before touching any patient that has been Tasered, ensure law enforcement has disconnected the wires from the handheld unit.</li>
        <li>Focused history and physical exam</li>
        <li>Blood glucose, temperature and oxygen saturation assessment.</li>
        <li>Always assess for a possible medical condition, exposure or trauma including possible abuse/assault</li>
        <li>
          <p style="color:#000000;">Patient assessment (Observe for):</p>
          <ol>
            <li>Thoughts of suicide - bizarre or abrupt behavior changes</li>
            <li>Significant past medical history</li>
            <li>Is the patient a threat to self or others</li>
            <li>Hallucinations / Delusions</li>
            <li>Is there a medical problem - Medic Alert Tag (Consider hypoglycemia, hypoxia, CVA </li>
            <li>Drug or Alcohol abuse</li>
            <li>Signs of trauma- if noted follow appropriate Trauma Protocol
              <ol>
                <li>Inability to satisfy their need for nourishment, personal or medical care, shelter and safety, or there is a reasonable probability that death, serious bodily injury, or serious physical debilitation may occur.</li>
                <li>Assure / maintain patent airway </li>
                <li>Attempt to establish rapport and communication with patient </li>
                <li>Maintain an oxygen saturation 90 - 94%</li>
                <li>Keep the patient NPO</li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <p style="color:#000000;">Pepper Spray exposure</p>
          <ol>
            <li>Irrigate eyes copiously with normal saline or water, medial to lateral, with copious amounts of water</li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol802BehavioralDisorders-markdown1531" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol802BehavioralDisorders-markdown1533" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT/PARAMEDIC</strong>
      </p>

      <ol>
        <li>Ensure above is complete</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available</li>
        <li>Establish vascular access if need for chemical sedation is indicated 1. Identify and treat underlying reversible medical conditions (narcotic overdose, hypoglycemia, etc.)-Follow appropriate col ,</li>
        <li>Restraints / Chemical sedation should be considered for patients that cannot be calmed by another method available and they are a danger to themselves or others -
          <a href="#/Tabs_Controller/tab1/Protocol_803">Protocol 803: RESTRAINTS (Physical) - VIOLENT PATIENT / CHEMICAL SEDATION</a>
        </li>
        <li>EMS providers may remove probes, unless they are embedded in the face, neck, groin, breast, or spinal area.</li>
        <li>To remove probes
          <ol>
            <li>Place one hand on the patient in the area where the probe is embedded and stabilize the skin surrounding the puncture site. Place other hand firmly around the probe.</li>
            <li>In one fluid motion pull the probe straight out from the puncture site and repeat procedure with second probe.</li>
          </ol>
        </li>
        <li>
          <p style="color:#000000;">Transport:</p>
          <ol>
            <li>State law allows a person to be taken into “Protective Custody” for the purpose of an immediate medical screening against their wishes. This may be done by a Certified Police Officer, Licensed Mental Health Professional, or a Licensed Physician.</li>
            <li>Advise law enforcement or an on-scene Licensed Mental Health Professional of your assessment and rationale for an involuntary commitment</li>
            <li>If the patient refuses transport for an evaluation then have law enforcement or the Licensed Mental Health Professional fill out or agree to fill out a
              <strong>“Pink Sheet”</strong> for involuntary commitment when the patient arrives at the hospital. Attach a copy to the Patient Care Report.</li>
            <li>Ensure transport in a way that protects the patient and EMS providers: Law enforcement shall accompany patient to the hospital if possible</li>
            <li>
              <strong>Minimum of 2 EMS providers shall be in the patient compartments of the ambulance.</strong>
            </li>
            <li>If restraints are necessary chemical or physical refer to appropriate policy</li>
            <li>
              <p style="color:#000000;">If Law enforcement is not available or declines to take the person into protective custody on scene, contact On-Line Medical Control and report all findings, assessment, observations, and vital signs directly to the physician. The physician
                then can make the decision to have EMS take the patient into protective custody. On arrival at the receiving facility have the Physician fill out a
                <strong>“BLUE SHEET”</strong> and attach a copy to the PCR report.</p>
            </li>
            <li>
              <p style="color:#000000;">Any such person shall be transported to appropriate according to the Destination
                <a href="#/Tabs_Controller/tab1/Protocol_905">Protocol 905-B</a>
              </p>
            </li>
          </ol>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Special Precautions</strong>
          </p>
          <ol>
            <li>Safety is paramount for you and all rescuers on scene</li>
            <li>Assure that adequate personnel are available; ask for assistance if necessary (police etc…)</li>
            <li>Allow patient personal space if treatment is not indicated</li>
          </ol>
        </li>
      </ol>
    </div>
    <h5 id="protocol802BehavioralDisorders-heading703" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol802BehavioralDisorders-markdown1518" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>