<ion-view title="Protocol 601 - Labor Pains" id="page93">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol601LaborPains-heading546" style="color:#000000;text-align:center;">LABOR PAINS</h3>
    <div id="protocol601LaborPains-container51">
      <div id="protocol601LaborPains-markdown1118" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol601LaborPains-markdown1881" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol601LaborPains-markdown1884" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>The important differential in these patients is the following:</strong>
      </p>

      <ol>
        <li>First Trimester - threatened abortion vs. ectopic pregnancy. </li>
        <li>Third Trimester - Imminent vs. delayed delivery and preterm vs. full-term.</li>
        <li>Complications: prolapsed cord, mal-presentation, mecomium aspiration, excess hemorrhage. Thus, the following must be determined quickly in all patients</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol601LaborPains-markdown1119" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol601LaborPains-markdown1120" class="show-list-numbers-and-dots"></div>
    <div id="protocol601LaborPains-markdown1121" class="show-list-numbers-and-dots"></div>
    <div id="protocol601LaborPains-markdown1122" class="show-list-numbers-and-dots"></div>
    <div id="protocol601LaborPains-markdown1123" class="show-list-numbers-and-dots"></div>
    <div id="protocol601LaborPains-markdown1124" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Thus, the following must be determined quickly in all patients: </p>

      <ol>
        <li>Number of previous pregnancies.</li>
        <li>Gestational age.</li>
        <li>Complications of this pregnancy.</li>
        <li>Presence of vaginal bleeding and nature of pain.</li>
        <li>Frequency, duration and time of onset of contractions.</li>
        <li>Whether "rupture of membranes" ("water broke") occurred. If so, determine color of fluid- thick, dark green indicates meconium.</li>
      </ol>

      <p style="color:#000000;">Predicting the time of delivery is virtually impossible. Necaise of this, the potential necessity for surgical intervention for complications of pregnancy and delivery, and the need for patient privacy, the patient should be transferred to the ambulance
        as quickyl as feasible. </p>

      <ul>
        <li>Transport OB patient to the appropriate receiving facility as outlined in the current CCEMS destination protocol.</li>
      </ul>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol601LaborPains-markdown1125" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol601LaborPains-heading548" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol601LaborPains-markdown1126" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>