<ion-view title="Protocol 712 - Pediatric Shock (General Guidelines)" id="page115">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol712PediatricShockGeneralGuidelines-heading686" style="color:#000000;text-align:center;">PEDIATRIC SHOCK (GENERAL GUIDELINES)</h3>
    <div id="protocol712PediatricShockGeneralGuidelines-container72">
      <div id="protocol712PediatricShockGeneralGuidelines-markdown1473" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1474" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol712PediatricShockGeneralGuidelines-heading687" style="color:#000000;">TYPES OF SHOCK:</h4>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1475" class="show-list-numbers-and-dots">
      <ol>
        <li>Hypovolemic</li>
        <li>Septic</li>
        <li>Cardiogenic</li>
        <li>Vasomotor (anaphylaxis, neurogenic)</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol712PediatricShockGeneralGuidelines-container112">
      <h4 id="protocol712PediatricShockGeneralGuidelines-heading851" style="color:#000000;">HYPOVOLEMIC</h4>
      <div id="protocol712PediatricShockGeneralGuidelines-markdown1965" class="show-list-numbers-and-dots">
        <ol>
          <li>Signs (any of the following)
            <ul>
              <li>Bleeding</li>
              <li>Vomiting/Diarrhea</li>
              <li>Dry Mucosa/Poor Skin Turgor</li>
              <li>High Fever </li>
              <li>Poor Intake</li>
              <li>Diabetic Ketoacidosis</li>
            </ul>
          </li>
          <li>
            <strong>Associated with clear Lung Sounds</strong>
            <ul>
              <li>If Wheezing/rales, consider:
                <a href="#/Tabs_Controller/tab1/Protocol_704">Protocol 704: Pediatric Anaphylaxis</a>
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
    <div id="protocol712PediatricShockGeneralGuidelines-container113">
      <h4 id="protocol712PediatricShockGeneralGuidelines-heading852" style="color:#000000;">SEPTIC</h4>
      <div id="protocol712PediatricShockGeneralGuidelines-markdown1986" class="show-list-numbers-and-dots">
        <ol>
          <li>Signs
            <ul>
              <li>Tachypnea</li>
              <li>Bounding Pulses</li>
              <li>Warm, Flushed Skin</li>
              <li>Widening Pulse Pressure </li>
              <li>Fever or Hypothermia</li>
              <li>Petechial Rash</li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
    <div id="protocol712PediatricShockGeneralGuidelines-container114">
      <h4 id="protocol712PediatricShockGeneralGuidelines-heading847" style="color:#000000;">DISTRIBUTIVE</h4>
      <div id="protocol712PediatricShockGeneralGuidelines-markdown1960" class="show-list-numbers-and-dots">
        <ol>
          <li>Signs
            <ul>
              <li>Anaphylaxis -
                <a href="#/Tabs_Controller/tab1/Protocol_704">Protocol 704: Pediatric Anaphylaxis</a>
              </li>
              <li>Pre-existing Spinal Cord Injury</li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
    <div id="protocol712PediatricShockGeneralGuidelines-container115">
      <h4 id="protocol712PediatricShockGeneralGuidelines-heading853" style="color:#000000;">Cardiogenic</h4>
      <div id="protocol712PediatricShockGeneralGuidelines-markdown1988" class="show-list-numbers-and-dots">
        <ol>
          <li>If Cardiac Arrythmia -
            <a href="#/Tabs_Controller/tab1/Protocol_708">Protocol 708: Pediatric Cardiac Arrythmias</a>
          </li>
        </ol>
      </div>
    </div>
    <div class="spacer" style="width: 748px; height: 17px;"></div>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1989" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 748px; height: 17px;"></div>
    <h4 id="protocol712PediatricShockGeneralGuidelines-heading692" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1490" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Shock should be suspected if any of the follwing signs of poor perfusion are present: </p>

      <ol>
        <li>Altered level of consciousness.</li>
        <li>Hypotonia ("limp baby").</li>
        <li>Weak ventral (proximal) pulses with absent periheral pulses.</li>
        <li>Capillary refill &gt; 2 seconds.</li>
        <li>Active bleeding or a history of active bleeding from bowel, stomach or major vessel.</li>
        <li>Tachycardia.</li>
        <li>Hypotension.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol712PediatricShockGeneralGuidelines-heading693" style="color:#000000;">EXCLUSIONS:</h4>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1491" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Trauma - use
        <a href="#/Tabs_Controller/tab1/Protocol_717">Protocol 717: Pediatric Major or Multi-System Trauma</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1476" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1477" class="show-list-numbers-and-dots"></div>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1478" class="show-list-numbers-and-dots"></div>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1479" class="show-list-numbers-and-dots"></div>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1480" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol712PediatricShockGeneralGuidelines-heading688" style="color:#000000;">EMT</h4>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1481" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Blood glucose, Oxygen Saturation and Temperature assessment.</li>
        <li>Provide 100% oxygen to the patient - Ventilate with BVM when apneic or exhibiting respiratory distress. Consider a nasal or oral airway.</li>
        <li>Recommended pediatric ventilatory rates:
          <br>a. Infant (0-12 months): 25 breaths per minute.
          <br>b. 1-3 years: 20 breaths per minute.
          <br>c. 4-6 years: 15 nreaths per minute.
          <br>d. &gt;6 years: 12 (same as adult).</li>
        <li>Do not hyperventilate the patient.</li>
        <li>Ensure patient warmth.</li>
        <li>Provide basic airway maneuvers to all compromised airways, i.e. oxygen, jaw-thrust, and positioning.</li>
        <li>Identify and treat underlying reversible medical conditions (narcotic overdose, hypoglycemia, etc.).</li>
        <li>In general, maintain an oxygen saturation 90-94%.</li>
        <li>Always insure proper care of the C-Spine during Airway treatment.</li>
        <li>Keep the patient NPO. Stop any tube feedings and do not use feeding tube during resuscitation.</li>
        <li>Infants and young children are primary nose breathers - Sunction oral and nasal passages as needed to keep clear.</li>
        <li>Bleeding from the nose (epistaxis) should be controlled by first having the paitent sit and lean forward (unless there is a need for spinal motion resriction). Apply direct pressure by pinching the fleshy portion of the nostrils.</li>
        <li>Cover lacerations or puncture wounds on the neck near the great vessels or trachea with an occlusive dressing.</li>
        <li>Cover abdominal eviscerations with a moist sterile dressing.</li>
        <li>Don not attempt to replace organs.</li>
        <li>Cover extruded eye or deflated globe with a moist sterile dressing and protective covering.</li>
        <li>Do not apply pressure or attempt to replace in socket.</li>
        <li>Cover both eyes.</li>
        <li>In large, partially attached avulsions, the tissue should be returned to its baseline position and stabilized whenever possible.</li>
        <li>Elevate the limb such that the wound is above the heart.</li>
        <li>Impaled objects should be stabilized in place and covered with dry sterile dressings. The exceptions would be:
          <ul>
            <li>
              <strong>Objects through the cheek where there is the possibility of airway compromise</strong>. </li>
            <li>
              <strong>Objects that would interfere with chest compressions</strong>. </li>
            <li>
              <strong>Sharp objects may need to be removed if their resences is causing ongoing injury, compromise, or inhibiting CPR</strong>.</li>
          </ul>
        </li>
        <li>Tourniquets should be used to control hemorrhage not controlled with direct pressure.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1482" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol712PediatricShockGeneralGuidelines-heading689" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1483" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>Establish a 12 Lead ECG and transmit to receiving hospital.</li>
        <li>Establish vascular access - Use 2 lare bore IV's of possible. If unable to establish IV access and patient is unresponsive with unstable VS's establish IO access.</li>
        <li>
          <strong>TRAUMATIC SHOCK</strong> - Give fluid bolus of NS
          <strong>20 mL/kg</strong> at a time, ressess and repeat t up to a maximum of
          <strong>60 mL/kg</strong> total. Reasses for reversal of the signs of shock:
          <br>a. If the patient remains hypotensive after the 60 mL/kg call
          <strong>OLMC</strong>.</li>
        <li>
          <strong>NON-TRAUMATIC SHOCK</strong> _ Proved
          <strong>20 ml/kg</strong> bolus up to a maximum of
          <strong>60 mL/kg</strong> and reassess for reversal of the signs of shock.</li>
        <li>If the patient remains hypotensive after administering
          <strong>60 mL/kg</strong> NS, call
          <strong>OLMC</strong>.</li>
        <li>
          <strong>CARDIOGENIC SHOCK</strong> - In patients with CHF, pulmonary edema, cardiogenic shock or kidney failure (i.e. dialysis patients), provide
          <strong>10 mL/kg</strong> fluid boluses up to a maximum of
          <strong>20 mL/kg</strong> and reassess for reversal of the signs of shock.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1484" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol712PediatricShockGeneralGuidelines-heading690" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1485" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>
          <strong>INTUBATION</strong> - Consider orotracheal intubation using an endotracheal tube when indicated or appropriate supraglottic airway.</li>
        <li>Document TWO confirmation methods to verify endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophageal Intubation Detector).</li>
        <li>Consider sedation after intubation
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control/Nausea/Vomiting/Anxiety</a>. </li>
        <li>After 2 unsuccessful attempts at endotracheal intubation use a supraglottic airway device or BVM with appropriate oral/nasal airway.</li>
        <li>
          <strong>No nasotracheal intubation</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1486" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1493" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>Suspected Tension Pneumothorax-Immediate needle decompression using appropriate technique.</li>
        <li>Traumatic Arrest-Consider bilateral needle decompression for suspected tension pneumothorax based on mechanism of injury using appropriate technique.</li>
        <li>
          <strong>Surgical Airway Cricothyrotomy</strong>- only when all other methods of oxygenation, ventilation and securing the airway have failed. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1488" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol712PediatricShockGeneralGuidelines-heading691" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol712PediatricShockGeneralGuidelines-markdown1489" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>