<ion-view title="Protocol 1018 - Naloxone" id="page46">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1018Naloxone-heading205" style="color:#000000;text-align:center;">Naloxone</h1>
    <h5 id="protocol1018Naloxone-heading206" style="color:#000000;text-align:center;">Narcan</h5>
    <h5 id="protocol1018Naloxone-heading207" style="color:#000000;text-align:center;">Approved for Advanced CCEMS Units Only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1018Naloxone-heading208" style="color:#000000;text-align:center;">Protocol 1018</h3>
    <div id="protocol1018Naloxone-markdown364" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1018Naloxone-markdown365" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_306">306</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_311">311</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_602">602</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_713">713</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1018Naloxone-heading209" style="color:#000000;text-align:center;">Narcotic Antagonist</h4>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1018Naloxone-list178">
      <div class="item item-body" id="protocol1018Naloxone-list-item-container120">
        <div id="protocol1018Naloxone-markdown366" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Competes with Opiate Receptors in the CNS.
            <br>
            <strong>2.</strong> Displaces Narcotics for Receptors in the CNS.
            <br>
            <strong>3.</strong> Reverses Respiratory Depression Associated with Narcotic Overdose. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1018Naloxone-list179">
      <div class="item item-body" id="protocol1018Naloxone-list-item-container121">
        <div id="protocol1018Naloxone-markdown367" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>Antitode</strong> to all Narcotic Drugs Such as
            <strong>Morphine, Demerol, Codeine, Methadone, Fentanyl, Percocet, Dilaudid, Heroin, Paregoric, Darcon, Stadol, and Talwin.</strong>
          </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1018Naloxone-list180">
      <div class="item item-body" id="protocol1018Naloxone-list-item-container122">
        <div id="protocol1018Naloxone-markdown368" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Hypersensitivity</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1018Naloxone-list181">
      <div class="item item-body" id="protocol1018Naloxone-list-item-container123">
        <div id="protocol1018Naloxone-markdown369" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Hypotension.
            <br>
            <strong>2.</strong> Ventricular Arrythmias.
            <br>
            <strong>3.</strong> Nausea/Vomiting.
            <br>
            <strong>4.</strong> Acute Narcotic Withdrawal.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <ion-list id="protocol1018Naloxone-list182">
      <div class="item item-body" id="protocol1018Naloxone-list-item-container124">
        <div id="protocol1018Naloxone-markdown370" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Considerations</strong>
            <br>
            <strong>1.</strong> Titrate Slowly if Suspect Narcotic Dependence.
            <br>
            <strong>2.</strong> If No Improvement, Suspect Other Cause or Toxicity Due to a Different Drug (TCA, Benzodiazepine, Barbiturate.) </p>
        </div>
      </div>
    </ion-list>
    <h3 id="protocol1018Naloxone-heading210" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1018Naloxone-markdown371" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Adult Dose</strong>
      </p>

      <p style="color:#000000;">
        <strong>1. Naloxone 1-2mg (per dose):</strong> IV/IM/IO or Intranasal (Atomizer). May Repeat x1 for
        <strong>Suspected Narcotic Overdose</strong> Contact OLMC for Additional Doses. </p>

      <p style="color:#000000;">
        <strong>Peds Dose</strong>
      </p>

      <p style="color:#000000;">
        <strong>1. Naloxone 0.1mg/kg (Max 1mg):</strong> IV/IM/IO or Intranasal (Atomizer) for Suspected Narcotic Overdose- Contact OLMC for Additional Doses.
        <br>
        <strong>2. Naloxone</strong>: 0.1 mg/kg Repeated every 2-3 Minutes as Needed for Babies of Suspected Narcotic Addicted Mothers. </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1018Naloxone-markdown372" class="show-list-numbers-and-dots"></div>
    <div id="protocol1018Naloxone-button-bar21" class="button-bar"></div>
    <div id="protocol1018Naloxone-button-bar22" class="button-bar"></div>
    <h5 id="protocol1018Naloxone-heading211" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1018Naloxone-heading212" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>