<ion-view title="Protocol 106 - Ceasing Resuscitative Efforts" id="page32">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol106CeasingResuscitativeEfforts-heading119" style="color:#000000;text-align:center;">Ceasing Resuscitative Efforts</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol106CeasingResuscitativeEfforts-container7">
      <div id="protocol106CeasingResuscitativeEfforts-markdown212" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol106CeasingResuscitativeEfforts-markdown213" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>INDICATIONS:</strong>
      </p>

      <ol>
        <li>Patients in cardiac arrest for whom cardiac resuscitation has been initiated but has not led to spontaneous circulation.</li>
      </ol>
    </div>
    <div id="protocol106CeasingResuscitativeEfforts-markdown214" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol106CeasingResuscitativeEfforts-markdown215" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EXCLUSIONS:</strong>
      </p>

      <ol>
        <li>Hypothermia - see
          <a href="#/Tabs_Controller/tab1/Protocol_105">Protocol 105: HYPOTHERMIC CARDIAC ARREST</a>
        </li>
        <li>Trauma arrest - see
          <a href="#/Tabs_Controller/tab1/Protocol_104">Protocol 104: TRAUMATIC CARDIAC ARREST</a>
        </li>
        <li>Patients who meet DOA criteria Protocol
          <a href="#/Tabs_Controller/tab1/Protocol_902">902: DEATH DETERMINATION AND PRONOUNCEMENT PROCESS</a>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol106CeasingResuscitativeEfforts-markdown216" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Resuscitation efforts may be discontinued if conditions are met AND the Command Physician authorizes the discontinuation.</strong>
      </p>
    </div>
    <div id="protocol106CeasingResuscitativeEfforts-markdown217" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol106CeasingResuscitativeEfforts-markdown218" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Treatment Plan</strong>
      </p>

      <p style="color:#000000;">CPR should
        <strong>NOT</strong> be started in a pulseless, apneic patient in the presence of:</p>

      <ol>
        <li>Obvious death, decomposition, and/or rigor mortis.</li>
        <li>Obvious fatal wounds without signs of life</li>
        <li>A verbal order pronouncing the patient dead by a licensed physician in the State of Utah who is present on scene. </li>
        <li>An order by the OLMC physician.</li>
        <li>A Do Not Resuscitate (DNR) written order, bracelet, or necklace from any U.S. State. </li>
        <li>A signed Physician Order for Life-Sustaining Treatment (POLST form) from any U.S. State indicating that the patient does not desire resuscitative efforts.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol106CeasingResuscitativeEfforts-markdown220" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Termination</strong> of CPR may be done in the following circumstances:</p>

      <ol>
        <li>A valid DNR or POLST form is discovered after resuscitative efforts were initiated. </li>
        <li>Resuscitation efforts initiated when criteria to
          <strong>not</strong> resuscitate were present.</li>
        <li>A verbal order pronouncing the patient dead by a licensed physician in the State of Utah who is present on scene per
          <strong>State Bureau of EMS Rule 426-4-600</strong>
        </li>
        <li>Order by the OLMC physician.</li>
        <li>Current rhythm is asystole.</li>
        <li>No sustained spontaneous circulation (palpable pulse for &gt; 1 min) within the last 20 minutes.</li>
        <li>No potentially reversible condition identified (e.g. antidepressant overdose).</li>
        <li>Patient has received adequate trial of advanced life support interventions as determined by Command Physician.</li>
        <li>Age &gt; 18.</li>
      </ol>
    </div>
    <div id="protocol106CeasingResuscitativeEfforts-markdown221" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol106CeasingResuscitativeEfforts-markdown222" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOTE:</strong>
      </p>

      <ol>
        <li>Command Physicians may use discretion to cease resuscitation after less than 30 minutes if they determine cardiac unresponsiveness after trial of ACLS appropriate to clinical situation. </li>
        <li>It is strongly recommended that a decision be made to either transport or cease resuscitation at scene once resuscitation efforts have persisted for 30 minutes. Transport may be initiated sooner if logistics permit. </li>
      </ol>
    </div>
    <div id="protocol106CeasingResuscitativeEfforts-markdown237" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol106CeasingResuscitativeEfforts-heading123" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol106CeasingResuscitativeEfforts-markdown238" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>