<ion-view title="Protocol 900 - Family Centered Care" id="page124">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol900FamilyCenteredCare-heading718" style="color:#000000;text-align:center;">Family Centered Care</h3>
    <div id="protocol900FamilyCenteredCare-container81">
      <div id="protocol900FamilyCenteredCare-markdown1610" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol900FamilyCenteredCare-markdown1611" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol900FamilyCenteredCare-markdown1612" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ALL PROVIDERS</strong>
      </p>

      <p style="color:#000000;">Family Centered Care is a mutually collaborative health care effort between family, patient and provider and has proven to be the gold standard in dealing patient and their families. This is especially important when dealing with pediatric patients,
        patients unable to make decisions for themselves or patients that have legal guardians.</p>

      <p style="color:#000000;">Demonstration of Family Centered Care is in one’s actions and behaviors when caring for patients.</p>

      <p style="color:#000000;">Family Centered Care is demonstrated in practice, not just policy development.</p>

      <p style="color:#000000;">
        <strong>Collaboration with Families:</strong> Empower the patient and the family by involving them in the care as well as the decision making process.</p>

      <ol>
        <li>Family Centered Care is a skill requiring competency and caring. Like any other fine-tuned skill it requires practice.</li>
        <li>Gather staff and develop language on how to describe the situation so information is consistent.</li>
      </ol>

      <p style="color:#000000;">.</p>

      <p style="color:#000000;">
        <strong>Cultural Competency:</strong> Respect, sensitivity, and an understanding of the unique cultural and religious considerations. 1. Be aware of any language barriers. 2. If at all possible engage an interpreter that is able to understand some of
        the emotional issues as well as medical terminology associated with the condition. 3. An understanding of the hierarchy of the family is key to a positive outcome.</p>

      <p style="color:#000000;">
        <strong>Developmental Competency:</strong> Use appropriate language for the age.</p>

      <ol>
        <li>When in pain or hurt, children often regress to more infantile responses. They may still need attachment items late in life.</li>
        <li>Describe what you will be doing.</li>
        <li>Use eye contact and touch when appropriate.</li>
        <li>Be respectful at all times. In children there are some special considerations:</li>
        <li>Infants: General calming measures (Soft voices, gentle pats, pacifiers or rocking), allow parents to stay close and bonded with the child and help them to anticipate the situation if possible.</li>
        <li>Toddlers: Use toys, teddy bear, blanket, etc. for comfort. Parents or family members are often a great source of comfort and nurturing, allow them to be present.</li>
        <li>School Age: Attachment objects (e.g. “blankies”), honesty about procedures, imaginary thinking (I made the car crash, I told a lie and that is why mom is hurt) Refrain from conversations about a child’s treatment unless you are including them.</li>
        <li>Adolescents: Physician and provider honesty is key as well as paying attention to pain. Help them to participate in their own care and take their views seriously. Focus on giving them some sense of control. Pain management is key. Adolescents
          as well as adults are afraid of pain. The anticipation of pain can be worse that the pain itself. Some transitional objects/toys/stuffed animals can also be useful. Respect their privacy and modesty as much as possible. Allow them to discuss
          what is happening both with and without caregivers around.</li>
        <li>Family Centered Care = compassion</li>
        <li>Include family members in resuscitation and care decision making as they desire and are capable. If possible, designate a crewmember to be a liaison to the family in order to facilitate communication and continuity.</li>
      </ol>
    </div>
    <div id="protocol900FamilyCenteredCare-markdown1613" class="show-list-numbers-and-dots"></div>
    <div id="protocol900FamilyCenteredCare-markdown1614" class="show-list-numbers-and-dots"></div>
    <div id="protocol900FamilyCenteredCare-markdown1615" class="show-list-numbers-and-dots"></div>
    <div id="protocol900FamilyCenteredCare-markdown1616" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol900FamilyCenteredCare-heading723" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol900FamilyCenteredCare-markdown1626" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">April 2017 (Revised)</p>
    </div>
  </ion-content>
</ion-view>