<ion-view title="Protocol 1007 - Benadryl" id="page9">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1007Benadryl-heading92" style="color:#000000;text-align:center;">Benadryl</h1>
    <h5 id="protocol1007Benadryl-heading93" style="color:#000000;text-align:center;">Diphenhydramine</h5>
    <h5 id="protocol1007Benadryl-heading99" style="color:#000000;text-align:center;">Approved for Advanced CCEMS units only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1007Benadryl-heading94" style="color:#000000;text-align:center;">Protocol 1007</h3>
    <div id="protocol1007Benadryl-markdown104" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div id="protocol1007Benadryl-markdown105" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_310">310</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_704">704</a>. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1007Benadryl-heading95" style="color:#000000;text-align:center;">Class: Antihistamine, CNS Depressant</h4>
    <ion-list id="protocol1007Benadryl-list108">
      <div class="item item-body" id="protocol1007Benadryl-list-item-container52">
        <div id="protocol1007Benadryl-markdown106" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
            <br>
            <strong>1.</strong> Blocks H1 release (Which Causes Bronchoconstriction)
            <br>
            <strong>2.</strong> Blocks H2 release (Which causes peripheral vasodilation)
            <br>
            <strong>3.</strong> Antidote-dystonic reactions from phenothiazines</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1007Benadryl-list109">
      <div class="item item-body" id="protocol1007Benadryl-list-item-container53">
        <div id="protocol1007Benadryl-markdown107" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Allergic Reactions
            <br>
            <strong>2.</strong> Anaphylaxis
            <br>
            <strong>3.</strong> Dystonic Reactions</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1007Benadryl-list110">
      <div class="item item-body" id="protocol1007Benadryl-list-item-container54">
        <div id="protocol1007Benadryl-markdown108" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Asthma
            <br>
            <strong>2.</strong> Pregnancy
            <br>
            <strong>3.</strong> COPD</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1007Benadryl-list111">
      <div class="item item-body" id="protocol1007Benadryl-list-item-container55">
        <div id="protocol1007Benadryl-markdown109" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Decreased LOC
            <br>
            <strong>2.</strong> Hypotension </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h3 id="protocol1007Benadryl-heading96" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1007Benadryl-markdown111" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>1. Adults:</strong> 25mg IV/IO/IM for moderate to severe allergic reaction.
        <br>
        <strong>2. Pediatric:</strong> 1mg/kg IV/IO/IM for moderate to severe allergic reaction
        <strong>MAX DOSE 25mg</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1007Benadryl-list113">
      <div class="item item-body" id="protocol1007Benadryl-list-item-container57">
        <div id="protocol1007Benadryl-markdown112" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONSIDERATIONS</strong>
            <br>
            <strong>1.</strong> Will potentiate CNS depression in presence of ETOH, Narcotics.
            <br>
            <strong>2.</strong> Should be used after
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> in cases of acute allergic reactions.
            <br>
            <strong>3.</strong>
            <strong>Give slow IVP. Rapid administration can cause Hypotension</strong>
            <br>
            <strong>4.</strong> Higher doses may be ordered by on-line medical control to treat dystonic reactions cause by phenothiazine reactions. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h5 id="protocol1007Benadryl-heading97" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1007Benadryl-heading98" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>