<ion-view title="Protocol 714 -Pediatric Seizure" id="page119">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol714PediatricSeizure-heading706" style="color:#000000;text-align:center;">PEDIATRIC SEIZURE</h3>
    <div id="protocol714PediatricSeizure-container76">
      <div id="protocol714PediatricSeizure-markdown1529" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol714PediatricSeizure-markdown1530" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol714PediatricSeizure-heading708" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol714PediatricSeizure-markdown1532" class="show-list-numbers-and-dots">
      <ol>
        <li>Must be actively seizing for administration of
          <a href="#/Tabs_Controller/Protocol_1024">Versed</a> or
          <a href="#/Tabs_Controller/Protocol_1023">Valium</a>.</li>
        <li>Alteration in consciousness associated with eye deviation, loss of bowel/bladder control, non-purposeful rhythmic or tonic body movements.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol714PediatricSeizure-markdown1534" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol714PediatricSeizure-markdown1535" class="show-list-numbers-and-dots"></div>
    <div id="protocol714PediatricSeizure-markdown1536" class="show-list-numbers-and-dots"></div>
    <div id="protocol714PediatricSeizure-markdown1537" class="show-list-numbers-and-dots"></div>
    <div id="protocol714PediatricSeizure-markdown1538" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol714PediatricSeizure-heading710" style="color:#000000;">EMT</h4>
    <div id="protocol714PediatricSeizure-markdown1539" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Blood glucose, Oxygen Saturation and Temperature assessment.</li>
        <li>Assess scene for possible toxin overdose or trauma.</li>
        <li>Do not restrain, but provide protection during the tonic-clonic phase.</li>
        <li>Spinal immobilization if indicated.</li>
        <li>Ensure patients experiencing febrile seizures are not excessively dressed or bundled.</li>
        <li>Provide basic airway maneuvers to all compromised airways, i.e. oxygen, jaw-thrust, and positioning.</li>
        <li>Ventilate with BVM when apneic or exhibiting respiratory distress - Consider a nasal or oral airway.</li>
        <li>Recommended pediatric ventilatory rates:
          <br>a. Infany (0-12 months): 25 breaths per minute.
          <br>b. 1-3 years: 20 breaths per minute.
          <br>c. 3-5 years: 15 breaths per minute.
          <br>c. &gt;6 years: 12 (same as adult).</li>
        <li>Do not hyperventilate the patient.</li>
        <li>
          <strong>SUCTION</strong> as needded.</li>
        <li>
          <strong>OXYGEN 15 L/min</strong> via NRM. Maintain
          <strong>SPO2 &gt;94%</strong>.</li>
        <li>
          <strong>ASSESS</strong> vitals, mental status, neurolgical examination.</li>
        <li>Place in lateral position to prevent aspiration.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol714PediatricSeizure-markdown1540" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol714PediatricSeizure-heading711" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol714PediatricSeizure-markdown1541" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Establish vascular access.</li>
        <li>Continuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>If blood glucose is less than
          <strong>60 mg/dl</strong>:
          <ul>
            <li>Children geater than 1 year: Dextrose 25% (D25W) 2 mL/kg IV. </li>
            <li>Infants up to 1 year: Dextrose 10% (D10/NS) 5 mL/kg IV. </li>
            <li>Neonates &lt;30 days: Dextrose10% (D10/NS) 2 ml/kg (200 mg/kg) IV.</li>
          </ul>
        </li>
      </ol>

      <p style="color:#000000;">NOTE: If commercially prepared mediction is not available: </p>

      <ul>
        <li>To make D10 - Dilute 10 mL D50 in 40 mL of NS. </li>
        <li>To make D25 - Dilute D50 1:1 with NS. </li>
      </ul>

      <p style="color:#000000;">IF UNABLE TO ESTABLISH IV ACCESS:
        <br>
        <strong>
          <a href="#/Tabs_Controller/Protocol_1012">Glucagon</a> 0.1 mg/kg (max dose of 1 mg) IM if no IV/IO access</strong>.</p>

      <p style="color:#000000;">
        <strong>Contact medical control for medication order</strong>:</p>

      <p style="color:#000000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1024">Midazolam (Versed)</a>
        </strong>
        <br>1. Dosage is cut in half if the patient has received narcotics or alcohol.
        <br>2. Consider the size of the patient for dosing.
        <br>3.
        <strong>IV/IO</strong> - 0.1 mg/kg (max dose of 4 mg per dose) SLOW IV
        <br>4.
        <strong>Intranasal or oral</strong> - 0.2 mg/kg (max dose 10 mg per dose).
        <br>5.
        <strong>DO NOT exceed adult dosing</strong>.
        <br>6. Contact OLMC for additional doses.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol714PediatricSeizure-markdown1542" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol714PediatricSeizure-heading712" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol714PediatricSeizure-markdown1543" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is compete.</li>
        <li>For persistent or recurrent seizure activity:
          <ul>
            <li>
              <strong>
                <a href="#/Tabs_Controller/Protocol_1023">Diazepam (Valium)</a>
              </strong>
              <ul>
                <li>
                  <strong>May be used as an alternative- IV/IO 0.1 mg/kg (max dose of 5 mg)</strong>
                </li>
                <li>
                  <strong>Rectally - 0.3 mg/kg PR max. dose 10 mg</strong> - May be used as an alternative. </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Follow the same safety parameters with Midazolam -
          <strong>Do NOT</strong> exceed adult dosing. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol714PediatricSeizure-markdown1544" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol714PediatricSeizure-markdown1545" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a>
          </strong> - For female pediatric patients who possible are pregnant and have a seizure contact OLMC for dosing instructions (
          <strong>PARAMEDIC ONLY</strong>)</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol714PediatricSeizure-markdown1546" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol714PediatricSeizure-heading713" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol714PediatricSeizure-markdown1547" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>