<ion-view title="Protocol 610 - Prolapsed Umbilical Cord" id="page102">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol610ProlapsedUmbilicalCord-heading566" style="color:#000000;text-align:center;">PROLAPSED UMBILICAL CORD</h3>
    <div id="protocol610ProlapsedUmbilicalCord-container59">
      <div id="protocol610ProlapsedUmbilicalCord-markdown1220" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol610ProlapsedUmbilicalCord-markdown1235" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol610ProlapsedUmbilicalCord-markdown1236" class="show-list-numbers-and-dots">
      <p style="color:#000000;">When umbilical cord precedes fetus through birth canal, it is likely to be compressed between fetal head and maternal pelvis leading to severe fetal ischemia.</p>
    </div>
    <h4 id="protocol610ProlapsedUmbilicalCord-heading567" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol610ProlapsedUmbilicalCord-markdown1260" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Any pregnancy patient with protrusion of part of the umilical cord through the cervix.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol610ProlapsedUmbilicalCord-heading568" style="color:#000000;">EMT / ALL</h4>
    <div id="protocol610ProlapsedUmbilicalCord-markdown1261" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Obtain full set of vital signs.</li>
        <li>Take
          <strong>OBSTETRICAL HISTORY</strong> as described in Introduction to
          <a href="#/Tabs_Controller/tab1/Protocol_600">Protocol 600: Obstetric Emergencies</a>.</li>
        <li>Place mother in
          <strong>TRENDELEBURG OR KNEE-CHEST POSITION</strong>.</li>
        <li>
          <strong>DO NOT ATTEMPT DELIVERY</strong>
        </li>
        <li>Keep cord moistened with sterile saline.</li>
        <li>Apply high flow
          <strong>OXYGEN</strong>.</li>
        <li>Insert two fingers of gloved hand into vagina and lift fetal head off cord; head may be pushed gently back up into birth canal slightly. </li>
        <li>Assure effectiveness of maneuver by palpating pulse in cord.</li>
        <li>Pulse in cord represents fetal heart rate. Rate less than 120 indicates fetal distress.</li>
        <li>
          <strong>Do not remove hand until transfer of care to hospital personnel</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol610ProlapsedUmbilicalCord-markdown1262" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol610ProlapsedUmbilicalCord-markdown1263" class="show-list-numbers-and-dots"></div>
    <div id="protocol610ProlapsedUmbilicalCord-markdown1264" class="show-list-numbers-and-dots"></div>
    <div id="protocol610ProlapsedUmbilicalCord-markdown1265" class="show-list-numbers-and-dots"></div>
    <div id="protocol610ProlapsedUmbilicalCord-markdown1266" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol610ProlapsedUmbilicalCord-heading579" style="color:#000000;">ADVANCED EMT / PARAMEDIC</h4>
    <div id="protocol610ProlapsedUmbilicalCord-markdown1267" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Initiate IV NS regular drip TKO or saline lock unless hypotensive then
          <strong>500 ml</strong> bolus and repeat as needed.</li>
        <li>
          <strong>IMMEDIATE, RAPID TRANSPORT</strong> to appropriate facility per Transport Protocol.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol610ProlapsedUmbilicalCord-markdown1268" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol610ProlapsedUmbilicalCord-markdown1273" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>
          <strong>When delivery is imminent, to suppress uterine contractions</strong>:
          <br>a. Rapidly infuse
          <strong>1 liter</strong> of NS (AEMT/PM).
          <br>b.
          <strong>
            <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a> 2.5 mg</strong> via nebulization (AEMT/PM).
          <br>c.
          <strong>
            <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a> 1 gram</strong> IV and titrate per
          <strong>OLMC</strong> (PM only). </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol610ProlapsedUmbilicalCord-markdown1274" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol610ProlapsedUmbilicalCord-heading592" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol610ProlapsedUmbilicalCord-markdown1275" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>