<ion-view title="Protocol 1011 - Fentanyl" id="page38">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1011Fentanyl-heading139" style="color:#000000;text-align:center;">Fentanyl</h1>
    <h5 id="protocol1011Fentanyl-heading140" style="color:#000000;text-align:center;">Approved for Advanced CCEMS units only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1011Fentanyl-heading141" style="color:#000000;text-align:center;">Protocol 1011</h3>
    <div id="protocol1011Fentanyl-markdown288" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1011Fentanyl-markdown289" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_509">509</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_717">717</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_720">720</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_721">721</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_722">722</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_723">723</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_724">724</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_725">725</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_726">726</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1011Fentanyl-heading142" style="color:#000000;text-align:center;">Class: Narcotic Analgesic</h4>
    <ion-list id="protocol1011Fentanyl-list135">
      <div class="item item-body" id="protocol1011Fentanyl-list-item-container71">
        <div id="protocol1011Fentanyl-markdown290" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Synthetic Opiate
            <br>
            <strong>2.</strong> IV - Peak analgesia may be as short as 90 seconds with duration of clinical effects approximately 30 minutes.
            <br>
            <strong>3.</strong> IM - Onset of Analgesia is within 7-15 minutes lasting for 1-2 hours.
          </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1011Fentanyl-list136">
      <div class="item item-body" id="protocol1011Fentanyl-list-item-container72">
        <div id="protocol1011Fentanyl-markdown291" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> For analgesia of short duration.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1011Fentanyl-list137">
      <div class="item item-body" id="protocol1011Fentanyl-list-item-container73">
        <div id="protocol1011Fentanyl-markdown292" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Patients with known intolerance to Fentanyl.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1011Fentanyl-list142">
      <div class="item item-body" id="protocol1011Fentanyl-list-item-container74">
        <div id="protocol1011Fentanyl-markdown293" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Respiratory depression.
            <br>
            <strong>2.</strong> Laryngospasm
            <br>
            <strong>3.</strong> Hypertension or Hypotension, Bradycardia.
            <br>
            <strong>4.</strong> Dizziness.
            <br>
            <strong>5.</strong> Rigidity of the chest/Abdominal muscle (related to dose and speed of injection)
            <br>
            <strong>6.</strong> Nausea/Vomiting
            <br>
            <strong>7.</strong> Diaphoresis</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1011Fentanyl-list138">
      <div class="item item-body" id="protocol1011Fentanyl-list-item-container78">
        <div id="protocol1011Fentanyl-markdown298" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>PRECUATIONS</strong>
            <br>
            <strong>1.</strong> Respiratory compromise and apnea have been noted - monitor oxygen saturations at all times.
            <br>
            <strong>2.</strong> Peak respiratory depressant effect is noted 5-15 minutes following IV dosage.
            <br>
            <strong>3.</strong> Use with caution in patients with COPD, Liver or Kidney dysfunction.
            <br>
            <strong>4.</strong> Will have additive or potentiating effects with CNS depressant drugs. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1011Fentanyl-heading143" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1011Fentanyl-markdown294" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Adult: Fentanyl 50 mcg IV/IO</strong> q 10 minutes IV/IO/IM. Max Dose 200mcg. </p>

      <p style="color:#000000;">
        <strong>1.</strong> In the event an IV can not be established,
        <strong>Fentanyl 50 mcg</strong> may be given IM.
        <br>
        <strong>2.</strong> For additional doses, contact
        <strong>OLMC</strong>. </p>

      <p style="color:#000000;">
        <strong>Pediatric: Fentanyl 1mcg/kg (Max 25mcg per dose)</strong> IV/IO </p>

      <p style="color:#000000;">
        <strong>1.</strong>In the event an IV cannot be established
        <strong>Fentanyl 1mcg/kg </strong> may be given IM up to an initial dose of 25 mcg.
        <br>
        <strong>2.</strong>For additional doses, contact
        <strong>OLMC</strong>. </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1011Fentanyl-list141">
      <div class="item item-body" id="protocol1011Fentanyl-list-item-container77">
        <div id="protocol1011Fentanyl-markdown296" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONSIDERATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Reversible with
            <a href="#/Tabs_Controller/Protocol_1018">Naloxone</a>.
            <br>
            <strong>2.</strong> Produces minimal hemodynamic effects.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1011Fentanyl-markdown297" class="show-list-numbers-and-dots"></div>
    <div id="protocol1011Fentanyl-button-bar5" class="button-bar"></div>
    <div id="protocol1011Fentanyl-button-bar6" class="button-bar"></div>
    <h5 id="protocol1011Fentanyl-heading147" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1011Fentanyl-heading148" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>