<ion-view title="Protocol 300 - Chest Pain" id="page53">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol300ChestPain-heading259" style="color:#000000;text-align:center;">Chest Pain</h2>
    <h4 id="protocol300ChestPain-heading261" style="color:#000000;text-align:center;">Acute Coronary Syndrome</h4>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol300ChestPain-container11">
      <div id="protocol300ChestPain-markdown388" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol300ChestPain-markdown394" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOTE:</strong>
      </p>

      <p style="color:#000000;"> The goals of chest pain protocol include: </p>

      <ol>
        <li>The prevention of and resuscitation from sudden cardiac death. .</li>
        <li>Prompt Transport for reperfusion therapy (Thrombolytics) or PCI. </li>
        <li>The reduction of myocardial ischemia. </li>
        <li>The relief of pain and anxiety. </li>
        <li>Prevent sudden cardiac death due to VF or hypotension from bradycardic rhythms that can occur with acute ischemia.</li>
        <li>Half of the patients who die of ACS do so before reaching the hospital. VF or Pulseless VT is the precipitant rhythm in most of these deaths. </li>
        <li>VF is most likely to develop during the first 4 hours after onset of symptoms. </li>
      </ol>
    </div>
    <div id="protocol300ChestPain-markdown395" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="width: 748px; height: 16px;"></div>
    <div id="protocol300ChestPain-markdown396" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Sings and Symptoms:</strong>
      </p>

      <p style="color:#000000;">The most common sign of myocardial ischemia and infarction is RETROSTERNAL CHEST DISCOMFORT. The patient may perceive this discomfort more as pressure or tightness than actual pain. </p>

      <p style="color:#000000;">
        <strong>Symptoms suggestive of ACS may also include:</strong>
      </p>

      <ol>
        <li>Uncomfortable pressure, fullness, squeezing, or pain in the center of the chest lasting several minutes (usually more than a few minutes).</li>
        <li>Chest discomfort spreading to the shoulders, neck, one or both arms, or jaw. </li>
        <li>Chest discomfort spreading into the back or between the shoulder blades. </li>
        <li>Chest discomfort with lightheadedness, fainting, sweating or nausea. </li>
        <li>Unexplained, sudden shortness of breath, which may occur with or without chest discomfort. </li>
      </ol>

      <p style="color:#000000;">
        <strong>Other potentially lethal conditions that may mimic ACS by causing acute chest pain or discomfort may include:</strong>
      </p>

      <ol>
        <li>Aortic dissection.</li>
        <li>Acute pulmonary embolism. </li>
        <li>Acute pericardial effusion with tamponade. </li>
        <li>Tension pneumothorax. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol300ChestPain-markdown434" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol300ChestPain-markdown435" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EMT</strong>
      </p>

      <ol>
        <li>Conduct a prompt and targeted evaluation. </li>
        <li>Obtain brief history including "OPQRST" and "SAMPLE."</li>
        <li>Obtain past medical history and secure all medications to be taken with patient. </li>
        <li>Determine whether the patient (male or female) has taken erectile dysfunction medications such as Viagra, Levitra, or Cialis within the last 24 hours. </li>
        <li>Brief physical exam and obtain all Vital Signs with oximetry (baseline saturation before oxygen, if possible).</li>
        <li>Provide oxygen (use non-rebreather mask or nasal cannula as needed to maintain 02 saturations at 94%). </li>
        <li>
          <p style="color:#000000;">Apply ECG patches if able. </p>
          <p style="color:#000000;">
            <strong>Contact OLMC if patient assisted medications are to be used</strong>
          </p>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>324mg
              <a href="#/Tabs_Controller/Protocol_1004">Aspirin</a>
              ,</strong> preferably chewed, if patient is &gt;18 years old and no reported allergies to aspirin. Adminster even if patient takes a daily aspirin dose.</p>
        </li>
        <li>Assist patient with prescribed nitroglycerin: 1 pill sublingual every 5 minutes, up to 3 doses, as long as symptoms persist and SBP &gt;100mmHg. </li>
        <li>Do not administer Nitroglycerin if patient (male or female) has taken erectile dysfunction medications within 24 hours. </li>
        <li>Keep seated or semi-reclined. If alert and stable vital signs, allow position of comfort or supine as tolerated. </li>
        <li>Reassure and keep calm. </li>
        <li>Treat for shock if necessary. </li>
      </ol>
    </div>
    <div id="protocol300ChestPain-markdown436" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol300ChestPain-markdown437" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT</strong>
      </p>

      <ol>
        <li>
          <strong>Ensure above is done.</strong>
        </li>
        <li>Auscultate breath sounds. </li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available. </li>
        <li>Establish IV with NS (250mL bolus if systolic BP &lt;100) set rate @ TKO. </li>
        <li>Obtain 12 lead ECG and transmit to STEMI/PCI receiving facility. </li>
        <li>All ECG's suggestive of acute MI should be immediately transmitted to a STEMI/PCI receiving center. </li>
      </ol>

      <hr>

      <p style="color:#000000;">
        <strong>Contact Medical Control for all medications orders:</strong>
      </p>

      <ol>
        <li>Baby
          <a href="#/Tabs_Controller/Protocol_1004">Aspirin</a> x4 Chewed if not already given. </li>
        <li>
          <strong>If 12 lead ECG showed Acute Inferior Wall MI (elevation in II, III and aVF) hold
            <a href="#/Tabs_Controller/Protocol_1019">Nitroglycerin</a> until contact Medical Control for directions (
            <a href="#/Tabs_Controller/Protocol_1019">Nitroglycerin</a> can lower preload, a fluid bolus may be required prior to giving
            <a href="#/Tabs_Controller/Protocol_1019">Nitroglycerin</a>).</strong>
        </li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1019">Nitroglycerin</a> 0.4mg Tablet/Spray q 5 minutes to maximum of 3 doses WITH VITAL SIGNS TAKEN BEFORE AND AFTER EACH DOSE (Withhold if systolic BP&lt;110) if not already given and 12 lead does not show an Inferior wall MI.</strong>
        </li>
        <li>
          <strong>Normal Saline 250-500mL</strong> IV bolus if patient is hypotensive, use caution with a history or evidence of congestive heart failure. </li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1017">Morphine</a> 2mg</strong> IV if chest pain is moderate to severe and unrelieved by 3 doses of NTG if vital signs tolerate and Systolic BP &gt;110. </li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> 1mg/kg</strong> IV for multifocal PVC's, PVC's &gt;6 minutes, couplets, or runs of VT.</li>
        <li>Initial bolus should be followed with
          <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> 0.5mg/kg doses q 10 minutes to a total dose of 3mg/kg. A Lidocaine drip may be ordered by
          <strong>OLMC.</strong>
        </li>
        <li>Begin transport as soon as possible to allow early reperfusion therapy. </li>
        <li>Upgrade call to DELTA/ECHO if not done. </li>
        <li>If cardiac arrest develops, use appropriate Protocol. </li>
        <li>If nausea-vomiting, see
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol300ChestPain-markdown439" class="show-list-numbers-and-dots"></div>
    <div id="protocol300ChestPain-markdown441" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol300ChestPain-markdown442" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PARAMEDIC</strong>
      </p>

      <p style="color:#000000;">
        <strong>Ensure all the above has been done</strong>
      </p>

      <ol>
        <li>Obtain 12 lead ECG if not already done and transmit. </li>
        <li>Avoid use of
          <a href="#/Tabs_Controller/Protocol_1019">Nitroglycerin</a> with inferior wall MI, consult
          <strong>OLMC</strong> if use is appropriate for a specific patient, consider
          <strong>250-500mL</strong> fluid bolus if appropriate while contacting
          <strong>OLMC</strong>. </li>
        <li>Continue use of
          <a href="#/Tabs_Controller/Protocol_1017">Morphine</a>, and
          <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> as indicative. </li>
        <li>
          <p style="color:#000000;">Start
            <strong>
              <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> gtt @2mg/min if boluses were given</strong> using a flow restrictive device. </p>
          <ul>
            <li>1mg/min - 15 gtts per mL. </li>
            <li>2mg/min - 30 gtts per mL </li>
            <li>3mg/min - 45 gtts per mL </li>
            <li>4mg/min - 60 gtts per mL </li>
          </ul>
        </li>
        <li>
          <p style="color:#000000;">Ensure rapid transport to hospital to facilitate thrombolytic therapy. </p>
        </li>
        <li>Anticipate cardiac arrest and be prepared to give ACLS/advanced airway as needed. </li>
        <li>Anticipate arrhythmias and be prepared for cardioversion or pacing as needed. </li>
        <li>If cardiac arrest develops, use appropriate protocol. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="protocol300ChestPain-list194">
      <div class="item item-body" id="protocol300ChestPain-list-item-container136">
        <div id="protocol300ChestPain-markdown458" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#FF0000;">
            <strong>Medical Control Option</strong>
          </p>

          <p style="color:#FF0000;">
            <a href="#/Tabs_Controller/Protocol_1011">Fentanyl</a> may be substituted in the case of an Inferior Wall MI, as
            <a href="#/Tabs_Controller/Protocol_1017">Morphine</a> can cause a drop in preload and cause or worsen existing hypotension. </p>
        </div>
      </div>
    </ion-list>
    <div id="protocol300ChestPain-markdown450" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol300ChestPain-heading260" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol300ChestPain-markdown456" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>