<ion-view title="Protocol 719 - Pediatric Spinal Cord Injury" id="page139">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol719PediatricSpinalCordInjury-heading764" style="color:#000000;text-align:center;">PEDIATRIC SPINAL CORD INJURY</h3>
    <div id="protocol719PediatricSpinalCordInjury-container97">
      <div id="protocol719PediatricSpinalCordInjury-markdown1752" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol719PediatricSpinalCordInjury-markdown1763" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol719PediatricSpinalCordInjury-heading765" style="color:#000000;">Goals</h4>
    <div id="protocol719PediatricSpinalCordInjury-markdown1764" class="show-list-numbers-and-dots">
      <ol>
        <li>Protection of the patient against further injury.</li>
        <li>Maintenance of vital functions in patients with suspected or actual spinal cord injury.</li>
        <li>Maintenance of perfusion to the damaged spinal cord to reduce changes of edema and further insult.</li>
        <li>Data recording for serial evaluation of the patient.</li>
        <li>Psychological support in the early management of the patient with spinal cord injury.</li>
        <li>Facilitation of entry of the patient into a trauma system designated to care for these patients.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol719PediatricSpinalCordInjury-heading771" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol719PediatricSpinalCordInjury-markdown1779" class="show-list-numbers-and-dots">
      <ol>
        <li>Patents with blunt or penetrating trauma near or in area of spinal column.</li>
        <li>Patients with numbness, weakness or other neurologic deficits after trauma.</li>
        <li>Mechanism suggestive of potential spine injury such as:
          <ul>
            <li>MVA </li>
            <li>Bicycle accident. </li>
            <li>Blunt facial trauma. </li>
            <li>Fall. </li>
            <li>GSW near the midline.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol719PediatricSpinalCordInjury-heading766" style="color:#000000;">Key Considerations:</h4>
    <div id="protocol719PediatricSpinalCordInjury-markdown1765" class="show-list-numbers-and-dots">
      <ol>
        <li>Spinal Immobilization criteria - Immobilize patient with cervival collar and spine board if there is a traumatic mechanism of injury and
          <strong>any</strong> of the below criteria are met.</li>
        <li>Spinal immobilization should be considered a treatment or prevententive therapy.</li>
        <li>Patients who are likely to benefit from immobilization should undergo this treatment.</li>
        <li>Patients may not need immobilized providing they do not meet any of the spinal immobilization criteria as listed above
          <strong>and</strong> the provider's clinical judgment also determines no need for immobilization.</li>
        <li>Ambulatory patients who are alert and cooperative may be safely immobilized on a gurney with cervical collar and straps and will not generally require a spine board unless they meet any of the spinal immobilization criteria as listed:
          <ul>
            <li>Age &lt;8. </li>
            <li>Patient complains of neck or spine pain. </li>
            <li>There is any nexk or spinal tenderness. </li>
            <li>There is any abnormal mental staus or GCS &lt;15. </li>
            <li>There is any evidence of alcohol or drug intoxication. </li>
            <li>There are other severely painful or disctracting injuries present.
              <br>
              <strong>CONTACT OLMC FOR FURTHER INSTRUCTIONS IF THE PATIENT OR PATIENT'S GUARDIAN REFUSES IMMOBILIZATION DESPITE THE PROVIDER'S ASSESSMENT FOR THE NEED FOR SPINAL IMMOBILIZIATION.</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol719PediatricSpinalCordInjury-markdown1766" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol719PediatricSpinalCordInjury-markdown1767" class="show-list-numbers-and-dots"></div>
    <div id="protocol719PediatricSpinalCordInjury-markdown1768" class="show-list-numbers-and-dots"></div>
    <div id="protocol719PediatricSpinalCordInjury-markdown1769" class="show-list-numbers-and-dots"></div>
    <div id="protocol719PediatricSpinalCordInjury-markdown1770" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol719PediatricSpinalCordInjury-heading767" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol719PediatricSpinalCordInjury-markdown1771" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Full set of Vital Signs including blood glucose.</li>
        <li>Evaluate the mechanism of injury. </li>
        <li>Assess exposure to drugs, alcohol or other toxins including environmental toxins.</li>
        <li>Assess history of arthritis, cancer, or other possible spine/bone diseases.</li>
        <li>Assess environment, location of patient, and need for extrication.</li>
        <li>If spinal immobilization is to be applied:
          <ul>
            <li>Explain the need for spinal immobilization to the patient. </li>
            <li>Apply appropriate cervical immobilization. </li>
            <li>Apply appropriate backboard and security straps. </li>
            <li>PEDS - Use a pediatric specific backboard for those &lt;8 years old
              <strong>OR</strong> use a towel or pad to raise the child's body (not their haead) to ensure appropriate spinal alignment on an adult board. </li>
            <li>Age &lt;2 should be immobilized in a car seat or age appropriate papoose device. </li>
            <li>Assess neurological fuction before, during, and after application of spinal immobilization. </li>
            <li>Children who are &lt;5 years old should be immobilized until evaluation at the hospital if the mechanism is suspicious. </li>
            <li>Children &lt;8 years old cannot have their C-Spine cleared in the field. </li>
          </ul>
        </li>
        <li>Follow Appropriate
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_700">Protocol 700: Pediatric Assessment</a>
          </strong> series as needed based on applicable trauma guidelines.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol719PediatricSpinalCordInjury-markdown1773" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol719PediatricSpinalCordInjury-heading770" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol719PediatricSpinalCordInjury-markdown1778" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>