<ion-view title="Protocol 306 - Altered Level Of Consciousness" id="page59">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol306AlteredLevelOfConsciousness-heading293" style="color:#000000;text-align:center;">ALTERED LEVEL OF CONSCIOUSNESS</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol306AlteredLevelOfConsciousness-container17">
      <div id="protocol306AlteredLevelOfConsciousness-markdown516" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol306AlteredLevelOfConsciousness-markdown517" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The primary concern in a patient who has a serious alteration in consciousness is AIRWAY PROTECTION. Protective reflexes such as cough and gag are lost and aspiration is an ever present danger in these patients and can be lethal.
        <br>The Specific goals of protection are:</p>

      <ol>
        <li>To protect the patients from physical or environmental harm.</li>
        <li>To protect the patient's brain from injury due to lack of oxygen or glucose.</li>
        <li>To protect the patient from aspiration.</li>
        <li>To reverse several underlying causes of coma that may be present, such as hypoglycemia or opiate depression.</li>
        <li>To gather information for hospital personnel.</li>
      </ol>
    </div>
    <div id="protocol306AlteredLevelOfConsciousness-markdown518" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol306AlteredLevelOfConsciousness-markdown519" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol306AlteredLevelOfConsciousness-heading299" style="color:#000000;">Key Considerations for all providers:</h4>
    <div id="protocol306AlteredLevelOfConsciousness-markdown520" class="show-list-numbers-and-dots">
      <ol>
        <li>Alteration in normal mental status including: confusion unusual behavior, or unresponsiveness to verbal or painful stimulus.</li>
        <li>Non-accidental trauma especially in pediatric and elderly patients.</li>
        <li>Hypoglycemia, especially in pediatric patients.</li>
        <li>Pediatric lowest acceptable systolic blood pressures are birth to 1 month =60 mmHg, 1 month to 1 year = 70 mmHg, 1 year to 10 years = 70 mmHg+(age x 2) and over 10 years = 90 mmHg.</li>
        <li>If poisoning suspected, contact OLMC, for guidance.</li>
        <li>Assess for possible overdoses, substance abuse or other potential toxin. Evaluate the scene for supportive evidence.</li>
        <li>Gather and collect any evidence on scene that may assist in the treatment of the paitent.</li>
        <li>
          <strong>A E I O U T I P P S:</strong> Possible causes of Altered Mental Status.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div></div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>A-Alcohol</b>
            </td>
            <td>
              <b>T-Trauma/temp</b>
            </td>
          </tr>
          <tr>
            <td>
              <b>E-Electrolytes</b>
            </td>
            <td>
              <b>I-Infection</b>
            </td>
          </tr>
          <tr>
            <td>
              <b>I-Insulin</b>
            </td>
            <td>
              <b>P-Psychogenic</b>
            </td>
          </tr>
          <tr>
            <td>
              <b>O-Opiates</b>
            </td>
            <td>
              <b>P-Poison</b>
            </td>
          </tr>
          <tr>
            <td>
              <b>U-Uremia</b>
            </td>
            <td>
              <b>S-Shock/Seizure</b>
            </td>
          </tr>


        </tbody>
      </table>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol306AlteredLevelOfConsciousness-markdown521" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol306AlteredLevelOfConsciousness-heading294" style="color:#000000;">EXCLUSIONS:</h4>
    <div id="protocol306AlteredLevelOfConsciousness-markdown522" class="show-list-numbers-and-dots">
      <ol>
        <li>Head injury or other trauma.</li>
        <li>Shock or serious cardiac arrhythmia.</li>
        <li>If any of above presents, go immediately to proper Protocol.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol306AlteredLevelOfConsciousness-markdown523" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol306AlteredLevelOfConsciousness-heading295" style="color:#000000;">NOTE:</h4>
    <div id="protocol306AlteredLevelOfConsciousness-markdown524" class="show-list-numbers-and-dots">
      <ol>
        <li>Although alcohol is a common cause of alteration of consciousness, it is not commonly a cause of frank coma--total unresponsiveness to pain. In these protocols,
          <strong>NO JUDGEMENT IN THE FIELD IS TO BE MADE ON THE IMPORTANCE OF ALCOHOL AS THE CAUSE OF THE PRESENTING SIGNS AND SYMPTOMS.</strong> For practical purposes, and for the sake of the patient, no one is "just drunk".</li>
      </ol>
    </div>
    <div id="protocol306AlteredLevelOfConsciousness-markdown525" class="show-list-numbers-and-dots"></div>
    <div id="protocol306AlteredLevelOfConsciousness-markdown526" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol306AlteredLevelOfConsciousness-markdown527" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol306AlteredLevelOfConsciousness-heading296" style="color:#000000;">EMT</h4>
    <div id="protocol306AlteredLevelOfConsciousness-markdown528" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>ASSESS LEVEL OF CONSCIOUSNESS</strong> and maintain
          <strong>AIRWAY</strong> as indicated.</li>
        <li>Focused history and physical exam.</li>
        <li>Blood glucose, oxygen saturation and temperature assessment.</li>
        <li>Assess for trauma. </li>
        <li>Assess for stroke and score using CSS consider
          <a href="#/Tabs_Controller/tab1/Protocol_307">PROTOCOL 307: Suspected CVA-TIA</a>.</li>
        <li>Place patient in left lateral recumbent position to prevent aspiration. (Full spinal
          <strong>stabilization precautions considered).</strong>
        </li>
        <li>
          <strong>SUCTION</strong> as necessary</li>
        <li>
          <strong>ASSIST VENTILATION</strong>.</li>
        <li>If oxygen is applied use NC if possible to keep sat &gt;94%, if unable to obtain then a nonreabreather mask is used.</li>
        <li>Anticipate vomiting and ensure the airway is monitored and protected at all times.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol306AlteredLevelOfConsciousness-markdown529" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="protocol306AlteredLevelOfConsciousness-heading300" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol306AlteredLevelOfConsciousness-markdown530" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure all above is completed.</li>
        <li>Continuous ECG monitor, ETCO2, and Pulse oximetry monitoring when available.</li>
        <li>Start IV with NS TKO or saline lock unless hypotensive (systolic &lt;100) then give 250 ml bolus may repeat x 1.</li>
        <li>Obtain a 12 kead ECG if availbale.</li>
        <li>
          <strong>CHECK GLUCOMETER READING - IF BELOW 60 mg/dl</strong> then administer
          <strong>25 gm of
            <a href="#/Tabs_Controller/protocol_1008">Dextrose D50</a>
            .</strong> IV PUSH. If no IV access after 2 attempts, consider
          <strong>
            <a href="#/Tabs_Controller/Protocol_1012">Glucagon</a> 1 mg IM.</strong>
        </li>
        <li>
          <strong>CHECK FOR </strong> Narcotic Ingestion (respiratory depression, history of narcotic usage, constricted pupils, drug vials or paraphenalia near patient), If any of these present, give
          <strong>
            <a href="#/Tabs_Controller/Protocol_1018">Naloxone</a> 1-2 mg (per dose) IV/IM/IO/ or intranansal (atomizer). May repeat x 1</strong>
        </li>
        <li>Consider physical restraints as needed to protect the patient and/or personnel.</li>
        <li>Contact OLMC: Consider
          <a href="#/Tabs_Controller/tab1/Protocol_803">Protocol 803: Restraints Physical - Violent Patient/Chemical Sedation</a>.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol306AlteredLevelOfConsciousness-markdown532" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol306AlteredLevelOfConsciousness-heading301" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol306AlteredLevelOfConsciousness-markdown533" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure all above is completed.</li>
        <li>
          <strong>INTUBATE</strong> if paitent remains unresponsive without gag after initial treatment unless Advanced airway is in place.</li>
        <li>
          <strong>TRANSPORT,</strong> perform and document frequent vitals and neurological exams.</li>
        <li>
          <strong>CONSULT</strong> Medical control.</li>
      </ol>
    </div>
    <h5 id="protocol306AlteredLevelOfConsciousness-heading298" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol306AlteredLevelOfConsciousness-markdown531" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>