<ion-view title="Protocol 503 - Spinal Cord Injury" id="page81">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol503SpinalCordInjury-heading452" style="color:#000000;text-align:center;">SPINAL CORD INJURY</h3>
    <div id="protocol503SpinalCordInjury-container39">
      <div id="protocol503SpinalCordInjury-markdown889" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol503SpinalCordInjury-markdown890" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol503SpinalCordInjury-markdown907" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The goals of this Protocol are: </p>

      <ul>
        <li>Maintenance of ventilation and perfusion. </li>
        <li>Prevention of futher injury by proper hadeling. </li>
        <li>Transport of the patient to a trauma center.</li>
      </ul>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol503SpinalCordInjury-markdown908" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol503SpinalCordInjury-heading453" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol503SpinalCordInjury-markdown891" class="show-list-numbers-and-dots">
      <ol>
        <li>Spinal Immobilization criteria - Immobilize patients with a cervical collar and spine board if there is a traumatic mechanism of injury and
          <strong>any</strong> of the below criteria are met:
          <ul>
            <li>Age &lt;8 or &gt;65 </li>
            <li>Patient complains of neck or spine pain. </li>
            <li>There is any neck or spinal tenderness. </li>
            <li>There is any abnormal mental staus or GCS&lt;15. </li>
            <li>There is any evidence of alcohol or drug intoxication. </li>
            <li>There are other severely painful or distracting injuries present. </li>
            <li>Any patient that the medic feels should be immobilized, based on the clinical judgment of the patient or situation.</li>
          </ul>
        </li>
        <li>Mechanism suggestive of potential spine injury, such as:
          <ul>
            <li>MVA </li>
            <li>Blunt facial trauma. </li>
            <li>GSW near midline. </li>
            <li>Fall.</li>
          </ul>
        </li>
        <li>If spinal immobilization is to be applied:
          <ul>
            <li>Explain the need for spinal immobilization to the patient. </li>
            <li>Apply appropriate cervical immobilization. </li>
            <li>Apply appropriate backboard and security straps. </li>
            <li>PEDS- Use a pediatric specific backboard for those &lt;8 years old or use a towel or pad to raise the child's body (not their head) to insure appropriate spinal alignment on the adult board. Age &lt;2 should be immobilized in a car seat or
              age appropriate papoose device. </li>
            <li>Spinal immobilization should be considered a treatment of preventative thearpy. </li>
            <li>Patients who are likely to beniefit from immobilization should undergo this treatement. </li>
            <li>Patients who are not likely to benefit from immobilization, who have a low likelihood of spinal injury, may not be immobilized providing they do not meet any of the spinal immobilization criteria as listed above. </li>
            <li>Ambulatory patients who are alert and cooperative may be safely immobilized on a gurney with cervical collar and straps and will not generally require a spine board unless they meet any of the spinal immobilization vriteria as listed above.
              </li>
            <li>Contact OLMC for further instructions if the patient reguses immobilization despite the provider's assessment for the need for spinal immobilization.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div id="protocol503SpinalCordInjury-markdown892" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="protocol503SpinalCordInjury-markdown893" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <h4 id="protocol503SpinalCordInjury-heading456" style="color:#000000;">EMT</h4>
    <div id="protocol503SpinalCordInjury-markdown897" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical examination.</li>
        <li>Blood glucose, Oxygen and Temperature assessment.</li>
        <li>Evaluate the mechanism of injury.</li>
        <li>Assess exposure to drugs, alcohol or other toxins including environmental toxins.</li>
        <li>Assess history of arthritis, cancer, or other possible spine/bone diseases.</li>
        <li>Assess environment, location of patietn, and need for extrication.</li>
        <li>As appropriate, determine if pregnant and place in left lateral decubitus postion if &gt;20 weeks gestation.</li>
        <li>Assess neurological function before, during and after application of spinal immobilization.</li>
        <li>SUPPORT AND REASSURE PATIENT. Explain all procedures. make no definitive comments regarding prognosis, extent of injury, etc. MANUALLY IMMOBILIZE C-spine until adequately secured.</li>
        <li>AIRWAY-OXYGEN Non-rebreather mask at 15L. ASSIST VENTILATION as needed.</li>
      </ol>
    </div>
    <div id="protocol503SpinalCordInjury-markdown898" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol503SpinalCordInjury-markdown899" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol503SpinalCordInjury-markdown900" class="show-list-numbers-and-dots"></div>
    <div id="protocol503SpinalCordInjury-markdown901" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol503SpinalCordInjury-heading457" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol503SpinalCordInjury-markdown902" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete. </li>
        <li>Continuous ECG, ETC02, and Pulse Oximetry monitoring when available.</li>
        <li>ASSES PERFUSION.</li>
        <li>ADEQUATE PERFUSION - IV Large bore NS at slow-moderate rate, goal is to maintain systolic BP within normal range.</li>
        <li>POOR PERFUSION (altered mentation, cool extremities, hypotension), then immediately institute following measures:
          <br>a. Run NS wide open for 2 liters; start second IV if possible. Monitor lung sounds and respiratory status.
          <br>b. Rapidly but carefully IMMOBILIZE and EXPEDITE TRANSPORT</li>
        <li>EXTRICATE WITH CARE</li>
        <li>DOCUMENT carefully initial and subsequent neurolgical exam findings.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol503SpinalCordInjury-markdown903" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol503SpinalCordInjury-heading458" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol503SpinalCordInjury-markdown904" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete. </li>
        <li>Consider advanced airway if airway compromised or unable to keep oxygen or Capnography within normal limits.</li>
        <li>Maintain strict in-line stabilization during procedure.</li>
        <li>Contact OLMC</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol503SpinalCordInjury-markdown905" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol503SpinalCordInjury-heading485" style="color:#000000;">Medical Control Options - Must contact prior to administration</h4>
    <div id="protocol503SpinalCordInjury-markdown1045" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Hypotension refractory to fluid boluses</strong>
      </p>

      <ol>
        <li>Additional IV Bolus</li>
        <li>Small dose of
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> IV as directed by Medical Control Physician. </li>
        <li>
          <p style="color:#000000;">If patient becomes severely hypotensive (SBP &lt;90) and symptomatic and remains hypotensive despite fluid boluses:</p>
          <p style="color:#000000;">
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
            <strong>2-10 mcg/min</strong> start at
            <strong>2mcg/min</strong>. Titrate systolic BP until it reaches 90-100 mmHg. Mix
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
            <strong>2mg 1:1000</strong> in 1000 mL NS which yields 0.002mg/mL (2mcg/mL) use dial-a-flow extension set following the chart below. </p>
        </li>
      </ol>
    </div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>





    </div>
    <h5 id="protocol503SpinalCordInjury-heading459" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol503SpinalCordInjury-markdown906" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>