<ion-view title="Protocol 502 - Head Trauma" id="page80">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol502HeadTrauma-heading442" style="color:#000000;text-align:center;">HEAD TRAUMA</h3>
    <div id="protocol502HeadTrauma-container38">
      <div id="protocol502HeadTrauma-markdown865" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol502HeadTrauma-markdown867" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol502HeadTrauma-heading445" style="color:#000000;">ALL PROVIDERS</h4>
    <div id="protocol502HeadTrauma-markdown868" class="show-list-numbers-and-dots">
      <ol>
        <li>The goals of this Protocol are:
          <ul>
            <li>To maintain the airway and circulatory status of the head-injured patient and protect the spine. </li>
            <li>To record an initial neurological examination. </li>
            <li>To institute measures that may reduce intracranial pressure. </li>
            <li>To rapidly transport patients who may require neurosurgical intervention. </li>
            <li>
              <strong>TBI (Traumatic Brain Injury)</strong> may be painful; however, pain medications can cloud serial neurological assessments. Routine pain medications should not be administered to a paitent with altered mednatl status after TBI. </li>
            <li>Paitents with TBI may be confused or combative. Consider restraints if needed to protect everyone. </li>
            <li>Loss of memory, prolonged confusion or altered mental status associated with trauma may indicate a significant head injury.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div id="protocol502HeadTrauma-markdown874" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="protocol502HeadTrauma-markdown875" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <h4 id="protocol502HeadTrauma-heading450" style="color:#000000;">INDICATIONS:</h4>
    <div id="protocol502HeadTrauma-markdown886" class="show-list-numbers-and-dots">
      <ol>
        <li>All patients with head injuries who:
          <ul>
            <li>Unresponsive to verbal stimuli or major alteration in mental status.
              <br>b. Have a Glasgow coma score (GCS) of 13 or less or deteriorate more than 1 point on the GCS.
              <br>c. Exhibit unilateral or bilateral flexor response (decorticate posturing) or extensor response (decerebrate posturing) to pain.
              <br>d. Develop unequal pupils with a decreased level of consciousness.
              <br>e. Exhibit focal neurological deficits.</li>
          </ul>
        </li>
      </ol>
    </div>
    <h4 id="protocol502HeadTrauma-heading451" style="color:#000000;">EXCLUSIONS:</h4>
    <div id="protocol502HeadTrauma-markdown888" class="show-list-numbers-and-dots">
      <ol>
        <li>Systolic blood pressure less than 100 or other signs of poor perfusion or significant bleeding, of if any evidence of major non-CNS unjury, use
          <a href="#/Tabs_Controller/tab1/Protocol_501">Protocol 501: Major or Multisystem Trauma</a>. </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="protocol502HeadTrauma-markdown887" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <h4 id="protocol502HeadTrauma-heading479" style="color:#000000;">Mild Hyperventilation Guide:</h4>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b> AGE </b>
            </td>
            <td>
              <b>Normal Target RR</b>
            </td>
            <td>
              <b>10% Increase in RR</b>
            </td>
          </tr>
          <tr>
            <td>0 days - &lt; 2 months</td>
            <td>30</td>
            <td>33</td>
          </tr>
          <tr>
            <td>2 - &lt; 12 months</td>
            <td>25</td>
            <td>28</td>
          </tr>
          <tr>
            <td>12 months - 3 yrs</td>
            <td>20</td>
            <td>22</td>
          </tr>
          <tr>
            <td>4 - &lt; 6 yrs</td>
            <td>15</td>
            <td>17</td>
          </tr>
          <tr>
            <td>6 yrs - Adult</td>
            <td>12</td>
            <td>14</td>
          </tr>
        </tbody>
      </table>




    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="protocol502HeadTrauma-markdown1042" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <h4 id="protocol502HeadTrauma-heading446" style="color:#000000;">EMT</h4>
    <div id="protocol502HeadTrauma-markdown876" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical examination.</li>
        <li>AIRWAY: Assure airway patency and adequate ventilation.
          <strong>OXYGEN 15 L/min via NRB.</strong> Suction must be readily available.</li>
        <li>IMMOBILIZE C-Spine with rigid collar, head immobilization device and backboard. Consider elevating head of spinal board or stretcher 30 degrees.</li>
        <li>Document a GCS for the patient.</li>
        <li>Open skill fractures should be covered with
          <strong>non-pressure</strong> dry sterile dressings.</li>
      </ol>
    </div>
    <div id="protocol502HeadTrauma-markdown877" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol502HeadTrauma-markdown878" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol502HeadTrauma-markdown879" class="show-list-numbers-and-dots"></div>
    <div id="protocol502HeadTrauma-markdown880" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol502HeadTrauma-heading447" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol502HeadTrauma-markdown881" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete. </li>
        <li>Do not hyperventilate excessively. If patient has an obvious unilateral pupillary dilation, increase respiratory rate by 10% above normal target respiratory rate (RR) until the patient improves Hyperventilation below a ETC02 of 30 mmHg is discouraged.</li>
        <li>
          <strong>BEGIN TRANSPORT</strong> and monitor the level of consciousness.</li>
        <li>Ventilate to
          <strong>Maintain EtC02 between 35-40 mmHg</strong> when capnography is available.</li>
        <li>IV NS TKO or saline lock--unless patient develops hypotension or other sign of shock, then run 500cc bolus and contact OLMC.</li>
        <li>Check glucose</li>
        <li>Document SERIAL VITAL SIGNS, GCS, and NEURO EXAMS.</li>
        <li>Continuous ECG, ETC02, and Pulse Oximetry monitoring when available.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol502HeadTrauma-markdown882" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol502HeadTrauma-heading448" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol502HeadTrauma-markdown883" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete. </li>
        <li>INTUBATION immedieately if unable to maintain airway patency or adequate ventilation (Use Endotracheal Intubation procedure Protocol.)</li>
        <li>Give
          <strong>LIDOCAINE</strong> 1 mg/kg IV push 60-90 seconds prior to intubation (if IV access readily available).</li>
        <li>Maintain in-line stabilization of cervical spine.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol502HeadTrauma-markdown884" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol502HeadTrauma-heading482" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol502HeadTrauma-markdown1044" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Hypotension refractory to fluid boluses</strong>
      </p>

      <ol>
        <li>
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
          <strong>2-10 mcg/min</strong> start at
          <strong>2mcg/min</strong>. Titrate systolic BP until it reaches 90-100 mmHg. Mix
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
          <strong>2mg 1:1000</strong> in 1000 mL NS which yields 0.002mg/mL (2mcg/mL) use dial-a-flow extension set following the chart below. </li>
      </ol>
    </div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>




    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol502HeadTrauma-markdown1043" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol502HeadTrauma-heading449" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol502HeadTrauma-markdown885" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>