<ion-view title="Protocol 301 - Shock" id="page54">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol301Shock-heading262" style="color:#000000;text-align:center;">Shock</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol301Shock-container12">
      <div id="protocol301Shock-markdown426" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol301Shock-markdown451" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This Protocol addresses the management of patients with poor generalized perfusion caused by one of the following:</p>
    </div>
    <div id="protocol301Shock-markdown427" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The goals of chest pain protocol include: </p>

      <ol>
        <li>
          <strong>FLUID</strong> problems. </li>
        <li>
          <strong>PUMP</strong> problems - Inadequate pumping of the heart, through weakness or death of cardiac muscle, a valvular dysfunction, or abnormal rhythms (i.e., cardiogenic shock).</li>
        <li>
          <strong>VESSEL</strong> problems - Loss of vessel tone due to autonomic imbalance or biochemical effects on vascular smooth muscle (e.g., neurogenic, septic, and anaphylactic shock) or vascular obstruction (e.g., pulmonary embolism, tension pneumothorax,
          or cadiac tamponade).</li>
      </ol>
    </div>
    <div id="protocol301Shock-markdown431" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol301Shock-markdown452" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol301Shock-markdown432" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Patients in "SHOCK" for this Protocol will be defined as:</strong>
      </p>

      <ol>
        <li>All patients with a SYSTOLIC BLOOD PRESSURE OF
          <strong>80</strong>mmHg or less
          <br>
          <strong>OR</strong>
        </li>
        <li>
          <p style="color:#000000;">Patients with SYSTOLIC BLOOD PRESSURE OF
            <strong>80-100</strong>mmHg AND any of the following: </p>
          <p style="color:#000000;">
            <strong>a.</strong> Mental status change (decreased LOC, agitation, restlessness).
            <br>
            <strong>b.</strong> Cool, diaphoretic or pale skin.
            <br>
            <strong>c.</strong> Heart rate greater than 100/min.
            <br>
            <strong>d.</strong> Active bleeding or recent history of bleeding from bowel, stomach, or major vessels. </p>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol301Shock-markdown433" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol301Shock-markdown438" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EXCLUSIONS</strong>
      </p>

      <ol>
        <li>Patients with significant bradycardia or tachycardia (other than sinus tachycardia) should be treated initially with the appropriate
          <strong>CARDIAC ARRHYTHMIA PROTOCOL.</strong>
        </li>
        <li>Anaphylaxis or allergic reaction - follow
          <a href="#/Tabs_Controller/tab1/Protocol_310">PROTOCOL 310: Allergic Reaction/Anaphylaxis</a>
        </li>
        <li>Spinal cord injury - follow
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_503">PROTOCOL 503: Spinal Cord Injury</a>
          </strong>
        </li>
      </ol>
    </div>
    <div id="protocol301Shock-markdown440" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol301Shock-markdown443" class="show-list-numbers-and-dots"></div>
    <div id="protocol301Shock-markdown444" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 20px;"></div>
    <h5 id="protocol301Shock-heading264" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol301Shock-markdown449" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>