<ion-view title="Protocol 1009 - Epinephrine" id="page11">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1009Epinephrine-heading11" style="color:#000000;text-align:center;">EPINEPHRINE</h1>
    <h5 id="protocol1009Epinephrine-heading12" style="color:#000000;text-align:center;">Approved for Advanced CCEMS units only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1009Epinephrine-heading13" style="color:#000000;text-align:center;">Protocol 1009</h3>
    <div id="protocol1009Epinephrine-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1009Epinephrine-markdown21" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_101">101</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_102">102</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_103">103</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_104">104</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_105">105</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_201">201</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_302">302</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_303">303</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_304">304</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_310">310</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_311">311</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_312">312</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_313">313</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_314">314</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_315">315</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_318">318</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_401">401</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_500">500</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_502">502</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_503">503</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_504">504</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_602">602</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_609">609</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_702">702</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_704">704</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_707">707</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_709">709</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1009Epinephrine-heading14" style="color:#000000;text-align:center;">Class: Cardiac Stimulant</h4>
    <ion-list id="protocol1009Epinephrine-list47">
      <div class="item item-body" id="protocol1009Epinephrine-list-item-container9">
        <div id="protocol1009Epinephrine-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Increases Heart Rate
            <br>
            <strong>2.</strong> Increases Cardiac Contractile Force
            <br>
            <strong>3.</strong> Increases Electrical Activity in the Myocardium
            <br>
            <strong>4.</strong> Increases Blood Pressure
            <br>
            <strong>5.</strong> Lowers Threshold for Defibrillation
          </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1009Epinephrine-list48">
      <div class="item item-body" id="protocol1009Epinephrine-list-item-container10">
        <div id="protocol1009Epinephrine-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Cardiac Arrest (Asystole, VF, VT, PEA) - (EPI 1:10,000)
            <br>
            <strong>2.</strong> Severe Anaphylaxis (EPI 1:1,000)
            <br>
            <strong>3.</strong> Severe Reactive Airway Disease (EPI 1:1,000)
            <br>
            <strong>4.</strong> Give EPI 1:1000 SQ ONLY for allergic reactions, asthma </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1009Epinephrine-list49">
      <div class="item item-body" id="protocol1009Epinephrine-list-item-container11">
        <div id="protocol1009Epinephrine-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS:</strong>
          </p>

          <p style="color:#000000;">
            <strong>Cardiac Arrest: NONE</strong>
          </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1009Epinephrine-list50">
      <div class="item item-body" id="protocol1009Epinephrine-list-item-container12">
        <div id="protocol1009Epinephrine-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Hypertension
            <br>
            <strong>2.</strong> Increase Myocardial Oxygen Consumption
            <br>
            <strong>3.</strong> Nausea/Vomiting </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1009Epinephrine-heading15" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <h4 id="protocol1009Epinephrine-heading16" style="color:#000000;text-align:center;">Cardiac Arrest</h4>
    <ion-list id="protocol1009Epinephrine-list51">
      <div class="item item-body" id="protocol1009Epinephrine-list-item-container13">
        <div id="protocol1009Epinephrine-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>ADULT DOSE:</strong>
            <br>
            <strong>1.</strong> EPI
            <strong>1:10,000</strong> Solution 1.0mg IV/IO
            <br>
            <strong>2.</strong> Repeat every 3-5 minutes throughout the code.
            <br>
            <strong>3.</strong> After each dose by peripheral IV - Flush IV line with 20mL of NS and elevate arm to ensure delivery to the central circulation. </p>

          <p style="color:#000000;">
            <strong>PEDIATRIC DOSE:</strong>
            <br>
            <strong>1.</strong> 0.01mg/kg (0.1mL/kg) of 1:10,000 solution IV/IO (Max dose 1mg)
            <br>
            <strong>2. NEWBORN RESUSCITAION ONLY: Medical control option- Must contact prior to administration</strong>
            <br>
            <strong>a.</strong> 0.01-0.03 mg/kg (0.1-0.3 mL/kg) of 1:10,000 IV/IO
            <br>
            <strong>b.</strong> Repeat every 3-5 minutes until spontaneous heart rate remains &gt;60bmp. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h4 id="protocol1009Epinephrine-heading22" style="color:#000000;text-align:center;">Acute Allergic Reaction/Acute Asthma/Anaphylaxis</h4>
    <ion-list id="protocol1009Epinephrine-list54">
      <div class="item item-body" id="protocol1009Epinephrine-list-item-container16">
        <div id="protocol1009Epinephrine-markdown26" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>ADULT DOSE:</strong>
            <br>
            <strong>1.</strong> 0.3mg of
            <strong>1:1,000 Solution SQ x1 dose. Contact OLMC for additional dosage instructions</strong>
          </p>

          <p style="color:#000000;">
            <strong>PEDIATRIC DOSE:</strong>
            <br>
            <strong>1.</strong> 0.01 mg/kg of
            <strong>1:1,000 Solution SQ up to 0.3mg x1 dose. Contact OLMC for additional dosage instructions.</strong>
          </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h4 id="protocol1009Epinephrine-heading23" style="color:#000000;text-align:center;">Suspected Croup/Stridor</h4>
    <ion-list id="protocol1009Epinephrine-list55">
      <div class="item item-body" id="protocol1009Epinephrine-list-item-container17">
        <div id="protocol1009Epinephrine-markdown27" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Epinephrine (1:1,000) 2mL</strong> mixed with 3 mL of NS via nebulizer. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1009Epinephrine-list52">
      <div class="item item-body" id="protocol1009Epinephrine-list-item-container14">
        <div id="protocol1009Epinephrine-markdown19" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONSIDERATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Protect from light, discard if solution is not clear
            <br>
            <strong>2.</strong> DO NOT administer with bicarb, it will be deactivated
            <br>
            <strong>3.</strong> Monitor vital signs closely when given SQ </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1009Epinephrine-list53">
      <div class="item item-body" id="protocol1009Epinephrine-list-item-container15">
        <div id="protocol1009Epinephrine-markdown23" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Paramedic Only: EPI Drip</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong>Epinephrine 2-10mcg/min
            <br>
            <strong>2.</strong>Start at 2mcg/min
            <br>
            <strong>3.</strong>Titrate systolic BP until it reaches 90-100 mmHg
            <br>
            <strong>4.</strong>Mix Epinehprine 2mg of
            <strong>1:1000</strong> in 1000mL NS which yields 0.002 mg/mL.
            <br>
            <strong>5. Use Dial-a-flow extension set</strong>
          </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1009Epinephrine-markdown20" class="show-list-numbers-and-dots"></div>
    <div id="protocol1009Epinephrine-button-bar1" class="button-bar"></div>
    <div id="protocol1009Epinephrine-button-bar2" class="button-bar"></div>
    <h4 id="protocol1009Epinephrine-heading21" style="color:#000000;text-align:center;">EPI Drip Rate Table</h4>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>





    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol1009Epinephrine-heading19" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1009Epinephrine-heading20" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>