<ion-view title="Protocol 1002 - Albuterol" id="page12">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1002Albuterol-heading17" style="color:#000000;text-align:center;">Albuterol</h1>
    <h5 id="protocol1002Albuterol-heading18" style="color:#000000;text-align:center;">Approved for Advanced CCEMS units only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1002Albuterol-heading24" style="color:#000000;text-align:center;">Protocol 1002</h3>
    <div id="protocol1002Albuterol-markdown22" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1002Albuterol-markdown1999" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_310">310</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_401">401</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_702">702</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_704">704</a>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1002Albuterol-heading25" style="color:#000000;text-align:center;">Class: Bronchodilator</h4>
    <ion-list id="protocol1002Albuterol-list56">
      <div class="item item-body" id="protocol1002Albuterol-list-item-container18">
        <div id="protocol1002Albuterol-markdown25" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Causes prompt bronchodilation
            <br>
            <strong>2.</strong> Relaxes bronchial smooth muscle
            <br>
            <strong>3.</strong> Beta-2-Selective
            <br> </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1002Albuterol-list57">
      <div class="item item-body" id="protocol1002Albuterol-list-item-container19">
        <div id="protocol1002Albuterol-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Drug of choice to acute asthmatic attack, reactive airway states, or when audible wheezing is noted and oxygen is &lt;95% on room air.
            <br>
            <strong>2.</strong> Acute exacerbation of chronic bronchitis or emphysema.
            <br>
            <strong>3.</strong> Acute inhalation injury with associated wheezing. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1002Albuterol-list58">
      <div class="item item-body" id="protocol1002Albuterol-list-item-container20">
        <div id="protocol1002Albuterol-markdown29" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Hypersensitivity
            <br>
            <strong>2.</strong> Hypertension unless approved by OLMC
            <br>
            <strong>3.</strong> Concurrent chest pain (obtain a 12 lead and contact OLMC) </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1002Albuterol-list59">
      <div class="item item-body" id="protocol1002Albuterol-list-item-container21">
        <div id="protocol1002Albuterol-markdown30" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Tachycardia
            <br>
            <strong>2.</strong> Tremors
            <br>
            <strong>3.</strong> Dizziness </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1002Albuterol-heading26" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <h4 id="protocol1002Albuterol-heading27" style="color:#000000;text-align:center;">ADULTS AND CHILDREN</h4>
    <h4 id="protocol1002Albuterol-heading28" style="color:#000000;text-align:center;">2.5mg Prefilled Bullet</h4>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1002Albuterol-list60">
      <div class="item item-body" id="protocol1002Albuterol-list-item-container22">
        <div id="protocol1002Albuterol-markdown31" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>NEBULIZER</strong> Shall be given via nebulizer or specialized mask.
            <br>
            <strong>a.</strong> Set oxygen @ 6L/Min to deliver drug.
            <br>
            <strong>b.</strong> May repeat x1 in 15 minutes if needed.
            <br>
            <strong>c.</strong> Monitor for compliance and effectiveness. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1002Albuterol-list61">
      <div class="item item-body" id="protocol1002Albuterol-list-item-container23">
        <div id="protocol1002Albuterol-markdown32" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONSIDERATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Hold if baseline heart rate &gt;100 and increases more than 20BPM.
            <br>
            <strong>2.</strong> Hold if systolic blood pressure &gt;180 or diastolic BP &gt;100
            <br>
            <strong>3.</strong> Monitor vital signs before and after treatment. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h3 id="protocol1002Albuterol-heading29" style="color:#000000;text-align:center;">ALL LEVELS</h3>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol1002Albuterol-markdown33" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>CONTACT MEDICAL CONTROL TO DELIVER MEDICATION OUTSIDE VITAL SIGN OFFLINE MEDICAL CONTROL APPROVAL</strong>
      </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <h5 id="protocol1002Albuterol-heading30" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1002Albuterol-heading31" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>