<ion-view title="Protocol 103 - Asystole and Pulseless Electrical Activity" id="page29">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol103AsystoleAndPulselessElectricalActivity-heading111" style="color:#000000;text-align:center;">Asystole and Pulseless Electrical Activity</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol103AsystoleAndPulselessElectricalActivity-container4">
      <div id="protocol103AsystoleAndPulselessElectricalActivity-markdown144" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol103AsystoleAndPulselessElectricalActivity-markdown145" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ALL CARDIAC ARREST VICTIMS SHOULD HAVE:</strong>
      </p>

      <ol>
        <li>CPR-Push hard and fast (100 - 120 compressions/minute).</li>
        <li>Ensure full chest recoil.</li>
        <li>Minimize interruptions in chest compressions.</li>
        <li>1 cycle of CPR: 30 compressions/2 ventilations; 5 cycles=2 minutes.</li>
        <li>Avoid hyperventilation, 1 breath every 5-6 seconds (8-10 a minute)</li>
        <li>Secure airway and confirm placement, suction as needed</li>
        <li>After advanced airway is placed, give continuous chest compressions without pauses. </li>
        <li>Check rhythm every 2 minutes</li>
        <li>Elevate arm, give fluid bolus when administering a drug during a full arrest</li>
        <li>Always search for a reversible cause</li>
        <li>Follow current ACLS and PALS guidelines</li>
      </ol>
    </div>
    <div id="protocol103AsystoleAndPulselessElectricalActivity-markdown146" class="show-list-numbers-and-dots"></div>
    <div id="protocol103AsystoleAndPulselessElectricalActivity-markdown147" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol103AsystoleAndPulselessElectricalActivity-markdown148" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EMT</strong>
      </p>

      <p style="color:#000000;">FOLLOW
        <a href="#/Tabs_Controller/tab1/Protocol_101">PROTOCOL 101: MEDICAL CARDIAC ARREST- INITIAL CARE</a>
      </p>

      <ol>
        <li>ABC's</li>
        <li>Focused history and physical exam. </li>
        <li>Assess for presence or absence of a pulse.</li>
        <li>Determine rhythm - asystole, pulseless electrical activity, etc.</li>
        <li>Begin CPR- if no pulse found</li>
        <li>Assess blood glucose level.</li>
        <li>Continue high quality CPR.</li>
        <li>Check for pulse/shockable rhythm every 5 cycles</li>
      </ol>
    </div>
    <div id="protocol103AsystoleAndPulselessElectricalActivity-markdown149" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol103AsystoleAndPulselessElectricalActivity-markdown150" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT</strong>
      </p>

      <p style="color:#000000;">FOLLOW
        <a href="#/Tabs_Controller/tab1/Protocol_101">PROTOCOL 101: MEDICAL CARDIAC ARREST- INITIAL CARE</a>
      </p>

      <ol>
        <li>Consider Underlying Causes and Treat</li>
        <li>
          <strong>H's</strong> - Hypovolemia, Hypoxia, Hydrogen ion (Acidosis), Hyper-/hypokalemia, Hypothermia, Hypoglycemia</li>
        <li>
          <strong>T's</strong> - Toxins (Overdose), Tamponade (Cardiac), Tension Pneumothorax, Thrombosis (ACS or Pulmonary), Trauma</li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol103AsystoleAndPulselessElectricalActivity-markdown121" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Key Considerations</strong>
      </p>

      <ol>
        <li>Pregnancy &gt;20 weeks gestation - Place wedge-shaped cushion or multiple pillows under patient's right hip (L lateral decubitus position)</li>
        <li>Pediatric lowest acceptable systolic blood pressures are birth to 1 month = 60 mmHg, 1 month to 1 year = 70 mmHg, 1 year to 10 years is = 70 mmHg + (age x 2) and over 10 years = 90 mmHg.</li>
        <li>Ensure airway is patent-use adjuncts-insert appropriate size "King " airway and confirm placement, suction as necessary.</li>
        <li>Continue high quality CPR at rate of 30:2</li>
        <li>Establish IV/IO access-x2 if possible, give 500 ml NS bolus</li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 1mg 1:10,000</strong> every 3-5 minutes IV/IO</li>
        <li>If asystole, confirm rhythm in 2 leads.</li>
        <li>Continuous ECG monitoring, Capnography.</li>
        <li>Administer fluid bolus 500 ml, repeat x 1 if no change</li>
        <li>
          <strong> AEMT must contact OLMC after initial dose of EPI for additional medication orders.</strong>
        </li>
      </ol>
    </div>
    <div id="protocol103AsystoleAndPulselessElectricalActivity-markdown152" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol103AsystoleAndPulselessElectricalActivity-markdown153" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PARAMEDIC</strong>
      </p>

      <p style="color:#000000;">FOLLOW
        <a href="#/Tabs_Controller/tab1/Protocol_101">PROTOCOL 101: MEDICAL CARDIAC ARREST- INITIAL CARE</a>
      </p>

      <ol>
        <li>Ensure all of the above is being done appropriately.</li>
        <li>Establish IV/IO access if not done.</li>
        <li>Intubate when able and ensure proper tube placement if an advanced airway has not been placed,
          <strong>if an advanced airway is in place do not remove unless unable to ventilate</strong>
        </li>
        <li>Administer
          <strong>
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 1mg 1:10,000</strong> IV/IO every 3-5 minutes.</li>
        <li>Continue high quality CPR</li>
        <li>Administer fluid bolus if not done
          <strong>(500-1000ml)</strong>
        </li>
        <li>Needle decompression if tension pneumothorax is present</li>
      </ol>
    </div>
    <div id="protocol103AsystoleAndPulselessElectricalActivity-markdown154" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol103AsystoleAndPulselessElectricalActivity-markdown155" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>MEDICAL CONTROL OPTION- MUST CONTACT MEDICAL CONTROL PRIOR TO ADMINISTRATION.</strong>
      </p>

      <p style="color:#000000;">
        <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a>
        ** - ADULT DOSE:</p>

      <p style="color:#000000;">Cardiac Arrest: 1 meq/kg IV/IO</p>

      <ol>
        <li>use early if pre-existing metabolic acidosis, hyperkalemia, tricyclic antidepressant OD.</li>
        <li>prolonged resuscitation if ventilation is adequate.</li>
        <li>return of spontaneous circulation after long period of arrest</li>
      </ol>
    </div>
    <div id="protocol103AsystoleAndPulselessElectricalActivity-markdown156" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div></div>
    <h5 id="protocol103AsystoleAndPulselessElectricalActivity-heading112" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol103AsystoleAndPulselessElectricalActivity-markdown157" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>