<ion-view title="Protocol 304 - Vascular Shock and Obstructive Shock" id="page57">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol304VascularShockAndObstructiveShock-heading276" style="color:#000000;text-align:center;">Vascular Shock and Obstructive Shock</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol304VascularShockAndObstructiveShock-container15">
      <div id="protocol304VascularShockAndObstructiveShock-markdown484" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol304VascularShockAndObstructiveShock-markdown485" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Patients who meet shock criteria with findings suggestive of:</p>

      <ol>
        <li>Sepsis.</li>
        <li>Drug Ingestion (e.g., tricyclic antidepressants).</li>
        <li>Hypoxia.</li>
        <li>Toxic Exposure (e.g., carbon monoxide).</li>
        <li>Tension Pneumothorax.</li>
        <li>Cardiac Tamponade.</li>
      </ol>
    </div>
    <div id="protocol304VascularShockAndObstructiveShock-markdown486" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol304VascularShockAndObstructiveShock-markdown487" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol304VascularShockAndObstructiveShock-markdown488" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Consider Shock in patients with one or more of the following:</p>

      <ol>
        <li>Vital signs: HR &gt;100, SBP of &lt;90 mmHg for adults, SBP &lt;70+(age in years x 2) mmHg for peds, or RR &gt;20 BPM.</li>
        <li>Skin signs: cold clammy skin, febrile, or flash or delayed capillary refill.</li>
        <li>Mental staus: altered, lethargic, or irritable (esp. in infants).</li>
        <li>Evaluate for the source including infection, bleeding/trauma, neurologic or cardiac.</li>
        <li>Pregnancy &gt;20 weeks gestation _ Transport in patrial L lateral decubitus position. Place multipule pillows under patient's right hip and shoulder to elevate R side 45 degrees.</li>
        <li>Signs of a Tension Pneumothorax: Sudden chest pain, shortness of breath, cyanosis, hypotension, tachypnea, distended neck veins, breath sounds absent on the affected side, tracheal deviation away from the affected side.</li>
        <li>Signs of Cardia Tamponade: Anxiety, chest pain (radiates to back/shoulder/abdomen and is stabbing in nature), dyspnea cyanosis, hypotension, weak or absent pulses.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol304VascularShockAndObstructiveShock-markdown489" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol304VascularShockAndObstructiveShock-heading279" style="color:#000000;"> EMT</h4>
    <div id="protocol304VascularShockAndObstructiveShock-markdown490" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Focused history and physical exam </p>

      <ol>
        <li>Blood glucose, oxygen saturation and temperature assessment.</li>
        <li>C-spine immobilization, if indicated.</li>
        <li>Place patient SUPINE and elevate legs (except in case of spinal injury).</li>
        <li>OXYGEN by nonrebreather mask at 15 L/MIN.</li>
        <li>ASSIST VENTILATION if neccessary.</li>
        <li>Keep paitent warm.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol304VascularShockAndObstructiveShock-markdown491" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol304VascularShockAndObstructiveShock-heading280" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol304VascularShockAndObstructiveShock-markdown492" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete</li>
        <li>Use 2 large bore IV's-, resuscitate with warm IV fluids when available.</li>
        <li>Continuous cardiac monitor, oximetry, Etco2-maintain saturation &gt;94% or CO2 35-45.</li>
        <li>12 Lead ECG if available.</li>
        <li>Begin transport as soon as posisble and contact Medical Command.</li>
      </ol>
    </div>
    <div id="protocol304VascularShockAndObstructiveShock-markdown493" class="show-list-numbers-and-dots"></div>
    <div id="protocol304VascularShockAndObstructiveShock-markdown494" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol304VascularShockAndObstructiveShock-markdown495" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol304VascularShockAndObstructiveShock-heading281" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol304VascularShockAndObstructiveShock-markdown496" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Advanced airway as appropriate.</li>
        <li>Consider needle decompression for tension pneumothorax if indicated (shock with chest trauma and appropriate symptoms).</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol304VascularShockAndObstructiveShock-markdown497" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol304VascularShockAndObstructiveShock-heading282" style="color:#FF0000;">Medical Control Option - Must contact prior to administration</h5>
    <div id="protocol304VascularShockAndObstructiveShock-markdown498" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>1.</strong>
        <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a> for Tricyclic antidepressant overdose.
        <br>
        <strong>2.</strong>
        <a href="#/Tabs_Controller/Protocol_1012">Glucagon</a>
        for beta blocker.
        <br>
        <strong>3.</strong> If hypotensive and refractory to fluid bolus:
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
        <strong>2-10 mcg/min</strong> and titrate systolic BP until it reaches
        <strong>90-100</strong> mmHg. Mix
        <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
        <strong>2 mg</strong> 1:1000 in 1000 ml NS which yields
        <strong>0.002</strong> mg/ml (2mcg/mL). Use Dial-a-flow extension set following the chart below:</p>
    </div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;
        }
      </style>


      <table align="center" style="margin: 0px auto;">
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>
              <b>Epi Drip Rate Table</b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>mcg/min</td>
            <td>ml/hr</td>
          </tr>
          <tr>
            <td>1</td>
            <td>30</td>
          </tr>
          <tr>
            <td>2</td>
            <td>60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>120</td>
          </tr>
          <tr>
            <td>5</td>
            <td>150</td>
          </tr>
          <tr>
            <td>6</td>
            <td>180</td>
          </tr>
          <tr>
            <td>7</td>
            <td>210</td>
          </tr>
          <tr>
            <td>8</td>
            <td>240</td>
          </tr>
          <tr>
            <td>9</td>
            <td>270</td>
          </tr>
          <tr>
            <td>10</td>
            <td>300</td>
          </tr>
        </tbody>
      </table>




    </div>
    <h5 id="protocol304VascularShockAndObstructiveShock-heading283" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol304VascularShockAndObstructiveShock-markdown499" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>