<ion-view title="Protocol 1013 - Haldol" id="page40">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1013Haldol-heading157" style="color:#000000;text-align:center;">Haldol</h1>
    <h5 id="protocol1013Haldol-heading158" style="color:#000000;text-align:center;">Approved for Rescue Paramedics Only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1013Haldol-heading159" style="color:#000000;text-align:center;">Protocol 1013</h3>
    <div id="protocol1013Haldol-markdown310" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1013Haldol-markdown311" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_803">803</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1013Haldol-heading160" style="color:#000000;text-align:center;">Class: Hormone - Anti-psychotic</h4>
    <ion-list id="protocol1013Haldol-list149">
      <div class="item item-body" id="protocol1013Haldol-list-item-container85">
        <div id="protocol1013Haldol-markdown312" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Depresses cerebral cortex.
            <br>
            <strong>2.</strong> Aids in reducing aggression. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1013Haldol-list150">
      <div class="item item-body" id="protocol1013Haldol-list-item-container86">
        <div id="protocol1013Haldol-markdown313" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Combative-psychotic patient who will not de-escalate with voice commands or reduction in external stimuli.
            <br>
            <strong>2.</strong> When a chemical restraint is needed for protection of the patient or EMS. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1013Haldol-list151">
      <div class="item item-body" id="protocol1013Haldol-list-item-container87">
        <div id="protocol1013Haldol-markdown314" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Hypersensitivity.
            <br>
            <strong>2.</strong> Alcohol or sedative drug usage is detected.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1013Haldol-list152">
      <div class="item item-body" id="protocol1013Haldol-list-item-container88">
        <div id="protocol1013Haldol-markdown315" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Seizures.
            <br>
            <strong>2.</strong> Hypotension.
            <br>
            <strong>3.</strong> Sudden cardiac arrest - more common in elderly or use of psychotropic medications.
            <br>
            <strong>4.</strong> Hypotension.
            <br>
            <strong>5.</strong> Laryngospasm-respiratory depression.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1013Haldol-heading161" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <h4 id="protocol1013Haldol-heading162" style="color:#000000;text-align:center;">Contact Medical Control Prior to Administration</h4>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1013Haldol-markdown317" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Adult: Haloperidol 5-10 mg IM or 2-5mg IV</strong>
      </p>

      <p style="color:#000000;">
        <strong>Pediatric: Haloperidol</strong>
        <br>
        <strong>1.</strong> 6-12 years old:
        <strong>1-3mg dose IM.</strong>
        <br>
        <strong>2.</strong> 12 years and older:
        <strong>5-10 mg IM</strong> or
        <strong>2-5mg IV/IO.</strong>
        <br>
        <strong>3.</strong> &lt;6 years old -
        <strong>NOT RECOMMENDED</strong>
      </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1013Haldol-markdown319" class="show-list-numbers-and-dots"></div>
    <div id="protocol1013Haldol-button-bar9" class="button-bar"></div>
    <div id="protocol1013Haldol-button-bar10" class="button-bar"></div>
    <h5 id="protocol1013Haldol-heading163" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1013Haldol-heading164" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>