<ion-view title="Protocol 307 - Suspected CVA - TIA (Stroke)" id="page60">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol307SuspectedCVATIAStroke-heading302" style="color:#000000;text-align:center;">SUSPECTED CVA - TIA (STROKE)</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol307SuspectedCVATIAStroke-container18">
      <div id="protocol307SuspectedCVATIAStroke-markdown534" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol307SuspectedCVATIAStroke-markdown535" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Stroke is the 3rd leading cause of death and a leading cause of disability. There are 2 Stroke Receiving Facilites within Cache County. Rapid recognition and transport is the key to management. Scene time should be kept to a minimum and interventions
        done en-route if possible. Alert the receiving emergency department that you are transporting a suspected stroke patient as soon as you have made a destination decision.</p>

      <ol>
        <li>
          <strong>If Blood glucose is &gt;60 do not administer
            <a href="#/Tabs_Controller/protocol_1008">Dextrose D50</a>.</strong> As it may worsen an underlying neurological problem.</li>
        <li>
          <strong>Do not administer
            <a href="#/Tabs_Controller/Protocol_1004">Aspirin</a>.</strong>
        </li>
        <li>
          <strong>Do NOT treat hypertension in the field unless directed by On-line Medical Control.</strong> (the pressure may be needed to ensure cerebral perfusion secondary to increased ICP.</li>
        <li>Children can have strokes as well as adults. Some rish factors include; sickle cell disease, congenital and acquired heart disease, head and neck infections, systemic conditions, (e.g. inflammatory bowel disease and autoimmune disorders), head
          trauma or dehydration.</li>
        <li>Avoid lengthy scene times-interventions should be done enroute.</li>
      </ol>
    </div>
    <div id="protocol307SuspectedCVATIAStroke-markdown536" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol307SuspectedCVATIAStroke-markdown537" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol307SuspectedCVATIAStroke-heading303" style="color:#000000;">EMS Assessment and Management Guidelines</h4>
    <div id="protocol307SuspectedCVATIAStroke-markdown538" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Prompt stroke recognition and treatment by EMS is a critical component of acute stroke care. As an integral part of the Utah Stroke System, EMS will use a standardized prehospital treatmet protocol for suspected stroke patients.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol307SuspectedCVATIAStroke-markdown539" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol307SuspectedCVATIAStroke-heading304" style="color:#000000;">On Scene:</h4>
    <div id="protocol307SuspectedCVATIAStroke-markdown540" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>Perform prehospital stroke assessment using the Cincinnati Stroke Scale.</strong>
          <br>a.
          <strong>Facial Droop:</strong> (have patient smile
          <em>
            <br>i.
            <strong>Normal</strong>: both sides of face move equally.
            <br>ii.
            <strong>Abnormal</strong>
          </em>: one side of face does not move as well.
          <br>b.
          <strong>Arm Drift</strong>: (Have patient hold arms out for 10 seconds)
          <br>i.
          <strong>Normal</strong>: both arms move equally or not at all.
          <br>ii.
          <strong>Abnormal</strong>: One arm drigts compared to the other, or does not move at all.
          <br>c.
          <strong>Speech</strong>: (Have patient say) - "
          <strong>You can't teach an old dog new tricks"</strong>
          <br>i.
          <strong>Normal</strong>: Paitent uses correct words with no slurring.
          <br>ii.
          <strong>Abnormal</strong>: Slurred or inappropriate words, or mute.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol307SuspectedCVATIAStroke-markdown541" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol307SuspectedCVATIAStroke-heading305" style="color:#000000;">EMT</h4>
    <div id="protocol307SuspectedCVATIAStroke-markdown542" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Focused history and physical exam.</p>

      <ol>
        <li>Blood glucose, temperature and oxygen saturation assessment</li>
        <li>Keep NPO.</li>
        <li>
          <strong>Document symptom onset time or time last seen normal</strong>.</li>
        <li>Asseess LOC and maintain airway as indicated.</li>
        <li>Place pt. in left lateral recumbent position to prevent aspiration if unconscious (spinal immobilization precautions should be considered if neccessary).</li>
        <li>Suction as needed.</li>
        <li>Assist ventilations if necessary.</li>
        <li>If oxygen is needed use NC if possible to keep sat &gt;94%.</li>
        <li>Anticipate vomiting and ensure airway is monitored and protected at all times.</li>
        <li>Obtain Baseline vitals.</li>
        <li>Obtain and bag all patient medicatins in preparation for transport.</li>
        <li>Determine last PO intake.</li>
      </ol>
    </div>
    <div id="protocol307SuspectedCVATIAStroke-markdown543" class="show-list-numbers-and-dots"></div>
    <div id="protocol307SuspectedCVATIAStroke-markdown544" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol307SuspectedCVATIAStroke-markdown545" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol307SuspectedCVATIAStroke-heading306" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol307SuspectedCVATIAStroke-markdown546" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is completed.</li>
        <li>Continuous ECG, blood pressure ETCO2, and pulse oximetry monitoring when available.</li>
        <li>12 Lead EKG, if available.</li>
        <li>Obtain sample history and assess for associated signs/symptoms-establish and record the exact time when patient was "Last Known Normal".</li>
        <li>Obtain blood glucose if not already obtained -
          <strong>if below</strong> 60 mg/dl them administer 25 gm
          <strong>
            <a href="#/Tabs_Controller/protocol_1008">Dextrose D50</a>
          </strong> and reassess. If no IV access after
          <strong>TWO</strong> attempts consider
          <strong>
            <a href="#/Tabs_Controller/Protocol_1012">Glucagon</a>
          </strong> 1 mg IM.</li>
        <li>Perform baseline neurological exam including the Cincinnati stroke scale.</li>
        <li>Keep head elevated to 45 degrees.</li>
        <li>
          <strong>Begin rapid transport if unresponsive or shows a positive sign(s) of a stroke</strong>.</li>
        <li>Thrombolytic can be administered only 4 hours from time of symptom onset-notify receiving hospital that a suspected stroke paitent is enroute ASAP with an ETA.</li>
        <li>Start IV with a #18g catheter if possible to facilitate the pressure of the CT scan start NS @ TKO if possible or a saline lock.</li>
        <li>If hypotensive (systolic &lt;100) then may give a 250 ml bolus and may repeat x 1 if needed.</li>
        <li>Bring all patients medicatsion to the receiving facility if possible or as complete a list as able including dose and frequency if able,</li>
        <li>Ensure oxygen sat &gt;94%, use appropriate device.</li>
        <li>Insert airway adjunct (NPA/OPA) as needed to maintain airway if unconscious or lacks a ga reflex.</li>
        <li>Transport to a Stroke Receiving Hospital.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protocol307SuspectedCVATIAStroke-markdown547" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="protocol307SuspectedCVATIAStroke-heading307" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol307SuspectedCVATIAStroke-markdown548" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure all above is completed.</li>
        <li>Continuous ECG, ETCO2, and Pulse oximetry monitoring when available.</li>
        <li>Start IV with NS TKO or saline lock unless hypotensive (systolic &lt;100) then give 250 ml bolus may repeat x 1.</li>
        <li>Obtain a 12 kead EKG if availbale.</li>
        <li>
          <strong>CHECK GLUCOMETER READING - IF BELOW 60 mg/dl</strong> then administer
          <strong>25 gm of
            <a href="#/Tabs_Controller/protocol_1008">Dextrose D50</a>.</strong> IV PUSH. If no IV access after 2 attempts, consider
          <strong>
            <a href="#/Tabs_Controller/Protocol_1012">Glucagon</a> 1 mg IM.</strong>
        </li>
        <li>
          <strong>CHECK FOR </strong> Narcotic Ingestion (respiratory depression, history of narcotic usage, constricted pupils, drug vials or paraphernalia near patient), If any of these present, give
          <strong>
            <a href="#/Tabs_Controller/Protocol_1018">Naloxone</a> 1-2 mg (oper dose) IV/IM/IO/ or intranansal (atomizer). May repeat x 1</strong>
        </li>
        <li>Consider physical restraints as needed to protect the patient and/or personnel.</li>
        <li>Contact OLMC: Consider
          <a href="#/Tabs_Controller/tab1/Protocol_803">Protocol 803: Restraints Physical - Violent Patient/Chemical Sedation</a>.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol307SuspectedCVATIAStroke-markdown549" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol307SuspectedCVATIAStroke-heading308" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol307SuspectedCVATIAStroke-markdown550" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure all above is completed.</li>
        <li>Establish 2nd IV access if able, ensure at least one is with an #18 ga. catheter (needed to administer CT contrast)</li>
        <li>Intubate if patient is unresponsive without a gag reflex.</li>
        <li>Transport to a Stroke Receiving Hospital.</li>
      </ol>
    </div>
    <div id="protocol307SuspectedCVATIAStroke-markdown552" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol307SuspectedCVATIAStroke-heading309" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol307SuspectedCVATIAStroke-markdown551" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>