<ion-view title="Protocol 401 - Bronchospasm (Wheezing)" id="page74">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol401BronchospasmWheezing-heading398" style="color:#000000;text-align:center;">BRONCHOSPASM (WHEEZING)</h3>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol401BronchospasmWheezing-container32">
      <div id="protocol401BronchospasmWheezing-markdown737" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol401BronchospasmWheezing-markdown758" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol401BronchospasmWheezing-markdown759" class="show-list-numbers-and-dots">
      <ol>
        <li>Bronchospasm - the reversible constriction (spasm) of the smooth muscle of the small airways (bronchioles) - is a manifestation of several diseases. </li>
        <li>The most common are asthma, bronchitis, and emphysema (COPD). However, congestive heart failure, pulmonary embolism and pneumonia may also present with wheezing.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol401BronchospasmWheezing-markdown760" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol401BronchospasmWheezing-heading399" style="color:#000000;">INDICATIONS</h4>
    <div id="protocol401BronchospasmWheezing-markdown738" class="show-list-numbers-and-dots">
      <ol>
        <li>Respiratoy distress with wheezing or prolonged expiratory phase on auscultation.</li>
        <li>Respiratory disress with history of asthma or COPD and no other apparent cause of dyspnea.</li>
      </ol>
    </div>
    <div id="protocol401BronchospasmWheezing-markdown739" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="protocol401BronchospasmWheezing-markdown740" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol401BronchospasmWheezing-heading401" style="color:#000000;">EXCLUSIONS</h4>
    <div id="protocol401BronchospasmWheezing-markdown741" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:-1px;">Acute CHF or Pulmonary edema. </p>
    </div>
    <div id="protocol401BronchospasmWheezing-markdown742" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol401BronchospasmWheezing-markdown743" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol401BronchospasmWheezing-markdown745" class="show-list-numbers-and-dots"></div>
    <div id="protocol401BronchospasmWheezing-markdown746" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol401BronchospasmWheezing-heading404" style="color:#000000;">EMT</h4>
    <div id="protocol401BronchospasmWheezing-markdown749" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam. </li>
        <li>Provide basic airway maneuvers to all compromised airways, i.e. oxygen, jaw thrust, and positioning. </li>
        <li>Always insure proper care of the C-spine during airway treatment.</li>
        <li>Keep the patient NPO - Stop any tube feedings. </li>
        <li>Assess blood glucose, temperature and oxygen saturations. </li>
        <li>OXYGEN 4-6L NC or non-rebreather mask at
          <strong>15L</strong> as needed to maintain pulse ox&gt;94%. </li>
        <li>For patients with inadequate ventilations, in severe respiratory distress, assist ventilations with BVM and oropharyngeal or nasopharyngeal airway. </li>
        <li>Assist with adminstration of prescribed metered dose inhaler or nebulizer mediacation per dosing instructions. If specific MDI dosing instructions are not available, give second dose after 20 minutes, if needed
          <strong>contact OLMC prior to giving any medication</strong>. </li>
        <li>Suction as needed. </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol401BronchospasmWheezing-markdown750" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <h4 id="protocol401BronchospasmWheezing-heading405" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol401BronchospasmWheezing-markdown761" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available.</li>
        <li>Consider a 12 lead ECG.</li>
        <li>
          <strong>Contact OLMC for medication Orders</strong>:</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div id="protocol401BronchospasmWheezing-markdown768" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Asthma/Reactive Airway</strong>
      </p>
    </div>
    <div id="protocol401BronchospasmWheezing-markdown793" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>1.
          <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a>
        </strong> - First line bronchodilator -
        <strong>2.5 mg</strong> in NS 3cc nebulized with oxygen at 6L/min, may give every 10 minutes via nebulization (if patient is still in extremis) until symtpoms subside.
        <strong>If patient improves do not repeat
          <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a>.</strong>
        <br>
        <strong>2.
          <a href="#/Tabs_Controller/Protocol_1006">Atrovent</a>
        </strong> - Second line bronchodilator, slower onset and longer duration -
        <strong>0.5mg nebulized.</strong>
      </p>
    </div>
    <div id="protocol401BronchospasmWheezing-markdown794" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>3.</strong> First treatment should be
        <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a> alone, a
        <strong>second</strong> treatment may include
        <a href="#/Tabs_Controller/Protocol_1006">Atrovent</a>
        .
        <br>
        <strong>4. COPD</strong> - use Duoneb (
        <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a>/
        <a href="#/Tabs_Controller/Protocol_1006">Atrovent</a>
        ) as first line nebulized treatment. </p>

      <ul>
        <li>MONITOR mental status, air exchange, vitals, enroute to hospital. </li>
        <li>IV Saline @TKO rate or saline lock, if hypotensive give 250-500 ml bolus and reevaluate. </li>
        <li>
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 0.3mg of 1:100 x1 SC or IM for patients unable to cooperate with
          <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a> treatment or in severe distress. </li>
        <li>If the patient is stable and is &gt;50 years old, has a history or CAD, or if the aptiet is tachycardic, obtain a 12 lead ECG and transmit to on-line medical control prior to administering
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>. </li>
        <li>If giving
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> IM, then ensure adequate needle size (1" for deltoid, 1.5" for rectus femoris) Be sure to landmark appropriately to avoid nerves and blood vessels. Be sure to aspirate prior to injecting to avoid accidentally giving this into
          a blood vesel. If blood is returned on aspiration then discard the syringe and redraw the
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> into a new syringe with a clean needle.</li>
        <li>If patient meets criteria follow
          <a href="#/Tabs_Controller/tab1/Protocol_403">Protocol 403: Continuous Positive Airway Pressure</a>. </li>
        <li>Consider advanced airway if unresponsive and without a gag reflex. </li>
      </ul>

      <p style="color:#000000;">
        <strong> *Atrovent is a one time only treatment due to its long half-life.</strong>
      </p>
    </div>
    <div id="protocol401BronchospasmWheezing-markdown765" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol401BronchospasmWheezing-heading406" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol401BronchospasmWheezing-markdown751" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Assist ventilations as necessary. </li>
        <li>Consider CPAP - refer to
          <a href="#/Tabs_Controller/tab1/Protocol_403">Protocol 403: Continuous Positive Airway Pressure</a>.</li>
        <li>Endotracheal intubation should be based on mental status, adequacy of air exchange, vitals, pulse oximetry, and end-tidal CO2. Intubation does not relieve (and may infact worsen) bronchospasms. Thus, is should only be done when patient clearly
          needs ventilatory assistance or airway protection and respiratory status does not improve with other methods. </li>
        <li>Additional
          <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a> treatments. </li>
        <li>If patient becomes agitated with increasing LOC
          <strong>after</strong> intubation - refer
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>. </li>
      </ol>
    </div>
    <div id="protocol401BronchospasmWheezing-markdown752" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol401BronchospasmWheezing-markdown753" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>Medical Control Option - Must contact prior to administration</strong>
      </p>

      <p style="color:#FF0000;">
        <strong>1.
          <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> 2% 40-60mg (2-3mL) added to
          <a href="#/Tabs_Controller/Protocol_1002">Albuterol</a>
        </strong> for adult patients with "Cough variant asthma," which is severe coughing which inhibits respiratory function (with or without audible wheezes). </p>

      <p style="color:#FF0000;">
        <strong>2.
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
        </strong> via nebulizer for suspected croup (mix 2mL of
        <a href="#/Tabs_Controller/Protocol_1009">EPI</a> 1:1000 with 6mL of NS). </p>
    </div>
    <div class="spacer" style="width: 747.8261108398438px; height: 12px;"></div>
    <div id="protocol401BronchospasmWheezing-markdown756" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol401BronchospasmWheezing-heading409" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol401BronchospasmWheezing-markdown757" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>