<ion-view title="Protocol - 915 Needle Decompression Procedure" id="page151">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol915NeedleDecompressionProcedure-heading837" style="color:#000000;text-align:center;">NEEDLE DECOMPRESSION PROCEDURE</h3>
    <div id="protocol915NeedleDecompressionProcedure-container109">
      <div id="protocol915NeedleDecompressionProcedure-markdown1953" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol915NeedleDecompressionProcedure-markdown1954" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol915NeedleDecompressionProcedure-heading828" style="color:#000000;">Paramedic Only</h4>
    <div id="protocol915NeedleDecompressionProcedure-markdown1955" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>INDICATIONS:</strong>
      </p>

      <p style="color:#000000;">Patients with signs of PNEUMOTHORAX associated with SHOCK or HYPOTENSION.</p>
    </div>
    <div id="protocol915NeedleDecompressionProcedure-markdown1956" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol915NeedleDecompressionProcedure-heading829" style="color:#000000;">Protocol:</h4>
    <div id="protocol915NeedleDecompressionProcedure-markdown1957" class="show-list-numbers-and-dots">
      <ol>
        <li>ORGANIZES necessary equipment.
          <br>a. Alcohol/iodine wipes.
          <br>b. Angio catheter 12-16 ga. (longest length available).
          <br>c. 10cc syringe.
          <br>d. Tape. </li>
        <li>Find LANDMARKS- 2nd intercostals space, mid-clavicular line on the affected side.</li>
        <li>Insert needle over top of 3rd rib at 90- degree angle.</li>
        <li>ASPIRATE for air while advancing needle.</li>
        <li>After entering pleura and getting air return, remove syringe and needle.</li>
        <li>CHECK for air movement.</li>
        <li>Securely tape catheter.</li>
        <li>REASSESS breath sounds every 2-3 minutes.</li>
      </ol>
    </div>
    <div id="protocol915NeedleDecompressionProcedure-markdown1961" class="show-list-numbers-and-dots"></div>
    <div id="protocol915NeedleDecompressionProcedure-markdown1962" class="show-list-numbers-and-dots"></div>
    <div id="protocol915NeedleDecompressionProcedure-markdown1963" class="show-list-numbers-and-dots"></div>
    <div id="protocol915NeedleDecompressionProcedure-markdown1964" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol915NeedleDecompressionProcedure-markdown1966" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol915NeedleDecompressionProcedure-heading838" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol915NeedleDecompressionProcedure-markdown1967" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>