<ion-view title="Protocol 1023 - Valium" id="page50">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1023Valium-heading235" style="color:#000000;text-align:center;">Valium</h1>
    <h5 id="protocol1023Valium-heading236" style="color:#000000;text-align:center;">Diazepam</h5>
    <h5 id="protocol1023Valium-heading237" style="color:#000000;text-align:center;">Approved for Rescue Paramedics Only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1023Valium-heading238" style="color:#000000;text-align:center;">Protocol 1023</h3>
    <div id="protocol1023Valium-markdown401" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1023Valium-markdown402" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_201">201</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_509">509</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_714">714</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1023Valium-heading239" style="color:#000000;text-align:center;">Anticonvulsant / Sedative</h4>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1023Valium-list198">
      <div class="item item-body" id="protocol1023Valium-list-item-container140">
        <div id="protocol1023Valium-markdown403" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Suppresses Seizure Activity Through Motor Cortex of the Brain.
            <br>
            <strong>2.</strong> Effective Skeletal Muscle Relaxant. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1023Valium-list199">
      <div class="item item-body" id="protocol1023Valium-list-item-container141">
        <div id="protocol1023Valium-markdown404" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Major Motor Seizures - Status Epilepticus.
            <br>
            <strong>2.</strong> Skeletal Muscle Relaxant in Isolated Orthopedic Injury.
            <br>
            <strong>3.</strong> Example: Femur Fracture and Severe Muscle Spasms.
            <br>
            <strong>4.</strong> Severe Back Pain With Prolonged Transport. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1023Valium-list200">
      <div class="item item-body" id="protocol1023Valium-list-item-container142">
        <div id="protocol1023Valium-markdown405" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Pregnancy.
            <br>
            <strong>2.</strong> Known Hypersensitivity. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1023Valium-list201">
      <div class="item item-body" id="protocol1023Valium-list-item-container143">
        <div id="protocol1023Valium-markdown406" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Respiratory Depression/Arrest.
            <br>
            <strong>2.</strong> Hypotension.
            <br>
            <strong>3.</strong> Nausea/Vomiting. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <ion-list id="protocol1023Valium-list202">
      <div class="item item-body" id="protocol1023Valium-list-item-container144">
        <div id="protocol1023Valium-markdown407" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Considerations</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Valium is Incompatible With Many Medications. Flush Line Before and After Use.
            <br>
            <strong>2.</strong> For Dosage Amounts Above 5mg - Medical Control Must be Contacted. </p>
        </div>
      </div>
    </ion-list>
    <h3 id="protocol1023Valium-heading240" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1023Valium-markdown408" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Adult Dose</strong>
      </p>

      <p style="color:#000000;">
        <strong>Bradycardic with Transcutaneous Pacing</strong>
      </p>

      <p style="color:#000000;">
        <strong>1. IV/IO - 5-10mg</strong> Every 5 Minutes to the Desired Effect or Max Dose of 15mg.
        <br>
        <strong>2. Rectally</strong>- Same Dosage. </p>

      <p style="color:#000000;">
        <strong>Anxiety Control:</strong>
      </p>

      <p style="color:#000000;">
        <strong>1. IV/IO - 2.5-5mg</strong> Every 10 Minutes to the Desired Effect or Max Dose of 10mg.
        <br>
        <strong>2. Rectally</strong> Same Dosage.
      </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1023Valium-markdown410" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Peds Dose</strong>
      </p>

      <p style="color:#000000;">
        <strong>Anxiety Control:</strong>
      </p>

      <p style="color:#000000;">
        <strong>1. IV 0.1mg/kg</strong> (Max Dose of
        <strong>5mg</strong>). </p>

      <p style="color:#000000;">
        <strong>2. Rectally 0.3mg/kg</strong> PR Max Dose 10mg. </p>

      <p style="color:#000000;">
        <strong>Seizure</strong>
      </p>

      <p style="color:#000000;">
        <strong>1. IV/IO - 0.1mg/kg (Max Dose of 5mg).</strong>
      </p>

      <p style="color:#000000;">
        <strong>2. Rectally 0.3mg/kg PR (Max Dose 10mg).</strong>
      </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1023Valium-markdown409" class="show-list-numbers-and-dots"></div>
    <div id="protocol1023Valium-button-bar29" class="button-bar"></div>
    <div id="protocol1023Valium-button-bar30" class="button-bar"></div>
    <h5 id="protocol1023Valium-heading241" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1023Valium-heading242" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>