<ion-view title="Protocol 904 - Cancelling Or Downgrading Responding Paramedics" id="page128">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol904CancellingOrDowngradingRespondingParamedics-heading743" style="color:#000000;text-align:center;">Cancelling Or Downgrading Responding Paramedics</h3>
    <div id="protocol904CancellingOrDowngradingRespondingParamedics-container85">
      <div id="protocol904CancellingOrDowngradingRespondingParamedics-markdown1661" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol904CancellingOrDowngradingRespondingParamedics-markdown1662" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol904CancellingOrDowngradingRespondingParamedics-markdown1663" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>INDICATION:</strong>
      </p>

      <ol>
        <li>When a 911 call is received by the Cache Dispatch Center, the receiving dispatcher shall use the appropriate Claussen priority dispatch system to triage the call and assign the response level (Omega, Alpha, Bravo, Charlie, Delta, Echo) and the
          corresponding units. </li>
        <li></li>
        <li>The priority dispatch system will be reviewed by service area directors along with the off-line medical control physician on a regular basis to determine the appropriate response for given situations.</li>
        <li></li>
        <li>This protocol shall be for those units responding outside of Zone 7 at the Charlie level and above, and involve responding local first response units, a County CCEMS ambulance and a Paramedic unit (squad or ambulance).</li>
        <li></li>
        <li>The following steps shall be enacted to cancel a responding Paramedic unit, prior to its arrival on scene and assuming patient care.</li>
      </ol>
    </div>
    <div id="protocol904CancellingOrDowngradingRespondingParamedics-markdown1664" class="show-list-numbers-and-dots"></div>
    <div id="protocol904CancellingOrDowngradingRespondingParamedics-markdown1665" class="show-list-numbers-and-dots"></div>
    <div id="protocol904CancellingOrDowngradingRespondingParamedics-markdown1666" class="show-list-numbers-and-dots"></div>
    <div id="protocol904CancellingOrDowngradingRespondingParamedics-markdown1667" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol904CancellingOrDowngradingRespondingParamedics-markdown1668" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol904CancellingOrDowngradingRespondingParamedics-markdown1669" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EMT</strong>
      </p>

      <ol>
        <li>First response units shall
          <strong>not cancel</strong> an incoming Paramedic unit with the exception of an incident where there is no patient contact made (example: Patient has left the scene, false alarm...)</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol904CancellingOrDowngradingRespondingParamedics-markdown1670" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol904CancellingOrDowngradingRespondingParamedics-markdown1672" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT/ PARAMEDIC</strong>
      </p>

      <ol>
        <li>On arrival of the assigned CCEMS ambulance the EMT’s shall make patient contact and make an assessment including a full set of vital signs.</li>
        <li>If after this assessment it is the opinion of the CCEMS ambulance personnel that Paramedic care is not needed, they shall contact On-line Medical Control for permission to cancel Paramedic Response. </li>
        <li>A full report concerning the patient shall be given including the MOI/NOI, VS, History and all pertinent information. The on-line Medical Control Physician shall make the determination that the in-bound Paramedic Unit may be cancelled and returned
          to available status.
          <strong>OLMC shall denote a Licensed Emergency Department Physician who will give medical direction to CCEMS units in the field. As noted in BEMS rules, a PA, NP, RN in direct voice communication with the physician may relay their directions. Proper
            documentation on the PCR shall include the name of the OLMC physician and the name of any other individual who is relaying medical direction.</strong>
        </li>
        <li>If permission is received to cancel the in-bound Paramedic unit, the CCEMS Ambulance personnel shall directly call or may have the Incident Commander call the in-bound Paramedic Unit and cancel their response. </li>
        <li>The terms “Cancelled per Medical Control” MUST be stated or the responding Paramedic unit shall continue to respond. The responding paramedics may elect to contact OLMC for verification of a cancellation order or continue to the call location.</li>
        <li>If the responding Paramedic Unit arrives prior to receiving “cancellation per medical control”, they shall assume patient care and are tied to the call. </li>
        <li>If it is determined after an assessment by the Paramedics that the patient may be turned over to the EMT’s, the Paramedic doing patient care shall contact the on-line Medical Control at Logan Regional Hospital Emergency Department and shall confer
          with the on-duty physician. If the on-duty physician agrees with the assessment and recommendation of the paramedics, patient care may be turned back to the ambulance EMT’s and the Paramedic Unit shall return to available status. </li>
        <li>If paramedics are cancelled after arriving at the scene and are released by the on-line medical control physician, they still shall be responsible for filling out a patient care report documenting what they found and their consultation with the
          on-line medical control physician.</li>
        <li>Cancellation of Paramedic Units shall be reviewed by the off-line medical control physician for quality assurance and any discrepancy shall be investigated by the appropriate authority..</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol904CancellingOrDowngradingRespondingParamedics-markdown1673" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol904CancellingOrDowngradingRespondingParamedics-heading744" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol904CancellingOrDowngradingRespondingParamedics-markdown1671" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>