<ion-view title="Protocol 510 - (Nubain) Pain Control" id="page88">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol510NubainPainControl-heading513" style="color:#000000;text-align:center;">(Nubain) PAIN CONTROL</h3>
    <div id="protocol510NubainPainControl-container46">
      <div id="protocol510NubainPainControl-markdown1026" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol510NubainPainControl-markdown1027" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol510NubainPainControl-markdown1028" class="show-list-numbers-and-dots"></div>
    <div id="protocol510NubainPainControl-markdown1029" class="show-list-numbers-and-dots"></div>
    <div id="protocol510NubainPainControl-markdown1030" class="show-list-numbers-and-dots"></div>
    <div id="protocol510NubainPainControl-markdown1031" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol510NubainPainControl-heading526" style="color:#000000;">ADVANCED DESIGNATED QRU ONLY</h4>
    <div id="protocol510NubainPainControl-markdown1052" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This protocol is for designated Advanced EMT QRU units in the CCEMS system only.
        <strong>Before administration of this drug, on-line Medical Control must be contacted. There is no standing order for administering pain contol medications.</strong>
      </p>
    </div>
    <h4 id="protocol510NubainPainControl-heading514" style="color:#000000;">INDICATION:</h4>
    <div id="protocol510NubainPainControl-markdown1032" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Patients in significant pain due to isolated injury or medical condition.</p>
    </div>
    <h4 id="protocol510NubainPainControl-heading515" style="color:#000000;">EXCLUSIONS:</h4>
    <div id="protocol510NubainPainControl-markdown1033" class="show-list-numbers-and-dots">
      <ol>
        <li>Major trauma to head, chest, abdomen or pelvis follow appropriate Protocol.</li>
        <li>Patients with chest pain who meet criteria for
          <a href="#/Tabs_Controller/tab1/Protocol_300">Protocol 300: Chest Pain (ACS)</a>.</li>
        <li>Paitents must be at least 18 years of age.
          <strong>Nubain is not a Pediatric Drug</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol510NubainPainControl-markdown1034" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol510NubainPainControl-heading516" style="color:#000000;">ADVANCED EMT-PARAMEDIC ANALGESIA OPTION</h4>
    <div id="protocol510NubainPainControl-markdown1035" class="show-list-numbers-and-dots">
      <ol>
        <li>Perform thorough assessment to rule out major trauma or serious medical problem.</li>
        <li>Prior to administration of a pain medication a full set of VS must be obtained and if the Systolic BP is less than 110 mmHg then no pain medication may be given.</li>
        <li>Continuously monitor VS, pulse ox, and mental status for early signs of shock or respiratory depression.</li>
        <li>IV Normal Saline @ TKO. Medical control MD may order fluid boluses based on case specifics.</li>
        <li>Contact Online medical control with a patient history and VS when ready to request the drug.</li>
        <li>A drug use form shall be completed when used detailing the date, amount used, route, patient's name and who administered the drug. This form shall be given to the CCEMS transport crew for inclusion in the patient care report for review by the
          Off-Line Medical Control Physician.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol510NubainPainControl-markdown1036" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol510NubainPainControl-heading517" style="color:#000000;">ANALGESIA OPTION</h4>
    <div id="protocol510NubainPainControl-markdown1037" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">
            <strong>Adult</strong>: Use with caution in elderly, consider a smaller dose.
            <br>a. Nubian
            <strong>5 mg</strong> administered slowly IV for a 70 KG or greater individual may be given x 1. This may be repeated x 1 in 15 minutes with medical control approval.
            <br>b. If unable to gain IV access
            <strong>10 mg</strong> may be given IM or SC x 1 dose.</p>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Pediatrics</strong>:
            <br>
            <strong>Safety and effictiveness in pediatric patients below the age of 18 has not been established. As such this drug is NOT to be used on patients &lt;18 years of age.</strong>
          </p>
        </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol510NubainPainControl-markdown1038" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h5 id="protocol510NubainPainControl-heading525" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol510NubainPainControl-markdown1051" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>