<ion-view title="Protocol 707 - Pediatric Ventricular Fibrillation" id="page110">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol707PediatricVentricularFibrillation-heading655" style="color:#000000;text-align:center;">PEDIATRIC VENTRICULARE FIBRILLATION</h3>
    <div id="protocol707PediatricVentricularFibrillation-container67">
      <div id="protocol707PediatricVentricularFibrillation-markdown1391" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol707PediatricVentricularFibrillation-markdown1392" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol707PediatricVentricularFibrillation-heading656" style="color:#000000;">NOTE:</h4>
    <div id="protocol707PediatricVentricularFibrillation-markdown1393" class="show-list-numbers-and-dots">
      <ol>
        <li>Begin all cardiac arrest series Protocols with
          <strong>
            <a href="#/Tabs_Controller/tab1/Protocol_705">Protocol 705: Pediatric Cardioplumonary Resuscitation</a>
          </strong>.</li>
        <li>Follow curret ACLS and PALS guidelines as needed.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol707PediatricVentricularFibrillation-markdown1394" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol707PediatricVentricularFibrillation-markdown1395" class="show-list-numbers-and-dots"></div>
    <div id="protocol707PediatricVentricularFibrillation-markdown1396" class="show-list-numbers-and-dots"></div>
    <div id="protocol707PediatricVentricularFibrillation-markdown1397" class="show-list-numbers-and-dots"></div>
    <div id="protocol707PediatricVentricularFibrillation-markdown1398" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol707PediatricVentricularFibrillation-heading657" style="color:#000000;">EMT</h4>
    <div id="protocol707PediatricVentricularFibrillation-markdown1399" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Assess for presence of absence of a pulse.</li>
        <li>Assess blood glucose level.</li>
        <li>Begin BCLS per current American Heart Guidelines.</li>
        <li>AED is only to be used &gt; 1 year of age. Use a pediatric system, if available, for ages 1 to 8 years old.</li>
        <li>If arrest is witnessed:
          <br>a. Defibrillate immediately if AED or manual defibrillator is available.
          <strong>2 J/kg</strong> for the first attempt.</li>
        <li>If unwitnessed or defibrillator is not immediately available:
          <br>a. Begin high quality CPR.
          <br>b. When AED arrives, attach to paitent and defibrillate if a shock is advised.</li>
        <li>Resume CPR immediately after each shock and continue for 2 minutes (5 cyces) or until asked to hold by the AED.</li>
        <li>Check pulse and assess rhythm, and shock if advised after each 2 minute cycle of compressions.</li>
        <li>Place an NP or OP airway and apply asynchronous BVM breaths at a rate of 1 breath every 4-6 seconds.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol707PediatricVentricularFibrillation-markdown1400" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol707PediatricVentricularFibrillation-heading658" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol707PediatricVentricularFibrillation-markdown1401" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>Ensure above is complete</strong>.</li>
        <li>Establish IV or IO access.</li>
        <li>
          <strong>Defibrillation: 2 J/kg</strong> for the first shock with either a monophasic or biphasic defibrillator - Second shock at
          <strong>4J/kg</strong> and subsequent shocks at
          <strong>4J/kg</strong> to a maximum of
          <strong>10J/kg</strong> or the adult dose.</li>
        <li>Resume CPR (2 minute cycle) immediately following shock delivery, then perform rhythm analysis.</li>
        <li>Persistent or recurrent VF/VT present - May give 1 round of rhythm specific drugs per current AHA PALS guidelines. Per PALS guidelies drug therapy begins after the 2nd shock.</li>
        <li>
          <strong>Must contact OLMC for additional medications</strong>.</li>
        <li>
          <strong>Administer
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
          </strong>:
          <br>a.
          <strong>0.01 mg/kg = 0.1 ml/kg (1:10,000) IV or IO push</strong>.
          <br>b. Repeat every 3-5 minutes.
          <br>c. May repeat initial dose.</li>
        <li>Consider one Antiarrhythmic according to tthe current AHA PALS guidelines and may use any
          <strong>ONE</strong> antiarrhythmic available,
          <strong>either
            <a href="#/Tabs_Controller/Protocol_1003">Amiodarone</a> or
            <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a>
          </strong>:
          <br>a.
          <strong>
            <a href="#/Tabs_Controller/Protocol_1003">Amiodarone</a>
          </strong>:
          <ul>
            <li>i.
              <strong>5 mg/kg</strong> IV/IO </li>
            <li>ii. May repeat in 3-5 minutes x 1 for refractory VF/pulseless VT. </li>
            <li>iii. DO not exceed 300 mg for VFib/Pulseless Vtach.
              <br>b.
              <strong>
                <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a>
              </strong>: </li>
            <li>i.
              <strong>1 mg/kg</strong> IV/IO </li>
            <li>ii. May repeat every 3-5 minutes up to 3 mg/kg.</li>
          </ul>
        </li>
        <li>Consider
          <strong>
            <a href="#/Tabs_Controller/Protocol_1008">Dextrose</a>
          </strong> (IV or IO):
          <strong>If blood sugar &lt;60</strong>. a. Children greater than 1 years: Dectose 25% (D25W) 2 mL/kg IV
          <br>b. Infants up to 1 year: Dextrose 10% (D10/NS) 5 mL/kg IV.
          <br>c. Neonates &lt;30 dats: Dextrose 10% (D10/NS) 2 ml/kg (200mg/kg) IV.</li>
      </ol>

      <p style="color:#000000;">NOTE: If commerically prepared medication is not available:
        <br>1. To make D10 - Dilute 10 mL D 50 in 40 mL of NS.
        <br>2. To make D25 - Dilute D50 1:1 with NS.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol707PediatricVentricularFibrillation-markdown1402" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol707PediatricVentricularFibrillation-heading659" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol707PediatricVentricularFibrillation-markdown1403" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is compete.</li>
        <li>
          <strong>INTUBATION</strong> - Consider orotracheal intubation using an endortacheal tube when indicated or appropriate supraglottic airway.</li>
        <li>Document TWO confirmation methods to verify endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophageal Intubation Detector).</li>
        <li>Continute with current PALS Guidelines.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol707PediatricVentricularFibrillation-markdown1404" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol707PediatricVentricularFibrillation-markdown1405" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>
          <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a>:
          <br>a.
          <strong>Not a first line drug-contact OLMC for permission</strong>.
          <br>b. Should be used for severe metabolic acidosis following prolonged arrest unresponsive to ventilation and oxygenation or Sodium channel blocker toxicity such as tricylic antidepressant.
          <br>c.
          <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a>
          <strong>1 meg/kg of 8.4%</strong> solution children &gt;1 month.
          <br>d.
          <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a>
          <strong>0.5 meq/kg of 4.2%</strong> solution for infants &lt; 1 month.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol707PediatricVentricularFibrillation-markdown1406" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol707PediatricVentricularFibrillation-heading660" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol707PediatricVentricularFibrillation-markdown1407" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>