<ion-view title="Protocol 905-B - Destination Protocol for Non-Trauma Patients" id="page130">
  <ion-content padding="true" class="has-header">
    <div id="protocol905BDestinationProtocolForNonTraumaPatients-container87">
      <div id="protocol905BDestinationProtocolForNonTraumaPatients-markdown1688" class="show-list-numbers-and-dots"></div>
    </div>
    <div>
      <a style="display:block;" href-inappbrowser="https://asirobots.sharefile.com/d-sf192994f7e34508b">
        <img src="img/hogWT3QcSUGpRBH3yq3c_Protocol905BDestinationProtocolforNon-TraumaPtversion1.1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div id="protocol905BDestinationProtocolForNonTraumaPatients-markdown1689" class="show-list-numbers-and-dots"></div>
    <div id="protocol905BDestinationProtocolForNonTraumaPatients-markdown1690" class="show-list-numbers-and-dots"></div>
    <div id="protocol905BDestinationProtocolForNonTraumaPatients-markdown1691" class="show-list-numbers-and-dots"></div>
    <div id="protocol905BDestinationProtocolForNonTraumaPatients-markdown1692" class="show-list-numbers-and-dots"></div>
  </ion-content>
</ion-view>