<ion-view title="Protocol 102 - Ventricular Fibrillation/Pulseless Ventricular Tachycardia" id="page28">
  <ion-content padding="true" class="has-header">
    <h2 id="protocol102VentricularFibrillationPulselessVentricularTachycardia-heading108" style="color:#000000;text-align:center;">Ventricular Fibrillation/Pulseless Ventricular Tachycardia</h2>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-container3">
      <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-markdown127" class="show-list-numbers-and-dots"></div>
    </div>
    <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-markdown128" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ALL CARDIAC ARREST VICTIMS SHOULD HAVE:</strong>
      </p>

      <ol>
        <li>CPR-Push hard and fast (100 - 120 compressions/minute).</li>
        <li>Ensure full chest recoil.</li>
        <li>Minimize interruptions in chest compressions.</li>
        <li>1 cycle of CPR: 30 compressions/2 ventilations; 5 cycles=2 minutes.</li>
        <li>Avoid hyperventilation, 1 breath every 5-6 seconds (8-10 a minute)</li>
        <li>Secure airway and confirm placement, suction as needed</li>
        <li>After advanced airway is placed, give continuous chest compressions without pauses. </li>
        <li>Check rhythm every 2 minutes</li>
        <li>Elevate arm, give fluid bolus when administering a drug during a full arrest</li>
        <li>Always search for a reversible cause</li>
        <li>Follow current ACLS and PALS guidelines</li>
      </ol>
    </div>
    <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-markdown129" class="show-list-numbers-and-dots"></div>
    <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-markdown130" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-markdown131" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>EMT</strong>
      </p>

      <p style="color:#000000;">FOLLOW
        <a href="#/Tabs_Controller/tab1/Protocol_101">PROTOCOL 101: MEDICAL CARDIAC ARREST- INITIAL CARE</a>.</p>

      <ol>
        <li>ABC's - Focused history and physical exam
          <ol>
            <li>Assess for presence or absence of a pulse.</li>
            <li>Assess blood glucose level.</li>
          </ol>
        </li>
        <li>
          <strong>Key Considerations</strong>
          <ol>
            <li>Assess for evidence that resuscitation should not be attempted.</li>
          </ol>
        </li>
        <li>If arrest is
          <strong>witnessed</strong>
          <ol>
            <li>Defibrillate immediately if AED or manual defibrillator if available.</li>
          </ol>
        </li>
        <li>If
          <strong>unwitnessed</strong> or defibrillator is not immediately available.
          <ol>
            <li>Begin high quality CPR (100-120 compressions per minute with minimal interruptions, 2 minute cycles)</li>
            <li>When AED arrives, attach to patient and defibrillate if a shock is advised</li>
          </ol>
        </li>
        <li>Resume CPR immediately after each shock and continue for 2 minutes or until asked to hold by the AED</li>
        <li>Check pulse and assess rhythm -shock if advised after each 2 minutes cycle of compressions
          <ol>
            <li>Place an NP or OP airway and a BVM with high-flow oxygen during the first 2-3 cycles of CPR/defibrillation. After 2-3 cycles apply asynchronous BVM breaths at a rate of 1 breath every 5-6 seconds</li>
          </ol>
        </li>
        <li>Continue until ALS arrives or patient regains a pulse</li>
        <li>Provide supportive care if pulse returns</li>
      </ol>
    </div>
    <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-markdown132" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-markdown133" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ADVANCED EMT</strong>
      </p>

      <p style="color:#000000;">FOLLOW
        <a href="#/Tabs_Controller/tab1/Protocol_101">PROTOCOL 101: MEDICAL CARDIAC ARREST- INITIAL CARE</a>.</p>

      <p style="color:#000000;">
        <strong>ENSURE ALL OF THE ABOVE IS BEING DONE APPROPRIATELY.</strong>
      </p>

      <p style="color:#000000;">
        <strong>Key Considerations</strong>
      </p>

      <ol>
        <li>Assess for evidence that resuscitation should not be attempted.</li>
        <li>Pregnancy &gt;20 weeks gestation - Place wedge-shaped cushion or multiple pillows under patient's right hip (L lateral decubitus position)
          <ol>
            <li>Transport these patients to Logan Regional Hospital emergency department without delay while attempting to provide continuous compressions and defibrillation, as there is a potential to perform emergency cesarean section.</li>
          </ol>
        </li>
        <li>AED is only to be used &gt; 1 year of age. Use a pediatric system, if available, for ages 1 to 8 years old.</li>
        <li>Pediatric lowest acceptable systolic blood pressures:
          <strong>View Table Below</strong>
        </li>
        <li>Assume cardiac origins for all adult arrests unless evidence to the contrary. Consider underlying causes and treat when possible.</li>
        <li>
          <strong>H's</strong> - Hypovolemia, Hypoxia, Hydrogen ion (Acidosis), Hyper/hypokalemia, Hypothermia, Hypoglycemia</li>
        <li>
          <strong>T's</strong> - Toxins (Overdose), Tamponade (Cardiac), Tension Pneumothorax, Thrombosis (ACS or Pulmonary), Trauma </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>



      <style>
        table, th, td {
            border: 1px solid black;         margin-left:auto; 
            margin-right:auto;
        }
      </style>


      <table>
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>AGE</td>
            <td>PRESSURE</td>
          </tr>
          <tr>
            <td>0-2 months</td>
            <td>60 mm Hg</td>
          </tr>
          <tr>
            <td>2 months to 1 year</td>
            <td>70 mm Hg</td>
          </tr>
          <tr>
            <td>1 year</td>
            <td>70 + 2 x (years in age)</td>
          </tr>
          <tr>
            <td>over 10 years</td>
            <td>90 mmHg</td>
          </tr>
        </tbody>
      </table>





    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-markdown143" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ensure airway is patent-use adjunct devices-insert appropriate size "King" airway and confirm placement, suction</p>

      <p style="color:#000000;">Deliver 1 shock
        <strong>(120-200 J Biphasic)</strong>
      </p>

      <p style="color:#000000;">Establish IV/IO access- x 2 if possible.</p>

      <p style="color:#000000;">Resume CPR immediately for 5 cycles.</p>

      <p style="color:#000000;">Check rhythm if VF/VT continue, if PEA/Asystole refer to appropriate Protocol. When IV/IO available, give
        <strong>
          <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a> 1:10,000 1mg</strong> every 3-5 minutes after initial dose contact OLMC for drug administration direction. Per ACLS guidelines drug therapy begins after the 2nd shock.</p>

      <p style="color:#000000;">Check rhythm if VF/VT continue or refer to specific rhythm algorithm.</p>

      <p style="color:#000000;">Deliver 1 shock
        <strong>(120-200 J)</strong>.</p>

      <p style="color:#000000;">Resume CPR immediately for 5 cycles.</p>

      <p style="color:#000000;">
        <strong>May use ONE antiarrhythmic available, either
          <a href="#/Tabs_Controller/Protocol_1003">Amiodarone</a> or
          <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a>
        </strong>
      </p>

      <p style="color:#000000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1015">Lidocaine</a> 1mg/kg</strong> IV/IO every 3-5 minutes to
        <strong>maximum dose of 3 mg/kg</strong> total
        <strong>OR
          <a href="#/Tabs_Controller/Protocol_1003">Amiodarone</a> 300 mg IV/IO push and repeat 150 mg
          <a href="#/Tabs_Controller/Protocol_1003">Amiodarone</a> in 3-5 minutes if needed. DO NOT MIX ANTIARRHYTHMICS.</strong>
      </p>

      <p style="color:#000000;">Deliver 1 shock
        <strong>(120-200 J)</strong>.</p>

      <p style="color:#000000;">Resume CPR immediately for 5 cycles.</p>

      <p style="color:#000000;">Check rhythm if VF/VT continue or refer to specific rhythm algorithm</p>
    </div>
    <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-markdown134" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-markdown135" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PARAMEDIC</strong>
      </p>

      <ol>
        <li>
          <strong>ENSURE ALL OF THE ABOVE IS BEING DONE APPROPRIATELY.</strong>
        </li>
        <li>Establish IV/IO access if not done.</li>
        <li>Continue shock-CPR-Drug sequence per current ACLS guidelines.</li>
        <li>Intubate after first round of CPR-shock-drug, ensure proper tube placement if airway has not been secured with an advanced airway. If an advanced airway has been inserted do not remove unless unable to ventilate.</li>
        <li>
          <strong>
            <a href="#/Tabs_Controller/Protocol_1016">Magnesium Sulfate</a>
          </strong> diluted in 10 ml NS give over 5 minutes for Torsades de Pointes.</li>
        <li>If conversion of VF/VT to a perfusing rhythm consider IV infusion of an antiarrhythmic</li>
      </ol>
    </div>
    <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-markdown136" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-markdown137" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>MEDICAL CONTROL OPTION- MUST CONTACT MEDICAL CONTROL PRIOR TO ADMINISTRATION.</strong>
      </p>

      <p style="color:#000000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a> - ADULT DOSE:</strong>
      </p>

      <p style="color:#000000;">Cardiac Arrest: 1 meq/kg IV/IO</p>

      <ol>
        <li>use early if pre-existing metabolic acidosis, hyperkalemia, tricyclic antidepressant OD.</li>
        <li>prolonged resuscitation if ventilation is adequate.</li>
        <li>return of spontaneous circulation after long period of arrest</li>
      </ol>
    </div>
    <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-markdown138" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div></div>
    <h5 id="protocol102VentricularFibrillationPulselessVentricularTachycardia-heading110" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol102VentricularFibrillationPulselessVentricularTachycardia-markdown142" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>