<ion-view title="Protocol 1004 - Aspirin" id="page16">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1004Aspirin-heading62" style="color:#000000;text-align:center;">Aspirin</h1>
    <h5 id="protocol1004Aspirin-heading64" style="color:#000000;text-align:center;">Approved for Advanced CCEMS units only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1004Aspirin-heading65" style="color:#000000;text-align:center;">Protocol 1004</h3>
    <div id="protocol1004Aspirin-markdown49" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div id="protocol1004Aspirin-markdown50" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_300">300</a>. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1004Aspirin-heading66" style="color:#000000;text-align:center;">Class: Antiplatelet</h4>
    <ion-list id="protocol1004Aspirin-list89">
      <div class="item item-body" id="protocol1004Aspirin-list-item-container35">
        <div id="protocol1004Aspirin-markdown51" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
            <br>
            <strong>1.</strong> Reduces overall mortality from an acute MI
            <br>
            <strong>2.</strong> Inhibits platelet clumping </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1004Aspirin-list90">
      <div class="item item-body" id="protocol1004Aspirin-list-item-container36">
        <div id="protocol1004Aspirin-markdown52" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
            <br>
            <strong>1.</strong> Patients who present with symptoms of an acute MI
            <br>
            <strong>2.</strong> Chest Pain / Angina suspicious for an acute MI</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1004Aspirin-list91">
      <div class="item item-body" id="protocol1004Aspirin-list-item-container37">
        <div id="protocol1004Aspirin-markdown53" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Known Allergy to Aspirin
            <br>
            <strong>2.</strong> CVA/TIA Symptoms
            <br>
            <strong>3.</strong> Any active bleeding (Oral, or Rectal)
            <br>
            <strong>4.</strong> Associated back pain or signs and symptoms of an Aortic Dissection
            <br>
            <strong>5.</strong> Not to be used to treat pediatric fevers</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1004Aspirin-list92">
      <div class="item item-body" id="protocol1004Aspirin-list-item-container38">
        <div id="protocol1004Aspirin-markdown54" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> GI Upset
            <br>
            <strong>2.</strong> GI Bleeding or other significant bleeding </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1004Aspirin-heading67" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1004Aspirin-list93">
      <div class="item item-body" id="protocol1004Aspirin-list-item-container39"></div>
    </ion-list>
    <div id="protocol1004Aspirin-markdown55" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>1. Adults:</strong> 4 Children's Chewable tablets (DO NOT SWALLOW) 4x 81mg total of 324mg
        <br>
        <strong>2. PEDS:</strong> Not to be used for fever control </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1004Aspirin-list94">
      <div class="item item-body" id="protocol1004Aspirin-list-item-container40">
        <div id="protocol1004Aspirin-markdown56" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONSIDERATIONS</strong>
            <br>
            <strong>1.</strong> Give Early
            <br>
            <strong>2.</strong> May moisten mouth if necessary
            <br>
            <strong>3.</strong> Never use to treat a child's Fever </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <h5 id="protocol1004Aspirin-heading68" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1004Aspirin-heading69" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>