<ion-view title="Protocol 1019 - Nitroglycerin" id="page45">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1019Nitroglycerin-heading196" style="color:#000000;text-align:center;">Nitroglycerin</h1>
    <h5 id="protocol1019Nitroglycerin-heading197" style="color:#000000;text-align:center;">NTG, Nitro</h5>
    <h5 id="protocol1019Nitroglycerin-heading204" style="color:#000000;text-align:center;">Approved for Advanced CCEMS Units Only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1019Nitroglycerin-heading198" style="color:#000000;text-align:center;">Protocol 1019</h3>
    <div id="protocol1019Nitroglycerin-markdown355" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1019Nitroglycerin-markdown356" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_300">300</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_305">305</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_402">402</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1019Nitroglycerin-heading199" style="color:#000000;text-align:center;">Nitrate/Coronary Vasodilator</h4>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1019Nitroglycerin-list172">
      <div class="item item-body" id="protocol1019Nitroglycerin-list-item-container115">
        <div id="protocol1019Nitroglycerin-markdown357" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Rapid Smooth Muscle Relaxant.
            <br>
            <strong>2.</strong> Dilates Coronary Arteries - Increases Coronary Blood Flow.
            <br>
            <strong>3.</strong> Improves Blood Flow to Myocardium.
            <br>
            <strong>4.</strong> Promotes Pooling of Blood in Systemic Circulation Which Decreases the Workload on the Heart. This is Useful in Treating CHF. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1019Nitroglycerin-list173">
      <div class="item item-body" id="protocol1019Nitroglycerin-list-item-container116">
        <div id="protocol1019Nitroglycerin-markdown358" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Chest Pain Associated With Angina.
            <br>
            <strong>2.</strong> Chest Pain Associated With Acute Coronary Syndrome.
            <br>
            <strong>3.</strong> Acute Pulmonary Edema (Unless Associated With Hypotension). </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1019Nitroglycerin-list174">
      <div class="item item-body" id="protocol1019Nitroglycerin-list-item-container117">
        <div id="protocol1019Nitroglycerin-markdown359" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
            <br>
            <strong>1.</strong> Hypotension (Systolic BP &lt;110mmHg on Initial Reading).
            <br>
            <strong>2.</strong> Shock
            <br>
            <strong>3.</strong> 12 Lead ECG Shows Acute Inferior MI.
            <br>
            <strong>4.</strong> Head Trauma.
            <br>
            <strong>5.</strong> CVA.
            <br>
            <strong>6.</strong> Use of Erectile Dysfunction Medication Within 24 Hours (Viagra).
            <br>
            <strong>7.</strong> If Systolic Pressure &lt;110 mmHg at Any Time During Evaluation/Administration - Stop and Give a 250 mL Bolus and Reassess. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1019Nitroglycerin-list176">
      <div class="item item-body" id="protocol1019Nitroglycerin-list-item-container118">
        <div id="protocol1019Nitroglycerin-markdown360" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
            <br>
            <strong>1.</strong> Hypotension - Tachycardia.
            <br>
            <strong>2.</strong> Headache.
            <br>
            <strong>3.</strong> Nausea/Vomiting.
            <br>
            <strong>4.</strong> Orthostasis (Assist Patient When Standing/Sitting. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <ion-list id="protocol1019Nitroglycerin-list177">
      <div class="item item-body" id="protocol1019Nitroglycerin-list-item-container119">
        <div id="protocol1019Nitroglycerin-markdown361" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Considerations</strong>
            <br>
            <strong>1.</strong> Take Vital Signs Before and After Each Dose. Hold if Systolic BP &lt;110 mmHg.
            <br>
            <strong>2.</strong> Expect Vomiting if Patient has Ingested ETOH.
            <br>
            <strong>3.</strong> May Moisten Mouth if Using Tablets.
            <br>
            <strong>4.</strong> Look or Ask if Patient Using a NTG Skin Patch (Remove if so).
            <br>
            <strong>5.</strong> Light Sensitive - Replace Frequently.
            <br>
            <strong>6.</strong> Assist When Changing Position - May Pass Out Due to Vasodilation.
            <br>
            <strong>7.</strong> Contact Medical Control if Blood Pressure Drops. </p>
        </div>
      </div>
    </ion-list>
    <h3 id="protocol1019Nitroglycerin-heading200" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1019Nitroglycerin-markdown362" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Adult Dose</strong>
        <br>
        <strong>Establish IV Access Prior to Administration</strong>
      </p>

      <p style="color:#000000;">
        <strong>TABLET</strong>
        <strong>1.</strong> Place One 0.4mg Tablet Under Tongue and Allow to Dissolve.
        <br>
        <strong>2.</strong> May Repeat Every 5 Minutes x3 Doses.
        <br>
        <strong>3.</strong> Monitor Vital Signs Before Each Dose. </p>

      <p style="color:#000000;">
        <strong>SPRAY</strong>
        <strong>1.</strong> Have Patient Hold Breath and Spray Into Mouth. Does Not Have to be Given Under the Tongue.
        <br>
        <strong>2.</strong> May Repeat Every 5 Minutes x3 Doses.
        <br>
        <strong>3.</strong> Monitor Vital Signs Before Each Dose. </p>

      <p style="color:#000000;">
        <strong>PEDS DOSE: NOT A PEDIATRIC DRUG</strong>
      </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1019Nitroglycerin-markdown363" class="show-list-numbers-and-dots"></div>
    <div id="protocol1019Nitroglycerin-button-bar19" class="button-bar"></div>
    <div id="protocol1019Nitroglycerin-button-bar20" class="button-bar"></div>
    <h5 id="protocol1019Nitroglycerin-heading202" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1019Nitroglycerin-heading203" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>