<ion-view title="Protocol 506 - Extremity Fracture/Dislocation" id="page84">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol506ExtremityFractureDislocation-heading461" style="color:#000000;text-align:center;">EXTREMITY FRACTURE/DISLOCATION</h3>
    <div id="protocol506ExtremityFractureDislocation-container42">
      <div id="protocol506ExtremityFractureDislocation-markdown912" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol506ExtremityFractureDislocation-markdown913" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol506ExtremityFractureDislocation-markdown915" class="show-list-numbers-and-dots"></div>
    <h5 id="protocol506ExtremityFractureDislocation-heading473" style="color:#000000;">INDICATIONS:</h5>
    <div id="protocol506ExtremityFractureDislocation-markdown929" class="show-list-numbers-and-dots"></div>
    <div id="protocol506ExtremityFractureDislocation-markdown943" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Suspected fractures or dislocation in extremity</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol506ExtremityFractureDislocation-markdown944" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol506ExtremityFractureDislocation-markdown945" class="show-list-numbers-and-dots"></div>
    <div id="protocol506ExtremityFractureDislocation-markdown946" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol506ExtremityFractureDislocation-heading474" style="color:#000000;">EMT</h4>
    <div id="protocol506ExtremityFractureDislocation-markdown947" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>PERFORM PRIMARY AND SECONDARY SURVEY</strong>, including neurological and vascular exam of extremity distal to injury.</li>
        <li>
          <strong>Uncomplicated fractures/dislocations with adequate circulation</strong>;
          <br>a. Splinted in a position of function/comfort.</li>
        <li>
          <strong>Fractures/dislocations with circulation deficits or severely angulated</strong>:
          <br>a. Treat with
          <strong>one</strong> attempt at placing the extremity in a position of function/comfort.
          <ul>
            <li>i: If unsuccessful, splint in position found and expedite transport. </li>
            <li>ii. Fractures and joint dislocations without palpable distal pulses are true orthopedic emergencies.</li>
          </ul>
        </li>
        <li>
          <strong>Potential pelvic fractures</strong>_:
          <br>a. Treatment of choice is application of the pelvic binder. If unavailable, a cloth sheet or blanket can be wrapped tightly around the pelvis to stabilize it.
          <br>b. Pelvic stabilization shall be done only once as multiple attempts can cause further injury.</li>
        <li>
          <strong>Isolated proximal femur (hip) fractures (especially in the elderly)</strong>
          <br>a. Best managed with anatomical splinting utilizing a scop stretcher.
          <strong>Traction splints are not appropriate for any proximal femur fracture</strong>.</li>
        <li>
          <strong>Femoral shaft fractures</strong>:
          <br>a. Immobilized utilizing a traction splint unless one of the situations listed below is present:
          <ul>
            <li>i. Injuries just proximal to or involving the knee joint. </li>
            <li>ii. Injuriy to the pelvis. </li>
            <li>iii. Partial amputation. </li>
            <li>iv. Lower leg or ankel injuries. </li>
            <li>v. If used would delay transport of the patient with a life-threatening condition.</li>
          </ul>
        </li>
        <li>
          <strong>CHECK DISTAL CIRCULATION (color, temperature, capillary refill and pulses) BEFORE AND AFTER SPLINTING</strong>.</li>
        <li>Remove all rings and constricting clothing on the affected limb if possible.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol506ExtremityFractureDislocation-markdown948" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h4 id="protocol506ExtremityFractureDislocation-heading475" style="color:#000000;">ADVANCED EMT / PARAMEDIC</h4>
    <div id="protocol506ExtremityFractureDislocation-markdown949" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, ETC02, and Pulse Oximetry monitoring when available.</li>
        <li>If patient stable,
          <strong>ANALGESIA PRIOR TO SPLINTING or MANIPULATION</strong> of the injured area.</li>
        <li>IV NS large bore TKO or NS lock. If femur fracture, multiple fractures, or if needed to administer analgesia, Titrate rate to maintain vital signs within normal limits.</li>
        <li>If vascular compromise exists distal to injury, Control Physician may instruct on application of traction and reduction (straightening) of injured limb to improve perfusion.</li>
      </ol>
    </div>
    <h5 id="protocol506ExtremityFractureDislocation-heading476" style="color:#000000;">ADVANCED EMT/PARAMEDIC</h5>
    <div id="protocol506ExtremityFractureDislocation-markdown956" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>ANALGESIA</strong> option: Follow
          <a href="#/Tabs_Controller/tab1/Protocol_509">Protocol 509: Pain Control, Nausea, Vomiting, Anxiety</a>
        </li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="protocol506ExtremityFractureDislocation-markdown950" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol506ExtremityFractureDislocation-heading480" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol506ExtremityFractureDislocation-markdown958" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>