<ion-view title="Protocol 400 - Upper Airway Obstruction" id="page73">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol400UpperAirwayObstruction-heading287" style="color:#000000;text-align:center;">UPPER AIRWAY OBSTRUCTION</h3>
    <div class="spacer" style="height: 17px;"></div>
    <div id="protocol400UpperAirwayObstruction-container31">
      <div id="protocol400UpperAirwayObstruction-markdown512" class="show-list-numbers-and-dots"></div>
    </div>
    <h4 id="protocol400UpperAirwayObstruction-heading387" style="color:#000000;">INDICATIONS</h4>
    <div id="protocol400UpperAirwayObstruction-markdown513" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>1.</strong> Patients with respiratory distress suspected of foreign body upper airway obstruction. Suspect if: sudden onset while eating or other object in mouth, inability to speak, paitent holding neck (universal distress signal), stridor.
        <strong>2.</strong> Patients in cardiac arrest that occurred while eating.
        <br>
        <strong>3. Recall that infants and small children are primarily nose breathers; provide oral and nasal suctioning for copious secretions.
          <br>4. Keep patient NPO for any respiratory distress and if children have a RR&gt;60.</strong>
      </p>
    </div>
    <div id="protocol400UpperAirwayObstruction-markdown718" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="protocol400UpperAirwayObstruction-markdown719" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol400UpperAirwayObstruction-heading388" style="color:#000000;">PATIENT CONSCIOUS</h4>
    <h4 id="protocol400UpperAirwayObstruction-heading393" style="color:#000000;">EMT</h4>
    <div id="protocol400UpperAirwayObstruction-markdown720" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:-1px;">
        <strong>1.</strong> Focused history and physical exam
        <br>
        <strong>2.</strong> Provide basic airway maneuvers to all compromised airways, i.e. oxgen, jaw-thrust, and positioning
        <br>
        <strong>3.</strong> Assess blood glucose, temperature and oxygen saturation.
        <br>
        <strong>4.</strong> Always insure proper care of the C-spine during airway treatment.
        <br>
        <strong>5.</strong> Keep patient NPO - Stop any tube feedings.
        <br>
        <strong>6.</strong> Determine adequacy of air exchange. Signs of INADEQUATE air exchange are: </p>

      <ul>
        <li>Weak, ineffective cough</li>
        <li>High-pitched noise while inhaling</li>
        <li>Inability to speak</li>
        <li>Increasing respiratory difficulty</li>
        <li>Cyanosis</li>
        <li>Decreasing Mental status or increasing agitation</li>
        <li>
          <p style="color:#000000;font-size:-1px;">Pulse-ox reading of &lt;92%</p>
        </li>
      </ul>
    </div>
    <div id="protocol400UpperAirwayObstruction-markdown721" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol400UpperAirwayObstruction-markdown722" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol400UpperAirwayObstruction-heading389" style="color:#000000;">IF ADEQUATE AIR EXCHANGE present:</h5>
    <div id="protocol400UpperAirwayObstruction-markdown723" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>1.</strong> Encourage continued coughing, oxygen, 4-6L NC or 15L via face mask.
        <br>
        <strong>2. Suction as necessary.</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol400UpperAirwayObstruction-markdown724" class="show-list-numbers-and-dots"></div>
    <div id="protocol400UpperAirwayObstruction-markdown725" class="show-list-numbers-and-dots"></div>
    <h5 id="protocol400UpperAirwayObstruction-heading392" style="color:#FF0000;">IF INADEQUATE AIR EXCHANGE:</h5>
    <div id="protocol400UpperAirwayObstruction-markdown732" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">Follow American Heart Association recommendation for patients with Partial or Total obstructed airway.</p>
    </div>
    <div id="protocol400UpperAirwayObstruction-markdown726" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol400UpperAirwayObstruction-heading390" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol400UpperAirwayObstruction-markdown727" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Evaluate for and remove any obvious airway obstruction.
          <ul>
            <li>For choking infants apply a sequence of 5 back blows and 5 chest thrusts until the item is dislodged. </li>
            <li>For choking adults and children, use the abdominal thrust maneuver. </li>
          </ul>
        </li>
        <li>Maintain airway administer
          <strong>15L</strong> of oxygen vua NRB.</li>
        <li>Keep patient NPO for any respiratory disress and if children have a RR&gt;60.</li>
        <li>Continuous ECG, ETCO2, and pulse oximetry monitoring when available.</li>
        <li>Consider a 12 lead ECG.</li>
        <li>Establish IV access with NS @ TKO or Saline lock unless hypotensive then bolus 250-500 ml and reassess may repeat to max of
          <strong>2 L</strong>
        </li>
        <li>Evaluate for and remove any obvious airway obstruction-follow American Heart Association recommendation for patients with Partial or Total obstructed airway. </li>
      </ol>
    </div>
    <div class="spacer" style="width: 747.8261108398438px; height: 12px;"></div>
    <div id="protocol400UpperAirwayObstruction-markdown728" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol400UpperAirwayObstruction-heading394" style="color:#000000;">PATIENT UNCONSCIOUS:</h4>
    <h4 id="protocol400UpperAirwayObstruction-heading395" style="color:#000000;">EMT</h4>
    <div id="protocol400UpperAirwayObstruction-markdown729" class="show-list-numbers-and-dots">
      <ol>
        <li>Attempt to ventilate patient with BVM.</li>
        <li>Remove any easily visible foreign body.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 747.8261108398438px; height: 12px;"></div>
    <div id="protocol400UpperAirwayObstruction-markdown730" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol400UpperAirwayObstruction-heading396" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol400UpperAirwayObstruction-markdown733" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>Continuous ECG, pulse-ox monitoring, suction as needed.</li>
        <li>Contact OLMC and transport promptly.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 747.8261108398438px; height: 12px;"></div>
    <div id="protocol400UpperAirwayObstruction-markdown734" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h3 id="protocol400UpperAirwayObstruction-heading397" style="color:#000000;">PARAMEDIC</h3>
    <div id="protocol400UpperAirwayObstruction-markdown735" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure all above is compete.</li>
        <li>Visualize the upper airway with LARYNGOSCOPE.</li>
        <li>REMOVE OBSTRUCTION with MAGILL FORCEPS or SUCTION.</li>
        <li>If no obstruction visualized, re-attempt to ventilate.</li>
        <li>If patient remains unconscious, INTUBATE per Intubation Protocol.</li>
        <li>
          <strong>If unable to ventilate due to unrelieved obstuction and unable to intubate, preform surgical cricothyrotomy to obtain an airway</strong>.</li>
        <li>TRANSPORT IMMEDIATELY
          <br>
          <strong>9. Contact OLMC for further consultation including manipulation of the FB with the ET tube or stylet.</strong>
        </li>
      </ol>
    </div>
    <div class="spacer" style="width: 747.8261108398438px; height: 12px;"></div>
    <div id="protocol400UpperAirwayObstruction-markdown736" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h5 id="protocol400UpperAirwayObstruction-heading391" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol400UpperAirwayObstruction-markdown731" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>