<ion-view title="Protocol 902 - Death Determination and Pronouncement Process" id="page126">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol902DeathDeterminationAndPronouncementProcess-heading739" style="color:#000000;text-align:center;">Death Determination and Pronouncement Process</h3>
    <div id="protocol902DeathDeterminationAndPronouncementProcess-container83">
      <div id="protocol902DeathDeterminationAndPronouncementProcess-markdown1617" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol902DeathDeterminationAndPronouncementProcess-markdown1618" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol902DeathDeterminationAndPronouncementProcess-markdown1619" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">Patients found pulseless and apneic must receive cardiopulmonary resuscitation unless they meet criteria for either this Protocol or have proof of an Advanced Directives.</p>
        </li>
        <li>
          <p style="color:#000000;">Patients with history, exam or environmental evidence of pre-mortem hypothermia—use Protocol
            <a href="#/Tabs_Controller/tab1/Protocol_105">105 Hypothermic Cardiac Arrest.</a>
          </p>
        </li>
        <li>
          <p style="color:#000000;">If patient is found in Asystole but does not meet DOA criteria, also refer to
            <a href="#/Tabs_Controller/tab1/Protocol_106">Protocol 106 Ceasing Resuscitation Efforts.</a>
          </p>
        </li>
      </ol>
    </div>
    <div id="protocol902DeathDeterminationAndPronouncementProcess-markdown1620" class="show-list-numbers-and-dots"></div>
    <div id="protocol902DeathDeterminationAndPronouncementProcess-markdown1621" class="show-list-numbers-and-dots"></div>
    <div id="protocol902DeathDeterminationAndPronouncementProcess-markdown1622" class="show-list-numbers-and-dots"></div>
    <div id="protocol902DeathDeterminationAndPronouncementProcess-markdown1623" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol902DeathDeterminationAndPronouncementProcess-markdown1624" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol902DeathDeterminationAndPronouncementProcess-markdown1625" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>ALL PROVIDERS</strong>
      </p>

      <p style="color:#000000;">
        <strong>General Crime Scene Management Principles</strong> as appropriate.</p>

      <ol>
        <li>
          <strong>Treatment Plan - Contact OLMC immediately</strong>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>CPR should NOT</strong> be started in a pulseless, apneic patient in the presence of:</p>
          <ol>
            <li>Obvious death, decomposition, and/or rigor mortis.</li>
            <li>Obvious fatal wounds without signs of life</li>
            <li>A verbal order pronouncing the patient dead by a licensed physician in the State of Utah who is present on scene. </li>
            <li>An order by the OLMC physician.</li>
            <li>A Do Not Resuscitate (DNR) written order, bracelet, or necklace from any U.S. State. </li>
            <li>
              <p style="color:#000000;">A signed Physician Order for Life-Sustaining Treatment (POLST form) from any U.S. State indicating that the patient does not desire resuscitative efforts.</p>
            </li>
          </ol>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Termination</strong> of CPR may be done in the following circumstances with OLMC approval:</p>
          <ol>
            <li>A valid DNR or POLST form is discovered after resuscitative efforts were initiated. </li>
            <li>Resuscitation efforts initiated when criteria to
              <strong>not</strong> resuscitate were present.</li>
            <li>A verbal order pronouncing the patient dead by a licensed physician in the State of Utah who is present on scene per State EMS Rule 426-4-600</li>
            <li>
              <p style="color:#000000;">Order by the OLMC physician.</p>
            </li>
          </ol>
        </li>
        <li>
          <p style="color:#000000;">Following determination of obvious death or termination of resuscitative efforts:</p>
          <ol>
            <li>Call dispatch to reduce any responding transport(s) to Non-Emergent.</li>
            <li>Complete a full patient care report with particular emphasis to document last time seen alive, scene conditions, any interventions done by EMS, Law Enforcement or bystanders, any suspicious items or circumstances noticed. . </li>
            <li>Turn the body over to the appropriate law enforcement agency.</li>
            <li>Evaluate for, document, and report any indication of non-accidental trauma to law enforcement</li>
            <li>Record an EKG strip showing Asystole in
              <strong>2 different Leads</strong> and attach to the PCR.</li>
            <li>Assist if needed in disposition of the patient to the Coroner, mortuary or as indicated by OLMC or Law Enforcement </li>
            <li>There will always be patients and circumstances that deserve special consideration (pediatric drowning or pregnant patients, for instance). </li>
            <li>OLMC should be consulted if there are ever any questions. </li>
            <li>Always be sensitive to the patient’s desires, family concerns, and on-scene environment to insure an understanding by all who observe your actions that everything that should have been done to resuscitate the patient was done.</li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol902DeathDeterminationAndPronouncementProcess-markdown1647" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol902DeathDeterminationAndPronouncementProcess-heading740" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol902DeathDeterminationAndPronouncementProcess-markdown1649" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 2016</p>
    </div>
  </ion-content>
</ion-view>