<ion-view title="Protocol 706 - Pediatric Asystole And Pulseless Electrical Activity (PEA)" id="page109">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-heading648" style="color:#000000;text-align:center;">PEDIATRIC ASYSTOLE AND PULSELESS ELECTRICAL ACTIVITY (PEA)</h3>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-container66">
      <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1373" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1374" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-heading649" style="color:#000000;">NOTE:</h4>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1375" class="show-list-numbers-and-dots">
      <ol>
        <li>If rhythm is unclear and possible ventricular fibrillation, follow instructions for
          <a href="#/Tabs_Controller/tab1/Protocol_707">Protocol 707: Pediatric Ventricular Fibrillation</a>.</li>
        <li>Begin all cardiac arrest series with
          <a href="#/Tabs_Controller/tab1/Protocol_705">Protocol 705: Pediatric Cardioplumonary Resuscitation</a>.</li>
        <li>Follow current ACLS and PALS guidelines as needed.</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1377" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1378" class="show-list-numbers-and-dots"></div>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1379" class="show-list-numbers-and-dots"></div>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1380" class="show-list-numbers-and-dots"></div>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1381" class="show-list-numbers-and-dots"></div>
    <h4 id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-heading651" style="color:#000000;">EMT</h4>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1382" class="show-list-numbers-and-dots">
      <ol>
        <li>Focused history and physical exam.</li>
        <li>Assess for presence of absence of a pulse.</li>
        <li>Assess blood glucose level.</li>
        <li>Begin Basic life support (BLS) per current American Heart Guidelines.</li>
        <li>Maintain airway patency via positioning and suctioning as necessary.</li>
        <li>Ventilate with 100% oxygen.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1383" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-heading652" style="color:#000000;">ADVANCED EMT</h4>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1384" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>Ensure above is complete</strong>.</li>
        <li>Determine rhythm - asystole, pulseless electrical activity, etc.</li>
        <li>Contnuous ECG, ETCO2, and Pulse Oximetry monitoring when available.</li>
        <li>Insert age appropriate advanced airway.</li>
        <li>Consider underlying causes and treat when possible:
          <br>a.
          <strong>H's</strong> - Hypovolemia, Hypoxia, Hydrogen ion (Acidosis), Hyper/hypokalemia, Hypothermia, Hypoglycemia.
          <br>b.
          <strong>T's</strong> - Toxins (overdose), Tamponade (Cardiac), Tension Pneumothorax, Thrombosis (ACS of Pulmonary), Trauma.</li>
        <li>Establish IV/IO access as able.</li>
        <li>Begin 20ml/kg bolus of NS, reassess and repeat if needed to a
          <strong>Max</strong> of 60cc/kg.</li>
        <li>
          <strong>Administer
            <a href="#/Tabs_Controller/Protocol_1009">Epinephrine</a>
          </strong>
          <br>a.
          <strong>0.01 mg/kg=0.1 ml/kg (1:10,000) IV/IO push</strong>.
          <br>b. Repeat every 3-5 minutes as long as patient remains pulseless.
          <br>c.
          <strong>Contact OLMC before terminating efforts in the field</strong>.</li>
        <li>
          <strong>Administer
            <a href="#/Tabs_Controller/Protocol_1008">Dextrose</a> if</strong>:
          <br>a. IV or IO if blood glucose &lt;60
          <br>b. Age &lt;12 years: D25 2cc/kg *(Dilute D50 1:1 with sterile NS if necessary.).
          <br>c. Age &gt;12 years: D50 2cc/kg</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1385" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-heading653" style="color:#000000;">PARAMEDIC</h4>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1386" class="show-list-numbers-and-dots">
      <ol>
        <li>Ensure above is complete.</li>
        <li>
          <strong>INTUBATION</strong> - Consider orotracheal intubation using an endotracheal tube when indicated.</li>
        <li>Document
          <strong>TWO</strong> confirmation methods to verify endotracheal placement of ET tube (e.g. EtCO2, CO2 Detection Device or Esophageal Intubation Detector).</li>
        <li>
          <strong>No nasotracheal intubation</strong>.</li>
        <li>
          <strong>Contact OLMC before terminating efforts in the field</strong>.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1387" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1388" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Medical Control Option - must contact prior to administration</strong>
      </p>

      <ol>
        <li>Suspected Tension Pneumothorax-Immediate needle decompression of affected side.</li>
        <li>Traumatic Arrest-Consider bilateral needle decompression based on mechanism of injury.</li>
        <li>
          <strong>Routine administration of
            <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a> is not recommended in cardiac arrest. Contact Medical Control-consider in case of severe metabolic acidosis or prolonged down time. If ordered</strong>:
          <br>a.
          <strong>
            <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a>
          </strong> - 1 mEq/kg (1cc/kg of 8.4% solution) in children &gt;1 month.
          <br>b.
          <strong>
            <a href="#/Tabs_Controller/Protocol_1010">Sodium Bicarb</a>
          </strong>- 0.5 mEq/kg [0.5 cc/kg] in neonates (&lt;30 days old). diluted 1:1 with NS or use 4.2% solution.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1389" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-heading654" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol706PediatricAsystoleAndPulselessElectricalActivityPEA-markdown1390" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">Janaury 2016</p>
    </div>
  </ion-content>
</ion-view>