<ion-view title="Quick Reference" id="page154">
  <ion-content padding="true" class="has-header">
    <ion-list id="quickReference-list212">
      <ion-item class="item-thumbnail-left" id="quickReference-list-item193" ui-sref="tabsController.12Lead()">
        <img src="img/BgCjKqhFRZeMuJUd845u_ScreenShot2018-05-22at7.42.40PM.jpg">
        <h2>12 Lead</h2>
        <p>Quick Reference</p>
      </ion-item>
      <ion-item class="item-divider" id="quickReference-list-item-divider1"> </ion-item>
      <ion-item class="item-thumbnail-left" id="quickReference-list-item194" ui-sref="tabsController.ruleOf9S()">
        <img src="img/EEGjbwTzRHujkF4Ynqj8_tumblr_njcy9asDzD1u6f683o1_500.gif">
        <h2>Rule of 9's</h2>
        <p>Quick Reference</p>
      </ion-item>
      <ion-item class="item-divider" id="quickReference-list-item-divider2"> </ion-item>
      <ion-item class="item-thumbnail-left" id="quickReference-list-item195" ui-sref="tabsController.glasgowComaScore()">
        <img src="img/7iAnXQZRXifInFZjbT1f_ScreenShot2018-05-22at7.52.09PM.jpg">
        <h2>Glasgow Coma Score</h2>
        <p>Quick Reference</p>
      </ion-item>
      <ion-item class="item-divider" id="quickReference-list-item-divider3"> </ion-item>
      <ion-item class="item-thumbnail-left" id="quickReference-list-item196" ui-sref="tabsController.vitalSigns()">
        <img src="img/IcdwnwY1RmLDrLf2CREA_blood-pressure-control-tool_318-61843.jpg">
        <h2>Vital Signs</h2>
        <p>Quick Reference</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>