<ion-view title="Respiratory Emergencies" id="page22">
  <ion-content padding="true" class="has-header">
    <ion-list id="respiratoryEmergencies-list121">
      <ion-item class="item-icon-left" id="respiratoryEmergencies-list-item180" ui-sref="tabsController.protocol400UpperAirwayObstruction()">
        <i class="icon ion-ios-paper-outline"></i>400 - Upper Airway Obstruction</ion-item>
      <ion-item class="item-icon-left" id="respiratoryEmergencies-list-item181" ui-sref="tabsController.protocol401BronchospasmWheezing()">
        <i class="icon ion-ios-paper-outline"></i>401 - Bronchospasm</ion-item>
      <ion-item class="item-icon-left" id="respiratoryEmergencies-list-item182" ui-sref="tabsController.protocol402AcutePulmonaryEdemaCongestiveHeartFailure()">
        <i class="icon ion-ios-paper-outline"></i>402 - Acute Pulmonary Edema/CHF</ion-item>
      <ion-item class="item-icon-left" id="respiratoryEmergencies-list-item183" ui-sref="tabsController.protocol403ContinuousPositiveAirwayPressure()">
        <i class="icon ion-ios-paper-outline"></i>403 - Continuous Positive Airway Pressure </ion-item>
      <ion-item class="item-icon-left" id="respiratoryEmergencies-list-item184" ui-sref="tabsController.protocol404SupraglotticAirwayTheKingAirway()">
        <i class="icon ion-ios-paper-outline"></i>404 - Supraglottic Airway (King Airway)</ion-item>
    </ion-list>
  </ion-content>
</ion-view>