<ion-view id="page1" style="background-color:#F3F6FA;">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Categories" icon="ion-ios-compose-outline" href="#/Tabs_Controller/Category_Tab" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Medications" icon="ion-ios-medkit-outline" href="#/Tabs_Controller/Medications_Tab" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Protocols x #" icon="ion-ios-cloud-outline" href="#/Tabs_Controller/ProtocolsByNum_Tab" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Info" icon="ion-ios-information-outline" href="#/Tabs_Controller/Information" id="tabsController-tab6">
      <ion-nav-view name="tab6"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Quick Ref" icon="ion-ios-bolt-outline" href="#/Tabs_Controller/Quick_Ref_Main" id="tabsController-tab7">
      <ion-nav-view name="tab7"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>