<ion-view title="Trauma" id="page27">
  <ion-content padding="true" class="has-header">
    <ion-list id="trauma-list126">
      <ion-item class="item-icon-left" id="trauma-list-item275" ui-sref="tabsController.protocol500DrowningOrSubmersion()">
        <i class="icon ion-ios-paper-outline"></i>500 - Drowning or Submersion</ion-item>
      <ion-item class="item-icon-left" id="trauma-list-item276" ui-sref="tabsController.protocol501MajorOrMultiSystemTrauma()">
        <i class="icon ion-ios-paper-outline"></i>501 - Major or Multi-System Trauma</ion-item>
      <ion-item class="item-icon-left" id="trauma-list-item277" ui-sref="tabsController.protocol502HeadTrauma()">
        <i class="icon ion-ios-paper-outline"></i>502 - Head Trauma</ion-item>
      <ion-item class="item-icon-left" id="trauma-list-item278" ui-sref="tabsController.protocol503SpinalCordInjury()">
        <i class="icon ion-ios-paper-outline"></i>503 - Spinal Cord Injury</ion-item>
      <ion-item class="item-icon-left" id="trauma-list-item279" ui-sref="tabsController.protocol504ChestTrauma()">
        <i class="icon ion-ios-paper-outline"></i>504 - Chest Trauma</ion-item>
      <ion-item class="item-icon-left" id="trauma-list-item280" ui-sref="tabsController.protocol505IntraosseousVascularAccessEZIOIllinoisBoneNeedle()">
        <i class="icon ion-ios-paper-outline"></i>505 - Intraosseous Vascular Access
        <span class="item-note">EZIO Bone Needle</span>
      </ion-item>
      <ion-item class="item-icon-left" id="trauma-list-item281" ui-sref="tabsController.protocol506ExtremityFractureDislocation()">
        <i class="icon ion-ios-paper-outline"></i>506 - Extremity Fracture/Dislocation</ion-item>
      <ion-item class="item-icon-left" id="trauma-list-item282" ui-sref="tabsController.protocol507Amputations()">
        <i class="icon ion-ios-paper-outline"></i>507 - Amputations</ion-item>
      <ion-item class="item-icon-left" id="trauma-list-item283" ui-sref="tabsController.protocol508BurnsAndInhalationInjuries()">
        <i class="icon ion-ios-paper-outline"></i>508 - Burns and Inhalation Injuries</ion-item>
      <ion-item class="item-icon-left" id="trauma-list-item284" ui-sref="tabsController.protocol509PainControlNauseaVomitingAnxiety()">
        <i class="icon ion-ios-paper-outline"></i>509 - Pain Control, Nausea/Vomiting, Anxiety</ion-item>
      <ion-item class="item-icon-left" id="trauma-list-item285" ui-sref="tabsController.protocol510NubainPainControl()">
        <i class="icon ion-ios-paper-outline"></i>510 - (Nubain) Pain Control</ion-item>
      <ion-item class="item-icon-left" id="trauma-list-item286" ui-sref="tabsController.protocol511ExtricationCrushInjuries()">
        <i class="icon ion-ios-paper-outline"></i>511 - Extrication/Crush Injuries</ion-item>
      <ion-item class="item-icon-left" id="trauma-list-item293" ui-sref="tabsController.protocol512EMSTourniquet()">
        <i class="icon ion-ios-paper-outline"></i>512 - EMS Tourniquet</ion-item>
    </ion-list>
  </ion-content>
</ion-view>